Repository AliceO2Group/O2Physics, changes with the labels that .github/labeler.yml gives for each.
All labels: alice3, common, infrastructure, datamodel, dpg, pwgcf, pwgdq, pwgem, pwghf, pwgje, pwglf, pwgud, trigger, tutorial

[PWGEM,PWGEM-36] Meson flow: Speed up rotation background
  PWGEM/PhotonMeson/Tasks/taskPi0FlowEMC.cxx
Labels: pwgem

MegaLinter fix
  PWGLF/Tasks/QC/strderivedGenQA.cxx
Labels: pwglf

clang format
  PWGEM/PhotonMeson/Tasks/taskPi0FlowEMC.cxx
Labels: pwgem

Please consider the following formatting changes (#387)
  PWGLF/TableProducer/Strangeness/strangenessbuilder.cxx
Labels: pwglf

fixed o2-linter
  PWGLF/Tasks/Nuspex/CMakeLists.txt
  PWGLF/Tasks/Nuspex/nucleiInJets.cxx
Labels: pwglf

Create singleTrackSelectorPIDMaker.cxx
  PWGCF/Femto3D/TableProducer/singleTrackSelectorPIDMaker.cxx
Labels: pwgcf

Removing unused parameter
  PWGLF/Tasks/QC/strderivedGenQA.cxx
Labels: pwglf

add more process function
  PWGHF/TableProducer/treeCreatorTccToD0D0Pi.cxx
Labels: pwghf

[PWGHF] Add possibility to match decay daughters interacting with material in HF (#9431)
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/candidateCreator2Prong.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorDstar.cxx
Labels: datamodel, pwghf

[PWGLF] Fix missing Bz initialisation in the DCAFitter (#9432)
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf

[PWGEM,PWGEM-36] Meson flow: Speed up rotation background (#9436)
  PWGEM/PhotonMeson/Tasks/taskPi0FlowEMC.cxx
Labels: pwgem

[PWGLF] Add occupancy axis to the matching studies (#9433)
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf

[PWGLF] Add ITS PID in resonance flow task (#9430)
  PWGLF/TableProducer/Common/epvector.cxx
  PWGLF/Tasks/Resonances/highmasslambda.cxx
  PWGLF/Tasks/Resonances/phipbpb.cxx
Labels: pwglf

[PWGCF] Identified BF Quality checks for MC data (#9369)
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.cxx
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.h
Labels: pwgcf

[PWGCF] FemtoUniverse: Adding more cuts for PbPb events
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

Please consider the following formatting changes
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

Removing white-spaces
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

jetTaggerHF.cxx : - Added support for the 24g4 dataset in CCDB. - Enabled loading of resolution function parameters from CCDB.
  PWGJE/Core/JetTaggingUtilities.h
  PWGJE/TableProducer/jetTaggerHF.cxx
Labels: pwgje

fix getParticleOrigin
  Common/Core/RecoDecay.h
Labels: common

JetTaggingUtilities : - small modification of comments.
  PWGJE/Core/JetTaggingUtilities.h
Labels: pwgje

PWGEM/Dilepton: use filter for v0 selection
  PWGEM/Dilepton/Tasks/eventQC.cxx
Labels: pwgem

Add files via upload
  PWGCF/EbyEFluctuations/Tasks/NetchargeFluctuations.cxx
Labels: pwgcf

Update CMakeLists.txt
  PWGCF/EbyEFluctuations/Tasks/CMakeLists.txt
Labels: pwgcf

fixed typo in struct name
  PWGLF/Tasks/Nuspex/nucleiInJets.cxx
Labels: pwglf

Split PIDResponse
  Common/DataModel/CMakeLists.txt
  Common/DataModel/PIDResponse.h
  Common/DataModel/PIDResponseCombined.h
  Common/DataModel/PIDResponseTOF.h
  Common/DataModel/PIDResponseTPC.h
Labels: common, datamodel

Align
  Common/TableProducer/PID/pidBayes.cxx
  Common/TableProducer/PID/pidTOFBase.h
  Common/TableProducer/PID/pidTPC.cxx
  Common/TableProducer/PID/pidTPCBase.h
  Common/TableProducer/match-mft-mch-data.cxx
  Common/TableProducer/mcCollsExtra.cxx
  Common/Tools/PID/checkPidPacking.cxx
  Common/Tools/aodDataModelGraph.cxx
Labels: common

Fix megalinter
  Common/TableProducer/PID/pidBayes.cxx
  Common/Tools/PID/checkPidPacking.cxx
  Common/Tools/aodDataModelGraph.cxx
Labels: common

[PWGJE] Adding functionality for rho subtraction (#9374)
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

Fix
  Common/DataModel/PIDResponseTOF.h
  Common/DataModel/PIDResponseTPC.h
  Common/Tools/aodDataModelGraph.cxx
Labels: common, datamodel

fixing mega linter
  PWGDQ/TableProducer/tableMakerMC_withAssoc.cxx
Labels: pwgdq

Adding the possibility to run MCGen only for HF derived data
  PWGHF/Core/HfMcGenHelper.h
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/TableProducer/candidateCreator2Prong.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorB0.cxx
  PWGHF/TableProducer/candidateCreatorBplus.cxx
  PWGHF/TableProducer/candidateCreatorMcGenOnly.cxx
  PWGHF/TableProducer/derivedDataCreatorBplusToD0Pi.cxx
  PWGHF/TableProducer/derivedDataCreatorD0ToKPi.cxx
  PWGHF/TableProducer/derivedDataCreatorLcToPKPi.cxx
Labels: pwghf

Changing default configurable values
  PWGHF/TableProducer/candidateCreatorMcGenOnly.cxx
Labels: pwghf

Addressing Vits comments 2
  PWGHF/TableProducer/candidateCreator2Prong.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorB0.cxx
  PWGHF/TableProducer/candidateCreatorBplus.cxx
  PWGHF/TableProducer/candidateCreatorMcGen.cxx
  PWGHF/TableProducer/derivedDataCreatorBplusToD0Pi.cxx
  PWGHF/TableProducer/derivedDataCreatorD0ToKPi.cxx
  PWGHF/TableProducer/derivedDataCreatorLcToPKPi.cxx
  PWGHF/Utils/utilsMcGen.h
Labels: pwghf

Fixes from Vits review
  PWGHF/Core/HfMcGenUtility.h
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/TableProducer/candidateCreator2Prong.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorB0.cxx
  PWGHF/TableProducer/candidateCreatorBplus.cxx
  PWGHF/TableProducer/candidateCreatorMcGen.cxx
  PWGHF/TableProducer/derivedDataCreatorBplusToD0Pi.cxx
  PWGHF/TableProducer/derivedDataCreatorD0ToKPi.cxx
  PWGHF/TableProducer/derivedDataCreatorLcToPKPi.cxx
Labels: pwghf

[PWGCF] FemtoUniverse: Fixing process function for MC data
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrack3DMultKtExtended.cxx
Labels: pwgcf

Adding FT0C histogram for Pb-Pb generated
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

megalinter fix 2
  PWGJE/DataModel/JetReducedData.h
Labels: datamodel, pwgje

clang fixes
  PWGJE/DataModel/JetReducedData.h
Labels: datamodel, pwgje

addressing vits comments 3
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/TableProducer/candidateCreatorMcGen.cxx
  PWGHF/TableProducer/derivedDataCreatorBplusToD0Pi.cxx
  PWGHF/TableProducer/derivedDataCreatorD0ToKPi.cxx
  PWGHF/TableProducer/derivedDataCreatorLcToPKPi.cxx
  PWGHF/Utils/utilsMcGen.h
Labels: pwghf

add check dau pdg code
  PWGLF/DataModel/v0qaanalysis.h
  PWGLF/TableProducer/Strangeness/v0qaanalysis.cxx
Labels: datamodel, pwglf

.github/labeler.yml:

---
alice3:
  - changed-files:
      - any-glob-to-any-file: ['ALICE3/**']

common:
  - changed-files:
      - any-glob-to-any-file: ['Common/**']

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.clang-format'
          - '.clang-tidy'
          - '.flake8'
          - '.github/**'
          - '.checkov.yml'
          - '.mega-linter.yml'
          - 'cmake/**'
          - 'CODEOWNERS'
          - 'CPPLINT.cfg'
          - 'dependencies/**'
          - 'packaging/**'
          - 'pyproject.toml'

datamodel:
  - changed-files:
      - any-glob-to-any-file: ['DataModel/**', '*/DataModel/**']

dpg:
  - changed-files:
      - any-glob-to-any-file: ['DPG/**']

pwgcf:
  - changed-files:
      - any-glob-to-any-file: ['PWGCF/**', '*/PWGCF/**']

pwgdq:
  - changed-files:
      - any-glob-to-any-file: ['PWGDQ/**', '*/PWGDQ/**']

pwgem:
  - changed-files:
      - any-glob-to-any-file: ['PWGEM/**', '*/PWGEM/**']

pwghf:
  - changed-files:
      - any-glob-to-any-file: ['PWGHF/**', '*/PWGHF/**']

pwgje:
  - changed-files:
      - any-glob-to-any-file: ['PWGJE/**', '*/PWGJE/**']

pwglf:
  - changed-files:
      - any-glob-to-any-file: ['PWGLF/**', '*/PWGLF/**', 'PWGMM/**', '*/PWGMM/**']

pwgud:
  - changed-files:
      - any-glob-to-any-file: ['PWGUD/**', '*/PWGUD/**']

trigger:
  - changed-files:
      - any-glob-to-any-file: ['EventFiltering/**']

tutorial:
  - changed-files:
      - any-glob-to-any-file: ['Tutorials/**']
