Repository AliceO2Group/O2Physics, changes with the labels that .github/labeler.yml gives for each.
All labels: alice3, common, infrastructure, datamodel, dpg, pwgcf, pwgdq, pwgem, pwghf, pwgje, pwglf, pwgud, trigger, tutorial

.github/labeler.yml:

---
alice3:
  - changed-files:
      - any-glob-to-any-file: ['ALICE3/**']

common:
  - changed-files:
      - any-glob-to-any-file: ['Common/**']

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.clang-format'
          - '.clang-tidy'
          - '.flake8'
          - '.github/**'
          - '.checkov.yml'
          - '.mega-linter.yml'
          - 'cmake/**'
          - 'CODEOWNERS'
          - 'CPPLINT.cfg'
          - 'dependencies/**'
          - 'packaging/**'
          - 'pyproject.toml'

datamodel:
  - changed-files:
      - any-glob-to-any-file: ['DataModel/**', '*/DataModel/**']

dpg:
  - changed-files:
      - any-glob-to-any-file: ['DPG/**']

pwgcf:
  - changed-files:
      - any-glob-to-any-file: ['PWGCF/**', '*/PWGCF/**']

pwgdq:
  - changed-files:
      - any-glob-to-any-file: ['PWGDQ/**', '*/PWGDQ/**']

pwgem:
  - changed-files:
      - any-glob-to-any-file: ['PWGEM/**', '*/PWGEM/**']

pwghf:
  - changed-files:
      - any-glob-to-any-file: ['PWGHF/**', '*/PWGHF/**']

pwgje:
  - changed-files:
      - any-glob-to-any-file: ['PWGJE/**', '*/PWGJE/**']

pwglf:
  - changed-files:
      - any-glob-to-any-file: ['PWGLF/**', '*/PWGLF/**', 'PWGMM/**', '*/PWGMM/**']

pwgud:
  - changed-files:
      - any-glob-to-any-file: ['PWGUD/**', '*/PWGUD/**']

trigger:
  - changed-files:
      - any-glob-to-any-file: ['EventFiltering/**']

tutorial:
  - changed-files:
      - any-glob-to-any-file: ['Tutorials/**']

Add histo with Reco MC collision centrality
  PWGHF/TableProducer/candidateCreator2Prong.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorCascade.cxx
  PWGHF/TableProducer/candidateCreatorDstar.cxx
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
  PWGHF/Utils/utilsEvSelHf.h
Labels: pwghf

Update QAHistTask.cxx
  PWGLF/Tasks/Nuspex/QAHistTask.cxx
Labels: pwglf

Update QAHistTask.cxx
  PWGLF/Tasks/Nuspex/QAHistTask.cxx
Labels: pwglf

[PWGDQ] X(3872) MC Signal
  PWGDQ/Core/MCSignalLibrary.cxx
Labels: pwgdq

Add namespace and protection against non filled mothers
  Common/Core/RecoDecay.h
Labels: common

fix histogram registry
  PWGLF/TableProducer/Nuspex/decay3bodybuilder.cxx
Labels: pwglf

Please consider the following formatting changes
  PWGDQ/Core/MCSignalLibrary.cxx
Labels: pwgdq

Add documentation
  Common/Core/RecoDecay.h
Labels: common

Please consider the following formatting changes
  Common/Core/RecoDecay.h
Labels: common

Update and rename flowPbpbReso.cxx to resonancesGfwFlow.cxx
  PWGCF/Flow/Tasks/resonancesGfwFlow.cxx
Labels: pwgcf

Update CMakeLists.txt
  PWGCF/Flow/Tasks/CMakeLists.txt
Labels: pwgcf

fix
  PWGHF/Utils/utilsEvSelHf.h
Labels: pwghf

fix megalinter
  PWGHF/TableProducer/candidateCreatorCascade.cxx
Labels: pwghf

PWGEM/Dilepton: update 2vp producer
  PWGEM/Dilepton/TableProducer/filterDielectronEvent.cxx
Labels: pwgem

Update QAHistTask.cxx
  PWGLF/Tasks/Nuspex/QAHistTask.cxx
Labels: pwglf

adding QA histos for MC checks
  PWGJE/Tasks/fullJetSpectraPP.cxx
Labels: pwgje

Please consider the following formatting changes
  PWGJE/Tasks/fullJetSpectraPP.cxx
Labels: pwgje

fix: move OutputObj directly to tasks so it works as expected
  PWGCF/FemtoUniverse/Core/FemtoUniverseEfficiencyCalculator.h
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackPhi.cxx
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackExtended.cxx
Labels: pwgcf

fix: change callback event to `EndOfStream`
  PWGCF/FemtoUniverse/Core/FemtoUniverseEfficiencyCalculator.h
Labels: pwgcf

feat: apply corrections for `processMixedEvent` as well
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackExtended.cxx
Labels: pwgcf

[PWGHF] KFParticle reconstruction of 3-prong decay (#9211)
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateSelectorLc.cxx
  PWGHF/TableProducer/treeCreatorLcToPKPi.cxx
  Tools/KFparticle/KFUtilities.h
Labels: datamodel, pwghf

QC flags added in event selection tables
  Common/DataModel/EventSelection.h
  Common/TableProducer/eventSelection.cxx
Labels: common, datamodel

O2-liner fixes
  Common/DataModel/EventSelection.h
Labels: common, datamodel

[PWGCF] RBR weight fix (#9407)
  PWGCF/GenericFramework/Core/FlowPtContainer.cxx
  PWGCF/GenericFramework/Core/FlowPtContainer.h
  PWGCF/GenericFramework/Tasks/flowGenericFramework.cxx
Labels: pwgcf

Megaliner fixes
  Common/TableProducer/eventSelection.cxx
Labels: common

[PWGLF] Update QAHistTask (#9417)
  PWGLF/Tasks/Nuspex/QAHistTask.cxx
Labels: pwglf

[PWGLF] fix histogram registry in decay3bodybuilder (#9416)
  PWGLF/TableProducer/Nuspex/decay3bodybuilder.cxx
Labels: pwglf

[PWGDQ] Add X(3872) MC Signal (#9415)
  PWGDQ/Core/MCSignalLibrary.cxx
Labels: pwgdq

[PWGHF] Add histo with Reco MC collision centrality (#9413)
  PWGHF/TableProducer/candidateCreator2Prong.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorCascade.cxx
  PWGHF/TableProducer/candidateCreatorDstar.cxx
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
  PWGHF/Utils/utilsEvSelHf.h
Labels: pwghf

[PWGLF] Strangeness in jets: Fix isPhysicalPrimary flag (#9411)
  PWGLF/Tasks/Strangeness/strangeness_in_jets.cxx
Labels: pwglf

[PWGLF] Add new ITS based event selection for resonance flow analysis and add globaltrack selection criteria for f1 reconstruction (#9410)
  PWGLF/TableProducer/Resonances/f1protonreducedtable.cxx
  PWGLF/Tasks/Resonances/highmasslambda.cxx
  PWGLF/Tasks/Resonances/phipbpb.cxx
Labels: pwglf

Revert back occupancy collumns
  Common/DataModel/EventSelection.h
Labels: common, datamodel

Disable name/o2-column check
  Common/DataModel/EventSelection.h
Labels: common, datamodel

Add a mass window selection for candidates
  PWGHF/TableProducer/treeCreatorTccToD0D0Pi.cxx
Labels: pwghf

Added histograms with projections of psudoproper decay length in pT bins
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

fix pdg code association
  PWGLF/Tasks/Strangeness/strangeness_in_jets.cxx
Labels: pwglf

fix mistake
  PWGHF/TableProducer/treeCreatorTccToD0D0Pi.cxx
Labels: pwghf

Update treeCreatorTccToD0D0Pi.cxx
  PWGHF/TableProducer/treeCreatorTccToD0D0Pi.cxx
Labels: pwghf

[PWGHF] Add BDT response to correlatorDmesonPairs
  PWGHF/HFC/DataModel/DMesonPairsTables.h
  PWGHF/HFC/TableProducer/CMakeLists.txt
  PWGHF/HFC/TableProducer/correlatorDMesonPairs.cxx
Labels: pwghf

Update treeCreatorTccToD0D0Pi.cxx
  PWGHF/TableProducer/treeCreatorTccToD0D0Pi.cxx
Labels: pwghf
