Repository AliceO2Group/O2Physics, changes with the labels that .github/labeler.yml gives for each.
All labels: alice3, common, infrastructure, datamodel, dpg, pwgcf, pwgdq, pwgem, pwghf, pwgje, pwglf, pwgud, trigger, tutorial

.github/labeler.yml:

---
alice3:
  - changed-files:
      - any-glob-to-any-file: ['ALICE3/**']

common:
  - changed-files:
      - any-glob-to-any-file: ['Common/**']

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.clang-format'
          - '.clang-tidy'
          - '.flake8'
          - '.github/**'
          - '.checkov.yml'
          - '.mega-linter.yml'
          - 'cmake/**'
          - 'CODEOWNERS'
          - 'CPPLINT.cfg'
          - 'dependencies/**'
          - 'packaging/**'
          - 'pyproject.toml'

datamodel:
  - changed-files:
      - any-glob-to-any-file: ['DataModel/**', '*/DataModel/**']

dpg:
  - changed-files:
      - any-glob-to-any-file: ['DPG/**']

pwgcf:
  - changed-files:
      - any-glob-to-any-file: ['PWGCF/**', '*/PWGCF/**']

pwgdq:
  - changed-files:
      - any-glob-to-any-file: ['PWGDQ/**', '*/PWGDQ/**']

pwgem:
  - changed-files:
      - any-glob-to-any-file: ['PWGEM/**', '*/PWGEM/**']

pwghf:
  - changed-files:
      - any-glob-to-any-file: ['PWGHF/**', '*/PWGHF/**']

pwgje:
  - changed-files:
      - any-glob-to-any-file: ['PWGJE/**', '*/PWGJE/**']

pwglf:
  - changed-files:
      - any-glob-to-any-file: ['PWGLF/**', '*/PWGLF/**', 'PWGMM/**', '*/PWGMM/**']

pwgud:
  - changed-files:
      - any-glob-to-any-file: ['PWGUD/**', '*/PWGUD/**']

trigger:
  - changed-files:
      - any-glob-to-any-file: ['EventFiltering/**']

tutorial:
  - changed-files:
      - any-glob-to-any-file: ['Tutorials/**']

Update qa of task and set none not to be matched
  PWGJE/TableProducer/heavyFlavourDefinition.cxx
  PWGJE/Tasks/jetTaggerHFQA.cxx
Labels: pwgje

Update strangeness_in_jets.cxx
  PWGLF/Tasks/Strangeness/strangeness_in_jets.cxx
Labels: pwglf

Update PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
Labels: pwghf

[Common] Add Nch vs b correlation plot
  Common/Tasks/flowTest.cxx
Labels: common

[Common] addition of extra centrality estimators
  Common/TableProducer/centralityTable.cxx
Labels: common

Please consider the following formatting changes (#388)
  Common/TableProducer/centralityTable.cxx
Labels: common

Fix missing includes in candidateCreatorB0.cxx
  PWGHF/TableProducer/candidateCreatorB0.cxx
Labels: pwghf

Fix missing includes in utilsMcGen.h
  PWGHF/Utils/utilsMcGen.h
Labels: pwghf

implemented pair cleaner for cascade-cascade combination
  PWGCF/FemtoUniverse/Core/FemtoUniversePairCleaner.h
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackCascadeExtended.cxx
Labels: pwgcf

optimise binning in phi and pT
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

[PWGHF] Add BDT response to correlatorDMesonPairs
  PWGHF/HFC/DataModel/DMesonPairsTables.h
  PWGHF/HFC/TableProducer/CMakeLists.txt
  PWGHF/HFC/TableProducer/correlatorDMesonPairs.cxx
Labels: pwghf

Please consider the following formatting changes
  PWGHF/HFC/TableProducer/correlatorDMesonPairs.cxx
Labels: pwghf

Added corrections + only load new calibration histis per run
  PWGCF/Flow/TableProducer/zdcQVectors.cxx
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

changed names for o2-linter
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

Please consider the following formatting changes
  PWGCF/Flow/TableProducer/zdcQVectors.cxx
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

[PWGHF] Exploratory study of charm exotic tcc via D0D0pi (#9397)
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/TableProducer/treeCreatorTccToD0D0Pi.cxx
Labels: pwghf

support for cw
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-DataMembers.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-Enums.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
Labels: pwgcf

fixed build issues
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

Please consider the following formatting changes
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

Modified according to Mattia's suggestions
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
  PWGHF/TableProducer/candidateSelectorOmegac0ToOmegaPi.cxx
Labels: pwghf

[PWGCF] FemtoUniverse: Adding more cuts for PbPb events (#9439)
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

Add files via upload
  PWGJE/Tasks/jetChargedV2.cxx
Labels: pwgje

Please consider the following formatting changes
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
  PWGHF/TableProducer/candidateSelectorOmegac0ToOmegaPi.cxx
Labels: pwghf

PWGEM/Dilepton: add MC ee signals from charm hadrons
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/Tasks/eventQC.cxx
Labels: pwgem

Please consider the following formatting changes
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
Labels: pwghf

Update PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
Labels: pwghf

Implement charge checks and improve candidate selection
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

Please consider the following formatting changes (#10)
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

Add Quarkonia --> ppbar analysis task in UPC
  PWGUD/Tasks/CMakeLists.txt
  PWGUD/Tasks/upcQuarkoniaCentralBarrel.cxx
Labels: pwgud

Please consider the following formatting changes
  PWGUD/Tasks/upcQuarkoniaCentralBarrel.cxx
Labels: pwgud

Please consider the following formatting changes
  PWGUD/Tasks/CMakeLists.txt
Labels: pwgud

[PWGLF] Changes in h-Strangeness correlation code (#9201)
  PWGLF/DataModel/LFHStrangeCorrelationTables.h
  PWGLF/TableProducer/Strangeness/hStrangeCorrelationFilter.cxx
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Labels: datamodel, pwglf

Adding the option of skipping gap events in MC
  PWGJE/Core/JetBkgSubUtils.cxx
  PWGJE/Core/JetDerivedDataUtilities.h
  PWGJE/DataModel/Jet.h
  PWGJE/DataModel/JetReducedData.h
  PWGJE/JetFinders/jetFinder.cxx
  PWGJE/JetFinders/jetFinderHF.cxx
  PWGJE/JetFinders/jetFinderV0.cxx
  PWGJE/TableProducer/derivedDataProducer.cxx
  PWGJE/TableProducer/derivedDataWriter.cxx
  PWGJE/TableProducer/eventwiseConstituentSubtractor.cxx
  PWGJE/TableProducer/luminosityProducer.cxx
  PWGJE/TableProducer/rhoEstimator.cxx
  PWGJE/Tasks/bjetTaggingML.cxx
  PWGJE/Tasks/bjetTreeCreator.cxx
  PWGJE/Tasks/hadronPhotonCorrelation.cxx
  PWGJE/Tasks/nucleiInJets.cxx
  PWGJE/Tasks/phiInJets.cxx
Labels: datamodel, pwgje

Adding the ability to store the leading constituent in the jet
  PWGJE/DataModel/JetSubstructure.h
  PWGJE/Tasks/jetSubstructure.cxx
  PWGJE/Tasks/jetSubstructureHF.cxx
  PWGJE/Tasks/jetSubstructureHFOutput.cxx
  PWGJE/Tasks/jetSubstructureOutput.cxx
Labels: datamodel, pwgje

Update NucleiHistTask.cxx
  PWGLF/Tasks/Nuspex/NucleiHistTask.cxx
Labels: pwglf

initial task for cascade global polarization
  PWGLF/Tasks/Strangeness/CMakeLists.txt
  PWGLF/Tasks/Strangeness/cascpolsp.cxx
Labels: pwglf

solved formatting error
  PWGLF/Tasks/Strangeness/CMakeLists.txt
Labels: pwglf

PWGEM/Dilepton: update event qc task for v0
  PWGEM/Dilepton/Tasks/eventQC.cxx
Labels: pwgem

Add ITS PID for f1 and double-phi table producer
  PWGLF/TableProducer/Resonances/doublephitable.cxx
  PWGLF/TableProducer/Resonances/f1protonreducedtable.cxx
Labels: pwglf

Add pre-commit hooks
  .pre-commit-config.yaml
Labels: none
