Repository AliceO2Group/O2Physics, changes with the labels that .github/labeler.yml gives for each.
All labels: alice3, common, infrastructure, datamodel, dpg, pwgcf, pwgdq, pwgem, pwghf, pwgje, pwglf, pwgud, trigger, tutorial

Update PWGHF/TableProducer/treeCreatorToXiPi.cxx
  PWGHF/TableProducer/treeCreatorToXiPi.cxx
Labels: pwghf

Fixing repeating of conditions check in init
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

Update treeCreatorToXiPi.cxx
  PWGHF/TableProducer/treeCreatorToXiPi.cxx
Labels: pwghf

Fixing process function selection
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

Please consider the following formatting changes
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.cxx
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.h
Labels: pwgcf

Update qaPIDITS.cxx
  DPG/Tasks/AOTTrack/PID/ITS/qaPIDITS.cxx
Labels: dpg

PWGJE - updating evt sel
  PWGJE/Core/JetDerivedDataUtilities.h
  PWGJE/DataModel/JetReducedData.h
  PWGJE/TableProducer/luminosityCalculator.cxx
  PWGJE/TableProducer/luminosityProducer.cxx
Labels: datamodel, pwgje

clang fixes
  PWGJE/Core/JetDerivedDataUtilities.h
Labels: pwgje

rename struct with capital
  PWGJE/Tasks/occupancyQA.cxx
Labels: pwgje

Reapplying removal of unusued collision objects
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.cxx
Labels: pwgcf

Reapplying removal of unusued collision objects to header
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.h
Labels: pwgcf

Please consider the following formatting changes
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.h
Labels: pwgcf

Extend the pt range in the phivp calculation
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

PWGJE - adding je occupancyQA.cxx
  PWGJE/Tasks/CMakeLists.txt
  PWGJE/Tasks/occupancyQA.cxx
Labels: pwgje

PWGJE - updating evt sel
  PWGJE/Core/JetDerivedDataUtilities.h
  PWGJE/DataModel/JetReducedData.h
  PWGJE/TableProducer/luminosityCalculator.cxx
  PWGJE/TableProducer/luminosityProducer.cxx
Labels: datamodel, pwgje

Update treeCreatorTccToD0D0Pi.cxx
  PWGHF/TableProducer/treeCreatorTccToD0D0Pi.cxx
Labels: pwghf

Update CMakeLists.txt
  PWGHF/TableProducer/CMakeLists.txt
Labels: pwghf

Update treeCreatorTccToD0D0Pi.cxx
  PWGHF/TableProducer/treeCreatorTccToD0D0Pi.cxx
Labels: pwghf

[PWGCF] FemtoUniverse: Adding and editing process functions for MC PbPb analysis (#9381)
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrack3DMultKtExtended.cxx
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackSpherHarMultKtExtended.cxx
Labels: pwgcf

removed timing and M02 cuts on cluster definitions
  PWGJE/TableProducer/emcalClusterHadronicCorrectionTask.cxx
Labels: pwgje

Update treeCreatorTccToD0D0Pi.cxx
  PWGHF/TableProducer/treeCreatorTccToD0D0Pi.cxx
Labels: pwghf

Add ITS PID in resonance flow task
  PWGLF/Tasks/Resonances/highmasslambda.cxx
  PWGLF/Tasks/Resonances/phipbpb.cxx
Labels: pwglf

Add possibility to match decay daughters interacting with material in HF
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/candidateCreator2Prong.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorDstar.cxx
Labels: datamodel, pwghf

Update treeCreatorTccToD0D0Pi.cxx
  PWGHF/TableProducer/treeCreatorTccToD0D0Pi.cxx
Labels: pwghf

Removed last references to collisions object in AcceptTracks
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.cxx
Labels: pwgcf

Fix occupancy bining
  PWGLF/TableProducer/Common/epvector.cxx
Labels: pwglf

Please consider the following formatting changes
  PWGHF/TableProducer/candidateCreator2Prong.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorDstar.cxx
Labels: pwghf

Fix missing Bz initialisation in the DCAFitter
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf

change mommentum cut to use tof
  PWGLF/Tasks/Resonances/highmasslambda.cxx
Labels: pwglf

Add occupancy axis to the matching studies
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf

clang and linter ixes
  PWGJE/Core/JetDerivedDataUtilities.h
  PWGJE/TableProducer/luminosityCalculator.cxx
  PWGJE/TableProducer/luminosityProducer.cxx
  PWGJE/Tasks/occupancyQA.cxx
Labels: pwgje

PWGHF: add B+ to MC validation task
  PWGHF/Tasks/taskMcValidation.cxx
Labels: pwghf

clang
  PWGHF/Tasks/taskMcValidation.cxx
Labels: pwghf

My first changes
  PWGUD/Tasks/CMakeLists.txt
  PWGUD/Tasks/upcRhoFAnalysis.cxx
Labels: pwgud

[DPG] Avoid rand() (#9424)
  DPG/Tasks/AOTTrack/qaEventTrackLiteProducer.cxx
Labels: dpg

[DPG] Add qa with ITS PID (#9399)
  DPG/Tasks/AOTTrack/PID/ITS/CMakeLists.txt
  DPG/Tasks/AOTTrack/PID/ITS/qaPIDITS.cxx
Labels: dpg

[PWGEM/Dilepton] update event qc task (#9426)
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/Tasks/eventQC.cxx
Labels: pwgem

[PWGCF] Latest event selection recommendations for PbPb (#9427)
  PWGCF/TableProducer/filterCorrelations.cxx
Labels: pwgcf

Adding module for generated candidates analysis + fix in configurables
  PWGLF/Tasks/QC/strderivedGenQA.cxx
Labels: pwglf

Please consider the following formatting changes
  PWGLF/Tasks/QC/strderivedGenQA.cxx
Labels: pwglf

.github/labeler.yml:

---
alice3:
  - changed-files:
      - any-glob-to-any-file: ['ALICE3/**']

common:
  - changed-files:
      - any-glob-to-any-file: ['Common/**']

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.clang-format'
          - '.clang-tidy'
          - '.flake8'
          - '.github/**'
          - '.checkov.yml'
          - '.mega-linter.yml'
          - 'cmake/**'
          - 'CODEOWNERS'
          - 'CPPLINT.cfg'
          - 'dependencies/**'
          - 'packaging/**'
          - 'pyproject.toml'

datamodel:
  - changed-files:
      - any-glob-to-any-file: ['DataModel/**', '*/DataModel/**']

dpg:
  - changed-files:
      - any-glob-to-any-file: ['DPG/**']

pwgcf:
  - changed-files:
      - any-glob-to-any-file: ['PWGCF/**', '*/PWGCF/**']

pwgdq:
  - changed-files:
      - any-glob-to-any-file: ['PWGDQ/**', '*/PWGDQ/**']

pwgem:
  - changed-files:
      - any-glob-to-any-file: ['PWGEM/**', '*/PWGEM/**']

pwghf:
  - changed-files:
      - any-glob-to-any-file: ['PWGHF/**', '*/PWGHF/**']

pwgje:
  - changed-files:
      - any-glob-to-any-file: ['PWGJE/**', '*/PWGJE/**']

pwglf:
  - changed-files:
      - any-glob-to-any-file: ['PWGLF/**', '*/PWGLF/**', 'PWGMM/**', '*/PWGMM/**']

pwgud:
  - changed-files:
      - any-glob-to-any-file: ['PWGUD/**', '*/PWGUD/**']

trigger:
  - changed-files:
      - any-glob-to-any-file: ['EventFiltering/**']

tutorial:
  - changed-files:
      - any-glob-to-any-file: ['Tutorials/**']
