Repository AliceO2Group/O2Physics, changes with the labels that .github/labeler.yml gives for each.
All labels: alice3, common, infrastructure, datamodel, dpg, pwgcf, pwgdq, pwgem, pwghf, pwgje, pwglf, pwgud, trigger, tutorial

Make o2 linter happy
  PWGHF/HFC/TableProducer/correlatorDMesonPairs.cxx
Labels: pwghf

FastTracker: Fix to v2 layout
  ALICE3/Core/FastTracker.cxx
Labels: alice3

Muon only option for filterpp
  PWGDQ/Tasks/filterPPwithAssociation.cxx
Labels: pwgdq

Add safety feature
  PWGLF/TableProducer/Strangeness/strangenessbuilder.cxx
Labels: pwglf

[PWGDQ] vertexing histograms added (HistogramLibrary.cxx) (#9419)
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

[PWGCF] Flow for Phi meson using generic framework (#9406)
  PWGCF/Flow/Tasks/CMakeLists.txt
  PWGCF/Flow/Tasks/resonancesGfwFlow.cxx
Labels: pwgcf

[PWGLF] triton and helion analysis run 3 (#9405)
  PWGLF/TableProducer/Nuspex/trHeAnalysis.cxx
Labels: pwglf

[PWGDQ] Bugfix in AnalysisDileptonTrack (#9404)
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

[PWGLF] Added pt-dependent selection of protons using ITS cls size (#9403)
  PWGLF/Tasks/Nuspex/nuclei_in_jets.cxx
Labels: pwglf

[Infrastructure] Add Biao as PWGHF codeowner (#9402)
  CODEOWNERS
Labels: infrastructure

[DPG] abs -> std::abs in DPG tasks (#9400)
  DPG/Tasks/AOTTrack/PID/HMPID/qaHMPID.cxx
  DPG/Tasks/AOTTrack/PID/TOF/qaPIDTOFBeta.cxx
  DPG/Tasks/AOTTrack/PID/TPC/qaPIDTPC.cxx
  DPG/Tasks/AOTTrack/PID/TPC/qaPIDTPCSignal.cxx
  DPG/Tasks/AOTTrack/V0Cascades/perfK0sResolution.cxx
  DPG/Tasks/AOTTrack/V0Cascades/qaLamMomResolution.cxx
  DPG/Tasks/AOTTrack/qaEventTrackLiteProducer.cxx
  DPG/Tasks/AOTTrack/qaSignChargeMC.cxx
  DPG/Tasks/AOTTrack/qaTrackSelection.cxx
Labels: dpg

[PWGLF] Add task for a posteriori cascade ML score calculation (#9398)
  PWGLF/TableProducer/Strangeness/CMakeLists.txt
  PWGLF/TableProducer/Strangeness/cascademlselection.cxx
Labels: pwglf

[PWGCF] flowPtEfficiency: add event selections for reconstruction collisions (#9396)
  PWGCF/Flow/Tasks/flowPtEfficiency.cxx
Labels: pwgcf

[PWGCF] TrackV0 Run2 Centrality and M_inv(pT) (#9394)
  PWGCF/FemtoUniverse/Core/FemtoUniverseV0Selection.h
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

[PWGEM/Dilepton] quick fix to axis label (#9393)
  PWGEM/Dilepton/TableProducer/filterDielectronEvent.cxx
Labels: pwgem

[DPG] AOTTrack: Swap axis in cluster size histogram (#9392)
  DPG/Tasks/AOTTrack/qaImpPar.cxx
Labels: dpg

[PWGDQ] adding variables for J/psi vs. mult analysis (#9388)
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

[PWGCF] FemtoUniverse: Fixing default process to FALSE (#9387)
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

[PWGCF] FemtoUniverse -- O2 physics 17.01 (#9386)
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackPhi.cxx
Labels: pwgcf

[PWGCF] FemtoDream: Implementing Cascades (#9385)
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/Core/femtoDreamCascadeSelection.h
  PWGCF/FemtoDream/Core/femtoDreamDetaDphiStar.h
  PWGCF/FemtoDream/Core/femtoDreamPairCleaner.h
  PWGCF/FemtoDream/Core/femtoDreamParticleHisto.h
  PWGCF/FemtoDream/Core/femtoDreamTrackSelection.h
  PWGCF/FemtoDream/Core/femtoDreamUtils.h
  PWGCF/FemtoDream/TableProducer/femtoDreamProducerTask.cxx
  PWGCF/FemtoDream/TableProducer/femtoDreamProducerTaskForSpecificAnalysis.cxx
  PWGCF/FemtoDream/Tasks/CMakeLists.txt
  PWGCF/FemtoDream/Tasks/femtoDreamDebugCascade.cxx
  PWGCF/FemtoDream/Tasks/femtoDreamPairTaskTrackCascade.cxx
  PWGCF/FemtoDream/Utils/femtoDreamCutCulator.cxx
  PWGCF/FemtoDream/Utils/femtoDreamCutCulator.h
Labels: datamodel, pwgcf

[Common] Optimize QC task for performance (#9382)
  Common/Tasks/flowTest.cxx
Labels: common

[PWGCF] Fix some bugs. (#9379)
  PWGCF/Flow/Tasks/flowGFWOmegaXi.cxx
Labels: pwgcf

[PWGLF] Add azimuthal angle cut (#9372)
  PWGMM/Mult/Tasks/CMakeLists.txt
  PWGMM/Mult/Tasks/dndetaMFTPbPb.cxx
Labels: pwglf

[PWGCF] Added a filter to prevent track merging effects, based on the radial distance method (#9371)
  PWGCF/MultiparticleCorrelations/Tasks/CMakeLists.txt
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf

[PWGLF] Adjustments made to resolve issues related to the O2 linter and a new workflow was added (#9337)
  PWGMM/UE/Tasks/CMakeLists.txt
  PWGMM/UE/Tasks/dedxAnalysis.cxx
Labels: pwglf

[PWGLF] Stranganess in jets, fix pdg code association (#9420)
  PWGLF/Tasks/Strangeness/strangeness_in_jets.cxx
Labels: pwglf

[DPG] Fix histo axis defined name (#9074)
  DPG/Tasks/AOTTrack/qaEfficiency.cxx
Labels: dpg

MC analysis for MFT and dimuons
  PWGDQ/TableProducer/tableMakerMC_withAssoc.cxx
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
Labels: pwgdq

Avoid rand()
  DPG/Tasks/AOTTrack/qaEventTrackLiteProducer.cxx
Labels: dpg

Update qaEventTrackLiteProducer.cxx
  DPG/Tasks/AOTTrack/qaEventTrackLiteProducer.cxx
Labels: dpg

Please consider the following formatting changes
  PWGDQ/TableProducer/tableMakerMC_withAssoc.cxx
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
Labels: pwgdq

[PWGEM,PWGJE] Bug fix for generated neutral mesons (#9383)
  PWGEM/PhotonMeson/TableProducer/associateMCinfoPhoton.cxx
  PWGEM/PhotonMeson/Utils/MCUtilities.h
  PWGJE/Tasks/mcGeneratorStudies.cxx
Labels: pwgem, pwgje

PWGEM/Dilepton: update event qc task
  PWGEM/Dilepton/Tasks/eventQC.cxx
Labels: pwgem

PWGEM/Dilepton: update 2vp producer
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
Labels: pwgem

[Common] Fix matching to MC for daughters interacting with material (#9391)
  Common/Core/RecoDecay.h
Labels: common

Fix linter issues
  PWGHF/HFC/DataModel/DMesonPairsTables.h
Labels: pwghf

Latest event selection recommendations for PbPb
  PWGCF/TableProducer/filterCorrelations.cxx
Labels: pwgcf

Update qaEventTrackLiteProducer.cxx
  DPG/Tasks/AOTTrack/qaEventTrackLiteProducer.cxx
Labels: dpg

Update PWGHF/TableProducer/treeCreatorToXiPi.cxx
  PWGHF/TableProducer/treeCreatorToXiPi.cxx
Labels: pwghf

Update PWGHF/TableProducer/treeCreatorToXiPi.cxx
  PWGHF/TableProducer/treeCreatorToXiPi.cxx
Labels: pwghf

.github/labeler.yml:

---
alice3:
  - changed-files:
      - any-glob-to-any-file: ['ALICE3/**']

common:
  - changed-files:
      - any-glob-to-any-file: ['Common/**']

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.clang-format'
          - '.clang-tidy'
          - '.flake8'
          - '.github/**'
          - '.checkov.yml'
          - '.mega-linter.yml'
          - 'cmake/**'
          - 'CODEOWNERS'
          - 'CPPLINT.cfg'
          - 'dependencies/**'
          - 'packaging/**'
          - 'pyproject.toml'

datamodel:
  - changed-files:
      - any-glob-to-any-file: ['DataModel/**', '*/DataModel/**']

dpg:
  - changed-files:
      - any-glob-to-any-file: ['DPG/**']

pwgcf:
  - changed-files:
      - any-glob-to-any-file: ['PWGCF/**', '*/PWGCF/**']

pwgdq:
  - changed-files:
      - any-glob-to-any-file: ['PWGDQ/**', '*/PWGDQ/**']

pwgem:
  - changed-files:
      - any-glob-to-any-file: ['PWGEM/**', '*/PWGEM/**']

pwghf:
  - changed-files:
      - any-glob-to-any-file: ['PWGHF/**', '*/PWGHF/**']

pwgje:
  - changed-files:
      - any-glob-to-any-file: ['PWGJE/**', '*/PWGJE/**']

pwglf:
  - changed-files:
      - any-glob-to-any-file: ['PWGLF/**', '*/PWGLF/**', 'PWGMM/**', '*/PWGMM/**']

pwgud:
  - changed-files:
      - any-glob-to-any-file: ['PWGUD/**', '*/PWGUD/**']

trigger:
  - changed-files:
      - any-glob-to-any-file: ['EventFiltering/**']

tutorial:
  - changed-files:
      - any-glob-to-any-file: ['Tutorials/**']
