Repository AliceO2Group/O2Physics, changes with the labels that .github/labeler.yml gives for each.
All labels: alice3, common, infrastructure, dpg, pwgcf, pwgdq, pwgem, pwghf, pwgje, pwglf, pwgud, tutorial

.github/labeler.yml:

---
alice3:
  - changed-files:
      - any-glob-to-any-file: ['ALICE3/**']

common:
  - changed-files:
      - any-glob-to-any-file: ['Common/**']

infrastructure:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'cmake/**', 'dependencies/**', 'packaging/**']

dpg:
  - changed-files:
      - any-glob-to-any-file: ['DPG/**']

pwgcf:
  - changed-files:
      - any-glob-to-any-file: ['PWGCF/**', '*/PWGCF/**']

pwgdq:
  - changed-files:
      - any-glob-to-any-file: ['PWGDQ/**', '*/PWGDQ/**']

pwgem:
  - changed-files:
      - any-glob-to-any-file: ['PWGEM/**', '*/PWGEM/**']

pwghf:
  - changed-files:
      - any-glob-to-any-file: ['PWGHF/**', '*/PWGHF/**']

pwgje:
  - changed-files:
      - any-glob-to-any-file: ['PWGJE/**', '*/PWGJE/**']

pwglf:
  - changed-files:
      - any-glob-to-any-file: ['PWGLF/**', '*/PWGLF/**', 'PWGMM/**', '*/PWGMM/**']

pwgud:
  - changed-files:
      - any-glob-to-any-file: ['PWGUD/**', '*/PWGUD/**']

tutorial:
  - changed-files:
      - any-glob-to-any-file: ['Tutorials/**']

PWGHF: add to Xic0 tree TPC info for systematic (#8037)
  PWGHF/TableProducer/treeCreatorToXiPi.cxx
Labels: pwghf

Fix mc event selection and fill of mc output table
  PWGLF/TableProducer/Nuspex/threebodyRecoTask.cxx
  PWGLF/Tasks/Nuspex/hypertriton3bodyanalysis.cxx
Labels: pwglf

PWGEM/Dilepton: update eventQC
  PWGEM/Dilepton/Tasks/eventQC.cxx
  PWGEM/Dilepton/Utils/EventHistograms.h
Labels: pwgem

Drop unused variable.
  Common/TableProducer/multiplicityTable.cxx
Labels: common

Common/EventSelection: switch back to aod::Tracks subscription for Run2 (#8044)
  Common/TableProducer/eventSelection.cxx
Labels: common

More unused variables
  Common/TableProducer/Converters/bcFlagsCreator.cxx
  Common/TableProducer/match-mft-ft0.cxx
  Common/TableProducer/zdc-task-intercalib.cxx
Labels: common

Upload chunks for the chunked processing (#8048)
  EventFiltering/macros/uploadOTSobjects.C
Labels: none
