Repository AliceO2Group/O2Physics, pull requests merged in 2024-11, with the labels that each got.

#8223 PWGHF: add single track variables to D2H reduced data formats
  PWGHF/D2H/DataModel/ReducedDataModel.h
  PWGHF/D2H/TableProducer/dataCreatorCharmHadPiReduced.cxx
  PWGHF/D2H/TableProducer/dataCreatorCharmResoReduced.cxx
Labels: pwghf

#8237 [PWGHF] fixing track table for DStrack
  PWGHF/D2H/TableProducer/candidateCreatorCharmResoReduced.cxx
Labels: pwghf

#8239 PWGHF: Fix application of postcalibrations for TOF Nsigma in MC
  PWGHF/TableProducer/mcPidTof.cxx
Labels: pwghf

#8243 [Trigger] EventFiltering: Update trigger QA of BCId compatibility
  EventFiltering/macros/checkBCrangesSkimming.C
Labels: trigger

#8244 [PWGHF] Modified Resonance Data Creator to include muons
  PWGHF/D2H/TableProducer/dataCreatorCharmResoReduced.cxx
Labels: pwghf

#8165 [PWGHF/D2H] Added THnSparse for Invariant mass vs BDT score
  PWGHF/D2H/Tasks/taskDstarToD0Pi.cxx
Labels: pwghf

#8245 [PWGHF] Add Lc->pKPi correlated background information to Ds task
  PWGHF/D2H/Tasks/taskDs.cxx
Labels: pwghf

#8241 [DPG] Cleanup + update of rofOccupancyQa.cxx
  DPG/Tasks/AOTEvent/rofOccupancyQa.cxx
Labels: dpg

#8248 [PWGLF] Changes in hStrangeCorrelation.cxx
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Labels: pwglf

#8255 [PWGLF] Flattenicity calculation in FV0 region added for MCGen
  PWGLF/Tasks/Strangeness/lambdak0sflattenicity.cxx
Labels: pwglf

#8216 [PWGHF] add ToXiPi process function with tracked cascades
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
Labels: pwghf

#8246 [PWGLF] PWGMM-Lumi: Orbit histograms per run number issues
  PWGMM/Lumi/Tasks/lumiStability.cxx
Labels: pwglf

#8260 [PWGCF] Remove MultExtra table
  PWGCF/Flow/Tasks/FlowGFWPbPb.cxx
Labels: pwgcf

#8261 [PWGEM/Dilepton] add possibility to select FT0C occupancy
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/EMEventCut.cxx
  PWGEM/Dilepton/Core/EMEventCut.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/TableProducer/createEMEventDilepton.cxx
  PWGEM/Dilepton/Tasks/eventQC.cxx
  PWGEM/Dilepton/Tasks/tableReaderBarrel.cxx
  PWGEM/Dilepton/Tasks/vpPairQC.cxx
  PWGEM/Dilepton/Tasks/vpPairQCMC.cxx
  PWGEM/Dilepton/Utils/EventHistograms.h
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGamma.h
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGammaMC.h
  PWGEM/PhotonMeson/Tasks/dalitzEEQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQCMC.cxx
  PWGEM/PhotonMeson/Tasks/emcalQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
  PWGEM/PhotonMeson/Tasks/taskPi0FlowEMC.cxx
Labels: pwgem

#8253 [PWGCF] flow: add supicious Runs removal, DCAz pt dependent cut, DCAxy ppPass3 cut …
  PWGCF/Flow/Tasks/FlowRunbyRun.cxx
  PWGCF/Flow/Tasks/FlowTask.cxx
Labels: pwgcf

#8262 [PWGLF] Added occupancy cuts
  PWGLF/Tasks/Resonances/KshortKshort.cxx
  PWGLF/Tasks/Resonances/k892analysis.cxx
Labels: pwglf

#8264 [PWGLF] : modified PID selection for only TOF study
  PWGLF/Tasks/Resonances/kstarpbpb.cxx
Labels: pwglf

#8259 [PWGLF] PWGLF:v0ptinvmassplots Updated the Generated Pt Spectrum Process
  PWGLF/Tasks/Strangeness/v0ptinvmassplots.cxx
Labels: pwglf

#8270 [PWGLF] added Sumw2 in TProfiles and changed float to double and switch coordinates
  PWGLF/TableProducer/Common/spvector.cxx
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#8271 [Common] centrality study task update
  Common/Tasks/centralityStudy.cxx
Labels: common

#8272 [PWGCF,/,FemtoUniverse] Adding thetastar calculation
  PWGCF/FemtoUniverse/Core/FemtoUniverseMath.h
Labels: pwgcf

#8274 [PWGLF] Fix memory leak in Flattenicity Calculations in processMCGen
  PWGLF/Tasks/Strangeness/lambdak0sflattenicity.cxx
Labels: pwglf

#8210 [PWGHF] Adjust the structure of the Lc to pkpi task
  PWGHF/D2H/Tasks/taskLc.cxx
Labels: pwghf

#8276 [PWGLF] PWGMM/Mult/Tasks/heavy-ion-mult.cxx: Add FT0C based Occupancy cut
  PWGMM/Mult/Tasks/heavy-ion-mult.cxx
Labels: pwglf

#8275 [PWGCF] Update lambdaR2Correlation.cxx
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#8277 [PWGCF/FemtoUniverse] Fixing bug in 4th mult. bin selection
  PWGCF/FemtoUniverse/Core/FemtoUniversePairSHCentMultKt.h
Labels: pwgcf

#8281 [PWGCF] Add weight output in flowGFWOmegaXi.cxx
  PWGCF/Flow/Tasks/flowGFWOmegaXi.cxx
Labels: pwgcf

#8254 [PWGUD] Added new variables/cuts + adopted to SG producer
  PWGUD/Tasks/upcTauTau13topo.cxx
Labels: pwgud

#8283 [PWGEM/Dilepton] add possibility to select FT0C occupancy
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/TableProducer/eventSelection.cxx
  PWGEM/Dilepton/Tasks/eventQC.cxx
  PWGEM/Dilepton/Tasks/vpPairQC.cxx
  PWGEM/Dilepton/Tasks/vpPairQCMC.cxx
Labels: pwgem

#8285 [PWGLF] Adding QA histos in sigma0 tasks + fix in datamodel
  PWGLF/DataModel/LFSigmaTables.h
  PWGLF/TableProducer/Strangeness/sigma0builder.cxx
  PWGLF/Tasks/Strangeness/sigmaanalysis.cxx
Labels: pwglf

#8286 [Common] update task for glauber fit studies
  Common/Tasks/centralityStudy.cxx
Labels: common

#8279 [PWGCF] FemtoUniverse : Adding randomness in mixing
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrack3DMultKtExtended.cxx
Labels: pwgcf

#8287 [PWGUD] changes to upcRhoAnalysis.cxx
  PWGUD/Tasks/upcRhoAnalysis.cxx
Labels: pwgud

#8289 [PWGCF] FemtoUniverse : Adding randomness in mixing for SH
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackSpherHarMultKtExtended.cxx
Labels: pwgcf

#8268 [DPG,PWGDQ] adding a configurable, maximum Pt for applying downsampling factor p…
  DPG/Tasks/TPC/tpcSkimsTableCreator.cxx
  PWGDQ/Tasks/v0selector.cxx
Labels: dpg, pwgdq

#8284 [PWGHF] Fixing the decay length calculation using the KFParticle in the Omegac0 reconstruction.
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
Labels: pwghf

#8265 [PWGHF] add D0 sign in MC truth info and reorganise MC matching code for resonances
  PWGHF/D2H/DataModel/ReducedDataModel.h
  PWGHF/D2H/TableProducer/dataCreatorCharmResoReduced.cxx
Labels: pwghf

#8137 [EMCAL-670] emcalCorrectionTask - add time resolution histogram
  PWGJE/TableProducer/emcalCorrectionTask.cxx
Labels: pwgje, emcal

#8183 [PWGHF] Add finding leading particle in correlatorLcHadrons
  PWGHF/HFC/DataModel/CorrelationTables.h
  PWGHF/HFC/TableProducer/correlatorD0Hadrons.cxx
  PWGHF/HFC/TableProducer/correlatorLcHadrons.cxx
  PWGHF/HFC/Tasks/taskCorrelationD0Hadrons.cxx
  PWGHF/HFC/Tasks/taskCorrelationLcHadrons.cxx
  PWGHF/HFC/Utils/utilsCorrelations.h
Labels: pwghf

#8295 [PWGDQ] Fix a bug in HistogramsManager.cxx
  PWGDQ/Core/HistogramManager.cxx
Labels: pwgdq

#8288 [PWGDQ] Better axis-limits to corr4ref
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#8269 [PWGDQ] Calculation of kDeltaPhiPair2 in FillPairME
  PWGDQ/Core/VarManager.h
Labels: pwgdq

#8293 [PWGCF] Updated neutron skin process in FlowZDCtask.cxx
  PWGCF/Flow/Tasks/FlowZDCtask.cxx
Labels: pwgcf

#8294 [PWGCF] flow: adjust NUA filling
  PWGCF/Flow/Tasks/FlowTask.cxx
Labels: pwgcf

#8297 [PWGCF] FemtoUniverse: Reducing number of arrays in sets of TH1 and TH3
  PWGCF/FemtoUniverse/Core/FemtoUniversePairSHCentMultKt.h
Labels: pwgcf

#8301 [PWGCF] FemtoUniverse: Adding kNoSameBunchPileup and kIsGoodZvtxFT0vsPV cuts
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

#8299 [PWGLF] Add cuts pT max and min for tree saving
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf

#8304 [PWGHF] add protection in case of non filled metadata
  PWGHF/TableProducer/mcPidTof.cxx
Labels: pwghf

#8307 [PWGEM/Dilepton] update chi2 TOF histogram
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
Labels: pwgem

#8306 [PWGHF/D2H] fixing typos in axes name
  PWGHF/D2H/Tasks/taskDstarToD0Pi.cxx
Labels: pwghf

#8190 [Common]: add user-friendly interface for trackTuner configuration.
  Common/TableProducer/trackPropagation.cxx
  Common/Tools/TrackTuner.h
Labels: common

#8266 [PWGJE] Functionality to use TPC custom parameters
  PWGJE/Tasks/nucleiInJets.cxx
Labels: pwgje

#8296 [PWGDQ] Update HistogramsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#8309 [PWGCF] fix a bug in flowGFWOmegaXi.cxx
  PWGCF/Flow/Tasks/flowGFWOmegaXi.cxx
Labels: pwgcf

#8291 [PWGEM] add tofChi2 in treeCreatorElectronML
  PWGEM/Dilepton/TableProducer/treeCreatorElectronML.cxx
Labels: pwgem

#8278 [PWGEM] MlResponse for electron PID
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/TableProducer/CMakeLists.txt
  PWGEM/Dilepton/TableProducer/dielectronMl.cxx
  PWGEM/Dilepton/Tasks/vpPairQC.cxx
  PWGEM/Dilepton/Tasks/vpPairQCMC.cxx
  PWGEM/Dilepton/Utils/MlResponseDielectronPair.h
  PWGEM/Dilepton/Utils/MlResponseDielectronSingleTrack.h
Labels: pwgem

#8308 [PWGHF] Ds-h correlation derived data - correction table names
  PWGHF/HFC/DataModel/DerivedDataCorrelationTables.h
  PWGHF/HFC/TableProducer/correlatorDsHadrons.cxx
Labels: pwghf

#8302 [PWGHF] taskFlow.cxx: adding Lc-h correlations for TPC-TPC and TPC-MFT cases. Adding cuts on MFT tracks.
  PWGHF/HFC/Tasks/taskFlow.cxx
Labels: pwghf

#8251 [Infrastructure] Add files under infrastructure label.
  .github/labeler.yml
Labels: infrastructure

#8310 [PWGCF] FemtoUniverse: Replacing MutlNtr with MultV0M in colBinning
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrack3DMultKtExtended.cxx
Labels: pwgcf

#8313 [PWGEM/Dilepton] add possibility to select kNollInRof
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/EMEventCut.cxx
  PWGEM/Dilepton/Core/EMEventCut.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/Tasks/vpPairQC.cxx
  PWGEM/Dilepton/Tasks/vpPairQCMC.cxx
Labels: pwgem

#8314 [PWGLF] added configurable axis and configurables to switch between different type of histograms
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#8312 [PWGDQ] Update tableMaker_withAssoc.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
Labels: pwgdq

#8317 [PWGUD] Update on personal PID Spectra analyzer
  PWGUD/DataModel/SGTables.h
  PWGUD/Tasks/CMakeLists.txt
  PWGUD/Tasks/sgPIDAnalyzer.cxx
  PWGUD/Tasks/sgPIDSpectraTable.cxx
Labels: pwgud

#8318 [PWGDQ] Cumulants: Corr2Ref and Corr4Ref: new axis + new binning
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#8316 [PWGHF] Developments for charm resonances workflow
  PWGHF/D2H/DataModel/ReducedDataModel.h
  PWGHF/D2H/TableProducer/candidateCreatorCharmResoReduced.cxx
  PWGHF/D2H/TableProducer/dataCreatorCharmResoReduced.cxx
  PWGHF/D2H/Tasks/taskCharmResoReduced.cxx
Labels: pwghf

#8315 [PWGLF] Add deuteron TOF PID and TPC signal to hypertriton 3-body KF candidate output table
  PWGLF/DataModel/Vtx3BodyTables.h
  PWGLF/TableProducer/Nuspex/decay3bodybuilder.cxx
  PWGLF/TableProducer/Nuspex/threebodyKFTask.cxx
Labels: pwglf

#8319 [PWGEM/Dilepton] add possibility to apply TOF chi2 cut
  PWGEM/Dilepton/Core/DielectronCut.cxx
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/Tasks/vpPairQC.cxx
  PWGEM/Dilepton/Tasks/vpPairQCMC.cxx
Labels: pwgem

#8320 [PWGLF] Change in derivedcascadeanalysis.cxx
  PWGLF/Tasks/Strangeness/derivedcascadeanalysis.cxx
Labels: pwglf

#8257 [PWGHF] Add occupancy information in hf mc validation
  PWGHF/Tasks/taskMcValidation.cxx
Labels: pwghf

#8247 [PWGHF] Histogram w/o efficiency included in the task for debugging
  PWGHF/HFC/Tasks/taskCorrelationDplusHadrons.cxx
Labels: pwghf

#8321 [PWGLF] strangeness in jets: add centrality histogram
  PWGLF/Tasks/Strangeness/strangeness_in_jets.cxx
Labels: pwglf

#8303 [PWGLF] Add TOF chi2 to the nuclei slim derived
  PWGLF/DataModel/LFSlimNucleiTables.h
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf

#8300 [PWGLF] added multiplicity dependance in event mixing. Overall code improvement
  PWGLF/DataModel/LFLithium4Tables.h
  PWGLF/TableProducer/Nuspex/lithium4analysis.cxx
Labels: pwglf

#8339 [PWGDQ] Added process V0 and multiplicity
  PWGDQ/TableProducer/tableMaker.cxx
Labels: pwgdq

#8324 [PWGLF] Update NucleiHistTask.cxx
  PWGLF/Tasks/Nuspex/NucleiHistTask.cxx
Labels: pwglf

#8323 [PWGHF] XicToXiPiPi: Add chi2topo before applying topological constraints
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/candidateCreatorXicToXiPiPi.cxx
  PWGHF/TableProducer/treeCreatorXicToXiPiPi.cxx
Labels: pwghf

#8327 [PWGCF] Update lambdaR2Correlation.cxx
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#8328 [PWGDQ] Add kDeltaEtaPair2
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
Labels: pwgdq

#8330 [PWGUD] Update sgPIDAnalyzer.cxx
  PWGUD/Tasks/sgPIDAnalyzer.cxx
Labels: pwgud

#8325 [PWGEM,PWGEM-36] Fix Pi0Flow task low collision count
  PWGEM/PhotonMeson/TableProducer/createEMEventPhoton.cxx
  PWGEM/PhotonMeson/Tasks/taskPi0FlowEMC.cxx
Labels: pwgem

#8332 [ALICE3] Produce versioned StoredTrackExtra table for the time being
  ALICE3/TableProducer/OTF/onTheFlyTracker.cxx
Labels: alice3

#8331 [PWGUD] changes to eprsonal task
  PWGUD/Tasks/upcJpsiCentralBarrelCorr.cxx
Labels: pwgud

#8329 [PWGLF] ebyeMaker and ebyeNuclei: add proton analysis
  PWGLF/TableProducer/Nuspex/ebyeMaker.cxx
  PWGLF/Tasks/Nuspex/nucleiEbye.cxx
Labels: pwglf

#8333 [PWGCF] FemtoUniverse: Fixing issues in upper limits of Cent.
  PWGCF/FemtoUniverse/Core/FemtoUniversePairWithCentMultKt.h
Labels: pwgcf

#8326 [PWGEM/Dilepton] add possibility to select AC combination
  PWGEM/Dilepton/Core/DielectronCut.cxx
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
Labels: pwgem

#8335 [PWGHF] Fixed MC reconstruction with one muon for Resonances Workflow
  PWGHF/D2H/TableProducer/dataCreatorCharmResoReduced.cxx
Labels: pwghf

#8344 [PWGHF] fix the bug of pid and add QA histograms
  PWGHF/HFC/TableProducer/femtoDreamProducer.cxx
  PWGHF/HFC/Tasks/taskCharmHadronsFemtoDream.cxx
Labels: pwghf

#8340 [PWGLF] add histo of true reco cascades before any BDT selection in cascadeflow task
  PWGLF/TableProducer/Strangeness/cascadeflow.cxx
Labels: pwglf

#8347 [PWGHF] taskLc: Remove track loop in the fill histogram function of data
  PWGHF/D2H/Tasks/taskLc.cxx
Labels: pwghf

#8348 [PWGCF] DptDptCorrelations, support for on the fly MC
  PWGCF/TableProducer/dptdptfilter.cxx
Labels: pwgcf

#8341 [PWGLF] Histograms added for event and signal corrections
  PWGLF/Tasks/Strangeness/lambdak0sflattenicity.cxx
Labels: pwglf

#8349 [PWGUD] PID Extra information added to Single Gap Events
  PWGUD/DataModel/UDTables.h
  PWGUD/TableProducer/SGCandProducer.cxx
Labels: pwgud

#8350 [PWGLF] nonPromptCascade task: fixing swapping of beauty and charm fractions
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf

#8352 [PWGCF] FemtoUniverse: Adding configurable for no. of event mixing
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrack3DMultKtExtended.cxx
Labels: pwgcf

#8354 [PWGCF] fixes for few corner cases
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-DataMembers.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-Enums.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
Labels: pwgcf

#8355 [PWGLF/Nuspex] added configurable for pt coverage of TPC nsigma
  PWGLF/Tasks/Nuspex/nuclei_in_jets.cxx
Labels: pwglf

#8356 [PWGHF] fix bugs in charm reso creator
  PWGHF/D2H/TableProducer/candidateCreatorCharmResoReduced.cxx
Labels: pwghf

#8358 [PWGCF] Fixed a bug in mixing as the configurable values were not read out.
  PWGCF/FemtoDream/Tasks/femtoDreamTripletTaskTrackTrackTrack.cxx
  PWGCF/FemtoDream/Tasks/femtoDreamTripletTaskTrackTrackV0.cxx
Labels: pwgcf

#8163 [PWGJE] addition of reflections info and improvements to charm hadronization analysis
  PWGJE/Tasks/hffragmentationfunction.cxx
Labels: pwgje

#8360 [Infrastructure] Update CODEOWNERS per JE request
  CODEOWNERS
Labels: infrastructure

#8361 [PWGEM/Dilepton] add v2 in LF cocktail
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/Tasks/lmeeHFCocktail.cxx
  PWGEM/Dilepton/Tasks/lmeeLFCocktail.cxx
  PWGEM/Dilepton/Tasks/smearing.cxx
Labels: pwgem

#8362 [PWGEM,PWGEM-36] i0FlowTask - Fix Resolution definition
  PWGEM/PhotonMeson/Tasks/taskPi0FlowEMC.cxx
Labels: pwgem

#8364 [PWGLF] Fix processRecMC stops after certain iterations
  PWGLF/Tasks/Strangeness/lambdak0sflattenicity.cxx
Labels: pwglf

#8363 [DPG] Cleanup and update of rofQA and detectorQA tasks
  DPG/Tasks/AOTEvent/detectorOccupancyQa.cxx
  DPG/Tasks/AOTEvent/rofOccupancyQa.cxx
Labels: dpg

#8334 [PWGCF] Apply Event enumeration and ITSOnly tracks
  PWGCF/Flow/Tasks/FlowGFWPbPb.cxx
Labels: pwgcf

#8365 [PWGEM/Dilepton] add constant phiv cut
  PWGEM/Dilepton/Core/DielectronCut.cxx
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Tasks/vpPairQC.cxx
Labels: pwgem

#8366 [PWGLF] replaced TProfile with ThnSparse and cleaned up the code
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#8368 [PWGLF] Update KF reconstruction of hypertriton 3-body analysis
  PWGLF/DataModel/Vtx3BodyTables.h
  PWGLF/TableProducer/Nuspex/decay3bodybuilder.cxx
  PWGLF/TableProducer/Nuspex/threebodyKFTask.cxx
Labels: pwglf

#8249 [PWGJE] EP resolution+histograms
  PWGJE/Tasks/jetSpectraEseTask.cxx
Labels: pwgje

#8256 [EMCAL-1149,PWGJE] EMCALClusterDefinition definition changes
  PWGJE/DataModel/EMCALClusters.h
Labels: pwgje, emcal

#8153 PWGJE/EMCal: Add option to shift cluster time in MC
  PWGJE/TableProducer/emcalCorrectionTask.cxx
Labels: pwgje

#8258 [PWGJE/EMCal,PWGEM/PhotonMeson] Add BC wise generated particles and track matching QA histos
  PWGEM/PhotonMeson/Utils/ClusterHistograms.h
  PWGJE/Tasks/mcgeneratorstudies.cxx
Labels: pwgje, pwgem

#8367 [PWGLF] added different PID strategy
  PWGLF/Tasks/Resonances/kstarpbpb.cxx
Labels: pwglf

#8369 [PWGCF] [PWG-CF] new utility functions, clean up, improved log messages, supp…
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-DataMembers.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-Enums.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
  PWGCF/MultiparticleCorrelations/Tasks/multiparticle-correlations-ab.cxx
Labels: pwgcf

#8370 [PWGUD] Update of global forward tracks in UPCCandidateProducer
  PWGUD/TableProducer/UPCCandidateProducer.cxx
Labels: pwgud

#8336 [PWGDQ] fix a bug about fStatsList and add some comments
  PWGDQ/TableProducer/tableMaker.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
Labels: pwgdq

#8345 [Common] RecoDecay: Add matching for decaying tracks in getMatchedMCRec
  Common/Core/RecoDecay.h
Labels: common

#8372 [PWGEM,PWGEM-36] Pi0Flow: Add Rotation background method
  PWGEM/PhotonMeson/Tasks/CMakeLists.txt
  PWGEM/PhotonMeson/Tasks/taskPi0FlowEMC.cxx
Labels: pwgem

#8373 [PWGCF] Update lambdaR2Correlation.cxx
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#8359 [Common,DPG] Add selection mask for global tracks w/o dcaXY cut.
  Common/DataModel/TrackSelectionTables.h
  DPG/Tasks/AOTTrack/qaImpPar.cxx
Labels: common, dpg

#8377 [PWGUD] Update to personal tasks for additional LFs
  PWGUD/DataModel/SGTables.h
  PWGUD/Tasks/sgPIDAnalyzer.cxx
  PWGUD/Tasks/sgPIDSpectraTable.cxx
Labels: pwgud

#8378 [ALICE3] Fix compilation warnings
  ALICE3/TableProducer/alice3-multicharm.cxx
Labels: alice3

#8383 [PWGEM] Fix compilation warnings
  PWGEM/Dilepton/Tasks/eventQC.cxx
  PWGEM/Dilepton/Tasks/tableReaderBarrel.cxx
Labels: pwgem

#8384 [PWGHF] Fix compilation warnings
  PWGHF/D2H/TableProducer/candidateCreatorCharmResoReduced.cxx
  PWGHF/D2H/TableProducer/candidateSelectorBsToDsPiReduced.cxx
  PWGHF/D2H/TableProducer/dataCreatorCharmResoReduced.cxx
  PWGHF/D2H/Tasks/taskCharmResoReduced.cxx
  PWGHF/HFC/TableProducer/correlatorHfeHadrons.cxx
  PWGHF/HFL/Tasks/taskElectronWeakBoson.cxx
  PWGHF/TableProducer/treeCreatorXicToXiPiPi.cxx
  PWGHF/Tasks/taskMcValidation.cxx
Labels: pwghf

#8387 [PWGLF] Fix compilation warnings
  PWGMM/Lumi/Tasks/lumiStability.cxx
Labels: pwglf

#8385 [PWGJE] Fix compilation warnings
  PWGJE/Core/JetMatchingUtilities.h
  PWGJE/TableProducer/rhoEstimator.cxx
  PWGJE/Tasks/emcclustermonitor.cxx
  PWGJE/Tasks/jetTutorial.cxx
  PWGJE/Tasks/nucleiInJets.cxx
  PWGJE/Tasks/phiInJets.cxx
  PWGJE/Tasks/statPromptPhoton.cxx
  PWGJE/Tasks/v0qa.cxx
Labels: pwgje

#8389 [PWGCF,Tutorial] Fix compilation warnings
  Tutorials/PWGCF/EventPlane/src/qVectorstutorial.cxx
Labels: pwgcf, tutorial

#8353 [PWGCF] FemtoUniverse: Change multiplicity policy to centrality policy in MultKt.
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackD0.cxx
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackMultKtExtended.cxx
Labels: pwgcf

#8374 [PWGLF] K*(892) PbPb: new task without ResonanceInitializer
  PWGLF/Tasks/Resonances/CMakeLists.txt
  PWGLF/Tasks/Resonances/k892analysis_PbPb.cxx
  PWGLF/Tasks/Resonances/kstar892analysis.cxx
Labels: pwglf

#8322 [Common,PWGCF,PWGDQ,PWGHF,PWGLF,Trigger] DPL Analysis: more compatibility changes for the upcoming O2 update
  Common/Tools/CMakeLists.txt
  EventFiltering/cefpTask.cxx
  EventFiltering/filterTables.h
  EventFiltering/selectBCRange.cxx
  PWGCF/Femto3D/DataModel/singletrackselector.h
  PWGDQ/TableProducer/tableMaker.cxx
  PWGDQ/TableProducer/tableMakerMC.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGLF/DataModel/LFNucleiTables.h
  PWGLF/DataModel/LFStrangenessTables.h
  PWGLF/TableProducer/Strangeness/cascadebuilder.cxx
  PWGLF/TableProducer/Strangeness/cascadefinder.cxx
  PWGLF/TableProducer/Strangeness/cascadespawner.cxx
Labels: pwghf, pwglf, common, pwgcf, trigger, pwgdq

#8394 [PWGLF] code clean up resonance flow and PID improvement
  PWGLF/Tasks/Resonances/highmasslambda.cxx
  PWGLF/Tasks/Resonances/phipbpb.cxx
Labels: pwglf

#8391 [PWGUD] Fill FDD tables using UPCCandidateProducer
  PWGUD/DataModel/UDTables.h
  PWGUD/TableProducer/UPCCandidateProducer.cxx
Labels: pwgud

#8398 [PWGJE] adding tracks propgated to the emcal to the derived data workflow
  PWGJE/DataModel/JetReducedData.h
  PWGJE/TableProducer/jetderiveddataproducer.cxx
  PWGJE/TableProducer/jetderiveddatawriter.cxx
Labels: pwgje

#8343 [PWGHF] Add generated B0 information to taskMcValidation
  PWGHF/Tasks/taskMcValidation.cxx
Labels: pwghf

#8402 [PWGLF] added configurable for reducing no. of defined histograms for memory usage
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#8392 [PWGLF/NuSpEx] Removed nSigmaTrTOF selection and add betaTOF cut
  PWGLF/TableProducer/Nuspex/lnnRecoTask.cxx
Labels: pwglf

#8407 [PWGDQ] Adding Upsilon MC signals
  PWGDQ/Core/MCSignalLibrary.cxx
Labels: pwgdq

#8409 [PWGDQ] Adding downsample in fwd pid task
  PWGDQ/Tasks/taskFwdTrackPid.cxx
Labels: pwgdq

#8408 [PWGLF] Added a new workflow for the Xi(1530)0 analysis QA
  PWGLF/Tasks/Resonances/CMakeLists.txt
  PWGLF/Tasks/Resonances/xi1530Analysisqa.cxx
Labels: pwglf

#8412 [PWGLF] spectraTOF add the occupancy axis
  PWGLF/Tasks/Nuspex/spectraTOF.cxx
Labels: pwglf

#8413 [PWGJE] Change collision slice from BC to foundBC
  PWGJE/Tasks/mcgeneratorstudies.cxx
Labels: pwgje

#8415 [PWGCF] further support for internal validation and occuancy studies
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-DataMembers.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-Enums.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
Labels: pwgcf

#8395 [PWGHF] Adding matching of candidates with kinked daughter tracks to Charm Resonances workflow
  PWGHF/D2H/TableProducer/candidateCreatorCharmResoReduced.cxx
  PWGHF/D2H/TableProducer/dataCreatorCharmResoReduced.cxx
  PWGHF/D2H/Tasks/taskCharmResoReduced.cxx
Labels: pwghf

#8442 Please consider the following formatting changes to #8441
  PWGCF/Femto3D/TableProducer/singleTrackSelector.cxx
Labels: pwgcf

#8230 [PWGJE] jet v2 analysis
  PWGJE/Tasks/CMakeLists.txt
  PWGJE/Tasks/jetchargedv2.cxx
Labels: pwgje

#8417 [PWGDQ] Fixed typo in efficiency task -> not urgent
  PWGDQ/Tasks/MIDefficiency.cxx
Labels: pwgdq

#8405 [PWGLF] adding efficiency correction test
  PWGLF/Tasks/Strangeness/lambdapolarization.cxx
Labels: pwglf

#8396 [PWGLF/Nuspex] add deuterons at high pT
  PWGLF/Tasks/Nuspex/nuclei_in_jets.cxx
Labels: pwglf

#8379 [Common] Fix compilation warnings
  Common/Core/TPCVDriftManager.h
  Common/TableProducer/Converters/bcFlagsCreator.cxx
  Common/TableProducer/mcCollsExtra.cxx
Labels: common
