Repository AliceO2Group/O2Physics, pull requests merged in 2024-12, with the labels that each got.

#8717 [PWGHF] Add PV contributors in D0 sparse for MC and remove unnecessary axes
  PWGHF/D2H/Tasks/taskD0.cxx
Labels: pwghf

#8743 [PWGHF] Updated LambdaB tree creator task
  PWGHF/TableProducer/treeCreatorLbToLcPi.cxx
Labels: pwghf

#8747 [PWGHF] added rapidity flag and corrected trigger condition
  PWGHF/D2H/Tasks/taskDirectedFlowCharmHadrons.cxx
Labels: pwghf

#8749 [DPG] Added monitoring of ITS dead map vs time
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Labels: dpg

#8751 [PWGHF] Update ccdb configuration as in central TOF task
  PWGHF/TableProducer/mcPidTof.cxx
Labels: pwghf

#8754 [PWGCF] DptDpt - Splitting the PID QC information
  PWGCF/TableProducer/dptdptfilter.cxx
  PWGCF/TableProducer/dptdptfilter.h
  PWGCF/Tasks/match-reco-gen.cxx
  PWGCF/TwoParticleCorrelations/Tasks/efficiencyAndQc.cxx
Labels: pwgcf

#8755 [DPG] Added counter of inactive chips per layer vs time
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Labels: dpg

#8756 [Common] latest centrality study additions
  Common/Tasks/centralityStudy.cxx
Labels: common

#8746 [PWGCF] minor additions and fixes
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-DataMembers.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-Enums.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
  PWGCF/MultiparticleCorrelations/Tasks/multiparticle-correlations-ab.cxx
Labels: pwgcf

#8739 [PWGCF] Task for flow analysis relative to Spectator Plane
  PWGCF/Flow/Tasks/CMakeLists.txt
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

#8757 [DPG] Added check for lastRun in processRun2
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Labels: dpg

#8758 [PWGCF] DptDpt - NUA&NUE corrections with configurable dimensions
  PWGCF/Tasks/dptdptcorrelations.cxx
Labels: pwgcf

#8745 [PWGLF] change in hStrangeCorrelation
  PWGLF/DataModel/LFHStrangeCorrelationTables.h
  PWGLF/TableProducer/Strangeness/hStrangeCorrelationFilter.cxx
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Labels: pwglf, datamodel

#8753 [Common] [TOF] fix parameters for negative tracks
  Common/TableProducer/PID/pidTOFMerge.cxx
Labels: common

#8762 Fix wrong type for receiving container
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Labels: dpg

#8763 Drop unneeded semicolon
  Common/TableProducer/multiplicityTable.cxx
Labels: common

#8597 [PWGJE] Add an extra table and vertexClustering function for GNN b-jet tagging
  PWGJE/Core/JetTaggingUtilities.h
  PWGJE/Tasks/bjetTreeCreator.cxx
Labels: pwgje

#8750 [PWGHF] Add info about number of tracks decayed to muons for D* spin alignment
  PWGHF/D2H/Tasks/taskCharmPolarisation.cxx
Labels: pwghf

#8768 [PWGUD] Update of personal task
  PWGUD/Core/UPCTauCentralBarrelHelperRL.h
  PWGUD/Tasks/upcTauCentralBarrelRL.cxx
Labels: pwgud

#8773 [Common] centrality study update
  Common/Tasks/centralityStudy.cxx
Labels: common

#8775 [Common,PWGLF] feat(nucleiSpectra): Add matching study histograms
  Common/DataModel/PIDResponseITS.h
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf, common, datamodel

#8778 [PWGHF] task to calculate directed flow of Dstar
  PWGHF/D2H/Tasks/taskDirectedFlowCharmHadrons.cxx
Labels: pwghf

#8706 [PWGHF] Use the Hf event selection for both tracks and charm hadrons
  PWGHF/HFC/TableProducer/CMakeLists.txt
  PWGHF/HFC/TableProducer/femtoDreamProducer.cxx
  PWGHF/Utils/utilsEvSelHf.h
Labels: pwghf

#8782 [PWGEM/Dilepton] update prefilter task for geom cut in ULS
  PWGEM/Dilepton/Tasks/prefilterDielectron.cxx
Labels: pwgem

#8783 [PWGCF] DptDpt - Efficiency and QC - Fixing linter errors
  PWGCF/TwoParticleCorrelations/Tasks/CMakeLists.txt
  PWGCF/TwoParticleCorrelations/Tasks/dptdptEfficiencyAndQc.cxx
Labels: pwgcf

#8765 [PWGLF] Update NucleiHistTask
  PWGLF/Tasks/Nuspex/NucleiHistTask.cxx
Labels: pwglf

#8774 [PWGLF] PWGLF/Tasks/Nuspex/spectraTOF.cxx
  PWGLF/Tasks/Nuspex/spectraTOF.cxx
Labels: pwglf

#8305 [PWGLF] v0ptinvmassplots task included memory/vector/string as requested by Megalinter.
  PWGLF/Tasks/Strangeness/v0ptinvmassplots.cxx
Labels: pwglf

#8785 [PWGCF] Create derived data from derived data to have only signal events for …
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/Core/femtoDreamPairCleaner.h
  PWGCF/FemtoDream/TableProducer/CMakeLists.txt
  PWGCF/FemtoDream/TableProducer/femtoDreamProducerTaskForSpecificAnalysis.cxx
  PWGCF/FemtoDream/Tasks/femtoDreamTripletTaskTrackTrackV0.cxx
Labels: pwgcf, datamodel

#8720 [PWGLF] added shift callibration
  PWGLF/TableProducer/Common/spvector.cxx
Labels: pwglf

#8784 [PWGEM/Dilepton] quick fix to phiv prefilter
  PWGEM/Dilepton/Core/Dilepton.h
Labels: pwgem

#8669 [PWGLF] Fix KF cascade daughter DCA calculation in cascadebuilder
  PWGLF/TableProducer/Strangeness/cascadebuilder.cxx
Labels: pwglf

#8780 [PWGHF,PWGJE] Declare common derived tables with macros
  PWGHF/DataModel/DerivedTables.h
  PWGHF/TableProducer/derivedDataCreatorBplusToD0Pi.cxx
  PWGHF/TableProducer/derivedDataCreatorD0ToKPi.cxx
  PWGJE/Core/JetHFUtilities.h
Labels: pwghf, pwgje, datamodel

#8788 [PWGHF] Fix typo in configurable name
  PWGHF/Utils/utilsEvSelHf.h
Labels: pwghf

#8790 [PWGEM] [PGWEM] fix FT0 occupancy cut in treeCreatorElectronML
  PWGEM/Dilepton/TableProducer/treeCreatorElectronML.cxx
Labels: pwgem

#8787 [PWGLF] occupancy checks for MC
  PWGLF/Tasks/Resonances/phianalysisrun3_PbPb.cxx
Labels: pwglf

#8796 [PWGCF] DptDpt - Efficiency and QC fixing linter errors on file name
  PWGCF/TwoParticleCorrelations/Tasks/CMakeLists.txt
  PWGCF/TwoParticleCorrelations/Tasks/dptDptEfficiencyAndQc.cxx
Labels: pwgcf

#8404 [Common] TrackQA: Add converter for _000 to _001
  Common/TableProducer/Converters/CMakeLists.txt
  Common/TableProducer/Converters/trackQAConverter.cxx
Labels: common

#8779 [PWGCF] Update lambdaR2Correlation.cxx
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#8797 [PWGCF] added SPM and corrected phi range
  PWGCF/Flow/TableProducer/CMakeLists.txt
  PWGCF/Flow/TableProducer/zdcQVectors.cxx
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

#8800 [PWGEM,PWGEM-36] EMCal rotation background add SM edges
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGamma.h
  PWGEM/PhotonMeson/Tasks/taskPi0FlowEMC.cxx
Labels: pwgem

#8791 [PWGUD] suppress SGProducers printouts to terminal
  PWGUD/TableProducer/SGCandProducer.cxx
Labels: pwgud

#8806 [PWGUD] updates to upcRhoAnalysis.cxx
  PWGUD/Tasks/upcRhoAnalysis.cxx
Labels: pwgud

#8805 [PWGLF] ebyeMult: get trigger efficiency + improve gen particle cuts
  PWGLF/Tasks/Nuspex/ebyeMult.cxx
Labels: pwglf

#8803 [PWGLF] Fix unbound indices in KF hypernuclei code
  PWGLF/DataModel/LFHypernucleiKfTables.h
  PWGLF/TableProducer/Nuspex/hypKfRecoTask.cxx
  PWGLF/TableProducer/Nuspex/hypKfTreeCreator.cxx
Labels: pwglf, datamodel

#8678 [PWGLF] Adding cut for selecting antitriton for tree saving
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf

#8772 [Infrastructure] Don't try to lint when no files are found
  .github/workflows/o2-linter.yml
Labels: infrastructure

#8814 [PWGLF] ebyeMaker: CL0 correlation checks only for Run 2
  PWGLF/TableProducer/Nuspex/ebyeMaker.cxx
Labels: pwglf

#8809 [PWGDQ] Adding TPC occupancy variables for PbPb (for now just testing)
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/DataModel/ReducedInfoTables.h
  PWGDQ/TableProducer/tableMaker.cxx
  PWGDQ/TableProducer/tableMakerMC.cxx
  PWGDQ/TableProducer/tableMakerMC_withAssoc.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
Labels: pwgdq, datamodel

#8815 [PWGJE,EMCAL-670] Add LG cell time correction parameters
  PWGJE/TableProducer/emcalCorrectionTask.cxx
Labels: pwgje

#8812 [PWGUD] mixed event bkg added
  PWGUD/Tasks/sginclusivePhiKstarSD.cxx
Labels: pwgud

#8818 [PWGDQ] Revert "[PWGDQ] Adding Tprofiles with Cumulants weights + fixing Pi constant …"
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.h
Labels: pwgdq

#8819 [PWGUD] update of personal task
  PWGUD/Tasks/upcTauCentralBarrelRL.cxx
Labels: pwgud

#8821 [PWGCF] FemtoUniverse - D0 task update
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackD0.cxx
Labels: pwgcf

#8823 [PWGLF] Add Zorro tool to get normalisation factor of trigger for analysis of H3L 3body decay
  PWGLF/TableProducer/Nuspex/CMakeLists.txt
  PWGLF/TableProducer/Nuspex/threebodyRecoTask.cxx
Labels: pwglf

#8824 [PWGJE] fix snp binning trackJetQA.cxx
  PWGJE/Tasks/trackJetQA.cxx
Labels: pwgje

#8807 [PWGHF] Add variables and selections to pid studies task
  PWGHF/Tasks/CMakeLists.txt
  PWGHF/Tasks/taskPidStudies.cxx
Labels: pwghf

#8822 [PWGJE] Adding 1D matched histograms for jet efficiency
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#8811 [PWGJE] Applied jet reduction factor for GNN process
  PWGJE/Tasks/bjetTreeCreator.cxx
Labels: pwgje

#8831 [PWGDQ] Adding protections to the prefiltering task; fix problem with exclusive MCSignals
  PWGDQ/Core/MCSignal.cxx
  PWGDQ/Core/MCSignal.h
  PWGDQ/Core/MCSignalLibrary.cxx
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#8832 [PWGLF] Fixed bug in histos filling in phik0sanalysis.cxx
  PWGLF/Tasks/Strangeness/phik0sanalysis.cxx
Labels: pwglf

#8810 [PWGLF] Modification to efficiency fit
  PWGMM/UE/Tasks/uecharged.cxx
Labels: pwglf

#8817 [PWGLF] Add rapidity cut and trigger selection to cascade correlations task
  PWGLF/Tasks/Strangeness/CMakeLists.txt
  PWGLF/Tasks/Strangeness/cascadecorrelations.cxx
Labels: pwglf

#8825 [PWGDQ] Fix vector type
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
Labels: pwgdq

#8828 [PWGDQ] Adding TProfile with cumulants weights + PI constants correctly
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.h
Labels: pwgdq

#8829 [PWGHF] Remove unnecessary subscriptions from B+ derived data creator
  PWGHF/TableProducer/derivedDataCreatorBplusToD0Pi.cxx
Labels: pwghf

#8837 [PWGDQ] Small fixes for data type of collision indices
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
Labels: pwgdq

#8839 [PWGLF] fix trigger efficiency
  PWGLF/Tasks/Nuspex/ebyeMult.cxx
Labels: pwglf

#8826 [PWGLF] Update PWGLF/Tasks/Nuspex/spectraTOF.cxx
  PWGLF/Tasks/Nuspex/spectraTOF.cxx
Labels: pwglf

#8846 [PWGJE] fixing default process functions
  PWGJE/TableProducer/eventwiseConstituentSubtractor.cxx
  PWGJE/TableProducer/rhoEstimator.cxx
  PWGJE/Tasks/jetSubstructureHF.cxx
Labels: pwgje

#8830 [PWGLF] added checks for misidentification of particle with antiparticle and comparison with other particles
  PWGLF/Tasks/Resonances/lambdav2.cxx
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#8770 [PWGCF] Updated CorrSparse with added histograms and a changed dPhi definition
  PWGCF/TwoParticleCorrelations/Tasks/CMakeLists.txt
  PWGCF/TwoParticleCorrelations/Tasks/corrSparse.cxx
Labels: pwgcf

#8845 [PWGCF] Added pt bins and fixed bins in getCorrection function
  PWGCF/Flow/TableProducer/zdcQVectors.cxx
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

#8854 [PWGLF] fill also zero in gen histogram
  PWGLF/Tasks/Nuspex/ebyeMult.cxx
Labels: pwglf

#8834 [PWGCF] FemtoUniverse -- Add minus-plus combination to track-nucleus task.
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackNucleus.cxx
Labels: pwgcf

#8836 [PWGLF] Update collision selection for Run2 converted data
  PWGLF/TableProducer/Resonances/CMakeLists.txt
  PWGLF/TableProducer/Resonances/resonanceInitializer.cxx
  PWGLF/Utils/collisionCuts.h
Labels: pwglf

#8847 [PWGCF] FemtoUniverse: Changing fillCollisionsCent to bool
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

#8799 [PWGHF] Fixing bugs for Lc-H correlation
  PWGHF/HFC/TableProducer/correlatorLcHadrons.cxx
  PWGHF/HFC/Tasks/taskCorrelationLcHadrons.cxx
Labels: pwghf

#8856 [PWGCF] FemtoUniverse: Changing fillCollisions() to bool
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

#8816 [Common] RecoDecay::constrainAngle: Support harmonics
  Common/Core/RecoDecay.h
Labels: common

#8851 [PWGCF] Changes in Reconstructed level process
  PWGCF/EbyEFluctuations/Tasks/CMakeLists.txt
  PWGCF/EbyEFluctuations/Tasks/meanPtFlucId.cxx
Labels: pwgcf

#8859 [PWGCF] additions to IV, validations of banishment loop, support for ES, etc.
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-DataMembers.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-Enums.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-GlobalConstants.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
  PWGCF/MultiparticleCorrelations/Tasks/multiparticle-correlations-ab.cxx
Labels: pwgcf

#8864 [PWGCF] DptDpt - Making the corrections dimensions configurable
  PWGCF/Tasks/dptdptcorrelations.cxx
Labels: pwgcf

#8862 [Common] mult framework cleanup + timestamps
  Common/DataModel/Multiplicity.h
  Common/TableProducer/multiplicityExtraTable.cxx
  Common/Tasks/centralityStudy.cxx
  Common/Tasks/multiplicityQa.cxx
Labels: common, datamodel

#8863 [PWGEM/Dilepton] update prefilter task
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Tasks/prefilterDielectron.cxx
Labels: pwgem

#8853 [PWGLF] add ITSnsigma cut and configurable of saving LSandUS
  PWGLF/TableProducer/Nuspex/he3HadronFemto.cxx
Labels: pwglf

#8855 [PWGHF] added cumulant corrections for flow
  PWGHF/D2H/Tasks/taskDirectedFlowCharmHadrons.cxx
Labels: pwghf

#8849 [PWGHF] Add missing subscription for D0 candidates tables
  PWGHF/D2H/Tasks/taskDirectedFlowCharmHadrons.cxx
Labels: pwghf

#8860 [PWGDQ] Adding correct errors for Tprofiles Cumulants
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#8871 [PWGEM/Dilepton] update createResolutionMap.cxx
  PWGEM/Dilepton/Tasks/createResolutionMap.cxx
Labels: pwgem

#8730 [DPG] Add the histo to cal. the decaylength of the mother particle
  DPG/Tasks/AOTTrack/qaEfficiency.cxx
Labels: dpg

#8872 [PWGDQ] Removing unneeded dependency to TrackCov in v0-selector; Adding process function which does not require TOF in the data skimmer
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
  PWGDQ/Tasks/v0selector.cxx
Labels: pwgdq

#8873 [PWGCF] DptDpt - Improve load corrections logs when issues
  PWGCF/Tasks/dptdptcorrelations.cxx
Labels: pwgcf

#8876 [Infrastructure] Update CODEOWNERS for LF
  CODEOWNERS
Labels: infrastructure

#8881 [PWGLF] feat: Add new features to the NonPromptCascadeTask
  PWGLF/DataModel/LFNonPromptCascadeTables.h
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf, datamodel

#8883 [PWGJE,EMCAL-670] Bugfix in EMCalCorrectionTask for ShaperCorrection
  PWGJE/TableProducer/emcalCorrectionTask.cxx
Labels: pwgje

#8838 [PWGCF] Addition of nSigma PID function
  PWGCF/Flow/Tasks/CMakeLists.txt
  PWGCF/Flow/Tasks/flowPbpbPikp.cxx
Labels: pwgcf

#8887 [PWGHF] Add MC Generated ThnSparse in Lc task
  PWGHF/D2H/Tasks/taskLc.cxx
Labels: pwghf

#8885 [Common] Preparations for MFT track-based centrality
  Common/DataModel/Multiplicity.h
  Common/TableProducer/multiplicityTable.cxx
Labels: common, datamodel

#8789 [PWGCF] adding ddbar mass histograms for normalization
  PWGCF/Tasks/correlations.cxx
Labels: pwgcf

#8879 [PWGCF] Addition of proton-neutron ZDC correlation task in TwoParticleCorrelations
  PWGCF/TwoParticleCorrelations/Tasks/CMakeLists.txt
  PWGCF/TwoParticleCorrelations/Tasks/neutronProtonCorrZdc.cxx
Labels: pwgcf

#8889 [PWGEM/Dilepton] update prefilter task
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Tasks/prefilterDielectron.cxx
  PWGEM/Dilepton/Utils/PairUtilities.h
Labels: pwgem

#8888 [PWGLF] added flags for TOF cuts and v0 to fourvector kinematics along with lower order cumulant corrections for charged particles
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#8877 [PWGLF] Charged K(892) flow analysis fill histograms
  PWGLF/Tasks/Resonances/CMakeLists.txt
  PWGLF/Tasks/Resonances/chk892flow.cxx
  PWGLF/Utils/collisionCuts.h
Labels: pwglf

#8875 [PWGDQ] [PWGDQ-120] debug of definition of cosine of pointing angle in dilepton-track-vertexing/VarManager.h
  PWGDQ/Core/VarManager.h
Labels: pwgdq

#8899 [PWGEM/Dilepton] update prefilter task
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Tasks/prefilterDielectron.cxx
Labels: pwgem

#8907 [PWGUD] personal task modification
  PWGUD/Tasks/upcJpsiCentralBarrelCorr.cxx
Labels: pwgud

#8900 [PWGLF] Update LFResonanceTables and Resonance Module Initialization Code
  PWGLF/DataModel/LFResonanceTables.h
  PWGLF/TableProducer/Resonances/CMakeLists.txt
  PWGLF/TableProducer/Resonances/resonanceInitializer.cxx
  PWGLF/TableProducer/Resonances/resonanceModuleInitializer.cxx
  PWGLF/Tasks/Resonances/xi1530Analysis.cxx
  PWGLF/Tasks/Resonances/xi1530Analysisqa.cxx
  PWGLF/Utils/collisionCuts.h
Labels: pwglf, datamodel

#8909 [PWGUD] QA updates to upcRhoAnalysis.cxx
  PWGUD/Tasks/upcRhoAnalysis.cxx
Labels: pwgud

#8897 [PWGCF] adding decay mask to second track
  PWGCF/Tasks/correlations.cxx
Labels: pwgcf

#8904 [PWGCF] support for EP angle and few more event cuts
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-DataMembers.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-Enums.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
  PWGCF/MultiparticleCorrelations/Tasks/multiparticle-correlations-ab.cxx
Labels: pwgcf

#8912 [PWGCF] FemtoUniverse: Removing V0-MClabels in data
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

#8903 [PWGDQ] fix configQA option in analysis-event-selection
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#8742 [PWGHF] Implement ML models in D0-h correlation
  PWGHF/HFC/DataModel/CorrelationTables.h
  PWGHF/HFC/TableProducer/correlatorD0Hadrons.cxx
  PWGHF/HFC/Tasks/taskCorrelationD0Hadrons.cxx
Labels: pwghf

#8896 [PWGJE,EMCAL-670] Add time differences into the clusterdefinition
  PWGJE/DataModel/EMCALClusterDefinition.h
  PWGJE/DataModel/EMCALClusters.h
  PWGJE/TableProducer/emcalCorrectionTask.cxx
Labels: pwgje, emcal, datamodel

#8771 [PWGHF] taskFlow.cxx: changes in how multiplicites are obtained.
  PWGHF/HFC/Tasks/taskFlow.cxx
Labels: pwghf

#8892 [PWGHF] PID inclusion for associated particles in Lc correlation
  PWGHF/HFC/DataModel/CorrelationTables.h
  PWGHF/HFC/TableProducer/correlatorLcHadrons.cxx
  PWGHF/HFC/Tasks/taskCorrelationLcHadrons.cxx
  PWGHF/HFC/Utils/utilsCorrelations.h
Labels: pwghf

#8920 [PWGJE] Fix compilation warnings
  PWGJE/Tasks/emcClusterMonitor.cxx
  PWGJE/Tasks/jetChargedV2.cxx
Labels: pwgje

#8924 [DPG] Fix multiple initialisations in histogram registry
  DPG/Tasks/AOTTrack/qaEfficiency.cxx
Labels: dpg

#8916 [PWGCF] Fix compilation warnings
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackNucleus.cxx
  PWGCF/Flow/TableProducer/zdcQVectors.cxx
  PWGCF/Flow/Tasks/FlowRunbyRun.cxx
  PWGCF/Flow/Tasks/flowSP.cxx
  PWGCF/TwoParticleCorrelations/Tasks/corrSparse.cxx
Labels: pwgcf

#8921 [PWGLF] Fix compilation warnings
  PWGLF/TableProducer/Common/spvector.cxx
  PWGLF/TableProducer/Nuspex/hypKfTreeCreator.cxx
  PWGLF/TableProducer/Resonances/resonanceInitializer.cxx
  PWGLF/TableProducer/Strangeness/cascadeflow.cxx
  PWGLF/TableProducer/Strangeness/sigma0builder.cxx
  PWGLF/Tasks/Nuspex/he3FromHypertritonMap.cxx
  PWGLF/Tasks/Resonances/lambdav2.cxx
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Labels: pwglf

#8922 [PWGLF] Fix compilation warnings
  PWGMM/Mult/Tasks/dndeta-mft-pbpb.cxx
  PWGMM/UE/Tasks/ue-zdc-analysys.cxx
Labels: pwglf

#8918 [PWGEM] Fix compilation warnings
  PWGEM/Tasks/phosCellQA.cxx
Labels: pwgem

#8923 [PWGUD] Fix compilation warnings
  PWGUD/Tasks/fwdMuonsUPC.cxx
  PWGUD/Tasks/sginclusivePhiKstarSD.cxx
  PWGUD/Tasks/upcJpsiCentralBarrelCorr.cxx
  PWGUD/Tasks/upcTauCentralBarrelRL.cxx
Labels: pwgud

#8917 [PWGDQ] Fix compilation warnings
  PWGDQ/Core/MCSignal.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
  PWGDQ/Tasks/dqEfficiency.cxx
  PWGDQ/Tasks/tableReader.cxx
Labels: pwgdq

#8914 [Common] Fix compilation warnings
  Common/Core/RecoDecay.h
  Common/TableProducer/match-mft-mch-data.cxx
Labels: common

#8915 [DPG] Fix compilation warnings
  DPG/Tasks/AOTTrack/PID/TPC/qaPIDTPCSignal.cxx
  DPG/Tasks/AOTTrack/qaEfficiency.cxx
  DPG/Tasks/AOTTrack/qaEventTrack.cxx
Labels: dpg

#8929 [PWGLF] initial commit for v0v0 reconstruction
  PWGLF/Tasks/Strangeness/CMakeLists.txt
  PWGLF/Tasks/Strangeness/lambdalambda.cxx
Labels: pwglf

#8919 [PWGHF] Fix compilation warnings
  PWGHF/D2H/Tasks/taskFlowCharmHadrons.cxx
  PWGHF/HFC/Tasks/taskFlow.cxx
  PWGHF/TableProducer/candidateCreatorXicToXiPiPi.cxx
  PWGHF/Tasks/taskMultiplicityEstimatorCorrelation.cxx
Labels: pwghf

#8932 [Infrastructure] [infrastructure] Update codeowners for PWGEM
  CODEOWNERS
Labels: infrastructure

#8908 [Infrastructure] Remove compilation warning exception sign-compare
  dependencies/O2PhysicsCompileFlags.cmake
Labels: infrastructure

#8925 [PWGLF] Fixing bugs in K*0 analysis in PbPb
  PWGLF/Tasks/Resonances/k892analysis_PbPb.cxx
Labels: pwglf

#8930 [PWGCF] FemtoUniverse: Reinstating Occupancy cut in col. table
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

#8933 [PWGLF] fix histogram names in ME process in cascade correlations
  PWGLF/Tasks/Strangeness/cascadecorrelations.cxx
Labels: pwglf

#8936 [PWGLF] Boosting daughter with v0 momentum
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#8939 [PWGLF] daughter momentum from v0 table
  PWGLF/Tasks/Strangeness/lambdapolarization.cxx
Labels: pwglf

#8942 [PWGEM/PhotonMeson] Fix Cluster-Collision assignment in emcQC task
  PWGEM/PhotonMeson/Tasks/emcalQC.cxx
  PWGEM/PhotonMeson/Utils/ClusterHistograms.h
Labels: pwgem

#8935 [PWGCF] flowtask: fix DCAz bug and draw TPCsector overlap
  PWGCF/Flow/Tasks/FlowTask.cxx
Labels: pwgcf

#8940 [PWGCF] Fill registry only when events are selected
  PWGCF/Flow/TableProducer/zdcQVectors.cxx
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

#8945 [PWGCF] Added the full TOF NSigma distribution to the Track QA
  PWGCF/MultiparticleCorrelations/Tasks/ThreeParticleCorrelations.cxx
Labels: pwgcf

#8947 [PWGLF] Add rotation background for f1-p correlation + correction term in resonance flow + modified table producer entry for f1-p analysis
  PWGLF/TableProducer/Resonances/f1protonreducedtable.cxx
  PWGLF/Tasks/Resonances/f1protoncorrelation.cxx
  PWGLF/Tasks/Resonances/phipbpb.cxx
Labels: pwglf

#8870 [PWGCF] add self corr
  PWGCF/Flow/Tasks/pidcme.cxx
Labels: pwgcf

#8943 [PWGLF] added configurable selections and new histos
  PWGLF/Tasks/Nuspex/AngularCorrelationsInJets.cxx
Labels: pwglf

#8944 [PWGLF] nonPromptCascade task: fixed check on cascades from HF
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf

#8946 [PWGHF] Fix compilation warnings
  PWGHF/HFC/Tasks/taskFlow.cxx
Labels: pwghf

#8948 [PWGEM/Dilepton] update dilepton HBT
  PWGEM/Dilepton/Core/DielectronCut.cxx
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/TableProducer/filterDielectronEvent.cxx
  PWGEM/Dilepton/Tasks/vpPairQC.cxx
  PWGEM/Dilepton/Tasks/vpPairQCMC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
Labels: pwgem

#8949 [PWGLF] Update on mother's decay length.
  PWGLF/Tasks/Nuspex/spectraTOF.cxx
Labels: pwglf

#8950 [PWGLF] Update Data Model and Improve DF Mixing Study for Resonances
  PWGLF/DataModel/LFResonanceTables.h
  PWGLF/DataModel/LFResonanceTablesMergeDF.h
  PWGLF/TableProducer/Resonances/LFResonanceMergeDF.cxx
  PWGLF/Tasks/Resonances/lambda1520_PbPb.cxx
Labels: pwglf, datamodel

#8952 [PWGCF] Fix compilation warnings
  PWGCF/Flow/TableProducer/zdcQVectors.cxx
Labels: pwgcf

#8951 [PWGLF] Fix compilation warnings
  PWGLF/Tasks/Nuspex/AngularCorrelationsInJets.cxx
Labels: pwglf
