Repository AliceO2Group/O2Physics, pull requests merged in 2024-10, with the labels that each got.

#8037 PWGHF: add to Xic0 tree TPC info for systematic
  PWGHF/TableProducer/treeCreatorToXiPi.cxx
Labels: pwghf

#8044 Common/EventSelection: switch back to aod::Tracks subscription for Run2
  Common/TableProducer/eventSelection.cxx
Labels: common

#8048 Fix: upload chunks for the zorro chunked processing
  EventFiltering/macros/uploadOTSobjects.C
Labels: trigger

#8049 Add labels for PRs in EventFiltering/**
  .github/labeler.yml
Labels: infrastructure

#8054 PWGCF:FemtoUniverse - MCTruth update
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerMCTruthTask.cxx
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackD0.cxx
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackMcTruth.cxx
Labels: pwgcf

#8055 [PWGLF] Add histograms to check inv. mass Vs Phi Vs Eta
  PWGLF/TableProducer/Strangeness/Converters/straevselsconverter2.cxx
  PWGLF/Tasks/Strangeness/derivedlambdakzeroanalysis.cxx
Labels: pwglf

#8057 PWGLF: Fix mc event selection and fill of mc output table for hypertriton 3body decay analysis
  PWGLF/TableProducer/Nuspex/threebodyRecoTask.cxx
  PWGLF/Tasks/Nuspex/hypertriton3bodyanalysis.cxx
Labels: pwglf

#8056 PWGEM/Dilepton: update eventQC
  PWGEM/Dilepton/Tasks/eventQC.cxx
  PWGEM/Dilepton/Utils/EventHistograms.h
Labels: pwgem

#8061 Revert "Common/EventSelection: switch back to aod::Tracks subscription for Run2"
  Common/TableProducer/eventSelection.cxx
Labels: common

#8058 Drop unused variables
  Common/TableProducer/Converters/bcFlagsCreator.cxx
  Common/TableProducer/match-mft-ft0.cxx
  Common/TableProducer/multiplicityTable.cxx
  Common/TableProducer/zdc-task-intercalib.cxx
Labels: common

#8062 PWGMM/Mult/Tasks/heavy-ion-mult.cxx: Bug fixes
  PWGMM/Mult/Tasks/heavy-ion-mult.cxx
Labels: pwglf

#8063 PWGEM/Dilepton: minor change in histogram
  PWGEM/Dilepton/Core/Dilepton.h
Labels: pwgem

#8060 PWGCF: switch from strings to arrays in few configurables + additiona…
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-DataMembers.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
Labels: pwgcf

#8064 Common: fix Run 2 evSel
  Common/TableProducer/eventSelection.cxx
Labels: common

#8066 PWGEM/Dilepton: update ITS cluster size cut
  PWGEM/Dilepton/Core/DielectronCut.cxx
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/Tasks/eventQC.cxx
Labels: pwgem

#8052 PWGUD: updates to upcRhoAnalysis.cxx
  PWGUD/Tasks/upcRhoAnalysis.cxx
Labels: pwgud

#8065 PWGUD: personal changes in code and code cleanup
  PWGUD/Tasks/upcJpsiCentralBarrelCorr.cxx
Labels: pwgud

#8068 Fix timestamp generation in Zorro
  EventFiltering/Zorro.cxx
Labels: trigger

#7988 COMMON: retrieve qvector corrections from CCDB using runnumber
  Common/TableProducer/qVectorsTable.cxx
Labels: common

#8070 PWGEM/Dilepton: revert ITS cluster size cut
  PWGEM/Dilepton/Core/DielectronCut.cxx
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
Labels: pwgem

#8071 PWGLF: corrected a bug for azimuthal angle calculation of particles
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#8053 PWGJE: Fix excessive use of `RecoDecay::constrainAngle`
  PWGJE/Core/JetUtilities.h
  PWGJE/Tasks/jetTutorial.cxx
Labels: pwgje

#8025 [PWGEM] Single track QC: Increase range of DCA axis
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
Labels: pwgem

#7751 PWGHF/HFL: Add 2DHistogram in electronselection table and correct electron trackid in HFelectron correlationtask
  PWGHF/HFC/TableProducer/correlatorHfeHadrons.cxx
  PWGHF/HFL/TableProducer/electronSelectionWithTpcEmcal.cxx
Labels: pwghf

#8050 Update HistogramsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#8069 PWGCF: add 4-particle correlations flow
  PWGCF/Flow/Tasks/flowGFWOmegaXi.cxx
Labels: pwgcf

#8075 PWGEM/Dilepton: add flexibility to apply asymmetric zvtx cut
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
Labels: pwgem

#8076 PWFCF: minor fixed here and there
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
Labels: pwgcf

#8078 PWGLF: added more QA plots for cross check with published
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#8079 PWGLF: Minor additions and fixes to KFParticle reconstruction in decay3bodybuilder task and threebodyKFTask
  PWGLF/DataModel/Vtx3BodyTables.h
  PWGLF/TableProducer/Nuspex/decay3bodybuilder.cxx
  PWGLF/TableProducer/Nuspex/threebodyKFTask.cxx
Labels: pwglf

#8083 [PWGDQ] Add centrality + pt + eta + phi info in MID efficiency task
  PWGDQ/Tasks/MIDefficiency.cxx
Labels: pwgdq

#8085 [PWGDQ] Adding task to do Fwd tracks PID
  PWGDQ/Tasks/CMakeLists.txt
  PWGDQ/Tasks/taskFwdTrackPid.cxx
Labels: pwgdq

#8088 PWGCF / FemtoUniverse : Widening the binning of QA plots
  PWGCF/FemtoUniverse/Core/FemtoUniverseEventHisto.h
Labels: pwgcf

#8043 PWGHF: Fixing errors related to KF-variable calculation of OmegaC0.
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
  PWGHF/TableProducer/treeCreatorOmegacToOmegaPi.cxx
Labels: pwghf

#8081 PWGHF: Fix missing downSampleBkgFactor for data
  PWGHF/TableProducer/derivedDataCreatorD0ToKPi.cxx
Labels: pwghf

#8035 PWGHF: Unify different partitions in Ds task
  PWGHF/D2H/Tasks/taskDs.cxx
Labels: pwghf

#8092 PWGLF: Change in derivedcascadeanalysis.cxx
  PWGLF/Tasks/Strangeness/derivedcascadeanalysis.cxx
Labels: pwglf

#8082 PWGHF: taskFlow.cxx: Solved problems with TPC-MFT HF-h mixed event
  PWGHF/HFC/Tasks/taskFlow.cxx
Labels: pwghf

#8094 [PWG:LF] adding lambda vn histograms for QA
  PWGLF/Tasks/Strangeness/lambdapolarization.cxx
Labels: pwglf

#8072 PWGLF: Updates in sigma0 tasks
  PWGLF/DataModel/LFSigmaTables.h
  PWGLF/TableProducer/Strangeness/sigma0builder.cxx
  PWGLF/Tasks/Strangeness/sigmaanalysis.cxx
Labels: pwglf

#8097 PWGLF: added SP method for v1 and 2D histogram of Q vs cent for validating ZDC callibration
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#8102 Update the default base CCDB path for Zorro
  EventFiltering/Zorro.h
Labels: trigger

#8051 PWGHF: Add centrality (FT0C as default) in Lc task
  PWGHF/D2H/Tasks/taskLc.cxx
Labels: pwghf

#8104 Tighter PID selection for DCA hist in nucleiSpectra task
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf

#8090 PWGMM/Mult/Tasks/heavy-ion-mult.cxx: Add occupancy cut MC reco level
  PWGMM/Mult/Tasks/heavy-ion-mult.cxx
Labels: pwglf

#8106 PWGCF: FemtoUniverse track-V0 task -- added MC process functions for V0-V0 pairs
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackV0Extended.cxx
Labels: pwgcf

#8103 PWGHF: Add histograms directories to Xic task
  PWGHF/D2H/Tasks/taskXic.cxx
Labels: pwghf

#8100 PWGEM: Change delta phi for HFll. Signed, from -pi/2 to 3pi/2.
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
Labels: pwgem

#8098 PWGJE: fix issue with abs function
  PWGJE/Tasks/ChJetTriggerQATask.cxx
Labels: pwgje

#8108 Infrastructure: Labeler: Automatically sync labels
  .github/workflows/labeler.yml
Labels: infrastructure

#8114 PWGLF: make the EM faster in li4 analysis
  PWGLF/TableProducer/Nuspex/lithium4analysis.cxx
Labels: pwglf

#8115 PWGLF: add gen cascades table to non-prompt-cascades task
  PWGLF/DataModel/LFNonPromptCascadeTables.h
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf

#8117 [PWGUD] Two-pi analyzer task output AO2D added
  PWGUD/Tasks/sgTwoPiAnalyzer.cxx
Labels: pwgud

#8119 [PWGDQ] Removing useless part to the PID task
  PWGDQ/Tasks/tableReader.cxx
  PWGDQ/Tasks/taskFwdTrackPid.cxx
Labels: pwgdq

#8112 checks on outlier cut for matched jets
  PWGJE/Tasks/jetfinderQA.cxx
  PWGJE/Tasks/jetfinderfullQA.cxx
  PWGJE/Tasks/jetfinderhfQA.cxx
Labels: pwgje

#8036 [PWGJE] Add efficiency and response matrix (MC)
  PWGJE/Tasks/jetSpectraEseTask.cxx
Labels: pwgje

#8122 PWGLF, AngularCorrelationsInJets.cxx: improved task
  PWGLF/Tasks/Nuspex/AngularCorrelationsInJets.cxx
  PWGLF/Tasks/Nuspex/CMakeLists.txt
Labels: pwglf

#8124 Update of event selection task: new FT0C-based occupancy estimation, tuning of occupancy bits, new bits for the in-ROF pileup rejection
  Common/CCDB/EventSelectionParams.cxx
  Common/CCDB/EventSelectionParams.h
  Common/DataModel/EventSelection.h
  Common/TableProducer/eventSelection.cxx
  DPG/Tasks/AOTEvent/CMakeLists.txt
  DPG/Tasks/AOTEvent/rofOccupancyQa.cxx
Labels: common, dpg

#8121 PWGHF: add pT vs. Y histos in correlatorDMesonPairs.cxx
  PWGHF/HFC/TableProducer/correlatorDMesonPairs.cxx
Labels: pwghf

#8127 [PWGEM-36] Creation of task for Pi0 flow
  PWGEM/PhotonMeson/Core/EMCPhotonCut.cxx
  PWGEM/PhotonMeson/Core/EMCPhotonCut.h
  PWGEM/PhotonMeson/TableProducer/skimmerGammaCalo.cxx
  PWGEM/PhotonMeson/Tasks/CMakeLists.txt
  PWGEM/PhotonMeson/Tasks/taskPi0FlowEMC.cxx
Labels: pwgem

#7960 [PWGJE] DataModel/EMCALClusters.h - Add new EMCALClusterDefinition
  PWGJE/DataModel/EMCALClusters.h
  PWGJE/TableProducer/emcalCorrectionTask.cxx
  PWGJE/Tasks/emcclustermonitor.cxx
  PWGJE/Tasks/emctmmonitor.cxx
Labels: pwgje, emcal

#8107 PWGHF: Adjust histos in mc validation task
  PWGHF/Tasks/taskMcValidation.cxx
Labels: pwghf

#8129 PWGMM - Lumi: Resolving histo access in alihyperloop
  PWGMM/Lumi/Tasks/lumiStability.cxx
Labels: pwglf

#8130 PWGCF: further validation of particle weights + clean up + improved d…
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
  PWGCF/MultiparticleCorrelations/Tasks/multiparticle-correlations-ab.cxx
Labels: pwgcf

#8128 PWGCF: fix an error of configurable in flowGFWOmegaXi.cxx
  PWGCF/Flow/Tasks/flowGFWOmegaXi.cxx
Labels: pwgcf

#8131 [PWGEM-36]/PhotonMeson: Add configs to cut on TM dEta and dPhi
  PWGEM/PhotonMeson/TableProducer/skimmerGammaCalo.cxx
Labels: pwgem

#8133 PWGCF / FemtoUniverse : Fixing bug of applying cuts on rejected event…
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

#8134 PWGLF: fix missing zvtx selection
  PWGLF/Tasks/Nuspex/nucleiEbye.cxx
Labels: pwglf

#8138 PWGLF: Update to the current data model
  PWGLF/TableProducer/Strangeness/cascadeflow.cxx
Labels: pwglf

#8139 PWGJE: Adding MC event weights to substructure analysis
  PWGJE/DataModel/Jet.h
  PWGJE/DataModel/JetSubstructure.h
  PWGJE/Tasks/jetsubstructurehfoutput.cxx
  PWGJE/Tasks/jetsubstructureoutput.cxx
Labels: pwgje

#8142 PWGEM/Dilepton: update event qc task
  PWGEM/Dilepton/Tasks/eventQC.cxx
Labels: pwgem

#8067 PWGLF:To add charged Kstar in pp using THnsparse
  PWGLF/Tasks/Resonances/chargedkstaranalysis.cxx
Labels: pwglf

#8143 PWGLF:Moving analysis code from PWGMM/UE to PWGLF/Strangeness
  PWGLF/Tasks/Strangeness/CMakeLists.txt
  PWGLF/Tasks/Strangeness/lambdak0sflattenicity.cxx
  PWGMM/UE/Tasks/CMakeLists.txt
Labels: pwglf

#8145 PWGCF: fix a bug at flowGFWOmegaXi.cxx
  PWGCF/Flow/Tasks/flowGFWOmegaXi.cxx
Labels: pwgcf

#8144 PWGLF:: To add the namspace for abs
  PWGLF/Tasks/Resonances/k892pmanalysis.cxx
Labels: pwglf

#8132 Update PWGLF/Tasks/Nuspex/spectraTOF.cxx
  PWGLF/Tasks/Nuspex/spectraTOF.cxx
Labels: pwglf

#8148 PWGLF: Fix PV cov matrix entry and gen decay vertex array in KF hypertriton 3-body reconstruction
  PWGLF/TableProducer/Nuspex/decay3bodybuilder.cxx
  PWGLF/TableProducer/Nuspex/threebodyKFTask.cxx
Labels: pwglf

#8141 [PWGCF] singletrackselector: Add TPC nsigma electron and Zorro utils
  PWGCF/Femto3D/DataModel/singletrackselector.h
  PWGCF/Femto3D/TableProducer/CMakeLists.txt
  PWGCF/Femto3D/TableProducer/singleTrackSelector.cxx
Labels: pwgcf

#8151 [PWGEM-36] Pi0Flow: added QA histograms to easily check quality in te…
  PWGEM/PhotonMeson/Tasks/taskPi0FlowEMC.cxx
Labels: pwgem

#8152 [PWGLF] Add new occupancy features + change ccdb getters in lambdakzero/cascade pid
  PWGLF/DataModel/LFStrangenessTables.h
  PWGLF/TableProducer/Strangeness/Converters/CMakeLists.txt
  PWGLF/TableProducer/Strangeness/Converters/straevselsconverter2rawcents2.cxx
  PWGLF/TableProducer/Strangeness/Converters/straevselsconverter2rawcents3.cxx
  PWGLF/TableProducer/Strangeness/Converters/straevselsconverter3.cxx
  PWGLF/TableProducer/Strangeness/cascadepid.cxx
  PWGLF/TableProducer/Strangeness/lambdakzeropid.cxx
  PWGLF/TableProducer/Strangeness/strangederivedbuilder.cxx
  PWGLF/Tasks/Strangeness/derivedlambdakzeroanalysis.cxx
Labels: pwglf

#8154 PWGEM: treeCreatorElectronML also for derived data
  PWGEM/Dilepton/TableProducer/treeCreatorElectronML.cxx
Labels: pwgem

#8155 [PWGUD] Fixing UPCCandProducer problem after upcflag introduction + personal task modification
  PWGUD/TableProducer/UPCCandidateProducer.cxx
  PWGUD/Tasks/upcTauCentralBarrelRL.cxx
Labels: pwgud

#8156 PWGLF: Add occupancy in the reso collision table
  PWGLF/DataModel/LFResonanceTables.h
  PWGLF/TableProducer/Resonances/LFResonanceInitializer.cxx
Labels: pwglf

#8157 PWGLF: Delete unused tof pid recalculation and modify histograms creation for decay3bodybuilder
  PWGLF/TableProducer/Nuspex/decay3bodybuilder.cxx
Labels: pwglf

#8146 PWGEM:LMee: added new cuts and histogram for opening angle
  PWGEM/Dilepton/Core/DielectronCut.cxx
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
Labels: pwgem

#8166 [PWGLF] nuclei-proton correlations: add purity and TPCEl rejection
  PWGLF/Tasks/Nuspex/hadronnucleicorrelation.cxx
Labels: pwglf

#8167 Common: changes to multiplicity study variables
  Common/DataModel/Multiplicity.h
  Common/TableProducer/Converters/CMakeLists.txt
  Common/TableProducer/Converters/multsExtraConverter.cxx
  Common/TableProducer/multiplicityTable.cxx
Labels: common

#8162 PWGLF: Added more variables for derived data table and flag to use global vs tpc momentum
  PWGLF/DataModel/SPCalibrationTables.h
  PWGLF/TableProducer/Common/spvector.cxx
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#8168 PWGJE: adding track selection for TT derived data
  PWGJE/TableProducer/jetderiveddatawriter.cxx
Labels: pwgje

#8110 [PWGLF] adding occupancy selection
  PWGLF/Tasks/Strangeness/lambdapolarization.cxx
Labels: pwglf

#8150 [PWGJE] Implementation of perpcone into the task
  PWGJE/Tasks/nucleiInJets.cxx
Labels: pwgje

#8169 PWGLF: added occupancy selection
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#8140 PWGCF: Update lambdaR2Correlation.cxx
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#8084 PWGHF: Derived data for ME in Ds-h correlation analysis
  PWGHF/HFC/DataModel/DerivedDataCorrelationTables.h
  PWGHF/HFC/TableProducer/correlatorDsHadrons.cxx
Labels: pwghf

#8136 PWGCF - Calibration study of ZDC SP for charge dependent flow studies
  PWGCF/DataModel/SPTableZDC.h
  PWGCF/Flow/TableProducer/CMakeLists.txt
  PWGCF/Flow/TableProducer/ZDCQvectors.cxx
Labels: pwgcf

#8123 PWGCF: add triton and He3 PID to femtodream data model
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/Core/femtoDreamParticleHisto.h
  PWGCF/FemtoDream/TableProducer/femtoDreamProducerReducedTask.cxx
  PWGCF/FemtoDream/TableProducer/femtoDreamProducerTask.cxx
  PWGHF/HFC/TableProducer/femtoDreamProducer.cxx
Labels: pwghf, pwgcf

#8182 Please consider the following formatting changes to #8181
  Common/Tasks/centralityStudy.cxx
Labels: common

#8170 PWGEM/Dilepton: bug fix after #8100 and #8146
  PWGEM/Dilepton/Core/DielectronCut.cxx
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
Labels: pwgem

#8174 [PWGLF]: fixed sign in TOF selection
  PWGLF/TableProducer/Nuspex/lithium4analysis.cxx
Labels: pwglf

#8176 PWGCF: Update lambdaR2Correlation.cxx
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#8177 [PWGLF] nuclei-proton correlation: fix bug in De identification
  PWGLF/Tasks/Nuspex/hadronnucleicorrelation.cxx
Labels: pwglf

#8111 PWGCF: FemtoUniverse - Adding FDCascParticles table to FemtoDerived
  PWGCF/FemtoUniverse/DataModel/FemtoDerived.h
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackCascadeExtended.cxx
Labels: pwgcf

#8173 PWGHF: refactory of TOF MC task with recalibration following main TOF tasks
  PWGHF/TableProducer/mcPidTof.cxx
Labels: pwghf

#8180 PWGLF: Fix a bug of TPC nclusters cut and change the order of cuts on tracks for analysis of hypertriton 3body decay
  PWGLF/TableProducer/Nuspex/decay3bodybuilder.cxx
  PWGLF/TableProducer/Nuspex/threebodyRecoTask.cxx
  PWGLF/Tasks/Nuspex/hypertriton3bodyanalysis.cxx
Labels: pwglf

#8178 PWGHF: Turn off EP-related axes in flow thnsparse
  PWGHF/D2H/Tasks/taskFlowCharmHadrons.cxx
Labels: pwghf

#8181 Common: update centrality analysis for glauber fit studies
  Common/Tasks/centralityStudy.cxx
Labels: common

#8185 [PWG-DQ] enlarging the pT range
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#8184 [PWGLF] adding configurable to test flow and polarization
  PWGLF/Tasks/Strangeness/lambdapolarization.cxx
Labels: pwglf

#8186 PWGLF: add TOF information to hyp task
  PWGLF/DataModel/LFHypernucleiTables.h
  PWGLF/TableProducer/Nuspex/hyperRecoTask.cxx
Labels: pwglf

#8187 EventFiltering/PWGHF: fix sign of pion bachelor in B+ -> D0bar pi+
  EventFiltering/PWGHF/HFFilter.cxx
Labels: pwghf, trigger

#8095 [PWGDQ]: update Zorro
  EventFiltering/Zorro.cxx
  EventFiltering/Zorro.h
  PWGDQ/TableProducer/tableMaker.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
  PWGDQ/Tasks/tableReader.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: trigger, pwgdq

#8199 Add the PR cleaner workflow
  .github/workflows/clean-test.yml
Labels: infrastructure

#8191 PWGEM/Dilepton: update event and electron table and add 2 converters
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/DataModel/lmeeMLTables.h
  PWGEM/Dilepton/TableProducer/CMakeLists.txt
  PWGEM/Dilepton/TableProducer/createEMEventDilepton.cxx
  PWGEM/Dilepton/TableProducer/filterDielectronEvent.cxx
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
  PWGEM/Dilepton/TableProducer/skimmerSecondaryElectron.cxx
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
  PWGEM/Dilepton/TableProducer/treeCreatorSingleElectronQA.cxx
  PWGEM/Dilepton/Tasks/CMakeLists.txt
  PWGEM/Dilepton/Tasks/Converters/CMakeLists.txt
  PWGEM/Dilepton/Tasks/Converters/electronConverter1.cxx
  PWGEM/Dilepton/Tasks/Converters/eventConverter1.cxx
  PWGEM/PhotonMeson/TableProducer/createEMEventPhoton.cxx
Labels: pwgem

#8192 [PWGCF] Use global track selection
  PWGCF/Flow/Tasks/FlowGFWPbPb.cxx
Labels: pwgcf

#8206 Please consider the following formatting changes to #8205
  Common/Tasks/centralityStudy.cxx
Labels: common

#8213 Please consider the following formatting changes to #8205
  Common/Tasks/centralityStudy.cxx
Labels: common

#8214 Please consider the following formatting changes to #8205
  Common/Tasks/centralityStudy.cxx
Labels: common

#8149 Common: ESE splines for FT0-A and FV0-A
  Common/Core/FFitWeights.cxx
  Common/Core/FFitWeights.h
  Common/DataModel/EseTable.h
  Common/TableProducer/eseTableProducer.cxx
Labels: common

#8175 PWGCF: Added nogap method to FlowPtContainer
  PWGCF/GenericFramework/Core/FlowPtContainer.cxx
  PWGCF/GenericFramework/Core/FlowPtContainer.h
  PWGCF/GenericFramework/Tasks/flowGenericFramework.cxx
Labels: pwgcf

#8197 EventFiltering/PWGHF: fix B 3prong in case of double mass hypo for D0
  EventFiltering/PWGHF/HFFilter.cxx
Labels: pwghf, trigger

#8198 [PWGLF] adding QA histogram
  PWGLF/Tasks/Strangeness/lambdapolarization.cxx
Labels: pwglf

#8201 PWGCF: flow: add Run3ITSall7Layers option and a new run-by-run task
  PWGCF/Flow/Tasks/CMakeLists.txt
  PWGCF/Flow/Tasks/FlowRunbyRun.cxx
  PWGCF/Flow/Tasks/FlowTask.cxx
Labels: pwgcf

#8203 PWGDQ: add single-track variables for D daughters in the JPsi-D reduced data model
  PWGDQ/DataModel/ReducedInfoTables.h
  PWGDQ/TableProducer/tableMakerJpsiHf.cxx
  PWGDQ/Tasks/taskJpsiHf.cxx
Labels: pwgdq

#8209 PWGLF: Add like-sign reconstruction for hypertriton 3body analysis
  PWGLF/TableProducer/Nuspex/threebodyRecoTask.cxx
  PWGLF/Tasks/Nuspex/hypertriton3bodyanalysis.cxx
Labels: pwglf

#8195 PWGLF: Adding TPC PID + Mass pre-selection for photons
  PWGLF/TableProducer/Strangeness/lambdakzerobuilder.cxx
Labels: pwglf

#8211 [PWGLF]: GEP: add occupancy axis to histograms in dndeta task
  PWGMM/Mult/Core/include/Functions.h
  PWGMM/Mult/Core/include/Histograms.h
  PWGMM/Mult/Tasks/dndeta.cxx
Labels: pwglf

#8205 Common: add UPC coll selection flag, vertex-Z correlation in cent study task
  Common/Tasks/centralityStudy.cxx
Labels: common

#8202 [PWGDQ] add TPCnCRoverFindCls as variable
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGEM/Dilepton/Tasks/MCtemplates.cxx
Labels: pwgem, pwgdq

#8217 [PWGDQ-120] added multidimentional histogram in dilepton-track (HistogramLibrary.cxx)
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/VarManager.cxx
Labels: pwgdq

#8212 PWGEM:LMee: add histograms for mean ITS cluster size for inner and ou…
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
Labels: pwgem

#8222 PWGEM/Dilepton: add possibility to use DCAz
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
  PWGEM/Dilepton/Utils/EMTrackUtilities.h
  PWGEM/Dilepton/Utils/PairUtilities.h
Labels: pwgem

#8224 [Infrastructure] Bump MegaLinter to v8.1.0
  .github/workflows/mega-linter.yml
Labels: infrastructure

#8225 PWGLF: seamless treatment of cascade cov mats in builder / data model
  PWGLF/DataModel/LFStrangenessTables.h
  PWGLF/TableProducer/Strangeness/cascadebuilder.cxx
Labels: pwglf

#8226 PWGCF: Add PDG code selections for the MC particle correlations
  PWGCF/Tasks/correlations.cxx
Labels: pwgcf

#8227 [PWGDQ]: Update HistogramManager to automatically populate run-by-run QA histograms
  PWGDQ/Core/HistogramManager.cxx
  PWGDQ/Core/HistogramManager.h
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#8101 Add histograms for unambiguous muons by event-mixing
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#8179 Use staged macro
  PWGDQ/DataModel/ReducedInfoTables.h
  PWGHF/DataModel/DerivedTables.h
  PWGHF/DataModel/DerivedTablesStored.h
  PWGJE/Core/JetCandidateUtilities.h
  PWGJE/Core/JetHFUtilities.h
  PWGJE/DataModel/JetReducedData.h
  PWGJE/DataModel/JetReducedDataDQ.h
  PWGJE/DataModel/JetReducedDataHF.h
  PWGJE/DataModel/JetReducedDataV0.h
  PWGLF/DataModel/LFStrangenessTables.h
  PWGLF/DataModel/V0SelectorTables.h
  PWGMM/Mult/DataModel/ReducedTables.h
Labels: pwghf, pwglf, pwgje, pwgdq

#8219 PWGCF / FemtoUniverse : Replacing multNtr with multV0M for multiplici…
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrack3DMultKtExtended.cxx
Labels: pwgcf

#8200 [PWGLF]: added QA histograms for purity evaluation
  PWGLF/TableProducer/Nuspex/lithium4analysis.cxx
Labels: pwglf

#8252 checkov: Add configuration file with exceptions.
  .checkov.yml
Labels: infrastructure

#8229 [PWGDQ] Average of Correlators - Multi-particle cumulants method
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
Labels: pwgdq

#8250 cpplint: Ignore indentation inside namespace.
  CPPLINT.cfg
Labels: infrastructure

#8233 [PWGDQ] New TPC&TOF cuts for electrons
  PWGDQ/Core/CutsLibrary.cxx
Labels: pwgdq

#8234 [PWGDQ] Update HistogramsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#8235 [DPG] Fix photon charge
  DPG/Tasks/AOTTrack/PID/HMPID/analysisHMPID.cxx
  DPG/Tasks/AOTTrack/PID/HMPID/qaHMPID.cxx
Labels: dpg

#8231 DPL Analysis: rename `aod::Hashes` for upcoming O2 update
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/Tasks/femtoDreamHashTask.cxx
  PWGCF/FemtoUniverse/DataModel/FemtoDerived.h
  PWGCF/FemtoUniverse/Tasks/femtoUniverseHashTask.cxx
  PWGCF/FemtoWorld/Tasks/femtoWorldHashTask.cxx
  Tutorials/src/eventMixing.cxx
  Tutorials/src/tracksCombinations.cxx
Labels: pwgcf, tutorial

#8228 PWGLF: add hLnnCandLoss and QA purity plots
  PWGLF/TableProducer/Nuspex/lnnRecoTask.cxx
Labels: pwglf

#8232 PWGF: Fix pdg codes in femtodream
  PWGCF/FemtoDream/Core/femtoDreamParticleHisto.h
  PWGCF/FemtoDream/Core/femtoDreamUtils.h
Labels: pwgcf
