Repository AliceO2Group/O2Physics, pull requests merged in 2025-02, with the labels that each got.

#9670 [PWGCF] FemtoUniverse cascade task -- implemented TOF requirement for cascade bachelors
  PWGCF/FemtoUniverse/Core/FemtoUniverseCascadeSelection.h
Labels: pwgcf

#9672 [PWGDQ] Removing temporarily v3 histos from flow-dimuon & res-flow-dimuon
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#9674 [PWGHF] Fix a name error
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
Labels: pwghf

#9676 [PWGLF] Add process function to calculate eventplane dependent matching efficiency for phi meson flow measurement
  PWGLF/Tasks/Resonances/highmasslambda.cxx
  PWGLF/Tasks/Resonances/phipbpb.cxx
Labels: pwglf

#9677 [PWGLF] K892PM Flow - Optimise the binning and remove unused variables
  PWGLF/Tasks/Resonances/chk892Flow.cxx
Labels: pwglf

#9678 [PWGCF] flow-task: add centrality estimators
  PWGCF/Flow/Tasks/flowTask.cxx
Labels: pwgcf

#9682 [PWGCF] Update PID selection and histograms
  PWGCF/EbyEFluctuations/Tasks/meanPtFlucId.cxx
Labels: pwgcf

#9681 [PWGUD] Added MC Gen and MC Reconstruction
  PWGUD/Tasks/exclusiveRhoTo4Pi.cxx
Labels: pwgud

#9641 [PWGLF] added its cluster size cut
  PWGLF/TableProducer/Nuspex/CMakeLists.txt
  PWGLF/TableProducer/Nuspex/trHeAnalysis.cxx
Labels: pwglf

#9687 [PWGHF] refined soft pion selection in tcc tree creator
  PWGHF/TableProducer/treeCreatorTccToD0D0Pi.cxx
Labels: pwghf

#9686 [PWGCF] FemtoUniverse cascade task -- to fill output cascades for mc truth
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

#9684 [PWGCF] Add new event selections and track QA
  PWGCF/Flow/Tasks/pidcme.cxx
Labels: pwgcf

#9691 [PWGLF] Fix daughter and candidate vectors in KFParticle decay3bodybuilder
  PWGLF/TableProducer/Nuspex/decay3bodybuilder.cxx
  PWGLF/TableProducer/Nuspex/threebodyKFTask.cxx
Labels: pwglf

#9690 [PWGCF] FemtoUniverse -- MC p-Phi partition fix
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackPhi.cxx
Labels: pwgcf

#9683 [PWGCF] added event selection
  PWGCF/Flow/Tasks/FlowZDCtask.cxx
Labels: pwgcf

#9685 [PWGCF] calculate eff(eta,pT) in MC
  PWGCF/EbyEFluctuations/Tasks/netprotonCumulantsMc.cxx
Labels: pwgcf

#9692 [PWGDQ] Adding functionality to define histograms, cuts and MC signals in configurables via JSON formatted strings
  PWGDQ/Core/AnalysisCompositeCut.cxx
  PWGDQ/Core/AnalysisCompositeCut.h
  PWGDQ/Core/AnalysisCut.cxx
  PWGDQ/Core/AnalysisCut.h
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/CutsLibrary.h
  PWGDQ/Core/HistogramManager.cxx
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.h
  PWGDQ/Core/MCProng.cxx
  PWGDQ/Core/MCProng.h
  PWGDQ/Core/MCSignal.h
  PWGDQ/Core/MCSignalLibrary.cxx
  PWGDQ/Core/MCSignalLibrary.h
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/TableProducer/tableMakerMC_withAssoc.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#9688 [PWGLF] Added option to select events with only two Ks
  PWGLF/Tasks/Resonances/higherMassResonances.cxx
Labels: pwglf

#9694 [PWGCF] flowPtEfficiency: retrieve code; add ITS clu cut, add Global Track requirement
  PWGCF/Flow/Tasks/flowPtEfficiency.cxx
Labels: pwgcf

#9587 [PWGJE] To fix MCP about weight
  PWGJE/Tasks/jetTaggerHFQA.cxx
Labels: pwgje

#9652 [PWGDQ] Update dqEfficiency_withAssoc.cxx
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#9667 [PWGLF] Extra cuts to v0ptinvmassplots task
  PWGLF/Tasks/Strangeness/v0ptinvmassplots.cxx
Labels: pwglf

#9664 [PWGJE] Adding extra options for rho estimation
  PWGJE/TableProducer/rhoEstimator.cxx
Labels: pwgje

#9696 [PWGLF] different selection for proton and pion
  PWGLF/Tasks/Strangeness/lambdapolarization.cxx
Labels: pwglf

#9605 [PWGLF] adding the new centrality estimators
  PWGLF/DataModel/LFStrangenessTables.h
  PWGLF/TableProducer/Strangeness/Converters/CMakeLists.txt
  PWGLF/TableProducer/Strangeness/Converters/stracentconverter.cxx
  PWGLF/TableProducer/Strangeness/strangederivedbuilder.cxx
  PWGLF/Tasks/Strangeness/derivedcascadeanalysis.cxx
Labels: pwglf, datamodel

#9697 [PWGDQ] X(3872) analysis
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/DataModel/ReducedInfoTables.h
  PWGDQ/Tasks/dqEfficiency.cxx
  PWGDQ/Tasks/tableReader.cxx
Labels: pwgdq, datamodel

#9700 [PWGLF] K892PM Flow: Allow modifying v2 axis
  PWGLF/Tasks/Resonances/chk892Flow.cxx
Labels: pwglf

#9649 [PWGHF] Fix MC generated particle matching
  PWGHF/TableProducer/candidateCreatorXicToXiPiPi.cxx
  PWGHF/TableProducer/treeCreatorXicToXiPiPi.cxx
Labels: pwghf

#9698 [PWGDQ] Add macro to evaluate MCH tracking efficiency
  PWGDQ/Macros/evalMchTrackingEfficiency.cxx
Labels: pwgdq

#9703 [PWGCF] FemtoUniverse -- MC pPhi fixes for MC reco Phi
  PWGCF/FemtoUniverse/Core/FemtoUniverseParticleHisto.h
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackPhi.cxx
Labels: pwgcf

#9701 [PWGLF] Strangeness builder commissioning: improvements and fixes
  PWGLF/TableProducer/Strangeness/strangenessbuilder.cxx
  PWGLF/Utils/strangenessBuilderHelper.h
Labels: pwglf

#9705 [PWGLF] change in derivedcascadeanalysis.cxx
  PWGLF/Tasks/Strangeness/derivedcascadeanalysis.cxx
Labels: pwglf

#9689 [PWGLF] Add histo for signal matched to TOF
  PWGLF/DataModel/spectraTOF.h
  PWGLF/Tasks/Nuspex/spectraTOF.cxx
Labels: pwglf, datamodel

#9710 [PWGCF] DptDpt - Event selection tune
  PWGCF/TableProducer/dptdptfilter.cxx
  PWGCF/TableProducer/dptdptfilter.h
Labels: pwgcf

#9704 [PWGUD] Added TPC and TOF stuff in MC reco
  PWGUD/Tasks/exclusiveRhoTo4Pi.cxx
Labels: pwgud

#9706 [DPG] Update qaPIDITS.cxx
  DPG/Tasks/AOTTrack/PID/ITS/qaPIDITS.cxx
Labels: dpg

#9714 [PWGCF] Update efficiency correction
  PWGCF/EbyEFluctuations/Tasks/meanPtFlucId.cxx
Labels: pwgcf

#9712 [PWGHF] Fix the bug of the thnsparse axis number in Lc task
  PWGHF/D2H/Tasks/taskLc.cxx
Labels: pwghf

#9721 Please consider the following formatting changes to #9720
  PWGLF/Tasks/Strangeness/strangenessInJets.cxx
Labels: pwglf

#9722 Please consider the following formatting changes to #9720
  PWGLF/Tasks/Strangeness/strangenessInJets.cxx
Labels: pwglf

#9719 [DPG] Update param. name
  DPG/Tasks/AOTTrack/PID/ITS/qaPIDITS.cxx
Labels: dpg

#9723 [DPG] Update timeDependentQa.cxx - add histos, tuned cuts
  DPG/Tasks/AOTEvent/timeDependentQa.cxx
Labels: dpg

#9720 [PWGLF] Update weight handling in StrJ
  PWGLF/Tasks/Strangeness/strangenessInJets.cxx
Labels: pwglf

#9727 [PWGLF] clean up and adeed PID selection for K* flow task
  PWGLF/Tasks/Resonances/kstarpbpb.cxx
Labels: pwglf

#9729 [PWGHF] Added mass cut to Resonance Task
  PWGHF/D2H/Tasks/taskCharmResoReduced.cxx
Labels: pwghf

#9726 [PWGLF] Fix dca cut
  PWGLF/Tasks/Strangeness/k0_mixed_events.cxx
Labels: pwglf

#9725 [PWGHF] Add flag to remove ambiguous candidates
  PWGHF/HFC/TableProducer/correlatorDMesonPairs.cxx
Labels: pwghf

#9669 [PWGLF] calculation of overlap between jet-jet, ue-ue, jet-ue
  PWGLF/Tasks/Nuspex/nucleiInJets.cxx
Labels: pwglf

#9533 [Common] Analysis-level muon re-alignment task and new tables definition
  Common/DataModel/CMakeLists.txt
  Common/DataModel/FwdTrackReAlignTables.h
  Common/TableProducer/CMakeLists.txt
  Common/TableProducer/muonRealignment.cxx
Labels: common, datamodel

#9731 [PWGLF] Added 2(phi-psi) axis for inv mass
  PWGLF/Tasks/Resonances/chk892Flow.cxx
Labels: pwglf

#9718 [PWGCF] Add ZDC amplitudes.
  PWGCF/Flow/Tasks/flowGfwTask.cxx
Labels: pwgcf

#9728 [PWGCF] Add configurables and some histos
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

#9627 [PWGCF,PWGDQ] Weight merging
  PWGCF/Flow/Tasks/flowAnalysisGF.cxx
  PWGCF/Flow/Tasks/flowGFWOmegaXi.cxx
  PWGCF/Flow/Tasks/flowGfwTask.cxx
  PWGCF/Flow/Tasks/flowRunbyRun.cxx
  PWGCF/Flow/Tasks/flowSP.cxx
  PWGCF/Flow/Tasks/flowTask.cxx
  PWGCF/GenericFramework/Core/GFWWeights.cxx
  PWGCF/GenericFramework/Core/GFWWeights.h
  PWGCF/GenericFramework/Core/GFWWeightsList.cxx
  PWGCF/GenericFramework/Core/GFWWeightsList.h
  PWGCF/GenericFramework/Tasks/flowGenericFramework.cxx
  PWGDQ/Tasks/dqCorrelation.cxx
  PWGDQ/Tasks/dqFlow.cxx
Labels: pwgcf, pwgdq

#9607 [PWGDQ] Add more configurables for alignment setup
  PWGDQ/Tasks/mchAlignRecord.cxx
Labels: pwgdq

#9735 [PWGLF] NucleiTask - Add helium w/its pid
  PWGLF/Tasks/Nuspex/LFNucleiBATask.cxx
Labels: pwglf

#9663 [PWGJE,Trigger] Adding the ability to modularise event selection
  EventFiltering/PWGJE/jetFilter.cxx
  PWGJE/Core/JetDerivedDataUtilities.h
  PWGJE/DataModel/JetReducedData.h
  PWGJE/JetFinders/jetFinder.cxx
  PWGJE/JetFinders/jetFinderHF.cxx
  PWGJE/JetFinders/jetFinderV0.cxx
  PWGJE/TableProducer/luminosityCalculator.cxx
  PWGJE/TableProducer/luminosityProducer.cxx
  PWGJE/Tasks/ChJetTriggerQATask.cxx
  PWGJE/Tasks/bjetTaggingML.cxx
  PWGJE/Tasks/bjetTreeCreator.cxx
  PWGJE/Tasks/dijetFinderQA.cxx
  PWGJE/Tasks/fullJetSpectraPP.cxx
  PWGJE/Tasks/gammaJetTreeProducer.cxx
  PWGJE/Tasks/hadronPhotonCorrelation.cxx
  PWGJE/Tasks/hfFragmentationFunction.cxx
  PWGJE/Tasks/jetBackgroundAnalysis.cxx
  PWGJE/Tasks/jetChargedV2.cxx
  PWGJE/Tasks/jetFinderHFQA.cxx
  PWGJE/Tasks/jetFinderQA.cxx
  PWGJE/Tasks/jetFinderV0QA.cxx
  PWGJE/Tasks/jetFragmentation.cxx
  PWGJE/Tasks/jetHadronRecoil.cxx
  PWGJE/Tasks/jetLundReclustering.cxx
  PWGJE/Tasks/jetPlanarFlow.cxx
  PWGJE/Tasks/jetSpectraCharged.cxx
  PWGJE/Tasks/jetSpectraEseTask.cxx
  PWGJE/Tasks/jetTaggerHFQA.cxx
  PWGJE/Tasks/jetTutorial.cxx
  PWGJE/Tasks/jetTutorialSkeleton.cxx
  PWGJE/Tasks/jetValidationQA.cxx
  PWGJE/Tasks/nucleiInJets.cxx
  PWGJE/Tasks/phiInJets.cxx
  PWGJE/Tasks/photonIsolationQA.cxx
  PWGJE/Tasks/recoilJets.cxx
  PWGJE/Tasks/trackEfficiency.cxx
  PWGJE/Tasks/v0JetSpectra.cxx
  PWGJE/Tasks/v0QA.cxx
Labels: pwgje, trigger, datamodel

#9732 [PWGLF] K0s ME add MC
  PWGLF/Tasks/Strangeness/k0_mixed_events.cxx
Labels: pwglf

#9739 [PWGLF] Chk892Flow: Add switch for an additional axis
  PWGLF/Tasks/Resonances/chk892Flow.cxx
Labels: pwglf

#9518 [PWGDQ] Pjpsi femto
  PWGDQ/Core/CutsLibrary.cxx
Labels: pwgdq

#9736 [PWGJE] Changing some default configurable options
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#9743 [PWGCF] FemtoUniverse: Fixing control histogram for fraction of hared TPCncls
  PWGCF/FemtoUniverse/Core/FemtoUniverseParticleHisto.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseTrackSelection.h
Labels: pwgcf

#9741 [PWGDQ] Add functionality of JSON formatted strings for cuts to AsymmetricPairing
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#9749 [PWGLF] Remove pt cut from mixed event
  PWGLF/Tasks/Resonances/highmasslambda.cxx
Labels: pwglf

#9713 [PWGLF] New task for MFT analysis for pp collisions
  PWGLF/Tasks/GlobalEventProperties/CMakeLists.txt
  PWGLF/Tasks/GlobalEventProperties/dndeta-mft-pp.cxx
Labels: pwglf

#9745 [PWGCF] read efficiencies from 2D hist in ccdb
  PWGCF/EbyEFluctuations/Tasks/netprotonCumulantsMc.cxx
Labels: pwgcf

#9754 [PWGCF] JCorran updates
  PWGCF/JCorran/Core/JFFlucAnalysis.cxx
  PWGCF/JCorran/Core/JFFlucAnalysis.h
  PWGCF/JCorran/Core/JFFlucAnalysisO2Hist.cxx
  PWGCF/JCorran/Core/JFFlucAnalysisO2Hist.h
  PWGCF/JCorran/Core/JQVectors.h
  PWGCF/JCorran/Tasks/jflucAnalysisTask.cxx
  PWGCF/JCorran/Tasks/jflucWeightsLoader.cxx
  PWGCF/TableProducer/filterCorrelations.cxx
Labels: pwgcf

#9671 [PWGJE] Making hadronic corrections a part of the JE derived data and adding …
  PWGJE/Core/FastJetUtilities.h
  PWGJE/Core/JetFindingUtilities.h
  PWGJE/Core/JetMatchingUtilities.h
  PWGJE/Core/JetSubstructureUtilities.h
  PWGJE/DataModel/Jet.h
  PWGJE/DataModel/JetReducedData.h
  PWGJE/DataModel/emcalClusterHadronicCorrectionTask.h
  PWGJE/JetFinders/jetFinder.cxx
  PWGJE/TableProducer/CMakeLists.txt
  PWGJE/TableProducer/derivedDataProducer.cxx
  PWGJE/TableProducer/derivedDataProducerDummyCharged.cxx
  PWGJE/TableProducer/derivedDataWriter.cxx
  PWGJE/TableProducer/emcalClusterHadronicCorrectionTask.cxx
  PWGJE/Tasks/jetTutorial.cxx
  PWGJE/Tasks/statPromptPhoton.cxx
Labels: pwgje, datamodel

#9758 [PWGLF] Update PWGLF/Tasks/Nuspex/spectraTOF.cxx
  PWGLF/Tasks/Nuspex/spectraTOF.cxx
Labels: pwglf

#9750 [PWGLF] Adds MC process function
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#9737 [PWGLF] CollisionCuts: Remove unused trigger check and add additional event selections
  PWGLF/TableProducer/Resonances/resonanceInitializer.cxx
  PWGLF/TableProducer/Resonances/resonanceModuleInitializer.cxx
  PWGLF/Tasks/Resonances/chk892Flow.cxx
  PWGLF/Tasks/Resonances/chk892flow_pp.cxx
  PWGLF/Tasks/Resonances/chk892pp.cxx
  PWGLF/Utils/collisionCuts.h
Labels: pwglf

#9734 [PWGLF] Update event selections
  PWGLF/Tasks/Strangeness/cascadecorrelations.cxx
Labels: pwglf

#9633 [PWGLF] Update hypertriton 3body decay mc QA task
  PWGLF/Tasks/Nuspex/CMakeLists.txt
  PWGLF/Tasks/Nuspex/hypertriton3bodyMcqa.cxx
Labels: pwglf

#9592 [PWGLF] Initialize impact parameter with default values
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf

#9679 [PWGHF] added tracks efficiency calculation block
  PWGHF/HFC/DataModel/CorrelationTables.h
  PWGHF/HFC/TableProducer/correlatorLcHadrons.cxx
Labels: pwghf

#9733 [Common] Fixing bug in the correction of the mean of the DCA distribution (the…
  Common/Tools/TrackTuner.h
Labels: common

#9759 [PWGLF] Update strangenessInJets.cxx
  PWGLF/Tasks/Strangeness/strangenessInJets.cxx
Labels: pwglf

#9738 [PWGUD] Save run number information
  PWGUD/Tasks/FwdMuonsUPC.cxx
Labels: pwgud

#9753 [PWGCF] FemtoUniverse cascade task -- added cascade-cascade Close Pair Rejection
  PWGCF/FemtoUniverse/Core/FemtoUniverseDetaDphiStar.h
Labels: pwgcf

#9708 [PWGEM/PhotonMeson] Add missing JJ weight requirement for gen particles
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGammaMC.h
Labels: pwgem

#9763 [PWGEM/Dilepton] add possibility to require true track-to-collisio association
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
  PWGEM/Dilepton/Tasks/createResolutionMap.cxx
  PWGEM/PhotonMeson/Core/V0PhotonCut.h
  PWGEM/PhotonMeson/TableProducer/photonconversionbuilder.cxx
Labels: pwgem

#9770 [PWGLF] MEK0s: add cent
  PWGLF/Tasks/Strangeness/k0_mixed_events.cxx
Labels: pwglf

#9764 [PWGCF] FemtoUniverse: Adding kNoCollInTimeRangeStandard cut in event selection criteria
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

#9766 [PWGLF] Rename `mDCA` to `motherDCA` for clarity
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf

#9771 [PWGJE] Adding missing event selection bit to sel8FullPbPb
  PWGJE/Core/JetDerivedDataUtilities.h
Labels: pwgje

#9742 [PWGCF] calculate v2 correction factor from MC
  PWGCF/Flow/Tasks/CMakeLists.txt
  PWGCF/Flow/Tasks/flowMc.cxx
  PWGCF/Flow/Tasks/flowPtEfficiency.cxx
Labels: pwgcf

#9768 [PWGCF] Clean up table producer and task
  PWGCF/Flow/TableProducer/zdcQVectors.cxx
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

#9776 [PWGCF] Update lambdaR2Correlation.cxx
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#9774 [PWGLF] Update k0_mixed_events.cxx
  PWGLF/Tasks/Strangeness/k0_mixed_events.cxx
Labels: pwglf

#9778 [PWGLF] updated jet selection
  PWGLF/Tasks/Nuspex/nucleiInJets.cxx
Labels: pwglf

#9777 [PWGLF] chk892Flow: Add new v0 selection cut
  PWGLF/Tasks/Resonances/chk892Flow.cxx
Labels: pwglf

#9779 [PWGCF] Fix FT0 low cut
  PWGCF/Flow/Tasks/flowGfwTask.cxx
Labels: pwgcf

#9780 [PWGLF] Add ctpRateFetcher service
  PWGLF/Tasks/Strangeness/CMakeLists.txt
  PWGLF/Tasks/Strangeness/derivedlambdakzeroanalysis.cxx
Labels: pwglf

#9761 [PWGHF] Add ML variables in treeCreatorD0ToKPi
  PWGHF/TableProducer/treeCreatorD0ToKPi.cxx
Labels: pwghf

#9772 [PWGLF] updated event average to particle average
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#9785 [PWGEM/PhotonMeson] std::abs and std::fabs for PCM
  PWGEM/PhotonMeson/TableProducer/photonconversionbuilder.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
  PWGEM/PhotonMeson/Utils/PCMUtilities.h
Labels: pwgem

#9787 [PWGLF] updated jet selection in MC
  PWGLF/Tasks/Nuspex/nucleiInJets.cxx
Labels: pwglf

#9788 [PWGCF] FemtoUniverse -- Removing unused configurables and commented code
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackPhi.cxx
Labels: pwgcf

#9762 [PWGJE] Hadron jet recoil
  PWGJE/Tasks/recoilJets.cxx
Labels: pwgje

#9786 [PWGCF] Implement new Run3 centrality estimators and expand analysis
  PWGCF/TwoParticleCorrelations/Tasks/neutronProtonCorrZdc.cxx
Labels: pwgcf

#9784 [PWGCF] Added a check to ensure the efficiency is greater than zero
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf

#9789 [PWGCF] new PbPb centrality estimators for correlations filter
  PWGCF/TableProducer/filterCorrelations.cxx
Labels: pwgcf

#9790 [PWGCF] flow-runbyrun: retrieve code, wrong if-else logic
  PWGCF/Flow/Tasks/flowRunbyRun.cxx
Labels: pwgcf

#9791 [PWGEM/Dilepton] update 2vp task
  PWGEM/Dilepton/TableProducer/filterDielectronEvent.cxx
  PWGEM/Dilepton/Tasks/eventQC.cxx
Labels: pwgem

#9795 [PWGHF] Add D+ derived-data creator
  PWGHF/DataModel/DerivedTables.h
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/TableProducer/derivedDataCreatorDplusToPiKPi.cxx
Labels: pwghf, datamodel

#9797 [PWGCF] Fixed bug and added some QA histos
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

#9800 [PWGCF] added event selection
  PWGCF/Flow/Tasks/flowZdcTask.cxx
Labels: pwgcf

#9798 [PWGCF/FemtoUniverse] Add more flags to efficiency calculator script + fix configurable for timestamps
  PWGCF/FemtoUniverse/Core/FemtoUniverseEfficiencyCalculator.h
  PWGCF/FemtoUniverse/Scripts/femto_universe_efficiency_calculator.py
Labels: pwgcf

#9796 [PWGLF] Analyze per collision v2
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#9801 [PWGHF,Trigger] Add option to select only signal in MC and improve MC matching
  EventFiltering/PWGHF/HFFilterPrepareMLSamples.cxx
Labels: pwghf, trigger

#9802 [PWGLF] Store centrality for non-reconstructed candidates
  PWGLF/TableProducer/Nuspex/lnnRecoTask.cxx
Labels: pwglf

#9693 [PWGJE] refactoring the derived data writer
  PWGJE/Core/JetCandidateUtilities.h
  PWGJE/Core/JetDQUtilities.h
  PWGJE/Core/JetHFUtilities.h
  PWGJE/DataModel/JetReducedDataSelector.h
  PWGJE/TableProducer/CMakeLists.txt
  PWGJE/TableProducer/derivedDataProducerDummy.cxx
  PWGJE/TableProducer/derivedDataProducerDummyBplus.cxx
  PWGJE/TableProducer/derivedDataProducerDummyCharged.cxx
  PWGJE/TableProducer/derivedDataProducerDummyD0.cxx
  PWGJE/TableProducer/derivedDataProducerDummyDielectron.cxx
  PWGJE/TableProducer/derivedDataProducerDummyLc.cxx
  PWGJE/TableProducer/derivedDataSelector.cxx
  PWGJE/TableProducer/derivedDataWriter.cxx
  PWGJE/Tasks/jetSubstructureHFOutput.cxx
  PWGJE/Tasks/jetSubstructureOutput.cxx
Labels: pwgje, datamodel

#9792 [PWGLF] updated jet selection
  PWGLF/Tasks/Strangeness/strangenessInJets.cxx
Labels: pwglf

#9807 [PWGLF] fix its cluster size cut
  PWGLF/TableProducer/Nuspex/trHeAnalysis.cxx
Labels: pwglf

#9806 [PWGCF] Add Nch histogram.
  PWGCF/Flow/Tasks/flowGfwTask.cxx
Labels: pwgcf

#9804 [PWGLF] Variable binning was added to momentum and AxisSpec was moved
  PWGMM/UE/Tasks/dedxAnalysis.cxx
Labels: pwglf

#9808 [PWGCF] Increment counters for enabled centrality process functions
  PWGCF/TableProducer/filterCorrelations.cxx
Labels: pwgcf

#9803 [PWGLF] Update NucleiEfficiencyTask.cxx
  PWGLF/Tasks/Nuspex/NucleiEfficiencyTask.cxx
Labels: pwglf

#9781 [PWGLF] Update k0_mixed_events.cxx
  PWGLF/Tasks/Strangeness/k0_mixed_events.cxx
Labels: pwglf

#9769 [PWGDQ,Trigger] Proposal for the electron-muon pp trigger
  EventFiltering/filterTables.h
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Tasks/filterPP.cxx
  PWGDQ/Tasks/filterPPwithAssociation.cxx
Labels: trigger, pwgdq

#9810 [PWGDQ] Upsilon Minitree - Adding_MuonVariables
  PWGDQ/DataModel/ReducedInfoTables.h
  PWGDQ/Tasks/tableReader.cxx
Labels: pwgdq, datamodel

#9816 [PWGHF] Added AND option for TPC,TOF pid to Xic
  PWGHF/TableProducer/candidateSelectorXicToPKPi.cxx
Labels: pwghf

#9813 [PWGLF] QA of ITS-TPC matching efficiency for V0 daughters
  PWGLF/Tasks/QC/CMakeLists.txt
  PWGLF/Tasks/QC/lfITSTPCMatchingSecondaryTracksQA.cxx
Labels: pwglf

#9811 [PWGLF] Optimise memory of the THns for cascade polarisation
  PWGLF/TableProducer/Strangeness/cascadeflow.cxx
Labels: pwglf

#9747 [PWGUD] PWG-UD: Test on rho' in UPCs using UD tables
  PWGUD/Tasks/CMakeLists.txt
  PWGUD/Tasks/upcRhoPrimeAnalysis.cxx
Labels: pwgud

#9822 [PWGDQ] Adding_Muon_Cut
  PWGDQ/Core/CutsLibrary.cxx
Labels: pwgdq

#9823 [PWGLF] New type of closure for phik0shortanalysis.cxx
  PWGLF/Tasks/Strangeness/phik0shortanalysis.cxx
Labels: pwglf

#9824 [PWGLF] Added selection on ncr/findable clusters
  PWGLF/Tasks/Nuspex/nucleiInJets.cxx
Labels: pwglf

#9829 [PWGLF] added MC weight in kstar flow task
  PWGLF/Tasks/Resonances/kstarpbpb.cxx
Labels: pwglf

#9830 [PWGLF] fix rotational background
  PWGLF/Tasks/Resonances/highmasslambda.cxx
Labels: pwglf

#9827 [PWGUD] Removed y and pT cuts from MC gen process
  PWGUD/Tasks/exclusiveRhoTo4Pi.cxx
Labels: pwgud

#9828 [PWGJE] Adding D+ jets to framework
  PWGJE/Core/JetCandidateUtilities.h
  PWGJE/Core/JetHFUtilities.h
  PWGJE/DataModel/Jet.h
  PWGJE/DataModel/JetReducedDataHF.h
  PWGJE/DataModel/JetSubstructure.h
  PWGJE/DataModel/JetSubtraction.h
  PWGJE/JetFinders/CMakeLists.txt
  PWGJE/JetFinders/jetFinderDplusDataCharged.cxx
  PWGJE/JetFinders/jetFinderDplusMCDCharged.cxx
  PWGJE/JetFinders/jetFinderDplusMCPCharged.cxx
  PWGJE/JetFinders/jetFinderHF.cxx
  PWGJE/TableProducer/Matching/CMakeLists.txt
  PWGJE/TableProducer/Matching/jetMatchingMCDplusCharged.cxx
  PWGJE/TableProducer/Matching/jetMatchingMCSubDplusCharged.cxx
  PWGJE/TableProducer/Matching/jetMatchingSubDplusCharged.cxx
  PWGJE/TableProducer/derivedDataProducer.cxx
  PWGJE/TableProducer/derivedDataSelector.cxx
  PWGJE/TableProducer/derivedDataWriter.cxx
  PWGJE/TableProducer/eventwiseConstituentSubtractor.cxx
  PWGJE/TableProducer/jetEventWeightMCD.cxx
  PWGJE/TableProducer/jetEventWeightMCP.cxx
  PWGJE/TableProducer/rhoEstimator.cxx
  PWGJE/Tasks/CMakeLists.txt
  PWGJE/Tasks/jetFinderDplusQA.cxx
  PWGJE/Tasks/jetFinderHFQA.cxx
  PWGJE/Tasks/jetSubstructureDplus.cxx
  PWGJE/Tasks/jetSubstructureDplusOutput.cxx
  PWGJE/Tasks/jetSubstructureHFOutput.cxx
Labels: pwgje, datamodel

#9826 [PWGJE] PWGJE - adding occupancy QA to jetFinderQA
  PWGJE/Tasks/jetFinderQA.cxx
Labels: pwgje

#9809 [PWGJE] MC process functions updated
  PWGJE/Tasks/jetSpectraEseTask.cxx
Labels: pwgje

#9831 [PWGHF] Minor bug fix in the task workflow
  PWGHF/D2H/Tasks/taskXicToXiPiPi.cxx
Labels: pwghf

#9833 [PWGLF] AngularCorrelationsInJets.cxx: Major adjustments
  PWGLF/Tasks/Nuspex/AngularCorrelationsInJets.cxx
Labels: pwglf

#9835 [PWGLF] k892analysis_PbPb.cxx -- bkg studies
  PWGLF/Tasks/Resonances/k892analysis_PbPb.cxx
Labels: pwglf

#9805 [PWGDQ] Adding Single muon Correlators
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/Tasks/tableReader.cxx
Labels: pwgdq

#9839 [PWGLF] added protection against possible infinite loops
  PWGLF/Tasks/Nuspex/nucleiInJets.cxx
Labels: pwglf

#9838 [PWGLF] Added DCA distribution plots
  PWGLF/Tasks/Strangeness/phik0shortanalysis.cxx
Labels: pwglf

#9815 [PWGJE/EMCal,PWGEM/PhotonMeson] Add true pi0 from same gamma histogram and opening angle cut
  PWGEM/Dilepton/Utils/MCUtilities.h
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGamma.h
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGammaMC.h
  PWGEM/PhotonMeson/Utils/NMHistograms.h
  PWGJE/Tasks/emcalGammaGammaBcWise.cxx
Labels: pwgje, pwgem

#9843 [PWGDQ] Adding correlators of dimuons mixed
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/Tasks/tableReader.cxx
Labels: pwgdq

#9841 [PWGCF] flowMc, flowTask: small fix
  PWGCF/Flow/Tasks/flowMc.cxx
  PWGCF/Flow/Tasks/flowTask.cxx
Labels: pwgcf

#9836 [PWGLF] added v2 calculation and using full plane with modified qvec after SC
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#9845 [PWGLF] Update NucleiEfficiencyTask.cxx
  PWGLF/Tasks/Nuspex/NucleiEfficiencyTask.cxx
Labels: pwglf

#9847 [PWGHF] Simplify derived-data macros
  PWGHF/DataModel/DerivedTables.h
Labels: pwghf, datamodel

#9819 [PWGLF] Multiplicity for processGen, Event Mixing options, QA
  PWGLF/Tasks/Resonances/phianalysisTHnSparse.cxx
  PWGLF/Utils/rsnOutput.h
Labels: pwglf

#9775 [PWGHF] Add ML and D0 efficiency in D0-h correlation
  PWGHF/HFC/DataModel/CorrelationTables.h
  PWGHF/HFC/TableProducer/correlatorD0Hadrons.cxx
  PWGHF/HFC/Tasks/taskCorrelationD0Hadrons.cxx
Labels: pwghf

#9825 [PWGDQ] Fixing bug in globalmuon best matches skimming
  PWGDQ/TableProducer/tableMakerMC_withAssoc.cxx
Labels: pwgdq

#9832 [PWGDQ] Event-mixing for cumulants
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/Tasks/tableReader.cxx
Labels: pwgdq

#9834 [PWGLF] Add histos for Pz vs (2phi-Psi) study in cascadeflow task
  PWGLF/TableProducer/Strangeness/cascadeflow.cxx
Labels: pwglf
