Repository AliceO2Group/O2Physics, pull requests merged in 2025-06, with the labels that each got.

#11425 [PWGLF] angularCorrelationsInJets.cxx: added comments and UE correlations
  PWGLF/Tasks/Nuspex/angularCorrelationsInJets.cxx
Labels: pwglf

#11428 [PWGLF] reset previous configurable name for compatibility with workflows
  PWGLF/TableProducer/Nuspex/ebyeMaker.cxx
Labels: pwglf

#11424 [PWGHF] refine and add a new simple table for DD pairs
  PWGHF/TableProducer/treeCreatorTccToD0D0Pi.cxx
Labels: pwghf

#11427 [PWGCF] Splitted RD same-sign correlations into postive and negative
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf

#11429 [PWGLF] Additional cuts were added
  PWGMM/UE/Tasks/dedxAnalysis.cxx
Labels: pwglf

#11413 [ALICE3] Further refinements to decay finder code
  ALICE3/TableProducer/alice3-decayfinder.cxx
Labels: alice3

#11423 [PWGJE] Adding outlier cut histograms for triggers
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#11403 [PWGLF] PID updated
  PWGLF/DataModel/LFHypernucleiKfTables.h
  PWGLF/TableProducer/Nuspex/hypKfRecoTask.cxx
  PWGLF/TableProducer/Nuspex/hypKfTreeCreator.cxx
Labels: pwglf, datamodel

#11440 [PWGJE,EMCAL-1154] emcalCorrectionTask: fix include headers
  PWGJE/TableProducer/emcalCorrectionTask.cxx
Labels: pwgje, emcal

#11437 [PWGLF] Add QA histogram for non-prompt nuclei
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf

#11443 [PWGUD] Updated the Event Selection
  PWGUD/Tasks/exclusiveRhoTo4Pi.cxx
Labels: pwgud

#11453 [ALICE3] Completing separation of topological distribution for S and B
  ALICE3/TableProducer/alice3-decayfinder.cxx
Labels: alice3

#11446 [PWGDQ] add new set of electron cuts for e-mu and fix the tableMaker_withAssociation
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/TableProducer/tableMakerMC_withAssoc.cxx
Labels: pwgdq

#11447 [PWGHF] Refactor of charm resonances derived data creator
  PWGHF/D2H/DataModel/ReducedDataModel.h
  PWGHF/D2H/TableProducer/dataCreatorCharmResoReduced.cxx
Labels: pwghf, datamodel

#11388 [PWGHF] Add ML selection for Xic0ToXiPiKf
  PWGHF/Core/HfMlResponseXic0ToXiPiKf.h
  PWGHF/DataModel/CandidateSelectionTables.h
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/TableProducer/candidateSelectorXic0ToXiPiKf.cxx
Labels: pwghf, datamodel

#11462 [PWGLF] Fix bit flags for preselecting V0s and cascades
  PWGLF/TableProducer/Strangeness/strangenessbuilder.cxx
Labels: pwglf

#11438 [Common] Adding muonQA task
  Common/Tasks/CMakeLists.txt
  Common/Tasks/qaMuon.cxx
Labels: common

#11420 [PWGCF,PWGEM,PWGLF] Replace expression columns with dynamic columns in strangeness data model
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
  PWGEM/PhotonMeson/TableProducer/createPCM.cxx
  PWGLF/DataModel/LFStrangenessTables.h
  PWGLF/TableProducer/Strangeness/cascadebuilder.cxx
  PWGLF/TableProducer/Strangeness/cascadefinder.cxx
  PWGLF/TableProducer/Strangeness/cascadespawner.cxx
  PWGLF/TableProducer/Strangeness/lambdakzerobuilder.cxx
  PWGLF/TableProducer/Strangeness/lambdakzerofinder.cxx
  PWGLF/TableProducer/Strangeness/lambdakzerospawner.cxx
  PWGLF/TableProducer/Strangeness/strangenessbuilder.cxx
Labels: pwglf, pwgcf, pwgem, datamodel

#11381 [ALICE3] A3: update protection of DetLayer
  ALICE3/Core/DelphesO2LutWriter.cxx
  ALICE3/Core/DelphesO2LutWriter.h
  ALICE3/Core/DetLayer.cxx
  ALICE3/Core/DetLayer.h
  ALICE3/Core/FastTracker.cxx
  ALICE3/Core/FastTracker.h
  ALICE3/TableProducer/OTF/onTheFlyTracker.cxx
Labels: alice3

#11175 [PWGJE] separation of process functions for MCD and Data tables for Tracks and Multiplicities + Refactoring of the task
  PWGJE/Tasks/CMakeLists.txt
  PWGJE/Tasks/fullJetSpectra.cxx
Labels: pwgje

#11460 [PWGLF] feat(kinkBuilder): use aod::BCs instead of aod::BCsWithTimestamps
  PWGLF/TableProducer/Common/kinkBuilder.cxx
  PWGLF/Utils/svPoolCreator.h
Labels: pwglf

#11382 [PWGHF,PWGJE] Unify and extend MC flags in candidate tables (3-prong, D*+)
  PWGHF/Core/DecayChannels.h
  PWGHF/D2H/Tasks/taskCharmPolarisation.cxx
  PWGHF/D2H/Tasks/taskDplus.cxx
  PWGHF/D2H/Tasks/taskDs.cxx
  PWGHF/D2H/Tasks/taskDstarToD0Pi.cxx
  PWGHF/D2H/Tasks/taskLc.cxx
  PWGHF/D2H/Tasks/taskSigmac.cxx
  PWGHF/D2H/Tasks/taskXic.cxx
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/HFC/TableProducer/correlatorDplusDminus.cxx
  PWGHF/HFC/TableProducer/correlatorDplusHadrons.cxx
  PWGHF/HFC/TableProducer/correlatorDsHadrons.cxx
  PWGHF/HFC/TableProducer/correlatorLcHadrons.cxx
  PWGHF/HFC/TableProducer/femtoDreamProducer.cxx
  PWGHF/HFC/Tasks/taskCorrelationDplusHadrons.cxx
  PWGHF/HFC/Tasks/taskCorrelationDsHadrons.cxx
  PWGHF/HFC/Tasks/taskCorrelationLcHadrons.cxx
  PWGHF/HFC/Tasks/taskFlow.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorDstar.cxx
  PWGHF/TableProducer/candidateCreatorSigmac0plusplus.cxx
  PWGHF/TableProducer/candidateCreatorXicc.cxx
  PWGHF/TableProducer/derivedDataCreatorDplusToPiKPi.cxx
  PWGHF/TableProducer/derivedDataCreatorDstarToD0Pi.cxx
  PWGHF/TableProducer/derivedDataCreatorLcToPKPi.cxx
  PWGHF/TableProducer/treeCreatorDplusToPiKPi.cxx
  PWGHF/TableProducer/treeCreatorDsToKKPi.cxx
  PWGHF/TableProducer/treeCreatorDstarToD0Pi.cxx
  PWGHF/TableProducer/treeCreatorLcToPKPi.cxx
  PWGHF/TableProducer/treeCreatorXicToPKPi.cxx
  PWGHF/Tasks/taskCharmHadImpactPar.cxx
  PWGHF/Tasks/taskLcCentrality.cxx
  PWGHF/Tasks/taskMcValidation.cxx
  PWGHF/Utils/utilsMcGen.h
  PWGJE/Core/JetHFUtilities.h
Labels: pwghf, pwgje, datamodel

#11456 [PWGDQ] Update HistogramLibrery
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#11465 [PWGCF] Update lambdaR2Correlation.cxx
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#11469 [PWGCF] produce and apply Efficiency correction
  PWGCF/TwoParticleCorrelations/Tasks/diHadronCor.cxx
Labels: pwgcf

#11435 [PWGUD] Improving correlation for gap sides
  PWGUD/Tasks/upcPhotonuclearAnalysisJMG.cxx
Labels: pwgud

#11471 [PWGCF] Made a change to the RD method cuts
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf

#11451 [PWGDQ] Update VarManager.h to correct the cos theta definition in PP frame
  PWGDQ/Core/VarManager.h
Labels: pwgdq

#11478 [PWGDQ] Add loading of geometry to dilepton-track task
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#11477 [PWGLF] Lambda local polarization induced by jet in pp collision 13.6 TeV
  PWGLF/Tasks/Strangeness/lambdaJetpolarization.cxx
Labels: pwglf

#11472 [PWGDQ] Fill vertexing chi2PCA for triplets
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/VarManager.h
Labels: pwgdq

#11488 [PWGLF] PWGLF Change in hStrangeCorrelation.cxx
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Labels: pwglf

#11454 [Common,ALICE3,PWGLF,PWGUD,DPG,Tutorial] Import system libraries using angle brackets
  ALICE3/Core/DelphesO2LutWriter.cxx
  Common/CCDB/macros/upload_event_selection_params.C
  Common/CCDB/macros/upload_event_selection_params_run3.C
  DPG/Tasks/AOTEvent/dEdxVsOccupancyWithTrackQAinfo.cxx
  DPG/Tasks/AOTEvent/detectorOccupancyQa.cxx
  DPG/Tasks/AOTTrack/qaEventTrack.cxx
  DPG/Tasks/AOTTrack/qaImpPar.cxx
  DPG/Tasks/AOTTrack/qaMatchEff.cxx
  PWGLF/TableProducer/Strangeness/hStrangeCorrelationFilter.cxx
  PWGUD/Core/SGTrackSelector.h
  PWGUD/Core/UPCJpsiCentralBarrelCorrHelper.h
  PWGUD/Tasks/eventByevent.cxx
  PWGUD/Tasks/exclusivePentaquark.cxx
  PWGUD/Tasks/exclusivePhi.cxx
  PWGUD/Tasks/exclusivePhiLeptons.cxx
  PWGUD/Tasks/exclusivePhiLeptonsTrees.cxx
  PWGUD/Tasks/exclusiveTwoProtons.cxx
  PWGUD/Tasks/exclusiveTwoProtonsSG.cxx
  PWGUD/Tasks/polarisationRho.cxx
  PWGUD/Tasks/sgD0Analyzer.cxx
  PWGUD/Tasks/sgExclOmega.cxx
  PWGUD/Tasks/sgExclusivePhi.cxx
  PWGUD/Tasks/sgExclusivePhiITSselections.cxx
  PWGUD/Tasks/sgFourPiAnalyzer.cxx
  PWGUD/Tasks/sgInclJpsi.cxx
  PWGUD/Tasks/sgSixPiAnalyzer.cxx
  PWGUD/Tasks/sgSpectraAnalyzer.cxx
  PWGUD/Tasks/sgTwoPiAnalyzer.cxx
  PWGUD/Tasks/upcForward.cxx
  PWGUD/Tasks/upcPionAnalysis.cxx
  PWGUD/Tasks/upcRhoAnalysis.cxx
  PWGUD/Tasks/upcRhoPrimeAnalysis.cxx
  Tutorials/PWGUD/UDTutorial_05.cxx
  Tutorials/PWGUD/UDTutorial_07.cxx
Labels: pwglf, common, tutorial, dpg, alice3, pwgud

#11494 [PWGCF] add on-the-fly process
  PWGCF/TwoParticleCorrelations/Tasks/diHadronCor.cxx
Labels: pwgcf

#11496 [PWGCF] Update PiDeuteronFemto.cxx
  PWGCF/Femto/TableProducer/PiDeuteronFemto.cxx
Labels: pwgcf

#11484 [PWGLF] Implement MC processes in cascade selector
  PWGLF/Tasks/Strangeness/cascadecorrelations.cxx
Labels: pwglf

#11502 [PWGCF] FemtoUniverse: Adding Configurables for event mixing in mult
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackSpherHarMultKtExtended.cxx
Labels: pwgcf

#11499 [PWGLF] Add mother decay radius and remove track tuner
  PWGLF/DataModel/LFSlimNucleiTables.h
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf, datamodel

#11470 [PWGHF] Add Centrality for Xic0ToXiPiKf and Omegac0ToOmegapiKf
  PWGHF/D2H/Tasks/taskOmegac0ToOmegapi.cxx
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
  PWGHF/TableProducer/treeCreatorXic0ToXiPiKf.cxx
Labels: pwghf

#11486 [PWGCF] Added histograms for Monte Carlo
  PWGCF/EbyEFluctuations/Tasks/netchargeFluctuations.cxx
Labels: pwgcf

#11492 [ALICE3] Adding decay channel check for D efficiency evaluation in decay finder
  ALICE3/TableProducer/alice3-decayfinder.cxx
Labels: alice3

#11506 [PWGLF] Initial commit of lstaranalysis task
  PWGLF/Tasks/Resonances/CMakeLists.txt
  PWGLF/Tasks/Resonances/lstaranalysis.cxx
Labels: pwglf

#11501 [PWGLF] added RCT flag in kstar flow and phi production task
  PWGLF/Tasks/Resonances/kstarpbpb.cxx
  PWGLF/Tasks/Resonances/phianalysisrun3_PbPb.cxx
Labels: pwglf

#11511 [PWGHF] reset decayChannel=1
  PWGHF/TableProducer/treeCreatorOmegacSt.cxx
Labels: pwghf

#11514 [Common] Setting processRun2 to true by default
  Common/TableProducer/eventSelection.cxx
Labels: common

#11517 [PWGCF] FemtoUniverse - Adding centrality for MC cascades and a PDG histogram
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
  PWGCF/FemtoUniverse/Tasks/femtoUniverseEfficiencyBase.cxx
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackCascadeExtended.cxx
Labels: pwgcf

#11485 [Common] modified aod::TracksQA_002 to aod::TracksQAVersion
  Common/TableProducer/occupancyTableProducer.cxx
Labels: common

#11522 [PWGLF] Improve variable selection in mixed event
  PWGLF/Tasks/Strangeness/taskLambdaSpinCorr.cxx
Labels: pwglf

#11524 [PWGLF] fix event selection hist
  PWGLF/Tasks/Resonances/kstarpbpb.cxx
Labels: pwglf

#11513 [PWGLF] use material LUT in fit and propagation
  PWGLF/TableProducer/Strangeness/LFStrangeTreeCreator.cxx
Labels: pwglf

#11526 [PWGEM/Dilepton] update dimuon analyses
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/DimuonCut.cxx
  PWGEM/Dilepton/Core/DimuonCut.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
  PWGEM/Dilepton/Tasks/createResolutionMap.cxx
  PWGEM/Dilepton/Utils/EMTrackUtilities.h
Labels: pwgem

#11510 [PWGHF] Selection of prompt and non-prompt scores within a defined range
  PWGHF/HFC/Tasks/taskCorrelationDplusHadrons.cxx
Labels: pwghf

#11529 [PWGLF] Lambda local polarization induced by jet in pp collision 13.6 TeV
  PWGLF/Tasks/Strangeness/lambdaJetpolarization.cxx
Labels: pwglf

#11489 [PWGHF] Enable ML selection in KF-based LcToPKPi reconstruction
  PWGHF/Core/HfMlResponseLcToPKPi.h
  PWGHF/TableProducer/candidateSelectorLc.cxx
  PWGHF/TableProducer/treeCreatorLcToPKPi.cxx
Labels: pwghf

#11530 [PWGCF] update on ese
  PWGCF/Flow/Tasks/flowEsePHe3.cxx
Labels: pwgcf

#11536 [PWGEM/Dilepton] update in DimuonCut
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/DimuonCut.cxx
  PWGEM/Dilepton/Core/DimuonCut.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
Labels: pwgem

#11533 [PWGHF] Add Xic0 flow task and fix previous O2 linter issues
  PWGHF/D2H/Tasks/taskFlowCharmHadrons.cxx
Labels: pwghf

#11532 [PWGUD] : Fixing the runtime overhead
  PWGUD/Tasks/upcPhotonuclearAnalysisJMG.cxx
Labels: pwgud

#11545 [Trigger,PWGCF] Fix order of enums
  EventFiltering/PWGCF/CFFilterAll.cxx
Labels: pwgcf, trigger

#11569 [PWGCF] flowtask: ccdb set to now. diHadron: add event weight
  PWGCF/Flow/Tasks/flowTask.cxx
  PWGCF/TwoParticleCorrelations/Tasks/diHadronCor.cxx
Labels: pwgcf

#11553 [PWGHF,Tutorial] Include What You Use
  Tutorials/PWGHF/DataModelMini.h
  Tutorials/PWGHF/skimCreatorMini.cxx
  Tutorials/PWGHF/taskMini.cxx
Labels: pwghf, tutorial

#11557 [ALICE3] Remove subscription to MCharmIndices
  ALICE3/Tasks/alice3-multicharm.cxx
Labels: alice3

#11541 [PWGLF] Add option to disable SV radius cut for kink
  PWGLF/TableProducer/Common/kinkBuilder.cxx
Labels: pwglf

#11512 [PWGLF] Update hypertriton 3body decay analysis
  PWGLF/DataModel/Reduced3BodyTables.h
  PWGLF/DataModel/Vtx3BodyTables.h
  PWGLF/TableProducer/Nuspex/CMakeLists.txt
  PWGLF/TableProducer/Nuspex/decay3bodybuilder.cxx
  PWGLF/TableProducer/Nuspex/hypertriton3bodyfinder.cxx
  PWGLF/TableProducer/Nuspex/reduced3bodyCreator.cxx
  PWGLF/TableProducer/Nuspex/threebodyKFTask.cxx
  PWGLF/TableProducer/Nuspex/threebodyRecoTask.cxx
  PWGLF/Tasks/Nuspex/CMakeLists.txt
  PWGLF/Tasks/Nuspex/hypertriton3bodyMcqa.cxx
  PWGLF/Tasks/Nuspex/hypertriton3bodyanalysis.cxx
  PWGLF/Utils/decay3bodyBuilderHelper.h
Labels: pwglf, datamodel

#11554 [PWGHF] added some histograms for EMCal
  PWGHF/HFL/Tasks/taskElectronWeakBoson.cxx
Labels: pwghf

#11558 [PWGLF] Add number of PV contributors
  PWGLF/DataModel/LFSlimNucleiTables.h
  PWGLF/TableProducer/Nuspex/nucleiFlowTree.cxx
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
  PWGLF/TableProducer/Nuspex/nucleiUtils.h
Labels: pwglf, datamodel

#11493 [PWGJE] trackEfficiency: use true track weight for numerator for fake tracks
  PWGJE/Tasks/trackEfficiency.cxx
Labels: pwgje

#11546 [PWGJE] improvement of the track selection in jetShape.cxx
  PWGJE/Tasks/jetShape.cxx
Labels: pwgje

#11559 [PWGLF] Fix the reweighting for cascades in MC + temporarily disabling histograms for secondary lambdas
  PWGLF/Tasks/Strangeness/strangenessInJets.cxx
Labels: pwglf

#11542 [Common] Use MCH track counterpart of global muon
  Common/Tasks/qaMuon.cxx
Labels: common

#11555 [PWGLF] Harmonics configurable and amplitude definition
  PWGLF/TableProducer/Nuspex/nucleiFlowTree.cxx
  PWGLF/TableProducer/QC/flowQC.cxx
Labels: pwglf

#11457 [Common] Add timestamp, centrality and evSelection to inter-calib table
  Common/DataModel/ZDCInterCalib.h
  Common/TableProducer/CMakeLists.txt
  Common/TableProducer/zdcTaskInterCalib.cxx
Labels: common, datamodel

#11572 [PWGLF] Add flag to disable its rof cut
  PWGLF/TableProducer/Nuspex/hyperRecoTask.cxx
Labels: pwglf

#11577 [PWGJE] PWGJE Change scheme for outlier removal
  PWGJE/Tasks/recoilJets.cxx
Labels: pwgje

#11578 [PWGJE] Fixing recoil jet response to fill with delta phi
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#11579 [PWGLF] Update inelGt.h
  PWGLF/Utils/inelGt.h
Labels: pwglf

#11589 [PWGHF,Tutorial] Include What You Use
  Tutorials/PWGHF/skimCreatorMini.cxx
  Tutorials/PWGHF/taskMini.cxx
Labels: pwghf, tutorial

#11576 [PWGCF] Add flag to disable ITS based track selection cuts
  PWGCF/Flow/Tasks/flowPtEfficiency.cxx
Labels: pwgcf

#11495 [Common] Unified, simple, fully self-configuring mult/cent provider
  Common/DataModel/Centrality.h
  Common/TableProducer/CMakeLists.txt
  Common/TableProducer/multCentTable.cxx
  Common/Tools/MultModule.h
Labels: common, datamodel

#11597 [PWGLF] Update reweighting for cascades in MC
  PWGLF/Tasks/Strangeness/strangenessInJets.cxx
Labels: pwglf

#11605 [PWGLF] nuclei-proton angular correlations: Add dp and pp correlation
  PWGLF/Tasks/Nuspex/hadronnucleicorrelation.cxx
Labels: pwglf

#11551 [PWGLF] Include What You Use
  PWGLF/DataModel/LFStrangenessTables.h
Labels: pwglf, datamodel

#11575 [PWGDQ] Updated HistogramLibrary
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#11599 [PWGUD] nch axis to nsample axis new
  PWGUD/Tasks/flowCorrelationsUpc.cxx
Labels: pwgud

#11609 [PWGLF] Using global ccdb and fixed a bug
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#11593 [PWGLF] added configurable enablePureDCAHistogram for enabling pure DCA histogram based on nsigmaTPCKa cut
  PWGLF/Tasks/Nuspex/spectraTOF.cxx
Labels: pwglf

#11601 [PWGCF] Add v3 flow and optimized track selection
  PWGCF/Flow/Tasks/flowGfwOmegaXi.cxx
Labels: pwgcf

#11566 [PWGLF] Added azimuthal angle phi distribution
  PWGLF/Tasks/Resonances/higherMassResonances.cxx
Labels: pwglf

#11603 [PWGCF] FemtoUniverse: Filling 3D histo of qLCMS vs dEta vs dPhi
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackSpherHarMultKtExtended.cxx
Labels: pwgcf

#11621 [Common] Add hepmc info for O-O cent studies
  Common/DataModel/Multiplicity.h
  Common/TableProducer/multiplicityTable.cxx
Labels: common, datamodel

#11608 [PWGCF] Added ITS PID
  PWGCF/Flow/Tasks/flowPbpbPikp.cxx
Labels: pwgcf

#11614 [PWGCF] remove obsolete variables
  PWGCF/Flow/Tasks/flowZdcTask.cxx
Labels: pwgcf

#11622 [Common] Change index column identifier
  Common/DataModel/Multiplicity.h
Labels: common, datamodel

#11623 [PWGLF] add tof flag, detector map and cfg for its cluster size cut
  PWGLF/TableProducer/Nuspex/trHeAnalysis.cxx
Labels: pwglf

#11616 [Infrastructure] Configure naming conventions in clang-tidy
  .clang-tidy
Labels: infrastructure

#11626 [PWGUD] Fixing partition issue in udQC tasks
  PWGUD/AQC/udQC.cxx
  PWGUD/AQC/udQCmidRap.cxx
Labels: pwgud

#11586 [PWGLF] Add qa while both mother and daughter tracks found
  PWGLF/TableProducer/Nuspex/hyperhelium4sigmaRecoTask.cxx
Labels: pwglf

#11560 [PWGLF] v0ptinvmassplots: Added INEL>0
  PWGLF/Tasks/Strangeness/v0ptinvmassplots.cxx
Labels: pwglf

#11630 [PWGCF] improve resetting of axes
  PWGCF/Core/CorrelationContainer.cxx
Labels: pwgcf

#11631 [PWGHF] Fix unbound indices for B -> JPsi data creator
  PWGHF/D2H/DataModel/ReducedDataModel.h
  PWGHF/D2H/TableProducer/candidateCreatorBToJpsiReduced.cxx
Labels: pwghf, datamodel

#11525 [PWGDQ] Update on Dilepton-track-track
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/DataModel/ReducedInfoTables.h
  PWGDQ/Tasks/dqEfficiency.cxx
  PWGDQ/Tasks/tableReader.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
  git
Labels: pwgdq, datamodel

#11543 [PWGLF] Generalise epvector.cxx to higher harmonics
  PWGLF/TableProducer/Common/epvector.cxx
Labels: pwglf

#11634 [PWGCF] Possible fix on configurable vectors
  PWGCF/Flow/Tasks/flowPbpbPikp.cxx
Labels: pwgcf

#11632 [PWGDQ] Add cent FT0A and FT0M
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/DataModel/ReducedInfoTables.h
  PWGDQ/TableProducer/tableMaker.cxx
  PWGDQ/TableProducer/tableMakerMC.cxx
  PWGDQ/TableProducer/tableMakerMC_withAssoc.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
  PWGDQ/Tasks/CMakeLists.txt
  PWGDQ/Tasks/ModelConverterEventExtended.cxx
  PWGDQ/Tasks/dqFlow.cxx
Labels: pwgdq, datamodel

#11610 [PWGLF] Avoid unexpected behavior while no matched collisions
  PWGLF/Utils/svPoolCreator.h
Labels: pwglf

#11618 [PWGJE] Fix: make doRhoAreaSub take jet by const reference
  PWGJE/Core/JetBkgSubUtils.cxx
  PWGJE/Core/JetBkgSubUtils.h
Labels: pwgje

#11633 [Infrastructure] Support non-flat KFParticle headers distribution
  dependencies/FindKFParticle.cmake
Labels: infrastructure

#11646 [PWGLF] Adapt flowQC to higher harmonics for updated ep-tables
  PWGLF/TableProducer/QC/flowQC.cxx
Labels: pwglf

#11644 [PWGDQ] Update tableReader_withAssoc.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#11643 [PWGJE] Adding MC weights for JEJE injections, and adding mask for s…
  PWGJE/Tasks/statPromptPhoton.cxx
Labels: pwgje

#11637 [PWGHF] correlatorDMesonPairs: Add max pt to remove ambiguous candidates
  PWGHF/HFC/TableProducer/correlatorDMesonPairs.cxx
Labels: pwghf

#11651 [PWGLF] fix missing abs() and config-axes bugs
  PWGLF/Tasks/Strangeness/cascadecorrelations.cxx
Labels: pwglf

#11653 [PWGLF] added centrality ft0a and ft0c qa histograms
  PWGLF/TableProducer/Nuspex/he3HadronFemto.cxx
Labels: pwglf

#11645 [PWGCF] FemtoUniverse cascade task -- Refactored the cascade tables to utilize FDParticle
  PWGCF/FemtoUniverse/DataModel/FemtoDerived.h
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackCascadeExtended.cxx
Labels: pwgcf, datamodel

#11655 [PWGHF] Add exceptions for HF MC TOF recalibration to avoid human mistakes
  PWGHF/TableProducer/mcPidTof.cxx
Labels: pwghf

#11662 [PWGLF] Update on Nch-dependet corrections
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#11650 [PWGDQ] Add centrality info to MC generated events mini tree
  PWGDQ/DataModel/ReducedInfoTables.h
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
Labels: pwgdq, datamodel

#11654 [Common,PWGHF,PWGJE,Trigger,Tutorial] Drop support for old ONNXRuntime API
  Common/TableProducer/mftmchMatchingML.cxx
  EventFiltering/PWGHF/HFFilterPrepareMLSamples.cxx
  PWGHF/TableProducer/candidateSelectorLcPidMl.cxx
  PWGJE/Core/MlResponseHfTagging.h
  Tools/ML/MlResponse.h
  Tools/ML/model.cxx
  Tools/ML/model.h
  Tools/PIDML/pidOnnxModel.h
  Tutorials/src/reweighting.cxx
Labels: pwghf, common, pwgje, tutorial, trigger

#11640 [PWGEM] SingleTrackQC update to THnSparse Data and MC
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
Labels: pwgem

#11592 [PWGLF] added phi v1 and costhetastar for SA
  PWGLF/Tasks/Resonances/kstarpbpb.cxx
  PWGLF/Tasks/Resonances/phipbpb.cxx
Labels: pwglf

#11668 [PWGDQ] Fixed a bug in dilepton track track vertexing using KFP
  PWGDQ/Core/VarManager.h
Labels: pwgdq

#11672 [DPG] Split processes with and w/o PID info.
  DPG/Tasks/AOTTrack/qaImpPar.cxx
Labels: dpg

#11667 [PWGLF] Two histograms were added
  PWGMM/UE/Tasks/dedxAnalysis.cxx
Labels: pwglf

#11673 [PWGEM/Dilepton] fix chi2 in global muon
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/TableProducer/skimmerPrimaryMuon.cxx
Labels: pwgem

#11677 [PWGCF] Added V0 cuts and changed the RD method & V0 MC efficiency
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf

#11657 [Common] Enclose Metadata and CollisionType Helper in o2 namespace
  Common/Core/CollisionTypeHelper.cxx
  Common/Core/CollisionTypeHelper.h
  Common/Core/MetadataHelper.cxx
  Common/Core/MetadataHelper.h
Labels: common

#11676 [PWGLF] Derived data producer for lambda spin correlation study
  PWGLF/DataModel/LFSpincorrelationTables.h
  PWGLF/TableProducer/Strangeness/CMakeLists.txt
  PWGLF/TableProducer/Strangeness/lambdaspincorrelation.cxx
Labels: pwglf, datamodel

#11418 [PWGHF] Implement gen and reco MC matching for correlated bkg decays
  PWGHF/Core/DecayChannels.h
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/candidateCreator2Prong.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorMcGen.cxx
  PWGHF/TableProducer/treeCreatorD0ToKPi.cxx
  PWGHF/TableProducer/treeCreatorDplusToPiKPi.cxx
  PWGHF/Utils/utilsMcGen.h
  PWGHF/Utils/utilsMcMatching.h
Labels: pwghf, datamodel

#11661 [PWGLF] added polar angle in helicity frame in MC
  PWGLF/Tasks/Resonances/higherMassResonances.cxx
Labels: pwglf

#11584 [PWGHF] add soft-pi dcaXY, dcaZ to SigmaC THnSparse.
  PWGHF/D2H/Tasks/taskSigmac.cxx
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/candidateCreatorSigmac0plusplus.cxx
Labels: pwghf, datamodel

#11685 [PWGDQ] Tasks/dqEfficiency_withAssoc: Extended B meson table
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#11680 [PWGCF] fixed double filling of QA plots and changed multiplicity cuts to config
  PWGCF/Flow/TableProducer/zdcQVectors.cxx
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

#11683 [PWGLF] update MC process
  PWGLF/Tasks/Resonances/lstaranalysis.cxx
Labels: pwglf

#11687 [PWGLF] Update nucleitpcpbpb.cxx added tof information
  PWGLF/Tasks/Nuspex/nucleitpcpbpb.cxx
Labels: pwglf

#11694 [PWGEM/PhotonMeson,PWGJE/EMCal] Include BCWise centrality and qa histograms
  PWGEM/PhotonMeson/TableProducer/bcWiseClusterSkimmer.cxx
  PWGEM/PhotonMeson/Tasks/CMakeLists.txt
  PWGEM/PhotonMeson/Tasks/emcalBcWiseGammaGamma.cxx
  PWGJE/Tasks/emcEventSelectionQA.cxx
Labels: pwgje, pwgem

#11689 [PWGEM/Dilepton] upadte PID ML
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/TableProducer/CMakeLists.txt
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
  PWGEM/Dilepton/Utils/MlResponseDielectronSingleTrack.h
  PWGEM/Dilepton/Utils/MlResponseO2Track.h
Labels: pwgem

#11515 [PWGCF] Added more histograms for Monte Carlo to calculate mean pt fluctuations for identified particles
  PWGCF/EbyEFluctuations/Tasks/CMakeLists.txt
  PWGCF/EbyEFluctuations/Tasks/IdentifiedMeanPtFluctuations.cxx
  PWGCF/EbyEFluctuations/Tasks/eventMeanPtId.cxx
Labels: pwgcf

#11690 [PWGCF] add bool for pT ordering cut
  PWGCF/TwoParticleCorrelations/Tasks/diHadronCor.cxx
Labels: pwgcf

#11696 [PWGLF,Trigger] new event selection criteria
  EventFiltering/PWGMM/multFilter.cxx
Labels: pwglf, trigger

#11693 [PWGLF] Fix bug in index of dirived data
  PWGLF/DataModel/LFSpincorrelationTables.h
  PWGLF/TableProducer/Strangeness/lambdaspincorrelation.cxx
Labels: pwglf, datamodel

#11695 [PWGEM/Dilepton] upadte ITSsa
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
  PWGEM/PhotonMeson/TableProducer/skimmerPrimaryElectronFromDalitzEE.cxx
Labels: pwgem

#11528 [PWGLF,Tutorial] Upload k1analysismicro.cxx and fix typo
  PWGLF/DataModel/LFResonanceTables.h
  PWGLF/TableProducer/Resonances/resonanceInitializer.cxx
  PWGLF/TableProducer/Resonances/resonanceModuleInitializer.cxx
  PWGLF/Tasks/Resonances/CMakeLists.txt
  PWGLF/Tasks/Resonances/doubleResonanceScan.cxx
  PWGLF/Tasks/Resonances/k1AnalysisMicro.cxx
  PWGLF/Tasks/Resonances/xi1530Analysisqa.cxx
  Tutorials/PWGLF/Resonance/resonancesMicrotrack.cxx
Labels: pwglf, tutorial, datamodel

#11692 [PWGLF] removed unnecessary cut
  PWGLF/Tasks/Nuspex/antinucleiInJets.cxx
Labels: pwglf

#11698 [PWGCF] Added Histograms for Monte Carlo
  PWGCF/EbyEFluctuations/Tasks/netchargeFluctuations.cxx
Labels: pwgcf

#11700 [PWGDQ] Fix for invalid cursor call with 8 arguments instead of 9
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
Labels: pwgdq

#11701 [PWGJE] Improve jet shape calculation logic in jetShape.cxx
  PWGJE/Tasks/jetShape.cxx
Labels: pwgje

#11703 [PWGJE] Adding dphi cut for recoil jet response
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#11705 [PWGEM/Dilepton] fix for thresholds in PID ML
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
Labels: pwgem

#11708 [PWGHF] Remove need for extended pt column in B -> J/Psi workflow
  PWGHF/D2H/DataModel/ReducedDataModel.h
  PWGHF/D2H/TableProducer/candidateCreatorBToJpsiReduced.cxx
  PWGHF/D2H/Tasks/taskBplusToJpsiKReduced.cxx
  PWGHF/D2H/Tasks/taskBsToJpsiPhiReduced.cxx
Labels: pwghf, datamodel

#11707 [PWGLF] add histograms for kine-transformed mass bias
  PWGLF/TableProducer/Strangeness/CMakeLists.txt
  PWGLF/TableProducer/Strangeness/strangeTreeCreator.cxx
Labels: pwglf
