Repository AliceO2Group/O2Physics, pull requests merged in 2025-08, with the labels that each got.

#12349 [PWGCF] Fix missing MC table subscription
  PWGCF/TableProducer/filter2Prong.cxx
Labels: pwgcf

#12353 [PWGJE] Replace TMath methods with O2 ones
  PWGJE/Tasks/nucleiInJets.cxx
Labels: pwgje

#11885 [Common] Use metadataHelper from namespace
  Common/Core/MetadataHelper.h
Labels: common

#12361 [PWGLF] Remove subscription to TOFPIDs table
  PWGLF/Tasks/Strangeness/strangenessderivedbinnedinfo.cxx
Labels: pwglf

#12230 [PWGHF] D+: Add dependence on PV contributors to thnsparse
  PWGHF/D2H/Tasks/taskDplus.cxx
  PWGHF/TableProducer/treeCreatorDplusToPiKPi.cxx
Labels: pwghf

#12355 [PWGDQ] Add geometry loading to dilepton-track task
  PWGDQ/Tasks/dqEfficiency.cxx
Labels: pwgdq

#12370 [PWGLF] fix index for bkg candidates
  PWGLF/TableProducer/Strangeness/cascadeflow.cxx
Labels: pwglf

#12360 [PWGJE] Removing random track historam
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#12367 [Common/EventPlane] eta selection with configurable
  Common/TableProducer/qVectorsTable.cxx
Labels: common

#12365 [DPG] adding new QA task to monitor outliers and pileup in OO and NeNe
  DPG/Tasks/AOTEvent/CMakeLists.txt
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
  DPG/Tasks/AOTEvent/lightIonsEvSelQa.cxx
Labels: dpg

#12379 [PWGEM/Dilepton] update 2PC
  PWGEM/Dilepton/Core/EMTrackCut.h
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/TableProducer/createEMEventDilepton.cxx
  PWGEM/Dilepton/TableProducer/skimmerPrimaryTrack.cxx
  PWGEM/Dilepton/Utils/EMTrackUtilities.h
Labels: pwgem, datamodel

#12380 [PWGEM/Dilepton] update treeCreatorElectronMLDDA.cxx
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
Labels: pwgem

#12387 [PWGCF] added histos and condition for pZDC
  PWGCF/Flow/Tasks/flowZdcTask.cxx
Labels: pwgcf

#12368 [PWGLF] adding sign for two particle polarization
  PWGLF/Tasks/Strangeness/lambdaTwoPartPolarization.cxx
Labels: pwglf

#12394 [PWGLF] Added pT dependent DCAxy cut
  PWGLF/Tasks/Resonances/kstarqa.cxx
Labels: pwglf

#12397 [PWGEM/PhotonMeson] reduce data size of ele from dalitz
  PWGEM/PhotonMeson/TableProducer/skimmerPrimaryElectronFromDalitzEE.cxx
Labels: pwgem

#12399 [PWGEM/Dilepton] remove unnecessary function in filterEoI.cxx
  PWGEM/Dilepton/TableProducer/filterEoI.cxx
Labels: pwgem

#12398 [PWGCF] FemtoUniverse v0cascade task -- added zorro software trigger
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

#12374 [PWGCF] Add histogram for efficiency correction
  PWGCF/EbyEFluctuations/Tasks/netchargeFluctuations.cxx
Labels: pwgcf

#12403 [DPG] tuning of evsel cuts
  DPG/Tasks/AOTEvent/lightIonsEvSelQa.cxx
Labels: dpg

#12400 [PWGUD] Modified the counter histograms
  PWGUD/Tasks/exclusiveRhoTo4Pi.cxx
Labels: pwgud

#12404 [PWGEM] Deleted V0TOFNsigma subscription + updates table subscription
  PWGEM/PhotonMeson/Tasks/compconvbuilder.cxx
Labels: pwgem

#12372 [Trigger,PWGEM] fix std
  EventFiltering/PWGEM/EMPhotonFilter.cxx
Labels: pwgem, trigger

#12412 [PWGLF] One more minor optimization change to str builder module
  PWGLF/Utils/strangenessBuilderModule.h
Labels: pwglf

#12406 [PWGCF] cfgTrackBitMask type changed to uint16_t
  PWGCF/Tasks/correlations.cxx
Labels: pwgcf

#12416 [PWGCF] FemtoUniverse - Adding PDG mass for same and mixed event container in cascade task.
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackCascadeExtended.cxx
Labels: pwgcf

#12411 [PWGCF] FemtoUniverse: Checking closed-pair at vertex
  PWGCF/FemtoUniverse/Core/FemtoUniverseDetaDphiStar.h
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackSpherHarMultKtExtended.cxx
Labels: pwgcf

#12417 [PWGEM/Dilepton] keep float as float
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
  PWGEM/Dilepton/TableProducer/treeCreatorElectronML.cxx
  PWGEM/Dilepton/Tasks/Converters/electronConverter4.cxx
  PWGEM/Dilepton/Tasks/vpPairQC.cxx
  PWGEM/Dilepton/Utils/MlResponseO2Track.h
  PWGEM/PhotonMeson/DataModel/gammaTables.h
  PWGEM/PhotonMeson/TableProducer/photonconversionbuilder.cxx
  PWGEM/PhotonMeson/TableProducer/skimmerGammaConversion.cxx
  PWGEM/PhotonMeson/TableProducer/skimmerPrimaryElectronFromDalitzEE.cxx
  PWGEM/PhotonMeson/Tasks/Converters/electronFromDalitzConverter1.cxx
  PWGEM/PhotonMeson/Tasks/Converters/pcmConverter1.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQCMC.cxx
Labels: pwgem, datamodel

#12419 [PWGJE,EMCAL-1154] Core/emcalCrossTalEmulation: fix cell ID outside li…
  PWGJE/Core/emcalCrossTalkEmulation.cxx
  PWGJE/Core/emcalCrossTalkEmulation.h
Labels: pwgje, emcal

#12428 [PWGCF] Use THnF efficiency, allow efficiency correction without NUA
  PWGCF/JCorran/Tasks/jflucWeightsLoader.cxx
Labels: pwgcf

#12423 [PWGCF] Fix bug in FV0 eta calculation
  PWGCF/TwoParticleCorrelations/Tasks/longrangeCorrelation.cxx
Labels: pwgcf

#12421 [PWGJE] Fixing histogram names
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#12422 [PWGLF] Fix signal check for hypertriton kink and add column for datamodel
  PWGLF/DataModel/LFHyperNucleiKinkTables.h
  PWGLF/TableProducer/Nuspex/hyperkinkRecoTask.cxx
Labels: pwglf, datamodel

#12438 [PWGCF] RCT flags in femto producer
  PWGCF/FemtoDream/TableProducer/femtoDreamProducerTask.cxx
Labels: pwgcf

#12169 [PWGDQ] ML response for DQ-analysis selections
  PWGDQ/Core/CMakeLists.txt
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/CutsLibrary.h
  PWGDQ/Core/DQMlResponse.h
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/Macros/bdtCut.json
  PWGDQ/Macros/bdtCutMulti.json
  PWGDQ/Tasks/CMakeLists.txt
  PWGDQ/Tasks/tableReader.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#12446 [PWGCF] fix bug of fetching centrality
  PWGCF/TwoParticleCorrelations/Tasks/diHadronCor.cxx
Labels: pwgcf

#12271 [PWGLF,PWGHF] Add photon safety layer to strangeness getters
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGLF/DataModel/LFStrangenessTables.h
Labels: pwghf, pwglf, datamodel

#12443 [PWGLF] refactoring + syst on full event + added configurable to run …
  PWGLF/Tasks/Nuspex/CMakeLists.txt
  PWGLF/Tasks/Nuspex/antinucleiInJets.cxx
Labels: pwglf

#12448 [PWGDQ] Fix DeltaPhi definition
  PWGDQ/Tasks/taskJpsiHf.cxx
Labels: pwgdq

#12435 [Common] mult/cent: add Zeq to MFT, NGlobals too
  Common/DataModel/Multiplicity.h
  Common/Tools/MultModule.h
Labels: common, datamodel

#12452 [ALICE3] Add more qa of ml use to otf multi-charm task
  ALICE3/TableProducer/alice3-multicharmTable.cxx
  ALICE3/Tasks/alice3-multicharm.cxx
Labels: alice3

#12444 [PWGLF] Added MC closure
  PWGLF/Tasks/Resonances/kstarqa.cxx
Labels: pwglf

#12445 [PWGHF] Charm resonances: Matching of D*->D0pi
  PWGHF/Core/DecayChannels.h
  PWGHF/D2H/TableProducer/dataCreatorCharmResoReduced.cxx
  PWGHF/Utils/utilsMcMatching.h
Labels: pwghf

#12439 [PWGCF] FemtoUniverse -- Add MC Truth to helicity angle analysis.
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackV0Helicity.cxx
Labels: pwgcf

#12431 [PWGLF] Added TOF condition
  PWGLF/Tasks/Resonances/CMakeLists.txt
  PWGLF/Tasks/Resonances/kstarInOO.cxx
Labels: pwglf

#12102 [PWGCF,PWGHF] Add a task for p-Dplus correlations in femtodream
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/Core/femtoDreamContainer.h
  PWGCF/FemtoDream/Core/femtoDreamUtils.h
  PWGHF/HFC/TableProducer/femtoDreamProducer.cxx
  PWGHF/HFC/Tasks/taskCharmHadronsFemtoDream.cxx
Labels: pwghf, pwgcf, datamodel

#12401 [PWGLF] Added background histogram
  PWGLF/Tasks/Resonances/chk892pp.cxx
Labels: pwglf

#11997 [PWGUD] New 2D histos and vars (tracks, rct) in tau tree
  PWGUD/Tasks/upcTauTau13topo.cxx
Labels: pwgud

#12447 [PWGLF] rename task and implement systematic cut variations
  PWGLF/Tasks/Nuspex/CMakeLists.txt
  PWGLF/Tasks/Nuspex/chargedParticles.cxx
Labels: pwglf

#12464 [PWGLF] Added QA histos for track selection
  PWGMM/Mult/Tasks/dndetaMFTPbPb.cxx
Labels: pwglf

#12427 [PWGLF] updated datamodel and added initial analysis task for spin alignment
  PWGLF/DataModel/LFCKSSpinalignmentTables.h
  PWGLF/TableProducer/Resonances/cksspinalignment.cxx
  PWGLF/Tasks/Resonances/CMakeLists.txt
  PWGLF/Tasks/Resonances/cksspinalignder.cxx
Labels: pwglf, datamodel

#12458 [Common] Autodetect MC for centrality in light ions
  Common/Tools/MultModule.h
Labels: common

#12369 [PWGHF] Used DeltaEta and DeltaPhi from EMCalMatchedTracks Table for Track-Cluster Matching
  PWGHF/HFC/TableProducer/correlatorHfeHadrons.cxx
  PWGHF/HFL/TableProducer/electronSelectionWithTpcEmcal.cxx
Labels: pwghf

#12107 [PWGHF/D2H] Add weight method to achieve centrality at generator level
  PWGHF/D2H/Tasks/taskDstarToD0Pi.cxx
Labels: pwghf

#12466 [PWGCF] Change default to false so other analyses are not changed
  PWGCF/FemtoDream/TableProducer/femtoDreamProducerTask.cxx
Labels: pwgcf

#12474 [PWGEM/PhotonMeson] remove track::x,y,z from derived data
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/PhotonMeson/Core/CutsLibrary.cxx
  PWGEM/PhotonMeson/Core/DiphotonHadronMPC.h
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGamma.h
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGammaMC.h
  PWGEM/PhotonMeson/Core/TaggingPi0.h
  PWGEM/PhotonMeson/Core/TaggingPi0MC.h
  PWGEM/PhotonMeson/Core/V0PhotonCut.cxx
  PWGEM/PhotonMeson/Core/V0PhotonCut.h
  PWGEM/PhotonMeson/DataModel/gammaTables.h
  PWGEM/PhotonMeson/TableProducer/photonconversionbuilder.cxx
  PWGEM/PhotonMeson/TableProducer/skimmerGammaConversion.cxx
  PWGEM/PhotonMeson/TableProducer/skimmerPrimaryElectronFromDalitzEE.cxx
  PWGEM/PhotonMeson/Tasks/Converters/electronFromDalitzConverter1.cxx
  PWGEM/PhotonMeson/Tasks/Converters/pcmConverter1.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
  PWGEM/PhotonMeson/Tasks/prefilterPhoton.cxx
Labels: pwgem, datamodel

#12470 [PWGLF] added function to study pd correlation
  PWGLF/Tasks/Nuspex/antinucleiInJets.cxx
Labels: pwglf

#12481 [PWGLF] Fix minor linter issues
  PWGMM/Mult/Tasks/dndetaMFTPbPb.cxx
Labels: pwglf

#12480 [PWGEM/Dilepton] update treeCreatorElectronMLDDA.cxx
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
Labels: pwgem

#12471 [PWGHF] Add fToiMask info in the tree creator
  PWGHF/TableProducer/treeCreatorOmegacSt.cxx
Labels: pwghf

#12455 [PWGUD] Modified counter histogram
  PWGUD/Tasks/exclusiveRhoTo4Pi.cxx
Labels: pwgud

#12488 [DPG] more checks in lightIonsEvSelQa
  DPG/Tasks/AOTEvent/lightIonsEvSelQa.cxx
Labels: dpg

#12483 [PWGJE] Addition of nσ distribution plot for the perpendicular cone.
  PWGJE/Tasks/jetShape.cxx
Labels: pwgje

#12492 [PWGJE] taskEmcExtensiveMcQa: Add more cluster energy informations
  PWGJE/Tasks/taskEmcExtensiveMcQa.cxx
Labels: pwgje, emcal

#12494 [Common] configs for special checks for light ion runs
  Common/Tools/EventSelectionTools.h
Labels: common

#12495 [PWGEM/PhotonMeson] fix in filterEoI.cxx
  PWGEM/Dilepton/TableProducer/filterEoI.cxx
Labels: pwgem

#12498 [PWGLF] Apply TOF only if available + add different centrality estimators
  PWGLF/Tasks/Strangeness/derivedlambdakzeroanalysis.cxx
Labels: pwglf

#12477 [PWGLF] Added processFindable method for kinkBuilder efficiency analysis
  PWGLF/TableProducer/Strangeness/sigmaminustask.cxx
Labels: pwglf

#12505 [PWGCF] multiplicity set fixes
  PWGCF/DataModel/CorrelationsDerived.h
  PWGCF/TableProducer/filterCorrelations.cxx
Labels: pwgcf, datamodel

#12463 [PWGHF] XicToXiPiPi: Improve vertexing and selections in skimming
  PWGHF/TableProducer/trackIndexSkimCreator.cxx
Labels: pwghf

#12475 [PWGCF] added Event_cut for removing time ranges with dead ITS - dips
  PWGCF/Femto3D/DataModel/singletrackselector.h
  PWGCF/Femto3D/Tasks/femto3dPairTask.cxx
  PWGCF/Femto3D/Tasks/femto3dPairTaskMC.cxx
  PWGCF/Femto3D/Tasks/femto3dQA.cxx
Labels: pwgcf, datamodel

#12496 [PWGLF] added different centrality estimator in MC
  PWGLF/Tasks/Resonances/phianalysisrun3_PbPb.cxx
Labels: pwglf

#12497 [PWGEM/Dilepton] reduce charged track size
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/TableProducer/skimmerPrimaryTrack.cxx
  PWGEM/Dilepton/Tasks/Converters/CMakeLists.txt
  PWGEM/Dilepton/Tasks/Converters/trackConverter1.cxx
Labels: pwgem, datamodel

#12501 [PWGEM/PhotonMeson,PWGJE/EMCal] Add event selection cuts to omega and mcgenerator studies
  PWGEM/PhotonMeson/Tasks/OmegaMesonEMC.cxx
  PWGJE/Tasks/mcGeneratorStudies.cxx
Labels: pwgje, pwgem

#12507 [PWGLF] fill subdetector histograms with acc weight
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#12511 [PWGEM/Dilepton] remove unused argument
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonHadronMPC.h
Labels: pwgem

#12508 [PWGCF] CF correlations and JCorran multiplicity correlations
  PWGCF/DataModel/CorrelationsDerived.h
  PWGCF/JCorran/Core/JFFlucAnalysis.cxx
  PWGCF/JCorran/Core/JFFlucAnalysis.h
  PWGCF/JCorran/Core/JFFlucAnalysisO2Hist.cxx
  PWGCF/JCorran/Core/JFFlucAnalysisO2Hist.h
  PWGCF/JCorran/Tasks/jflucAnalysisTask.cxx
  PWGCF/TableProducer/filterCorrelations.cxx
  PWGCF/Tasks/correlations.cxx
Labels: pwgcf, datamodel

#12512 [PWGEM/PhotonMeson] update 2PC
  PWGEM/PhotonMeson/Core/DiphotonHadronMPC.h
Labels: pwgem

#12513 [PWGLF] added ratio of particletoantiparticle yield as a weight
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#12516 [Common] fix bug in z-vertex eq for Nglobal estimator
  Common/Tools/MultModule.h
Labels: common

#12517 [PWGCF] DptDpt - Applying clang for ordering header includes
  PWGCF/TableProducer/dptDptFilter.cxx
  PWGCF/TableProducer/dptDptFilter.h
  PWGCF/Tasks/dptDptCorrelations.cxx
  PWGCF/Tasks/dptDptFilterQa.cxx
  PWGCF/Tasks/matchRecoGen.cxx
  PWGCF/TwoParticleCorrelations/Tasks/dptDptEfficiencyAndQc.cxx
  PWGCF/TwoParticleCorrelations/Tasks/dptDptPerRunExtraQc.cxx
  PWGCF/TwoParticleCorrelations/Tasks/dptDptPerRunQc.cxx
Labels: pwgcf

#12521 [PWGCF] DptDpt - Using metadata for auto autoconfiguration
  PWGCF/TableProducer/dptDptFilter.h
Labels: pwgcf

#12486 [PWGLF] Add new table to store lambda variables for longitudinal polarization
  PWGLF/DataModel/cascqaanalysis.h
  PWGLF/TableProducer/Strangeness/cascadeflow.cxx
Labels: pwglf, datamodel

#12440 [PWGCF] ESE flow task for GFW
  PWGCF/Flow/Tasks/CMakeLists.txt
  PWGCF/Flow/Tasks/flowGfwEse.cxx
Labels: pwgcf

#12528 [PWGEM/Dilepton] add eoi in MC for consistency
  PWGEM/Dilepton/TableProducer/associateMCinfoDilepton.cxx
Labels: pwgem

#12522 [PWGEM/Dilepton] remove collinear from treeCreatorElectronMLDDA.cxx
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
Labels: pwgem

#12530 [PWGCF] Changed the configuration of the trackFilters function
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf

#12532 [PWGLF] Added pt cut configurable for generated mc particles
  PWGLF/TableProducer/Strangeness/sigmaminustask.cxx
Labels: pwglf

#12533 [PWGEM/Dilepton] use pin instead of ppv
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
Labels: pwgem

#12539 [PWGEM/Dilepton] update treeCreatorElectronMLDDA.cxx
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonHadronMPC.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/DimuonCut.h
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
Labels: pwgem

#12534 [PWGLF] Add FV0A-based centrality estimator
  PWGLF/Tasks/GlobalEventProperties/heavyionMultiplicity.cxx
Labels: pwglf

#12541 [PWGHF] Add a method for electron source selection
  PWGHF/HFL/Tasks/taskSingleElectron.cxx
Labels: pwghf

#12542 [PWGLF] Add INEl>0 event selection condition
  PWGLF/Tasks/GlobalEventProperties/heavyionMultiplicity.cxx
Labels: pwglf

#12529 [PWGCF] Add configurable for use strict pid
  PWGCF/Flow/Tasks/flowPidCme.cxx
Labels: pwgcf

#12465 [PWGUD] Avoid magic numbers and minor corrections
  PWGUD/Core/SGSelector.h
  PWGUD/TableProducer/SGCandProducer.cxx
  PWGUD/Tasks/upcTauTau13topo.cxx
Labels: pwgud

#12545 [PWGHF] Change default path in ccdb for zorro objects
  PWGHF/Utils/utilsEvSelHf.h
Labels: pwghf

#12549 [PWGCF] FemtoUniverse -- Add extra histograms to helicity analysis.
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackV0Helicity.cxx
Labels: pwgcf

#12551 [PWGEM/Dilepton] update 2PC
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonHadronMPC.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/PhotonMeson/Core/DiphotonHadronMPC.h
Labels: pwgem, datamodel

#12548 [PWGCF] Fixed a sign error in the trackFilters function
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf

#12552 [PWGLF] filled few topological variable distributions
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#12555 [PWGHF] Implement expert comments
  PWGHF/HFL/Tasks/taskSingleElectron.cxx
Labels: pwghf

#12544 [PWGCF] FemtoUniverse: Making the headers self-sufficient, filling MC Truth tracks
  PWGCF/FemtoUniverse/Core/FemtoUniverse3DContainer.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseAngularContainer.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseCascadeSelection.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseCollisionSelection.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseContainer.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseCutculator.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseEfficiencyCalculator.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseEventHisto.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseFemtoContainer.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseMath.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseObjectSelection.h
  PWGCF/FemtoUniverse/Core/FemtoUniversePairAngularWithCentMultKt.h
  PWGCF/FemtoUniverse/Core/FemtoUniversePairCleaner.h
  PWGCF/FemtoUniverse/Core/FemtoUniversePairSHCentMultKt.h
  PWGCF/FemtoUniverse/Core/FemtoUniversePairWithCentMultKt.h
  PWGCF/FemtoUniverse/Core/FemtoUniversePhiSelection.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseSHContainer.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseSoftPionRemoval.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseSpherHarMath.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseTrackSelection.h
  PWGCF/FemtoUniverse/Core/FemtoUniverseV0Selection.h
  PWGCF/FemtoUniverse/Core/femtoUtils.h
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackSpherHarMultKtExtended.cxx
Labels: pwgcf

#12558 [PWGEM] Add task for model predictions for meson spectra from OTF sims
  PWGEM/Dilepton/Tasks/CMakeLists.txt
  PWGEM/Dilepton/Tasks/mcParticlePredictionsOTF.cxx
Labels: pwgem

#12562 [DPG] new configs for nITScls, isGoodStaves etc.
  DPG/Tasks/AOTEvent/detectorOccupancyQa.cxx
Labels: dpg

#12557 [PWGHF] taskSingleElectron: Fix enumerator names.
  PWGHF/HFL/Tasks/taskSingleElectron.cxx
Labels: pwghf

#12567 [PWGCF] FemtoUniverse cascade task -- added track-cascade CPR option
  PWGCF/FemtoUniverse/Core/FemtoUniverseDetaDphiStar.h
Labels: pwgcf

#12451 [PWGHF] Add D*pi channel in B0 reduced workflow
  PWGHF/Core/HfHelper.h
  PWGHF/Core/HfMlResponseB0ToDPi.h
  PWGHF/D2H/DataModel/ReducedDataModel.h
  PWGHF/D2H/TableProducer/candidateCreatorB0Reduced.cxx
  PWGHF/D2H/TableProducer/candidateSelectorB0ToDPiReduced.cxx
  PWGHF/D2H/TableProducer/dataCreatorCharmHadPiReduced.cxx
  PWGHF/D2H/Tasks/taskB0Reduced.cxx
  PWGHF/D2H/Utils/utilsRedDataFormat.h
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/candidateSelectorDstarToD0Pi.cxx
Labels: pwghf, datamodel

#12579 [PWGLF] Optimised code and added new reconstructed MC function
  PWGLF/Tasks/Resonances/kstarqa.cxx
Labels: pwglf

#12585 [PWGCF] FemtoUniverse: Add hist. binnings for momentum as configurables
  PWGCF/FemtoUniverse/Core/FemtoUniverseParticleHisto.h
Labels: pwgcf

#12587 [PWGCF] FemtoUniverse: Add fill function for misidentifications
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackSpherHarMultKtExtended.cxx
Labels: pwgcf

#12588 [PWGEM/PhotonMeson] reduce dependency in MC
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGamma.h
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGammaMC.h
  PWGEM/PhotonMeson/Core/TaggingPi0MC.h
Labels: pwgem

#12577 [PWGEM] Fix init overload in OTF model prediction task
  PWGEM/Dilepton/Tasks/mcParticlePredictionsOTF.cxx
Labels: pwgem

#12563 [Trigger] feat: Update OTS object upload process
  EventFiltering/macros/uploadOTSobjects.C
Labels: trigger

#12580 [PWGLF] Add inv. mass cut on lambda to reduce size of stored tree
  PWGLF/TableProducer/Strangeness/cascadeflow.cxx
Labels: pwglf

#11688 [Common] Fix bugs, bad practice, performance, includes
  Common/CCDB/TriggerAliases.h
  Common/CCDB/ctpRateFetcher.cxx
  Common/CCDB/ctpRateFetcher.h
  Common/Core/CollisionAssociation.h
  Common/Core/CollisionTypeHelper.cxx
  Common/Core/EventPlaneHelper.cxx
  Common/Core/FFitWeights.cxx
  Common/Core/FFitWeights.h
  Common/Core/MetadataHelper.cxx
  Common/Core/OrbitRange.h
  Common/Core/PID/DetectorResponse.h
  Common/Core/PID/PIDTOF.h
  Common/Core/PID/ParamBase.cxx
  Common/Core/PID/ParamBase.h
  Common/Core/TableHelper.cxx
  Common/Core/TableHelper.h
  Common/Core/TrackSelection.cxx
  Common/Core/TrackSelection.h
  Common/Core/trackUtilities.h
  Common/TableProducer/PID/pidBayes.cxx
  Common/TableProducer/PID/pidTOFBase.cxx
  Common/TableProducer/PID/pidTOFMerge.cxx
  Common/TableProducer/PID/pidTPC.cxx
  Common/TableProducer/caloClusterProducer.cxx
  Common/TableProducer/centralityTable.cxx
  Common/TableProducer/eventSelection.cxx
  Common/TableProducer/multiplicityTable.cxx
  Common/TableProducer/qVectorsTable.cxx
  Common/TableProducer/trackselection.cxx
  Common/Tasks/checkDataModelMC.cxx
  Common/Tasks/evtPlanesResolution.cxx
  Common/Tasks/propagatorQa.cxx
  Common/Tasks/trackqa.cxx
  Common/Tools/EventSelectionTools.h
  Common/Tools/MultModule.h
  Common/Tools/Multiplicity/multCalibrator.cxx
  Common/Tools/Multiplicity/multCalibrator.h
  Common/Tools/Multiplicity/multGlauberNBDFitter.cxx
  Common/Tools/Multiplicity/multGlauberNBDFitter.h
  Common/Tools/Multiplicity/multMCCalibrator.cxx
  Common/Tools/Multiplicity/multMCCalibrator.h
  Common/Tools/PID/handleParamBase.h
  Common/Tools/TrackPropagationModule.h
  Common/Tools/TrackTuner.h
  Common/Tools/trackSelectionRequest.h
Labels: common

#12593 [PWGEM/Dilepton] add option to require TOF in treeCreatorElectronMLDD.cxx
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
Labels: pwgem

#12595 [PWGCF] FemtoUniverse v0cascade task -- implemented bitmask and CPR in v0-cascade task
  PWGCF/FemtoUniverse/Core/FemtoUniverseDetaDphiStar.h
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskV0CascadeExtended.cxx
Labels: pwgcf

#12600 [PWGLF] Added nsigmaTOF templates, nsigmaITS in data and MC for comparison, rounded-off variables and requirement on first 3 ITS layers
  PWGLF/Tasks/Nuspex/antinucleiInJets.cxx
Labels: pwglf

#12603 [PWGEM/Dilepton] add tpcNClsPID in treeCreatorElectronMLDDA.cxx
  PWGEM/Dilepton/DataModel/lmeeMLTables.h
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
Labels: pwgem, datamodel

#12602 [PWGCF] FemtoUniverse cascade task -- added efficiency correction for cascade task
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackCascadeExtended.cxx
Labels: pwgcf

#12597 [PWGCF] Modify in FV0 eta calculation and add kIsGoodZvtxFT0vsPV event selection
  PWGCF/TwoParticleCorrelations/Tasks/longrangeCorrelation.cxx
Labels: pwgcf

#12604 [PWGCF] DptDpt - Multiplicity observables correlations
  PWGCF/TableProducer/dptDptFilter.cxx
Labels: pwgcf

#12606 [PWGEM/Dilepton] update 2pc
  PWGEM/Dilepton/Core/DileptonHadronMPC.h
  PWGEM/PhotonMeson/Core/DiphotonHadronMPC.h
Labels: pwgem

#12601 [PWGLF] Optimised code
  PWGLF/Tasks/Resonances/higherMassResonances.cxx
Labels: pwglf

#12605 [PWGLF] updated derived data process function
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#12607 [PWGLF] Add new QA task for phi meson spectra + fix bug lambda spin correlation
  PWGLF/Tasks/Resonances/CMakeLists.txt
  PWGLF/Tasks/Resonances/phispectrapbpbqa.cxx
  PWGLF/Tasks/Strangeness/lambdaspincorrderived.cxx
Labels: pwglf

#12608 [PWGEM/Dilepton] update skimmerPrimaryElectronQC.cxx
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectronQC.cxx
Labels: pwgem

#12614 [PWGCF] Adding V0-V0 pair task
  PWGCF/FemtoDream/Core/femtoDreamDetaDphiStar.h
  PWGCF/FemtoDream/Tasks/CMakeLists.txt
  PWGCF/FemtoDream/Tasks/femtoDreamPairTaskV0V0.cxx
Labels: pwgcf

#12620 [DPG] Bug fix for physical-primary selection in DPG dca task.
  DPG/Tasks/AOTTrack/qaImpPar.cxx
Labels: dpg

#12566 [PWGJE] Removing old delta r functionality
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#12632 [PWGLF] Add flag to analyse pp collisions (change in centrality definition)
  PWGLF/TableProducer/Strangeness/lambdaspincorrelation.cxx
Labels: pwglf

#12610 [PWGCF] jFlucEfficiencyTask - Modify structure and add systematic study histograms
  PWGCF/JCorran/Tasks/jFlucEfficiencyTask.cxx
Labels: pwgcf

#12462 [PWGDQ] Add DielectronsAll table
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
Labels: pwgdq

#12639 [PWGLF] Change TOF selection cut
  PWGLF/Tasks/Resonances/phispectrapbpbqa.cxx
Labels: pwglf

#12631 [PWGCF] CF task multiplicity correlations and outlier cuts
  PWGCF/Tasks/correlations.cxx
Labels: pwgcf

#12643 [PWGEM/Dilepton] update taggingHFE.cxx
  PWGEM/Dilepton/Tasks/taggingHFE.cxx
Labels: pwgem

#12641 [PWGDQ] Updated CutLibrary.cxx
  PWGDQ/Core/CutsLibrary.cxx
Labels: pwgdq

#12630 [PWGLF] Add shift correctionfor event plane calibration
  PWGLF/TableProducer/Strangeness/cascadeflow.cxx
Labels: pwglf

#12640 [PWGJE] Adding Ds and Xic to jet framework
  PWGJE/Core/JetCandidateUtilities.h
  PWGJE/Core/JetHFUtilities.h
  PWGJE/DataModel/Jet.h
  PWGJE/DataModel/JetReducedDataHF.h
  PWGJE/DataModel/JetSubstructure.h
  PWGJE/DataModel/JetSubtraction.h
  PWGJE/JetFinders/CMakeLists.txt
  PWGJE/JetFinders/jetFinderDsDataCharged.cxx
  PWGJE/JetFinders/jetFinderDsMCDCharged.cxx
  PWGJE/JetFinders/jetFinderDsMCPCharged.cxx
  PWGJE/JetFinders/jetFinderHF.cxx
  PWGJE/JetFinders/jetFinderXicToXiPiPiDataCharged.cxx
  PWGJE/JetFinders/jetFinderXicToXiPiPiMCDCharged.cxx
  PWGJE/JetFinders/jetFinderXicToXiPiPiMCPCharged.cxx
  PWGJE/TableProducer/Matching/CMakeLists.txt
  PWGJE/TableProducer/Matching/Substructure/CMakeLists.txt
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatching.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingMCDsCharged.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingMCXicToXiPiPiCharged.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingSub.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingSubDsCharged.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingSubXicToXiPiPiCharged.cxx
  PWGJE/TableProducer/Matching/jetMatchingMCDsCharged.cxx
  PWGJE/TableProducer/Matching/jetMatchingMCSubDsCharged.cxx
  PWGJE/TableProducer/Matching/jetMatchingMCSubXicToXiPiPiCharged.cxx
  PWGJE/TableProducer/Matching/jetMatchingMCXicToXiPiPiCharged.cxx
  PWGJE/TableProducer/Matching/jetMatchingSubDsCharged.cxx
  PWGJE/TableProducer/Matching/jetMatchingSubXicToXiPiPiCharged.cxx
  PWGJE/TableProducer/derivedDataProducer.cxx
  PWGJE/TableProducer/derivedDataSelector.cxx
  PWGJE/TableProducer/derivedDataWriter.cxx
  PWGJE/TableProducer/eventwiseConstituentSubtractor.cxx
  PWGJE/TableProducer/jetEventWeightMCD.cxx
  PWGJE/TableProducer/jetEventWeightMCP.cxx
  PWGJE/TableProducer/mcOutlierRejector.cxx
  PWGJE/TableProducer/rhoEstimator.cxx
  PWGJE/Tasks/CMakeLists.txt
  PWGJE/Tasks/jetFinderDsQA.cxx
  PWGJE/Tasks/jetFinderHFQA.cxx
  PWGJE/Tasks/jetFinderXicToXiPiPiQA.cxx
  PWGJE/Tasks/jetSubstructureDs.cxx
  PWGJE/Tasks/jetSubstructureDsOutput.cxx
  PWGJE/Tasks/jetSubstructureHF.cxx
  PWGJE/Tasks/jetSubstructureHFOutput.cxx
  PWGJE/Tasks/jetSubstructureXicToXiPiPi.cxx
  PWGJE/Tasks/jetSubstructureXicToXiPiPiOutput.cxx
Labels: pwgje, datamodel

#12636 [PWGJE] V0 Jet Finder
  PWGJE/JetFinders/jetFinder.cxx
  PWGJE/JetFinders/jetFinderHF.cxx
  PWGJE/JetFinders/jetFinderV0.cxx
Labels: pwgje

#12656 [Trigger] Remove metadata from Zorro ccdb access
  EventFiltering/Zorro.cxx
Labels: trigger

#12651 [PWGCF] Reduce multiplicity correlations histogram size
  PWGCF/Tasks/correlations.cxx
Labels: pwgcf

#12663 [PWGLF] Generated multiplicity added
  PWGLF/Tasks/Resonances/kstarqa.cxx
Labels: pwglf

#12657 [PWGLF] added initializerevetqa.cxx and updated xi1530Analysisqa.cxx
  PWGLF/Tasks/Resonances/CMakeLists.txt
  PWGLF/Tasks/Resonances/initializereventqa.cxx
  PWGLF/Tasks/Resonances/xi1530Analysisqa.cxx
Labels: pwglf

#12661 [PWGEM,PWGEM-36] taskPi0FlowEMC: Add additional EMCal calib
  PWGEM/PhotonMeson/Tasks/taskPi0FlowEMC.cxx
Labels: pwgem, photon

#12667 [PWGEM/Dilepton] update PID ML in TableProducer
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectronQC.cxx
Labels: pwgem

#12644 [PWGJE] GNN-based b-jet tagging analysis code updated
  PWGJE/Tasks/bjetTaggingGnn.cxx
  PWGJE/Tasks/bjetTreeCreator.cxx
Labels: pwgje

#12673 [PWGLF] Fix xi1530Analysisqa.cxx
  PWGLF/Tasks/Resonances/xi1530Analysisqa.cxx
Labels: pwglf

#12664 [PWGLF] Update criteria for hypertriton kink analysis
  PWGLF/DataModel/LFHyperNucleiKinkTables.h
  PWGLF/TableProducer/Nuspex/hyperkinkRecoTask.cxx
Labels: pwglf, datamodel

#12675 [ALICE3] Update fasttracker and mcharm histograms
  ALICE3/Core/FastTracker.cxx
  ALICE3/Core/FastTracker.h
  ALICE3/TableProducer/alice3-multicharmTable.cxx
  ALICE3/Tasks/alice3-multicharm.cxx
Labels: alice3
