Repository AliceO2Group/O2Physics, pull requests merged in 2025-04, with the labels that each got.

#10711 [PWGUD] Add task for flow with dihadron correlation in UPC study
  PWGUD/Tasks/CMakeLists.txt
  PWGUD/Tasks/flowCorrelationsUpc.cxx
Labels: pwgud

#9872 [Common] Adding possibility to use phi-dependent parametrizations. Number of p…
  Common/Tools/TrackTuner.h
Labels: common

#10609 [Infrastructure] Add pre-commit hook for cpplint
  .pre-commit-config.yaml
Labels: infrastructure

#10660 [Infrastructure] Configure dependabot to update GitHub actions
  .github/dependabot.yml
Labels: infrastructure

#10694 [PWGCF] FemtoUniverse - Separating nSigma cuts for tracks and daughters
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackCascadeExtended.cxx
Labels: pwgcf

#10715 [Common] update DCA with MFT
  Common/Core/fwdtrackUtilities.h
  Common/TableProducer/fwdtrackPropagation.cxx
Labels: common

#10714 [PWGCF] Identified Bf, Changed how PID is performed, added configurables to improve performance
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.cxx
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.h
  PWGCF/TwoParticleCorrelations/Tasks/identifiedbf.cxx
Labels: pwgcf

#10722 [PWGCF] o added support for geometrical HMO cuts on fRefMult_vs_NContr
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-DataMembers.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-Enums.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
  PWGCF/MultiparticleCorrelations/Tasks/multiparticle-correlations-ab.cxx
Labels: pwgcf

#10716 [PWGUD] MC related error Solved
  PWGUD/TableProducer/SGCandProducer.cxx
  PWGUD/Tasks/sginclusivePhiKstarSD.cxx
Labels: pwgud

#10724 [PWGLF] adding response matrix for unfolding jet pt
  PWGLF/Tasks/Nuspex/antinucleiInJets.cxx
Labels: pwglf

#10727 [DPG] add a new dEdx vs occupancy task
  DPG/Tasks/AOTEvent/CMakeLists.txt
  DPG/Tasks/AOTEvent/dEdxVsOccupancyWithTrackQAinfo.cxx
  DPG/Tasks/AOTEvent/detectorOccupancyQa.cxx
Labels: dpg

#10725 [PWGLF] corrected a possible segmentation error
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#10719 [PWGLF] Update PWGLF/Tasks/Nuspex/spectraTOF.cxx
  PWGLF/Tasks/Nuspex/spectraTOF.cxx
Labels: pwglf

#10731 [PWGCF] removed unnecessary subscription + fixed a few variable names to plea…
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-Enums.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
  PWGCF/MultiparticleCorrelations/Tasks/multiparticle-correlations-ab.cxx
Labels: pwgcf

#10732 [PWGUD] Enable to change gapside in configuration
  PWGUD/Tasks/flowCorrelationsUpc.cxx
  PWGUD/Tasks/flowCumulantsUpc.cxx
Labels: pwgud

#10728 [PWGLF] enable DCA fitter
  PWGLF/TableProducer/Nuspex/he3HadronFemto.cxx
Labels: pwglf

#10734 [PWGUD] The binning of the histogram was adjusted to resolve a memory error
  PWGUD/Tasks/sginclusivePhiKstarSD.cxx
Labels: pwgud

#10740 [PWGDQ] Added a few electron cuts for the filter pp
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#10737 [PWGEM,Trigger] Add femto part to omega and etaprime triggers.
  EventFiltering/PWGEM/HeavyNeutralMesonFilter.cxx
  EventFiltering/filterTables.h
  PWGEM/PhotonMeson/Utils/HNMUtilities.h
Labels: pwgem, trigger

#10726 [PWGLF] PWGMM:Lumi
  PWGMM/Lumi/Tasks/lumiStability.cxx
Labels: pwglf

#10742 [PWGLF,Trigger] dev: 1 added counter for negative amps filter 2 mult added to nonpromtcascade task
  EventFiltering/PWGLF/strangenessFilter.cxx
  PWGLF/DataModel/LFNonPromptCascadeTables.h
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf, trigger, datamodel

#10736 [PWGHF,Trigger] Fix bugs for B->JPsi(->mumu) triggers
  EventFiltering/PWGHF/HFFilter.cxx
  EventFiltering/PWGHF/HFFilterHelpers.h
Labels: pwghf, trigger

#10745 [PWGJE,EMCAL-850] emcEventSelectionQA - Add histogram to monitor BCs …
  PWGJE/Tasks/emcEventSelectionQA.cxx
Labels: pwgje

#10663 [PWGLF] v0ptinvmasspltos zvertex and daughter pt plots
  PWGLF/Tasks/Strangeness/v0ptinvmassplots.cxx
Labels: pwglf

#10741 [PWGLF] Add new process to produce feed down matrix
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Labels: pwglf

#10707 [PWGLF] change in hStrangeCorrelation.cxx
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Labels: pwglf

#10751 [PWGLF] small changes for code optimization
  PWGLF/Tasks/Nuspex/antinucleiInJets.cxx
Labels: pwglf

#10735 [PWGLF] Added zorro for processing of skimmed data and removed magic numbers
  PWGLF/Tasks/Strangeness/CMakeLists.txt
  PWGLF/Tasks/Strangeness/strangenessInJets.cxx
Labels: pwglf

#10750 [PWGEM/Dilepton] update muon QA
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/Utils/EMTrackUtilities.h
Labels: pwgem

#10753 [PWGLF,Trigger] Update H3L3Body selection and reconstruct from decay3bodys directly
  EventFiltering/CMakeLists.txt
  EventFiltering/PWGLF/nucleiFilter.cxx
Labels: pwglf, trigger

#10746 [PWGCF] Add closure test
  PWGCF/Flow/Tasks/flowGfwOmegaXi.cxx
Labels: pwgcf

#10752 [PWGHF] Add tagging of partly reconstructed D*->D0(->Kpipi0)pi for spin alignment
  PWGHF/D2H/Tasks/taskCharmPolarisation.cxx
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/candidateCreatorDstar.cxx
Labels: pwghf, datamodel

#10756 [PWGLF] Fix -Wmissing-template-arg-list-after-template-kw
  PWGLF/TableProducer/Strangeness/cascadebuilder.cxx
Labels: pwglf

#10755 [PWGUD] Fix -Wmissing-template-arg-list-after-template-kw
  PWGUD/Tasks/upcQuarkoniaCentralBarrel.cxx
Labels: pwgud

#10763 Please consider the following formatting changes to #10762
  PWGLF/Tasks/Nuspex/angularCorrelationsInJets.cxx
Labels: pwglf

#10764 [PWGDQ] Adding event selection and fix muon propagation
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/TableProducer/tableMakerMC_withAssoc.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
Labels: pwgdq

#10761 [PWGCF] FemtoUniverse: add flags for Phi daughters
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

#10765 [PWGEM/Dilepton] add a task to study MFT-matching
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/Tasks/CMakeLists.txt
  PWGEM/Dilepton/Tasks/matchingMFT.cxx
Labels: pwgem

#10768 [PWGLF,Trigger] Add daughters' eta cut and QA plots for fH3L3Body trigger
  EventFiltering/PWGLF/nucleiFilter.cxx
Labels: pwglf, trigger

#10769 Common: update MFT matching
  Common/TableProducer/fwdtrackPropagation.cxx
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/Tasks/matchingMFT.cxx
Labels: common, pwgem

#10771 Please consider the following formatting changes to #10762
  PWGLF/Tasks/Nuspex/angularCorrelationsInJets.cxx
Labels: pwglf

#10770 [Common] update minRabs for global muons in fwdtrackPropagation.cxx
  Common/TableProducer/fwdtrackPropagation.cxx
Labels: common

#10767 [PWGJE,EMCAL-850] Add TVX check histogram for EMCal QA
  PWGJE/Tasks/emcEventSelectionQA.cxx
Labels: pwgje

#10772 [PWGEM/Dilepton] update table producer of muon
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/TableProducer/skimmerPrimaryMuon.cxx
  PWGEM/Dilepton/Tasks/matchingMFT.cxx
  PWGEM/Dilepton/Utils/EMTrackUtilities.h
Labels: pwgem, datamodel

#10774 [PWGLF] Fix histograms for efficiency evaluation
  PWGLF/Tasks/Nuspex/nucleiFromHypertritonMap.cxx
Labels: pwglf

#10775 [PWGCF] fix nua fill statements to include all
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

#10766 [PWGHF] Fix matching to MC for generated Sc(2455).
  PWGHF/TableProducer/candidateCreatorSigmac0plusplus.cxx
Labels: pwghf

#10778 Please consider the following formatting changes to #10762
  PWGLF/Tasks/Nuspex/angularCorrelationsInJets.cxx
Labels: pwglf

#10762 [PWGLF] debugging angular correlation pp histo filling
  PWGLF/Tasks/Nuspex/angularCorrelationsInJets.cxx
Labels: pwglf

#10781 [PWGUD] personal task modification
  PWGUD/Tasks/upcTauRl.cxx
Labels: pwgud

#10782 [PWGLF] adding Q-vec amplitude to switch to SP flow
  PWGLF/DataModel/LFHypernucleiTables.h
  PWGLF/TableProducer/Nuspex/hyperRecoTask.cxx
Labels: pwglf, datamodel

#10743 [PWGJE] fix tracks hist and add fill MCP weighted events
  PWGJE/Tasks/jetSpectraCharged.cxx
Labels: pwgje

#10780 [PWGEM/Dilepton] update skimmerPrimaryMuon.cxx
  PWGEM/Dilepton/TableProducer/skimmerPrimaryMuon.cxx
Labels: pwgem

#10779 [Tutorial] Add an example of a configurable expression column
  Tutorials/src/extendedTables.cxx
Labels: tutorial

#10773 [Common] update fwdtrackPropagation.cxx
  Common/TableProducer/fwdtrackPropagation.cxx
Labels: common

#10788 [PWGUD] Slight rework of preselection
  PWGUD/Tasks/upcTauRl.cxx
Labels: pwgud

#10785 [PWGCF] LambdaR2Correlation Update
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#10792 [PWGCF] IdentifiedBF Removed references to McParticles in irrelevant places.
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.cxx
  PWGCF/TwoParticleCorrelations/Tasks/identifiedbf.cxx
Labels: pwgcf

#10786 [PWGCF] Add MCRec for closure test
  PWGCF/Flow/Tasks/flowGfwOmegaXi.cxx
Labels: pwgcf

#10787 [PWGCF] FemtoUniverse: V0V0 pair fractions for MC truth
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackV0Extended.cxx
Labels: pwgcf

#10790 [PWGEM/PhotonMeson] Add HeavyNeutralMeson analysis task
  EventFiltering/PWGEM/HeavyNeutralMesonFilter.cxx
  PWGEM/PhotonMeson/Tasks/CMakeLists.txt
  PWGEM/PhotonMeson/Tasks/HeavyNeutralMeson.cxx
  PWGEM/PhotonMeson/Utils/HNMUtilities.h
Labels: pwgem, trigger

#10789 [Trigger] Adding to external histograms the AnalysedTriggers
  EventFiltering/Zorro.cxx
Labels: trigger

#10777 [PWGJE] Fix histgrams for PID
  PWGJE/Tasks/jetShape.cxx
Labels: pwgje

#10791 [PWGLF] angularCorrelationsInJets.cxx: fixed track filter, cleared up task
  PWGLF/Tasks/Nuspex/angularCorrelationsInJets.cxx
Labels: pwglf

#10801 [PWGDQ] Removing ambiguous histogram filling
  PWGDQ/TableProducer/tableMakerMC.cxx
Labels: pwgdq

#10710 [PWGHF] Fix unbound index issue in XiC0 tree creator
  PWGHF/TableProducer/treeCreatorToXiPi.cxx
Labels: pwghf

#10797 [PWGUD] Adding new table producer
  PWGUD/TableProducer/CMakeLists.txt
  PWGUD/TableProducer/tauEventTableProducer.cxx
  PWGUD/Tasks/upcTauRl.cxx
Labels: pwgud

#10802 [PWGHF] Add tagging of D* -> D0 pi -> K pi pi pi0 at gen level
  PWGHF/D2H/Tasks/taskCharmPolarisation.cxx
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/candidateCreatorDstar.cxx
Labels: pwghf, datamodel

#10784 Please consider the following formatting changes to #10783
  Common/TableProducer/multPercentile.cxx
Labels: common

#10809 Please consider the following formatting changes to #10783
  Common/TableProducer/multPercentile.cxx
Labels: common

#10805 [PWGLF] angularCorrelationsInJets.cxx: fixed QC histogram availability
  PWGLF/Tasks/Nuspex/angularCorrelationsInJets.cxx
Labels: pwglf

#10795 [ALICE3] Additional QA histograms to multicharm task
  ALICE3/TableProducer/OTF/onTheFlyTracker.cxx
  ALICE3/TableProducer/alice3-multicharm.cxx
Labels: alice3

#10758 [PWGLF] task to for nuclei
  PWGLF/Tasks/Nuspex/CMakeLists.txt
  PWGLF/Tasks/Nuspex/NucleitpcPbPb.cxx
Labels: pwglf

#10814 [PWGHF] Fix histo name in charm polarisation task
  PWGHF/D2H/Tasks/taskCharmPolarisation.cxx
Labels: pwghf

#10796 [PWGHF] taskFlow.cxx: change binning in histograms
  PWGHF/HFC/Tasks/taskFlow.cxx
Labels: pwghf

#10815 [PWGLF] PWGMM:Lumi: Changes onn rate histo axis
  PWGMM/Lumi/Tasks/lumiStability.cxx
Labels: pwglf

#10817 [PWGDQ] Adding MCSignal for POWHEG Drell-Yan muon selection
  PWGDQ/Core/MCProng.cxx
  PWGDQ/Core/MCProng.h
  PWGDQ/Core/MCSignal.h
  PWGDQ/Core/MCSignalLibrary.cxx
Labels: pwgdq

#10819 [DPG] Update eventSelectionQa.cxx - add dEdx vs occupancy QA histo
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Labels: dpg

#10821 [PWGDQ] Adding extra signals for muclei and removing histos from table-maker
  PWGDQ/Core/MCSignalLibrary.cxx
  PWGDQ/TableProducer/tableMakerMC.cxx
Labels: pwgdq

#10823 [PWGHF] Add more event variables to the B derived data creator
  PWGHF/D2H/DataModel/ReducedDataModel.h
  PWGHF/D2H/TableProducer/dataCreatorCharmHadPiReduced.cxx
Labels: pwghf, datamodel

#10826 [PWGHF,Trigger] Additional pT min cut on D0 from Lc*
  EventFiltering/PWGHF/HFFilter.cxx
  EventFiltering/PWGHF/HFFilterHelpers.h
Labels: pwghf, trigger

#10827 [PWGEM/Dilepton] remove unnecessary histogram
  PWGEM/Dilepton/Tasks/matchingMFT.cxx
Labels: pwgem

#10818 [PWGJE] Histograms for MC study
  PWGJE/Tasks/nucleiInJets.cxx
Labels: pwgje

#10820 [PWGHF,Trigger] Add Bc decay to D0K into the HF filter
  EventFiltering/PWGHF/HFFilter.cxx
  EventFiltering/PWGHF/HFFilterHelpers.h
Labels: pwghf, trigger

#10831 [PWGEM/Dilepton] update matchingMFT.cxx in MC
  PWGEM/Dilepton/Tasks/matchingMFT.cxx
Labels: pwgem

#10811 [PWGLF] Strangeness builder work: PCM treatment, bufferizing option, etc
  PWGLF/DataModel/LFStrangenessTables.h
  PWGLF/TableProducer/Strangeness/strangenessbuilder.cxx
  PWGLF/Tasks/QC/CMakeLists.txt
  PWGLF/Tasks/QC/v0assoqa.cxx
  PWGLF/Utils/strangenessBuilderHelper.h
Labels: pwglf, datamodel

#10829 [PWGHF] Fix B+ selection in derived data creator
  PWGHF/TableProducer/derivedDataCreatorBplusToD0Pi.cxx
Labels: pwghf

#10832 [PWGEM/Dilepton] add BC info
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/TableProducer/associateMCinfoDilepton.cxx
  PWGEM/Dilepton/TableProducer/createEMEventDilepton.cxx
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
  PWGEM/Dilepton/TableProducer/skimmerPrimaryMuon.cxx
  PWGEM/Dilepton/Tasks/matchingMFT.cxx
Labels: pwgem, datamodel

#10833 [PWGEM/Dilepton] update matchingMFT.cxx
  PWGEM/Dilepton/Tasks/matchingMFT.cxx
Labels: pwgem

#10807 [PWGCF] Removed magic numbers from the code and changed the use of partitions
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf

#10825 [PWGLF] v0 analysis vs multiplicity: fix selections add QA plots add feeddown
  PWGLF/DataModel/v0qaanalysis.h
  PWGLF/TableProducer/Strangeness/v0qaanalysis.cxx
  PWGLF/Tasks/Strangeness/v0postprocessing.cxx
Labels: pwglf, datamodel

#10843 [PWGHF,Trigger] Fix the mass range of Bc in Hf filter task
  EventFiltering/PWGHF/HFFilterHelpers.h
Labels: pwghf, trigger

#10841 [PWGEM/Dilepton] support RCT flag
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/TableProducer/createEMEventDilepton.cxx
  PWGEM/Dilepton/TableProducer/eventSelection.cxx
  PWGEM/Dilepton/TableProducer/filterDielectronEvent.cxx
  PWGEM/Dilepton/TableProducer/skimmerSecondaryElectron.cxx
  PWGEM/Dilepton/Tasks/Converters/CMakeLists.txt
  PWGEM/Dilepton/Tasks/Converters/eventConverter2.cxx
  PWGEM/PhotonMeson/TableProducer/createEMEventPhoton.cxx
Labels: pwgem, datamodel

#10838 [PWGCF] Update lambdaR2Correlation.cxx
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#10846 [PWGEM/PhotonMeson,EventFiltering] Separate omega and eta' QA histogram
  EventFiltering/PWGEM/HeavyNeutralMesonFilter.cxx
  PWGEM/PhotonMeson/Tasks/HeavyNeutralMeson.cxx
Labels: pwgem, trigger

#10848 [PWGEM/Dilepton] update RCT selection
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/TableProducer/createEMEventDilepton.cxx
  PWGEM/Dilepton/TableProducer/eventSelection.cxx
Labels: pwgem, datamodel

#10849 [PWGEM/Dilepton] update matchingMFT.cxx
  PWGEM/Dilepton/Tasks/matchingMFT.cxx
Labels: pwgem

#10850 [PWGLF] Add new variable in THnSparse
  PWGLF/Tasks/Resonances/doublephimeson.cxx
Labels: pwglf

#10776 [PWGLF] Add and fix for code test using kaon
  PWGLF/Tasks/Resonances/f0980pbpbanalysis.cxx
Labels: pwglf

#10842 [PWGHF] small bug fixed in sigmaC task, add Thns for gen level
  PWGHF/D2H/Tasks/taskSigmac.cxx
Labels: pwghf

#10851 [PWGLF] updated existing flow code for spin alignment study
  PWGLF/Tasks/Resonances/kstarpbpb.cxx
Labels: pwglf

#10853 [PWGLF] protect against empty / problematic DFs
  PWGLF/Utils/strangenessBuilderHelper.h
Labels: pwglf

#10844 [PWGLF] added tof mass cut
  PWGLF/TableProducer/Nuspex/trHeAnalysis.cxx
Labels: pwglf

#10858 [PWGLF] Add harmonics selection
  PWGLF/TableProducer/Nuspex/nucleiFlowTree.cxx
Labels: pwglf

#10857 [PWGHF] Fixes for OmegaC0 workflows
  PWGHF/D2H/Tasks/taskOmegac0ToOmegapi.cxx
  PWGHF/TableProducer/candidateSelectorOmegac0ToOmegaPi.cxx
  PWGHF/TableProducer/treeCreatorOmegacToOmegaPi.cxx
Labels: pwghf

#10828 [PWGCF] Added track density cuts
  PWGCF/Flow/Tasks/resonancesGfwFlow.cxx
Labels: pwgcf

#10855 [PWGCF] Remove superfluous track cut
  PWGCF/GenericFramework/Tasks/flowGenericFramework.cxx
Labels: pwgcf

#10861 [PWGEM/Dilepton] update DCA calculation
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/Tasks/matchingMFT.cxx
  PWGEM/Dilepton/Utils/EMTrackUtilities.h
Labels: pwgem

#10864 [PWGCF] DptDpt - Tracking the insertion of pT bins of interest
  PWGCF/TwoParticleCorrelations/Tasks/dptDptEfficiencyAndQc.cxx
Labels: pwgcf

#10867 [PWGLF] Chk892Flow - Add RCT flag Checker
  PWGLF/Tasks/Resonances/chk892Flow.cxx
Labels: pwglf

#10866 [PWGCF] FemtoUniverse -- Add D+ to MC Truth
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerMCTruthTask.cxx
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

#10865 [PWGCF] jFlucEfficiencyTask - Add track selection systematics
  PWGCF/JCorran/Tasks/jFlucEfficiencyTask.cxx
Labels: pwgcf

#10730 [PWGLF] Updates for Xi(1530)0 Analysis code for PbPb
  PWGLF/Tasks/Resonances/xi1530Analysisqa.cxx
Labels: pwglf

#10873 [PWGLF,Trigger] Strangeness filter without strangeness builder
  EventFiltering/CMakeLists.txt
  EventFiltering/PWGLF/strangenessFilter.cxx
Labels: pwglf, trigger

#10845 [PWGJE] Jet Fragmentation & V0 QA
  PWGJE/Tasks/jetFragmentation.cxx
  PWGJE/Tasks/v0QA.cxx
Labels: pwgje

#10854 [PWGLF] angularCorrelationsInJets.cxx: improved resource use
  PWGLF/Tasks/Nuspex/angularCorrelationsInJets.cxx
Labels: pwglf

#10847 [PWGJE,EMCAL-670] Add BC selection to EMCal QA task
  PWGJE/Core/utilsBcSelEMC.h
  PWGJE/Tasks/emcEventSelectionQA.cxx
Labels: pwgje, emcal

#10859 [PWGLF] Resonance Framework: Add RCT Flag checker
  PWGLF/TableProducer/Resonances/resonanceInitializer.cxx
  PWGLF/TableProducer/Resonances/resonanceModuleInitializer.cxx
Labels: pwglf

#10872 [PWGCF] fix bugs about MCGen hLocalDensity and track selection
  PWGCF/Flow/Tasks/flowGfwOmegaXi.cxx
Labels: pwgcf

#10882 [PWGCF] Invariant mass method 2-prong generic candidate finding
  PWGCF/DataModel/CorrelationsDerived.h
  PWGCF/TableProducer/filter2Prong.cxx
Labels: pwgcf, datamodel

#10887 [PWGCF] DptDpt - Increasing the level of pT bins tracking
  PWGCF/TwoParticleCorrelations/Tasks/dptDptEfficiencyAndQc.cxx
Labels: pwgcf

#10884 [PWGLF] added histograms for pt unfolding
  PWGLF/Tasks/Nuspex/antinucleiInJets.cxx
Labels: pwglf

#10878 [PWGLF] angularCorrelationsInJets.cxx: fixed missing minus sign
  PWGLF/Tasks/Nuspex/angularCorrelationsInJets.cxx
Labels: pwglf

#10879 [PWGJE] phiInJets.cxx : Adding a configuration to adjust the mass range and changhing the type of histogram
  PWGJE/Tasks/phiInJets.cxx
Labels: pwgje

#10883 [ALICE3] Add further selections to alice3 multicharm task
  ALICE3/TableProducer/alice3-multicharm.cxx
Labels: alice3

#10836 [PWGJE] backgroundAnalysis: binning, spectraCharged/trackEff: fix .mcCollision() calls
  PWGJE/Tasks/jetBackgroundAnalysis.cxx
  PWGJE/Tasks/jetSpectraCharged.cxx
  PWGJE/Tasks/trackEfficiency.cxx
Labels: pwgje

#10863 [PWGDQ] Fix JIT compilation memory leak using double slicing
  PWGDQ/TableProducer/tableMaker.cxx
Labels: pwgdq

#10901 [PWGEM/Dilepton] update matchingMFT.cxx
  PWGEM/Dilepton/Tasks/matchingMFT.cxx
Labels: pwgem

#10903 [PWGLF] Add deep angle information for phi meson pair
  PWGLF/Tasks/Resonances/doublephimeson.cxx
Labels: pwglf

#10890 [PWGCF] Identified BF Added purity histograms for genereated particles, added track time histograms
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.cxx
  PWGCF/TwoParticleCorrelations/Tasks/identifiedbf.cxx
Labels: pwgcf

#10906 [PWGCF] DptDptQc - Proper initialization of pT bins of interest map
  PWGCF/TwoParticleCorrelations/Tasks/dptDptEfficiencyAndQc.cxx
Labels: pwgcf

#10889 [PWGLF] Add RCTFlagsChecker in strangeness data model
  PWGLF/DataModel/LFStrangenessTables.h
  PWGLF/TableProducer/Strangeness/Converters/CMakeLists.txt
  PWGLF/TableProducer/Strangeness/Converters/straevselsconverter5.cxx
  PWGLF/TableProducer/Strangeness/strangederivedbuilder.cxx
  PWGLF/Tasks/Strangeness/derivedlambdakzeroanalysis.cxx
Labels: pwglf, datamodel

#10908 [PWGLF] Protect against accidental acceptance of TPC-only V0s
  PWGLF/TableProducer/Strangeness/strangenessbuilder.cxx
  PWGLF/Utils/strangenessBuilderHelper.h
Labels: pwglf

#10904 [PWGLF,Trigger] Fix bug in cascade building via strangeness helper
  EventFiltering/PWGLF/strangenessFilter.cxx
Labels: pwglf, trigger

#10876 [PWGHF] Added centrality to D+ tree tables
  PWGHF/TableProducer/treeCreatorDplusToPiKPi.cxx
Labels: pwghf

#10896 [PWGLF] removed the zdc information
  PWGLF/Tasks/Strangeness/taskLambdaSpinCorr.cxx
Labels: pwglf

#10909 [PWGHF] Add event and track selections to PID studies task
  PWGHF/Tasks/CMakeLists.txt
  PWGHF/Tasks/taskPidStudies.cxx
Labels: pwghf

#10905 [PWGUD] TauTable producer preparation for MC
  PWGUD/DataModel/UDIndex.h
  PWGUD/TableProducer/CMakeLists.txt
  PWGUD/TableProducer/tauEventTableProducer.cxx
  PWGUD/TableProducer/udMcCollisions2udCollisions.cxx
  PWGUD/TableProducer/udMcParticles2udTracks.cxx
Labels: pwgud, datamodel

#10912 [PWGEM/Dilepton] fix DCA calculation
  PWGEM/Dilepton/Tasks/matchingMFT.cxx
  PWGEM/Dilepton/Utils/EMTrackUtilities.h
Labels: pwgem

#10914 [PWGCF] Changed the efficiency histograms from 1D to 2D
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf

#10917 [PWGCF] add PID pt-Nch distribution
  PWGCF/Flow/Tasks/flowMc.cxx
Labels: pwgcf

#10911 [PWGLF] angularCorrelationsInJets.cxx: histogram bug fixes
  PWGLF/Tasks/Nuspex/angularCorrelationsInJets.cxx
Labels: pwglf

#10922 [PWGLF] PWGLF/Tasks/GEP/heavyionMultiplicity.cxx: rework on the task
  PWGLF/Tasks/GlobalEventProperties/heavyionMultiplicity.cxx
Labels: pwglf

#10924 [PWGLF] Adds more QA histograms
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#10900 [PWGDQ] Adding new event selection called eventStandardSel8VtxQuality1
  PWGDQ/Core/CutsLibrary.cxx
Labels: pwgdq

#10915 [PWGDQ] optimizations in the filter-pp-with-assoc
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
  PWGDQ/Tasks/filterPPwithAssociation.cxx
Labels: pwgdq

#10907 [PWGLF] Add Neutrons within the ZDC acceptance in the strangeness data model
  PWGLF/DataModel/LFStrangenessTables.h
  PWGLF/TableProducer/Strangeness/strangederivedbuilder.cxx
Labels: pwglf, datamodel

#10916 [PWGDQ] Add reading of track type from realigned muons
  PWGDQ/Core/VarManager.h
  PWGDQ/TableProducer/tableMaker.cxx
Labels: pwgdq

#10934 [PWGDQ] Update Nuclei cuts and signals
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/MCSignalLibrary.cxx
  PWGDQ/DataModel/ReducedInfoTables.h
  PWGDQ/Tasks/taskFwdTrackPid.cxx
Labels: pwgdq, datamodel

#10885 [PWGLF,Trigger] [Event Filtering] adding trigger condition for lambdalambda
  EventFiltering/PWGLF/strangenessFilter.cxx
  EventFiltering/filterTables.h
Labels: pwglf, trigger
