Repository AliceO2Group/O2Physics, pull requests merged in 2025-03, with the labels that each got.

#10261 [PWGLF] Includes MC closure
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#10205 [PWGCF] Reduce correlations code duplication
  PWGCF/TableProducer/filter2Prong.cxx
  PWGCF/Tasks/correlations.cxx
Labels: pwgcf

#10257 [PWGEM/Photon] update prefilterPhoton.cxx
  PWGEM/PhotonMeson/Core/DalitzEECut.cxx
  PWGEM/PhotonMeson/Core/DalitzEECut.h
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGamma.h
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGammaMC.h
  PWGEM/PhotonMeson/DataModel/gammaTables.h
  PWGEM/PhotonMeson/TableProducer/skimmerPrimaryElectronFromDalitzEE.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaMCPCMPCM.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
  PWGEM/PhotonMeson/Tasks/prefilterPhoton.cxx
  PWGEM/PhotonMeson/Utils/PairUtilities.h
Labels: pwgem, datamodel

#10264 [PWGEM/Dilepton] upadte dalitzEEQC
  PWGEM/PhotonMeson/Tasks/dalitzEEQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQCMC.cxx
Labels: pwgem

#10263 [PWGJE] fixed rho local bug
  PWGJE/Tasks/jetSpectraEseTask.cxx
Labels: pwgje

#10265 [PWGLF] modified definition of ITS-TPC matching eff
  PWGLF/Tasks/QC/lfITSTPCMatchingSecondaryTracksQA.cxx
Labels: pwglf

#10268 [PWGLF] Add fraction of TPC share cluster cut
  PWGLF/Tasks/Resonances/phipbpb.cxx
Labels: pwglf

#10269 [PWGLF] weighting polarization
  PWGLF/Tasks/Strangeness/lambdapolarization.cxx
Labels: pwglf

#10270 [PWGCF] update histograms
  PWGCF/EbyEFluctuations/Tasks/meanPtFlucId.cxx
Labels: pwgcf

#10271 [PWGCF] Update lambdaR2Correlation.cxx
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#10249 [PWGCF] Kaon isospin fluctuation : Reco Level and Truth Level analysis added
  PWGCF/EbyEFluctuations/Tasks/CMakeLists.txt
  PWGCF/EbyEFluctuations/Tasks/kaonIsospinFluctuations.cxx
Labels: pwgcf

#10267 [PWGJE] Adding the ability to match subjets
  PWGJE/Core/JetCandidateUtilities.h
  PWGJE/Core/JetDQUtilities.h
  PWGJE/Core/JetHFUtilities.h
  PWGJE/Core/JetMatchingUtilities.h
  PWGJE/DataModel/Jet.h
  PWGJE/DataModel/JetSubstructure.h
  PWGJE/TableProducer/Matching/CMakeLists.txt
  PWGJE/TableProducer/Matching/Duplicates/jetMatchingDuplicates.cxx
  PWGJE/TableProducer/Matching/Substructure/CMakeLists.txt
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatching.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingMCBplusCharged.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingMCCharged.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingMCD0Charged.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingMCDielectronCharged.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingMCDplusCharged.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingMCLcCharged.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingSub.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingSubBplusCharged.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingSubCharged.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingSubD0Charged.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingSubDielectronCharged.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingSubDplusCharged.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingSubLcCharged.cxx
  PWGJE/TableProducer/Matching/jetMatchingMC.cxx
  PWGJE/TableProducer/Matching/jetMatchingMCSub.cxx
  PWGJE/TableProducer/Matching/jetMatchingSub.cxx
  PWGJE/Tasks/jetSubstructure.cxx
  PWGJE/Tasks/jetSubstructureBplus.cxx
  PWGJE/Tasks/jetSubstructureBplusOutput.cxx
  PWGJE/Tasks/jetSubstructureD0.cxx
  PWGJE/Tasks/jetSubstructureD0Output.cxx
  PWGJE/Tasks/jetSubstructureDielectron.cxx
  PWGJE/Tasks/jetSubstructureDielectronOutput.cxx
  PWGJE/Tasks/jetSubstructureDplus.cxx
  PWGJE/Tasks/jetSubstructureDplusOutput.cxx
  PWGJE/Tasks/jetSubstructureHF.cxx
  PWGJE/Tasks/jetSubstructureHFOutput.cxx
  PWGJE/Tasks/jetSubstructureLc.cxx
  PWGJE/Tasks/jetSubstructureLcOutput.cxx
  PWGJE/Tasks/jetSubstructureOutput.cxx
Labels: pwgje, datamodel

#10223 [PWGJE] Added THnSparse::Sumw2() call option for error calculation, Fixed bugs.
  PWGJE/Tasks/CMakeLists.txt
  PWGJE/Tasks/bjetTaggingGnn.cxx
Labels: pwgje

#10217 [PWGJE] Added functionality for M_inv closure tests
  PWGJE/Tasks/phiInJets.cxx
Labels: pwgje

#10274 [PWGLF] decoupling dcaxy and dcaz selections
  PWGLF/Tasks/QC/lfITSTPCMatchingSecondaryTracksQA.cxx
Labels: pwglf

#10275 [PWGEM/Photon] update prefilterPhoton.cxx
  PWGEM/PhotonMeson/Tasks/prefilterPhoton.cxx
  PWGEM/PhotonMeson/Utils/PairUtilities.h
Labels: pwgem

#10277 [PWGLF] New changes in MC truth
  PWGLF/Tasks/GlobalEventProperties/dndeta-mft-pp.cxx
Labels: pwglf

#10272 [PWGLF] ResonanceMergeDF - Add cascade
  PWGLF/DataModel/LFResonanceTables.h
  PWGLF/TableProducer/Resonances/CMakeLists.txt
  PWGLF/TableProducer/Resonances/resonanceMergeDF.cxx
Labels: pwglf, datamodel

#10221 [PWGLF] change in derivedcascadeanalysis.cxx
  PWGLF/Tasks/Strangeness/derivedcascadeanalysis.cxx
Labels: pwglf

#10253 [PWGLF] Bug fix in bachBaryonDCAxyToPV cut for Xi versus flattenicity
  PWGLF/Tasks/Strangeness/lambdak0sflattenicity.cxx
Labels: pwglf

#10278 [PWGJE] reducing cpu of rho estimator
  PWGJE/Core/JetMatchingUtilities.h
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatching.cxx
  PWGJE/TableProducer/Matching/Substructure/jetSubstructureMatchingSub.cxx
  PWGJE/TableProducer/rhoEstimator.cxx
  PWGJE/Tasks/jetSubstructure.cxx
  PWGJE/Tasks/jetSubstructureHF.cxx
Labels: pwgje

#10279 [PWGLF] Corrected the angular cut condition
  PWGLF/Tasks/Resonances/higherMassResonances.cxx
Labels: pwglf

#10276 [PWGCF] cross check v2 and efficiency
  PWGCF/Flow/Tasks/flowMc.cxx
  PWGCF/Flow/Tasks/flowPtEfficiency.cxx
Labels: pwgcf

#10273 [PWGCF] Fix ITS track selection
  PWGCF/Flow/Tasks/flowGfwTask.cxx
Labels: pwgcf

#10280 [PWGCF] DptDpt - Tracking delta eta and delta phi
  PWGCF/TwoParticleCorrelations/Tasks/dptDptEfficiencyAndQc.cxx
Labels: pwgcf

#10229 [PWGHF] Fix linter issues
  PWGHF/TableProducer/candidateCreator2Prong.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorB0.cxx
  PWGHF/TableProducer/candidateCreatorBplus.cxx
  PWGHF/TableProducer/candidateCreatorBs.cxx
  PWGHF/TableProducer/candidateCreatorCascade.cxx
  PWGHF/TableProducer/candidateCreatorDstar.cxx
  PWGHF/TableProducer/candidateCreatorLb.cxx
  PWGHF/TableProducer/candidateCreatorSigmac0plusplusCascade.cxx
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
  PWGHF/TableProducer/candidateCreatorXicToXiPiPi.cxx
  PWGHF/TableProducer/candidateSelectorBplusToD0Pi.cxx
  PWGHF/TableProducer/candidateSelectorBsToDsPi.cxx
  PWGHF/TableProducer/candidateSelectorOmegac0ToOmegaKa.cxx
  PWGHF/TableProducer/candidateSelectorOmegac0ToOmegaPi.cxx
  PWGHF/TableProducer/candidateSelectorToXiPi.cxx
  PWGHF/TableProducer/candidateSelectorXic0ToXiPiKf.cxx
  PWGHF/TableProducer/candidateSelectorXicToPKPi.cxx
  PWGHF/TableProducer/mcPidTof.cxx
  PWGHF/TableProducer/pidCreator.cxx
  PWGHF/TableProducer/trackIndexSkimCreator.cxx
  PWGHF/TableProducer/treeCreatorB0ToDPi.cxx
  PWGHF/TableProducer/treeCreatorToXiPi.cxx
Labels: pwghf

#10259 [PWGCF] FemtoUniverse: add invariant mass vs pT and centrality histograms
  PWGCF/FemtoUniverse/Core/FemtoUniverseParticleHisto.h
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackV0Extended.cxx
Labels: pwgcf

#10284 [PWGLF] Corrected mass correlation plot
  PWGLF/Tasks/Resonances/higherMassResonances.cxx
Labels: pwglf

#10285 [PWGCF] FemtoUniverse cascade task -- implemented TOF cut for bachelor tracks with TOF
  PWGCF/FemtoUniverse/Core/FemtoUniverseCascadeSelection.h
Labels: pwgcf

#10286 [PWGHF] Add Ds prong info and offline processes
  PWGHF/HFC/DataModel/DerivedDataCorrelationTables.h
  PWGHF/HFC/TableProducer/correlatorDsHadrons.cxx
  PWGHF/HFC/TableProducer/correlatorDsHadronsReduced.cxx
Labels: pwghf, datamodel

#10288 [PWGEM/Dilepton] update studyMCTruth.cxx
  PWGEM/Dilepton/Tasks/studyMCTruth.cxx
Labels: pwgem

#10292 [PWGLF] ResonanceMergeDF - Add derived dataset candidates for Xi1530 study
  PWGLF/DataModel/LFResonanceTables.h
  PWGLF/TableProducer/Resonances/resonanceMergeDF.cxx
Labels: pwglf, datamodel

#10293 [PWGDQ] Adding new cuts and histograms
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#10294 [PWGLF] Fixed bug in rapidity-gap class ordering
  PWGLF/Tasks/Strangeness/phik0shortanalysis.cxx
Labels: pwglf

#10295 [PWGCF] add event-selection cut TOFmatched
  PWGCF/EbyEFluctuations/Tasks/netprotonCumulantsMc.cxx
Labels: pwgcf

#10296 [PWGLF] Add booleans to store thns and apply mass cut
  PWGLF/TableProducer/Strangeness/cascadeflow.cxx
Labels: pwglf

#10298 [PWGLF] Add TOF only PID for kaon daughter
  PWGLF/Tasks/Resonances/phipbpb.cxx
Labels: pwglf

#10300 [PWGCF] DptDpt - Remove tracking the ITS dead chips
  PWGCF/TwoParticleCorrelations/Tasks/dptDptEfficiencyAndQc.cxx
  PWGCF/TwoParticleCorrelations/Tasks/dptDptPerRunQc.cxx
Labels: pwgcf

#10218 [Common] Added QA histograms and increased arraySize
  Common/TableProducer/occupancyTableProducer.cxx
Labels: common

#10302 [PWGCF] updates on cme signal and TOF QA
  PWGCF/Flow/Tasks/pidcme.cxx
Labels: pwgcf

#10289 [PWGJE] Adding potential fixes to track and jet level cuts
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#10307 [PWGCF] correlations task 2-prong track efficiency
  PWGCF/DataModel/CorrelationsDerived.h
  PWGCF/JCorran/Tasks/jflucWeightsLoader.cxx
  PWGCF/TableProducer/filter2Prong.cxx
  PWGCF/TableProducer/filterCorrelations.cxx
  PWGCF/Tasks/correlations.cxx
Labels: pwgcf, datamodel

#10308 [PWGCF] jFlucEfficiencyTask - Add QA histo
  PWGCF/JCorran/Tasks/jFlucEfficiencyTask.cxx
Labels: pwgcf

#10310 [PWGEM/Dilepton] update createResolutionMap.cxx and studyMCTruth.cxx
  PWGEM/Dilepton/Tasks/createResolutionMap.cxx
  PWGEM/Dilepton/Tasks/studyMCTruth.cxx
Labels: pwgem

#10311 [PWGLF] PWGLF:Lambda local polarization induced by jet in pp collision 13.6 TeV
  PWGLF/TableProducer/Strangeness/lambdaJetpolarizationbuilder.cxx
  PWGLF/Tasks/Strangeness/lambdaJetpolarization.cxx
Labels: pwglf

#10301 [PWGLF] Resonance Framework - Reduce the reduction factor for derived dataset
  PWGLF/DataModel/LFResonanceTables.h
  PWGLF/TableProducer/Resonances/resonanceInitializer.cxx
  PWGLF/TableProducer/Resonances/resonanceMergeDF.cxx
  PWGLF/TableProducer/Resonances/resonanceModuleInitializer.cxx
  PWGLF/Tasks/Resonances/chargedkstaranalysis.cxx
  PWGLF/Tasks/Resonances/f0980analysis.cxx
  PWGLF/Tasks/Resonances/k1analysis.cxx
  PWGLF/Tasks/Resonances/k892analysis.cxx
  PWGLF/Tasks/Resonances/kstar892analysis.cxx
  PWGLF/Tasks/Resonances/lambda1520_PbPb.cxx
  PWGLF/Tasks/Resonances/lambda1520analysis.cxx
  PWGLF/Tasks/Resonances/phianalysis.cxx
  PWGLF/Tasks/Resonances/rho770analysis.cxx
  PWGLF/Tasks/Resonances/xi1530Analysisqa.cxx
Labels: pwglf, datamodel

#10262 [Common] Allow non existing CCDB time shift objects
  Common/Core/PID/PIDTOF.cxx
  Common/Core/PID/PIDTOF.h
  Common/TableProducer/PID/pidTOFMerge.cxx
Labels: common

#10321 [PWGCF] FemotUniverse -- pT plots + same and mixed events for MC
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackPhi.cxx
Labels: pwgcf

#10316 [PWGCF] IdentifiedBfFilter: Added histograms for calculating efficiencies
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.cxx
Labels: pwgcf

#10317 [PWGDQ] Fixing issue in the filling of histograms for Upsilon
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#10315 [PWGLF] Try pt-dependent parametrisation of pion DCAz
  PWGLF/Tasks/Strangeness/phik0shortanalysis.cxx
Labels: pwglf

#10319 [PWGLF] Fix of small bug
  PWGLF/TableProducer/Strangeness/cascadeflow.cxx
Labels: pwglf

#10322 [PWGCF] jFlucEfficiencyTask.cxx - Apply track filter
  PWGCF/JCorran/Tasks/jFlucEfficiencyTask.cxx
Labels: pwgcf

#10324 [PWGCF] added histogram and removed obsolete objects
  PWGCF/Flow/Tasks/flowZdcTask.cxx
Labels: pwgcf

#10323 [PWGUD] Added my own tables
  PWGUD/Tasks/exclusiveRhoTo4Pi.cxx
Labels: pwgud

#10313 [PWGDQ] Couple of updates regarding muon (re-)alignment
  PWGDQ/TableProducer/tableMaker.cxx
  PWGDQ/Tasks/mchAlignRecord.cxx
Labels: pwgdq

#10328 [PWGLF] Fix histogram type
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf

#10309 [PWGUD] UDtables modification to store eventselection bits
  PWGUD/DataModel/UDTables.h
  PWGUD/TableProducer/Converters/CMakeLists.txt
  PWGUD/TableProducer/Converters/UDCollisionSelExtrasV002Converter.cxx
  PWGUD/TableProducer/DGCandProducer.cxx
  PWGUD/TableProducer/SGCandProducer.cxx
  PWGUD/TableProducer/UPCCandidateProducer.cxx
  PWGUD/Tasks/upcTauRl.cxx
Labels: pwgud, datamodel

#10153 [PWGHF/HFL] Calculate mass of Zee
  PWGHF/HFL/Tasks/taskElectronWeakBoson.cxx
Labels: pwghf

#10329 [PWGJE] fixed delta pt distribution, add check plots with rho_local vs phi and centrality
  PWGJE/Tasks/jetChargedV2.cxx
Labels: pwgje

#10335 [PWGLF] Resonance Table - Update table descriptions
  PWGLF/DataModel/LFResonanceTables.h
  PWGLF/TableProducer/Resonances/resonanceInitializer.cxx
  PWGLF/TableProducer/Resonances/resonanceModuleInitializer.cxx
Labels: pwglf, datamodel

#10339 [PWGDQ] Added posibility to run with multiple associated hadron cuts in the dilepton-track analysis task
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#10334 [PWGHF] Add sparse to compute the BDT selection systematic in correlatorDMesonPairs.cxx
  PWGHF/HFC/TableProducer/correlatorDMesonPairs.cxx
Labels: pwghf

#10348 [PWGLF] Resonance Framework - Reduce track table size
  PWGLF/DataModel/LFResonanceTables.h
  PWGLF/TableProducer/Resonances/resonanceInitializer.cxx
  PWGLF/TableProducer/Resonances/resonanceMergeDF.cxx
  PWGLF/TableProducer/Resonances/resonanceModuleInitializer.cxx
  PWGLF/Tasks/Resonances/kstar892analysis.cxx
Labels: pwglf, datamodel

#10342 [PWGCF] FemtoUniverse -- Move minv cut to the task
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackPhi.cxx
Labels: pwgcf

#10344 [PWGLF] Change amplitude definition
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf

#10251 [PWGCF] Significant update where event mixing is changed as well as changed f…
  PWGCF/TwoParticleCorrelations/Tasks/corrSparse.cxx
Labels: pwgcf

#10345 [PWGHF,PWGJE] add Dp correlated bkg flag in derived data tables
  PWGHF/DataModel/DerivedTables.h
  PWGHF/TableProducer/derivedDataCreatorDplusToPiKPi.cxx
  PWGJE/Core/JetHFUtilities.h
Labels: pwghf, pwgje, datamodel

#10347 [PWGEM/Dilepton] fix uint8_t and uint32_t
  PWGEM/Dilepton/Tasks/smearing.cxx
  PWGEM/Dilepton/Tasks/studyMCTruth.cxx
Labels: pwgem

#10349 [PWGLF] : added only TOF PID selection for kstar flow task
  PWGLF/Tasks/Resonances/kstarpbpb.cxx
Labels: pwglf

#10350 [PWGJE] add leading track response and fix phi and eta resolution
  PWGJE/Tasks/jetFinderQA.cxx
Labels: pwgje

#10352 [PWGJE] Fixing MCD dependency in MCP only process functions for HF substructure
  PWGJE/Core/JetCandidateUtilities.h
  PWGJE/Core/JetDQUtilities.h
  PWGJE/Core/JetHFUtilities.h
  PWGJE/DataModel/JetReducedDataDQ.h
  PWGJE/DataModel/JetReducedDataHF.h
  PWGJE/TableProducer/derivedDataProducer.cxx
  PWGJE/TableProducer/derivedDataWriter.cxx
  PWGJE/Tasks/jetSubstructureBplusOutput.cxx
  PWGJE/Tasks/jetSubstructureD0Output.cxx
  PWGJE/Tasks/jetSubstructureDielectronOutput.cxx
  PWGJE/Tasks/jetSubstructureDplusOutput.cxx
  PWGJE/Tasks/jetSubstructureHFOutput.cxx
  PWGJE/Tasks/jetSubstructureLcOutput.cxx
Labels: pwgje, datamodel

#10353 [PWGEM] adding labels to single track histograms
  PWGEM/Dilepton/Core/SingleTrackQC.h
Labels: pwgem

#10320 [Common] Final non-linarity fix
  Common/TableProducer/caloClusterProducer.cxx
Labels: common

#10331 [PWGUD] Added MC part based on UD tables, section cuts order changed
  PWGUD/Tasks/upcTauTau13topo.cxx
Labels: pwgud

#10355 [PWGEM/PhotonMeson] update PCM tasks
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGamma.h
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGammaMC.h
  PWGEM/PhotonMeson/DataModel/gammaTables.h
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
Labels: pwgem, datamodel

#10360 [PWGHF] Remove unbound indices from taskCharmHadImpactPar.cxx
  PWGHF/Tasks/taskCharmHadImpactPar.cxx
Labels: pwghf

#10358 [PWGLF] Change in hStrangeCorrelation.cxx
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Labels: pwglf

#10354 [PWGLF] Bug fixing for h-strangeness filter
  PWGLF/TableProducer/Strangeness/hStrangeCorrelationFilter.cxx
Labels: pwglf

#10364 [PWGEM/Dilepton] update treeCreatorElectronMLDDA.cxx
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
Labels: pwgem

#10351 [PWGLF] Resonance Framework - Separate collision table
  PWGLF/DataModel/LFResonanceTables.h
  PWGLF/TableProducer/Resonances/resonanceInitializer.cxx
  PWGLF/TableProducer/Resonances/resonanceMergeDF.cxx
  PWGLF/TableProducer/Resonances/resonanceModuleInitializer.cxx
  PWGLF/Tasks/Resonances/f0980analysis.cxx
  PWGLF/Tasks/Resonances/k892SpherocityAnalysis.cxx
  PWGLF/Tasks/Resonances/k892analysis.cxx
  PWGLF/Tasks/Resonances/kstar892analysis.cxx
  PWGLF/Tasks/Resonances/lambda1520SpherocityAnalysis.cxx
  PWGLF/Tasks/Resonances/lambda1520_PbPb.cxx
  PWGLF/Tasks/Resonances/lambda1520analysis.cxx
Labels: pwglf, datamodel

#10370 [PWGCF] FemtoUniverse: D0 task update
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackD0.cxx
Labels: pwgcf

#10372 [PWGLF] AngularCorrelationsInJets.cxx: added JTracks table
  PWGLF/Tasks/Nuspex/AngularCorrelationsInJets.cxx
Labels: pwglf

#10374 [PWGHF] fix missing histogram error
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
Labels: pwghf

#10357 [PWGLF] Lambda local polarization induced by jet in pp collision 13.6 TeV
  PWGLF/Tasks/Strangeness/lambdaJetpolarization.cxx
Labels: pwglf

#10363 [PWGLF] v0ptinvmass task Added feedown matrix, generated Pt Spectrums and corrections
  PWGLF/Tasks/Strangeness/v0ptinvmassplots.cxx
Labels: pwglf

#10371 [PWGCF] Modify efficiency corrections
  PWGCF/Flow/Tasks/flowGfwTask.cxx
Labels: pwgcf

#10102 [Infrastructure] Bump MegaLinter to v8.4.2
  .github/workflows/mega-linter.yml
  .mega-linter.yml
Labels: infrastructure

#10169 [Common] RecoDecay: Fix linter issues
  Common/Core/RecoDecay.h
Labels: common

#10361 [ALICE3] Changes to configurables and histograms in multi-charm task
  ALICE3/TableProducer/alice3-multicharm.cxx
Labels: alice3

#10375 [PWGHF] DS-h correlation, adding TPC crossed rows check in efficiency process
  PWGHF/HFC/TableProducer/correlatorDsHadronsReduced.cxx
  PWGHF/HFC/Tasks/taskCorrelationDsHadrons.cxx
Labels: pwghf

#10376 [PWGCF] Add PDGCode check
  PWGCF/Flow/Tasks/flowEfficiencyCasc.cxx
Labels: pwgcf

#10379 [PWGCF] Added the loadcorrections function
  PWGCF/Flow/Tasks/flowPbpbPikp.cxx
Labels: pwgcf

#10389 [PWGJE] adding new centrality and hadronic rate definitions
  PWGJE/Core/JetDerivedDataUtilities.h
  PWGJE/DataModel/JetReducedData.h
  PWGJE/DataModel/JetSubstructure.h
  PWGJE/TableProducer/CMakeLists.txt
  PWGJE/TableProducer/derivedDataProducer.cxx
  PWGJE/TableProducer/derivedDataWriter.cxx
  PWGJE/Tasks/jetSubstructureBplusOutput.cxx
  PWGJE/Tasks/jetSubstructureD0Output.cxx
  PWGJE/Tasks/jetSubstructureDielectronOutput.cxx
  PWGJE/Tasks/jetSubstructureDplusOutput.cxx
  PWGJE/Tasks/jetSubstructureHFOutput.cxx
  PWGJE/Tasks/jetSubstructureLcOutput.cxx
  PWGJE/Tasks/jetSubstructureOutput.cxx
Labels: pwgje, datamodel

#10391 [PWGLF] Add task specific to flow
  PWGLF/TableProducer/Nuspex/CMakeLists.txt
  PWGLF/TableProducer/Nuspex/nucleiFlowTree.cxx
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
  PWGLF/TableProducer/Nuspex/nucleiUtils.h
Labels: pwglf

#10395 [PWGJE] fixed outlier bugs+ added correlation histos
  PWGJE/Tasks/fullJetSpectraPP.cxx
Labels: pwgje

#10399 [PWGCF] Add histograms
  PWGCF/EbyEFluctuations/Tasks/meanPtFlucId.cxx
Labels: pwgcf

#10397 [PWGLF] cleaning up: removing outdated task
  PWGLF/Tasks/Nuspex/CMakeLists.txt
  PWGLF/Tasks/Nuspex/nucleiInJets.cxx
Labels: pwglf

#10393 [PWGUD] enable skimmers to save all McCollisions, even if they are not reconstructed
  PWGUD/Core/UDHelpers.h
  PWGUD/TableProducer/DGCandProducer.cxx
  PWGUD/TableProducer/SGCandProducer.cxx
Labels: pwgud

#10396 [PWGUD] Added few more tables
  PWGUD/Tasks/exclusiveRhoTo4Pi.cxx
Labels: pwgud

#10400 [PWGCF] DptDpt - Fall back to TPC+TOF tracks
  PWGCF/TableProducer/dptdptfilter.h
Labels: pwgcf

#10401 [PWGCF/FemtoUniverse] Properly filter by PDG and charge in `track-track-extended` task
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackExtended.cxx
Labels: pwgcf

#10388 [PWGUD] personal task modification
  PWGUD/Tasks/upcTauRl.cxx
Labels: pwgud

#10387 [Infrastructure] MegaLinter: Configure gitleaks to only scan PR commits
  .mega-linter.yml
Labels: infrastructure

#10405 [PWGLF] Add THnsparse for v2 correction of phi meson
  PWGLF/Tasks/Resonances/phipbpb.cxx
Labels: pwglf

#10412 [PWGEM/Dilepton] fix in treeCreatorElectronMLDDA.cxx
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
Labels: pwgem

#10404 [PWGCF] Fix hEventCounter histogram
  PWGCF/Flow/Tasks/flowGfwTask.cxx
Labels: pwgcf

#10407 [PWGCF] change Chebyshev to linear
  PWGCF/Flow/Tasks/flowQa.cxx
Labels: pwgcf

#10410 [PWGCF] [PWGCF]removed derived data
  PWGCF/EbyEFluctuations/Tasks/netprotonCumulantsMc.cxx
Labels: pwgcf

#10413 [PWGCF] Add ccdb object for efficiency correction
  PWGCF/EbyEFluctuations/Tasks/meanPtFlucId.cxx
Labels: pwgcf

#10411 [PWGCF] FemtoUniverse cascade task -- implemented Close Pair Rejection for cascade - cascade pairs
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackCascadeExtended.cxx
Labels: pwgcf

#10402 [PWGDQ] Implementation of single muon cumulants in muon selection
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/Tasks/tableReader.cxx
Labels: pwgdq

#10419 [PWGHF] Refine the bin width of Occupancy Axis of the HF event selection QA histogram
  PWGHF/Utils/utilsEvSelHf.h
Labels: pwghf

#10417 [PWGCF] FemtoUniverse cascade task -- full MC for cascade analysis
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackCascadeExtended.cxx
Labels: pwgcf

#10415 [PWGUD] Added tables
  PWGUD/Tasks/exclusiveRhoTo4Pi.cxx
Labels: pwgud

#10406 [PWGEM/PhotonMeson] update photon data table and pcm qc
  PWGEM/PhotonMeson/DataModel/gammaTables.h
  PWGEM/PhotonMeson/TableProducer/photonconversionbuilder.cxx
  PWGEM/PhotonMeson/TableProducer/skimmerGammaConversion.cxx
  PWGEM/PhotonMeson/TableProducer/skimmerPrimaryElectronFromDalitzEE.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQCMC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
Labels: pwgem, datamodel

#10418 [PWGLF,Tutorial] Resonance Framework - introducing microTrack table
  PWGLF/DataModel/LFResonanceTables.h
  PWGLF/TableProducer/Resonances/resonanceInitializer.cxx
  PWGLF/TableProducer/Resonances/resonanceModuleInitializer.cxx
  Tutorials/PWGLF/Resonance/CMakeLists.txt
  Tutorials/PWGLF/Resonance/resonancesMicrotrack.cxx
Labels: pwglf, tutorial, datamodel

#10325 [PWGHF] Add ConfigurableAxis in electronSelectionWithTpcEmcal.cxx
  PWGHF/HFC/TableProducer/correlatorHfeHadrons.cxx
  PWGHF/HFL/TableProducer/electronSelectionWithTpcEmcal.cxx
Labels: pwghf

#10425 [PWGEM/PhotonMeson] update pcm data table and tasks
  PWGEM/PhotonMeson/DataModel/gammaTables.h
  PWGEM/PhotonMeson/TableProducer/photonconversionbuilder.cxx
  PWGEM/PhotonMeson/TableProducer/skimmerGammaConversion.cxx
  PWGEM/PhotonMeson/TableProducer/skimmerPrimaryElectronFromDalitzEE.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQCMC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
Labels: pwgem, datamodel

#10427 [PWGUD] Added configurable generatorIds in Mc[D,S]GCandProducer
  PWGUD/TableProducer/DGCandProducer.cxx
  PWGUD/TableProducer/SGCandProducer.cxx
Labels: pwgud

#10340 [PWGHF,Trigger] Add Charm baryons in D0p to HF filters
  EventFiltering/PWGHF/HFFilter.cxx
  EventFiltering/PWGHF/HFFilterHelpers.h
  EventFiltering/filterTables.h
Labels: pwghf, trigger

#10423 [PWGHF] added minimum pT cut parameter for Zee mass calculation
  PWGHF/HFL/Tasks/taskElectronWeakBoson.cxx
Labels: pwghf

#10365 [PWGJE/mcGeneratorStudies] Added charged particle only selection
  PWGJE/Tasks/mcGeneratorStudies.cxx
Labels: pwgje

#10428 [PWGDQ] Added option to reject collision splitting candidates
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#10426 [Common] Improve warning message for estimator not available
  Common/TableProducer/centralityTable.cxx
Labels: common

#10424 [PWGJE] include centVariant1 variation and minor fix to background process
  PWGJE/Tasks/jetSpectraEseTask.cxx
Labels: pwgje

#10422 [PWGCF] fix mAcceptance pointer issue
  PWGCF/Flow/Tasks/flowPbpbPikp.cxx
Labels: pwgcf

#10394 [PWGLF] Add Generator ID in strangeness data model
  PWGLF/DataModel/LFStrangenessTables.h
  PWGLF/TableProducer/Strangeness/Converters/CMakeLists.txt
  PWGLF/TableProducer/Strangeness/Converters/stramccollisionconverter2.cxx
  PWGLF/TableProducer/Strangeness/strangederivedbuilder.cxx
  PWGLF/Tasks/Strangeness/derivedlambdakzeroanalysis.cxx
Labels: pwglf, datamodel

#9680 [PWGJE] hybrid track cuts for Run2 converted data
  Common/Core/TrackSelection.cxx
  Common/Core/TrackSelection.h
  Common/Core/TrackSelectionDefaults.cxx
  Common/Tools/trackSelectionRequest.cxx
  Common/Tools/trackSelectionRequest.h
  PWGJE/TableProducer/derivedDataProducer.cxx
Labels: common, pwgje

#10429 [Common] Rename variable for temporary gitleaks hotfix
  Common/TableProducer/PID/pidITS.cxx
Labels: common

#10433 [PWGCF] Remove rapidity cut and update efficiency correction
  PWGCF/EbyEFluctuations/Tasks/meanPtFlucId.cxx
Labels: pwgcf

#10434 [PWGEM/PhotonMeson] fix to process function names
  PWGEM/PhotonMeson/TableProducer/createEMEventPhoton.cxx
Labels: pwgem

#10431 [PWGLF] Add test code using kaon instead of pion
  PWGLF/Tasks/Resonances/f0980pbpbanalysis.cxx
Labels: pwglf

#10385 [PWGJE] Add validation function of heavy-flavour definition and fix response matrix
  PWGJE/Tasks/jetTaggerHFQA.cxx
Labels: pwgje

#10403 [PWGJE] : Added a switch for each histogram to reduce memory consumption
  PWGJE/Tasks/phiInJets.cxx
Labels: pwgje

#10440 [Infrastructure] MegaLinter: Disable gitleaks
  .mega-linter.yml
Labels: infrastructure

#10439 [PWGCF] update on pidselection
  PWGCF/Flow/Tasks/pidcme.cxx
Labels: pwgcf

#10490 [PWGCF] IdentifiedBfFilter.cxx Added checks for PID for MC tracks
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.cxx
Labels: pwgcf

#10442 [Trigger] Use proper end time for OTS object uploads
  EventFiltering/macros/uploadOTSobjects.C
Labels: trigger

#10450 [PWGCF] jFlucEfficiencyTask - Add process for Run2 QA
  PWGCF/JCorran/Tasks/jFlucEfficiencyTask.cxx
Labels: pwgcf

#10454 [Common] Set triggerBcShift to 0 by default. Use default CCDB objects for unanchored MCs
  Common/TableProducer/eventSelection.cxx
Labels: common

#10455 [PWGLF] Add the same PID option with Run2 analysis
  PWGLF/Tasks/Resonances/rho770analysis.cxx
Labels: pwglf

#10476 [PWGCF] use narrow pT for track density correction
  PWGCF/Flow/Tasks/flowQa.cxx
  PWGCF/Flow/Tasks/flowTask.cxx
Labels: pwgcf

#10458 [PWGCF] FemtoUniverse - Adding a TOF nSigma cut on cascade daughters
  PWGCF/FemtoUniverse/Core/FemtoUniverseCascadeSelection.h
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackCascadeExtended.cxx
Labels: pwgcf

#10456 [PWGJE] jetspectraCharged and jetBackgroundAnalysis updates
  PWGJE/Tasks/jetBackgroundAnalysis.cxx
  PWGJE/Tasks/jetSpectraCharged.cxx
Labels: pwgje

#10459 [PWGDQ] Adding new histogram group for cumulants
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#10464 [PWGCF] fix: change in the mixed events fot pPhi task
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackPhi.cxx
Labels: pwgcf

#10474 [PWGJE] Adding histograms for testing rho reference shift
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#10468 [PWGLF] Change histogram bin
  PWGLF/Tasks/Resonances/f1protoncorrelation.cxx
Labels: pwglf

#10461 [PWGJE] Add event number check plot, rho_local check plot about centrality, add event plane resolution plots
  PWGJE/Tasks/jetChargedV2.cxx
Labels: pwgje
