Repository AliceO2Group/O2Physics, pull requests merged in 2025-07, with the labels that each got.

#11775 [PWGLF] optimized track index selection and fixed PID selection
  PWGLF/Tasks/Resonances/f0980pbpbanalysis.cxx
Labels: pwglf

#11829 [PWGLF] chk892Flow.cxx : Added occupancy axis and fill invariant mass distribution for K0s
  PWGLF/Tasks/Resonances/chk892Flow.cxx
Labels: pwglf

#11845 [PWGLF] Improve event mixing
  PWGLF/Tasks/Strangeness/lambdaspincorrderived.cxx
Labels: pwglf

#11837 [PWGLF] NucleiTask - Add missing histo for DCA
  PWGLF/Tasks/Nuspex/LFNucleiBATask.cxx
Labels: pwglf

#11808 [Common] Enclose TableHelper in o2::common namespace
  Common/Core/TableHelper.cxx
  Common/Core/TableHelper.h
Labels: common

#11851 [PWGHF] Fix BC type in bc_as<> in B data creators
  PWGHF/D2H/TableProducer/dataCreatorCharmHadPiReduced.cxx
  PWGHF/D2H/TableProducer/dataCreatorJpsiHadReduced.cxx
Labels: pwghf

#11859 [PWGJE] fixed getDaughtersInChain function for GammaJetTrees
  PWGJE/Tasks/gammaJetTreeProducer.cxx
Labels: pwgje

#11852 [PWGEM/PhotonMeson] Enable cut on time since start of fill for EMC pi0
  PWGEM/PhotonMeson/DataModel/bcWiseTables.h
  PWGEM/PhotonMeson/TableProducer/bcWiseClusterSkimmer.cxx
  PWGEM/PhotonMeson/Tasks/emcalBcWiseGammaGamma.cxx
Labels: pwgem, datamodel

#11853 [PWGLF] Add TOF PID + LS background
  PWGLF/Tasks/Resonances/lambda1405analysis.cxx
Labels: pwglf

#11857 [PWGCF] clean-up + minor fixes here and there
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-DataMembers.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
  PWGCF/MultiparticleCorrelations/Tasks/multiparticle-correlations-ab.cxx
Labels: pwgcf

#11858 [PWGHF] Fix template parameter usage in getHfCollisionRejectionMaskWithUpc call
  PWGHF/Utils/utilsEvSelHf.h
Labels: pwghf

#11868 [Common] minor adjustment to NTPV centralities in cent study task
  Common/Tasks/centralityStudy.cxx
Labels: common

#11862 [PWGLF] Add gen level histograms with matched reconstructed event
  PWGLF/Tasks/Strangeness/cascadecorrelations.cxx
Labels: pwglf

#11863 [PWGHF] Σc0,++: fix configurable axes in Sigmac task.
  PWGHF/D2H/Tasks/taskSigmac.cxx
Labels: pwghf

#11867 [DPG] Add possibility to skip TPC-only tracks
  DPG/Tasks/AOTTrack/tagAndProbeDmesons.cxx
Labels: dpg

#11841 [PWGLF] add truncated mean histograms and configurable to run on skimmed data
  PWGLF/Tasks/QC/CMakeLists.txt
  PWGLF/Tasks/QC/trackedCascadeProperties.cxx
Labels: pwglf

#11871 [PWGCF] additional control histogram, optionally restrict range in which stat is computed
  PWGCF/Core/CorrelationContainer.cxx
  PWGCF/Tasks/correlations.cxx
Labels: pwgcf

#11873 [PWGHF] Use namespace for MetadataHelper
  PWGHF/D2H/Tasks/taskDs.cxx
  PWGHF/TableProducer/mcPidTof.cxx
Labels: pwghf

#11880 Please consider the following formatting changes to #11879
  Common/Core/CollisionTypeHelper.h
Labels: common

#11874 [PWGLF] Use namespace for MetadataHelper
  PWGLF/TableProducer/Nuspex/hypKfRecoTask.cxx
  PWGLF/TableProducer/Strangeness/stracents.cxx
Labels: pwglf

#11813 [PWGUD] Adding simple test on RCT flags implementation in UD tables
  PWGUD/Tasks/CMakeLists.txt
  PWGUD/Tasks/testMcStdTabsRl.cxx
  PWGUD/Tasks/upcTestRctTables.cxx
Labels: pwgud

#11856 [PWGCF] Add output of c22 without eta gap
  PWGCF/Flow/Tasks/flowGfwOmegaXi.cxx
Labels: pwgcf

#11878 [PWGDQ] Adding & fixing MC signals
  PWGDQ/Core/MCSignalLibrary.cxx
Labels: pwgdq

#11882 [PWGLF] Use Nch-dependent feed down to improve MC closure
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#11888 [PWGHF] Fix a typo in the Lb Reduced candidate creator
  PWGHF/D2H/TableProducer/candidateCreatorLbReduced.cxx
Labels: pwghf

#11877 [PWGHF,Trigger] Get rid of hard-coded mass cuts in HFFilter
  EventFiltering/PWGHF/HFFilter.cxx
  EventFiltering/PWGHF/HFFilterHelpers.h
Labels: pwghf, trigger

#11890 [PWGCF] [PWGCF]Add files for ese calculation
  PWGCF/Flow/Tasks/CMakeLists.txt
  PWGCF/Flow/Tasks/flowEseTask.cxx
Labels: pwgcf

#11876 [PWGEM] DielectronMC.h momentum loss of both tracks vs DCA
  PWGEM/Dilepton/Core/DileptonMC.h
Labels: pwgem

#11842 [PWGCF] FemtoUniverse - MCTruth producer update
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerMCTruthTask.cxx
Labels: pwgcf

#11889 [PWGDQ] Temporary test for issues in running in hyperloop
  PWGDQ/Tasks/tableReader.cxx
Labels: pwgdq

#11855 [PWGHF] Σc0,++: Remove duplicated consuming of McParticles.
  PWGHF/TableProducer/candidateCreatorSigmac0plusplus.cxx
Labels: pwghf

#11896 [Common] Add time dependency study to centrality task
  Common/Tasks/centralityStudy.cxx
Labels: common

#11892 [PWGJE,EMCAL-670] Add option to use Run2 alignment
  PWGJE/TableProducer/emcalCorrectionTask.cxx
Labels: pwgje, emcal

#11900 [PWGHF] Fixed typo in Lambdab cut variable name in HfHelper.h
  PWGHF/Core/HfHelper.h
Labels: pwghf

#11904 [Common] change defaults of cent study task
  Common/Tasks/centralityStudy.cxx
Labels: common

#11903 [PWGLF] Fixes in sigma0builder
  PWGLF/TableProducer/Strangeness/sigma0builder.cxx
Labels: pwglf

#11905 [PWGUD] Removed different cuts for different datasets
  PWGUD/Tasks/exclusiveRhoTo4Pi.cxx
Labels: pwgud

#11906 [PWGLF] Enabling quality cuts for MFT tracks
  PWGLF/Tasks/GlobalEventProperties/dndeta-mft-pp.cxx
Labels: pwglf

#11908 [PWGHF] Fix track vector type + minor fixes
  PWGHF/D2H/TableProducer/dataCreatorCharmResoReduced.cxx
Labels: pwghf

#11907 [PWGUD] Adding RCTflags selections to personal tasks
  PWGUD/TableProducer/tauEventTableProducer.cxx
  PWGUD/TableProducer/twoTracksEventTableProducer.cxx
  PWGUD/Tasks/upcTauRl.cxx
Labels: pwgud

#11909 [PWGHF] Fix another minor bug in charm reso builder
  PWGHF/D2H/TableProducer/dataCreatorCharmResoReduced.cxx
Labels: pwghf

#11795 [Common] Fix PID response for Z=2 nuclei
  Common/DataModel/PIDResponseITS.h
Labels: common, datamodel

#11910 [PWGLF,Trigger] Add conditional to retrieve multiplicity information from ccdb
  EventFiltering/PWGLF/strangenessFilter.cxx
Labels: pwglf, trigger

#11912 [Common] Added further distinction of muon origins in MCH
  Common/Tasks/qaMuon.cxx
Labels: common

#11917 [PWGHF] Ds-h correlation - Fixing bug on histograms
  PWGHF/HFC/Tasks/taskCorrelationDsHadrons.cxx
Labels: pwghf

#11924 [PWGEM/Dilepton] remove muon columns from treeCreatorElectronMLDDA.cxx
  PWGEM/Dilepton/DataModel/lmeeMLTables.h
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
Labels: pwgem, datamodel

#11927 [DPG] timeDependent mult distributions with noPileup condition
  DPG/Tasks/AOTEvent/timeDependentQa.cxx
Labels: dpg

#11928 [Infrastructure] Add Sebastian as dilepton coord
  CODEOWNERS
Labels: infrastructure

#11930 [PWGEM/Dilepton] add possibility to store only true electron in MC
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
Labels: pwgem

#11931 [PWGLF] "PWGLF: modified Reconstructed and Generated MC"
  PWGLF/Tasks/Resonances/higherMassResonances.cxx
Labels: pwglf

#11933 [PWGLF] Fix histogram filling
  PWGLF/Tasks/Resonances/lambda1405analysis.cxx
Labels: pwglf

#11934 [PWGJE/EMCal] Add temp calib qa and mc energy shift to correction task
  PWGJE/TableProducer/emcalCorrectionTask.cxx
Labels: pwgje

#11935 [PWGJE,EMCAL-568] Add option to use energy calibration done with old …
  PWGJE/TableProducer/emcalCorrectionTask.cxx
Labels: pwgje

#11936 [PWGCF] updates on ESERef selection
  PWGCF/Flow/Tasks/flowEsePHe3.cxx
Labels: pwgcf

#11925 [PWGHF] Fix type of BC table in B-hadron data creator
  PWGHF/D2H/TableProducer/dataCreatorCharmHadPiReduced.cxx
Labels: pwghf

#11932 [PWGHF] Add TTree to charm flow task for pt bin centering
  PWGHF/D2H/Tasks/taskFlowCharmHadrons.cxx
Labels: pwghf

#11942 [PWGJE] Add occupancy cut to trackEfficiency task
  PWGJE/Tasks/jetSpectraCharged.cxx
  PWGJE/Tasks/trackEfficiency.cxx
Labels: pwgje

#11433 [PWGJE] Add photon-hadron correlation analysis task
  PWGJE/DataModel/PhotonChargedTriggerCorrelation.h
  PWGJE/Tasks/CMakeLists.txt
  PWGJE/Tasks/photonChargedTriggerCorrelation.cxx
Labels: pwgje, datamodel

#11944 [Common] Add PVz and IR profiles vs time to centrality task
  Common/Tasks/CMakeLists.txt
  Common/Tasks/centralityStudy.cxx
Labels: common

#11955 [PWGCF] FemtoUniverse -- Adding correction on secondary contaminations for the p-phi analysis
  PWGCF/FemtoUniverse/Core/FemtoUniverseEfficiencyCorrection.h
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackPhi.cxx
Labels: pwgcf

#11946 [PWGHF] taskCharmPolarisation: Stop using the iterator at collisions for PbPb collision process
  PWGHF/D2H/Tasks/taskCharmPolarisation.cxx
Labels: pwghf

#11943 [PWGCF] add kNoITSROFrameBorder and kNoTimeFrameBorder EvSel
  PWGCF/Flow/Tasks/flowTask.cxx
  PWGCF/TwoParticleCorrelations/Tasks/diHadronCor.cxx
Labels: pwgcf

#11949 [PWGCF] Add additional event sel flags, configurable dcaxy pt-dependence
  PWGCF/GenericFramework/Tasks/flowGfwLightIons.cxx
Labels: pwgcf

#11956 [PWGCF] adjusted bounds and added else line for ccdb objects
  PWGCF/Flow/Tasks/flowZdcTask.cxx
Labels: pwgcf

#11951 [PWGLF] new analysis for pion and kaon using kink topology
  PWGLF/Tasks/Nuspex/CMakeLists.txt
  PWGLF/Tasks/Nuspex/spectraKinkPiKa.cxx
Labels: pwglf

#11947 [PWGLF] Update nucleitpcpbpb.cxx
  PWGLF/Tasks/Nuspex/nucleitpcpbpb.cxx
Labels: pwglf

#11953 [PWGLF] Online efficiency correction and mixing event or 2D approach in phi-K0S correlations
  PWGLF/Tasks/Strangeness/phik0shortanalysis.cxx
Labels: pwglf

#11963 [PWGLF] Safeguard check on efficiencies and polished selection of phi's daughter track and pion track candidates
  PWGLF/Tasks/Strangeness/phik0shortanalysis.cxx
Labels: pwglf

#11964 [PWGLF] restructure run 3 process functions + minor code improvements
  PWGLF/DataModel/LFEbyeTables.h
  PWGLF/TableProducer/Nuspex/ebyeMaker.cxx
Labels: pwglf, datamodel

#11966 [PWGEM/Dilepton] add possibility to use ITSsa in createResolutionMap.cxx
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
  PWGEM/Dilepton/Tasks/createResolutionMap.cxx
Labels: pwgem

#11940 [PWGJE] add new histgrams
  PWGJE/Tasks/jetShape.cxx
Labels: pwgje

#11971 [PWGEM/Dilepton] fix bc in OTS
  PWGEM/Dilepton/TableProducer/skimmerOTS.cxx
Labels: pwgem

#11973 [PWGLF] Added jet rec efficiency calculation + some refactoring
  PWGLF/Tasks/Strangeness/strangenessInJets.cxx
Labels: pwglf

#11977 [PWGCF] adjusted track filter and removed unused variables
  PWGCF/Flow/Tasks/flowZdcTask.cxx
Labels: pwgcf

#11987 [PWGCF] FemtoUniverse -- corrected mc truth filling for the secondary contamination estimation
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackPhi.cxx
Labels: pwgcf

#11988 [PWGCF] Generic 2-prong PID cut formula fixes
  PWGCF/TableProducer/filter2Prong.cxx
Labels: pwgcf

#11980 [PWGLF] Configurable for centrality estimation
  PWGLF/Tasks/Resonances/kstarqa.cxx
Labels: pwglf

#11989 [PWGCF] Modify the file to calculate v2-q2
  PWGCF/Flow/Tasks/flowEseTask.cxx
Labels: pwgcf

#11970 [PWGLF] Add the PID option for using TOF
  PWGLF/Tasks/Resonances/f0980analysis.cxx
Labels: pwglf

#11978 [PWGEM] Add the possibility to select Phi regions
  PWGEM/Dilepton/Core/DielectronCut.cxx
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
Labels: pwgem

#11960 [PWGHF,PWGJE] Propagate new MC flags to beauty candidates
  PWGHF/Core/DecayChannels.h
  PWGHF/D2H/DataModel/ReducedDataModel.h
  PWGHF/D2H/TableProducer/candidateCreatorBToJpsiReduced.cxx
  PWGHF/D2H/Tasks/taskB0.cxx
  PWGHF/D2H/Tasks/taskBplus.cxx
  PWGHF/D2H/Tasks/taskBplusToJpsiKReduced.cxx
  PWGHF/D2H/Tasks/taskBs.cxx
  PWGHF/D2H/Tasks/taskBsToJpsiPhiReduced.cxx
  PWGHF/D2H/Tasks/taskLb.cxx
  PWGHF/D2H/Tasks/taskXicToXiPiPi.cxx
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/candidateCreatorB0.cxx
  PWGHF/TableProducer/candidateCreatorBplus.cxx
  PWGHF/TableProducer/candidateCreatorBs.cxx
  PWGHF/TableProducer/candidateCreatorLb.cxx
  PWGHF/TableProducer/derivedDataCreatorB0ToDPi.cxx
  PWGHF/TableProducer/derivedDataCreatorBplusToD0Pi.cxx
  PWGHF/TableProducer/treeCreatorB0ToDPi.cxx
  PWGHF/TableProducer/treeCreatorBplusToD0Pi.cxx
  PWGHF/TableProducer/treeCreatorBsToDsPi.cxx
  PWGHF/Utils/utilsMcGen.h
  PWGJE/Core/JetHFUtilities.h
Labels: pwghf, pwgje, datamodel

#11985 [PWGHF] Cut variation: make analysis more flexible and output more informative
  PWGHF/D2H/Macros/compute_fraction_cutvar.py
  PWGHF/D2H/Macros/cut_variation.py
Labels: pwghf

#11991 [PWGLF] Added pT dependent PID
  PWGLF/Tasks/Resonances/kstarqa.cxx
Labels: pwglf

#11993 [PWGEM/Dilepton] add mc label of MFTTracks
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/TableProducer/associateMCinfoDilepton.cxx
Labels: pwgem, datamodel

#11982 [PWGHF] Add QA histograms to XicToXiPiPi candidate selector
  PWGHF/Core/SelectorCuts.h
  PWGHF/TableProducer/candidateCreatorXicToXiPiPi.cxx
  PWGHF/TableProducer/candidateSelectorXicToXiPiPi.cxx
Labels: pwghf

#11992 [PWGCF] Separated positively- and negatively charged particles in the pT spectra
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf

#11976 [PWGLF] Producing derived data for charged kstar spin alignment study
  PWGLF/DataModel/LFCKSSpinalignmentTables.h
  PWGLF/TableProducer/Resonances/CMakeLists.txt
  PWGLF/TableProducer/Resonances/cksspinalignment.cxx
Labels: pwglf, datamodel

#11999 [PWGLF] Optimised both codes
  PWGLF/Tasks/Resonances/higherMassResonances.cxx
  PWGLF/Tasks/Resonances/phianalysisrun3_PbPb.cxx
Labels: pwglf

#12008 [PWGEM/Dilepton] add a task to produce OTF qVector
  PWGEM/Dilepton/TableProducer/createEMEventDilepton.cxx
  PWGEM/Dilepton/Tasks/CMakeLists.txt
  PWGEM/Dilepton/Tasks/qVectorDummyOTF.cxx
Labels: pwgem

#12001 [PWGLF] Remove histogram repetition
  PWGLF/Tasks/Strangeness/lambdaspincorrderived.cxx
Labels: pwglf

#12000 [PWGCF] Add extra QA plots and update corrections
  PWGCF/Flow/TableProducer/zdcQVectors.cxx
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

#12006 [PWGCF] Add run-by-run flow, fixed mult selection
  PWGCF/GenericFramework/Tasks/flowGfwLightIons.cxx
Labels: pwgcf

#12007 [PWGCF] filter2prong: Fix check with GetNpar
  PWGCF/TableProducer/filter2Prong.cxx
Labels: pwgcf

#11975 Please consider the following formatting changes to #11974
  Common/TableProducer/PID/pidTPC.cxx
  Common/TableProducer/PID/pidTPCBase.cxx
Labels: common

#12010 [PWGCF] task for pt-diff radial flow
  PWGCF/EbyEFluctuations/Tasks/CMakeLists.txt
  PWGCF/EbyEFluctuations/Tasks/MeanptFluctuations.cxx
  PWGCF/EbyEFluctuations/Tasks/v0ptHadPiKaProt.cxx
Labels: pwgcf

#12009 [PWGCF] FemtoUniverse: EfficiencyBase task update
  PWGCF/FemtoUniverse/Tasks/femtoUniverseEfficiencyBase.cxx
Labels: pwgcf

#12013 [PWGLF] Add output tree to lambda1405 task
  PWGLF/DataModel/LFLambda1405Table.h
  PWGLF/Tasks/Resonances/lambda1405analysis.cxx
Labels: pwglf, datamodel

#12012 [PWGLF] Adjusted generated MC event counter for consistency with reconstructed MC
  PWGLF/Tasks/Strangeness/strangenessInJets.cxx
Labels: pwglf

#12015 [PWGHF] Fix converter for B-meson reduced data model (PID variables)
  PWGHF/D2H/TableProducer/converterReducedHadronDausPid.cxx
Labels: pwghf

#11983 [PWGHF] HFInvMassFitter: add chi2 sidebands histogram and clean code
  PWGHF/D2H/Macros/HFInvMassFitter.cxx
  PWGHF/D2H/Macros/HFInvMassFitter.h
  PWGHF/D2H/Macros/runMassFitter.C
Labels: pwghf

#12018 [PWGLF] fix for filling MC particle info in run 3 + toggle additional ev sels
  PWGLF/TableProducer/Nuspex/ebyeMaker.cxx
Labels: pwglf

#12004 [PWGHF] Use invariant mass for rapidity calculations in Ds tasks
  PWGHF/D2H/Tasks/taskDs.cxx
  PWGHF/TableProducer/treeCreatorDsToKKPi.cxx
Labels: pwghf

#11990 [Common] passing the vectors by value and not by reference, bug fix
  Common/TableProducer/PID/pidTPCBase.h
Labels: common

#12021 [PWGLF] Substituted collision loop with iterator + signal split study
  PWGLF/Tasks/Strangeness/phik0shortanalysis.cxx
Labels: pwglf

#12025 [ALICE3] Move fasttracker printout to verbose mode
  ALICE3/Core/FastTracker.cxx
Labels: alice3

#12019 [Trigger] Zorro: Fix various C++ issues
  EventFiltering/Zorro.cxx
  EventFiltering/Zorro.h
  EventFiltering/ZorroHelper.h
  EventFiltering/ZorroSummary.cxx
  EventFiltering/ZorroSummary.h
Labels: trigger

#12024 [PWGLF] Try to use PV and SV to correct momentum of short tracks
  PWGLF/DataModel/LFHyperhelium4sigmaTables.h
  PWGLF/TableProducer/Nuspex/hyperhelium4sigmaRecoTask.cxx
Labels: pwglf, datamodel

#12032 [PWGHF] Fix includes
  PWGHF/D2H/Macros/HFInvMassFitter.cxx
  PWGHF/D2H/TableProducer/dataCreatorCharmHadPiReduced.cxx
  PWGHF/D2H/TableProducer/dataCreatorCharmResoReduced.cxx
  PWGHF/D2H/TableProducer/dataCreatorJpsiHadReduced.cxx
  PWGHF/D2H/Tasks/taskBplusToJpsiKReduced.cxx
  PWGHF/D2H/Tasks/taskBsToJpsiPhiReduced.cxx
  PWGHF/D2H/Tasks/taskCharmPolarisation.cxx
  PWGHF/D2H/Tasks/taskOmegac0ToOmegapi.cxx
  PWGHF/D2H/Tasks/taskXic0ToXiPi.cxx
  PWGHF/D2H/Utils/utilsRedDataFormat.h
  PWGHF/HFC/TableProducer/correlatorD0D0bar.cxx
  PWGHF/HFC/Tasks/taskCharmHadronsFemtoDream.cxx
  PWGHF/HFC/Tasks/taskCorrelationDsHadrons.cxx
  PWGHF/HFL/Tasks/taskElectronWeakBoson.cxx
  PWGHF/TableProducer/candidateSelectorLcPidMl.cxx
  PWGHF/TableProducer/candidateSelectorOmegac0Xic0ToOmegaKa.cxx
  PWGHF/TableProducer/treeCreatorDsToKKPi.cxx
  PWGHF/TableProducer/treeCreatorXic0ToXiPiKf.cxx
Labels: pwghf

#12037 [ALICE3] A3RICH: add table for signal availability
  ALICE3/DataModel/OTFRICH.h
  ALICE3/TableProducer/OTF/onTheFlyRichPid.cxx
  ALICE3/TableProducer/OTF/onTheFlyTofPid.cxx
Labels: alice3, datamodel

#12039 [PWGLF] nuclei-proton angular correlation: add phistar cut
  PWGLF/Tasks/Nuspex/hadronnucleicorrelation.cxx
Labels: pwglf

#12041 [PWGLF] Custom v0 grouping in sigma0builder
  PWGLF/TableProducer/Strangeness/sigma0builder.cxx
Labels: pwglf

#12038 [ALICE3] A3RICH: Linter fixes
  ALICE3/TableProducer/OTF/onTheFlyRichPid.cxx
Labels: alice3

#12047 [ALICE3] Implementing new ALICE 3 RICH flags in analysis preselection task
  ALICE3/TableProducer/alice3-decaypreselector.cxx
Labels: alice3

#12022 [PWGCF] [Femto3D] adding a new task for PID Optimization
  PWGCF/Femto3D/Tasks/CMakeLists.txt
  PWGCF/Femto3D/Tasks/PIDoptimization.cxx
Labels: pwgcf

#12052 [PWGEM/Dilepton] update for tpc
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/TableProducer/createEMEventDilepton.cxx
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
Labels: pwgem, datamodel

#12046 [ALICE3] A3TOF: cleanup
  ALICE3/CMakeLists.txt
  ALICE3/Tools/CMakeLists.txt
  ALICE3/Tools/handleParamTOFResoALICE3.cxx
Labels: alice3

#12048 [PWGLF] count generated charged particles in MC event + replace custom functions with O2 built-in ones
  PWGLF/TableProducer/Nuspex/ebyeMaker.cxx
Labels: pwglf

#12058 [ALICE3] Update TrackUtilities.h
  ALICE3/Core/CMakeLists.txt
  ALICE3/Core/TrackUtilities.cxx
  ALICE3/Core/TrackUtilities.h
Labels: alice3

#11950 [PWGDQ] Enable reading collision system info from CCDB and Polarization table
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/DataModel/ReducedInfoTables.h
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq, datamodel

#12050 [PWGLF] enabled efficient and scoped analysis per collision
  PWGLF/Tasks/Strangeness/strangenessInJets.cxx
Labels: pwglf

#12062 [ALICE3] Update DelphesO2LutWriter.h
  ALICE3/Core/DelphesO2LutWriter.cxx
  ALICE3/Core/DelphesO2LutWriter.h
Labels: alice3

#11883 [Common] Use namespace for MetadataHelper
  Common/TableProducer/PID/pidITS.cxx
  Common/TableProducer/PID/pidTOFMerge.cxx
  Common/TableProducer/PID/pidTPC.cxx
  Common/TableProducer/centralityTable.cxx
  Common/TableProducer/eventSelection.cxx
  Common/TableProducer/eventSelectionService.cxx
  Common/TableProducer/multCentTable.cxx
  Common/TableProducer/multiplicityTable.cxx
  Common/TableProducer/timestamp.cxx
  Common/TableProducer/timestampTester.cxx
Labels: common

#11898 [Common] Improve verbose message in TableHelper
  Common/Core/TableHelper.h
Labels: common

#11901 [Common] TOF: check metadata that is initialized
  Common/TableProducer/PID/pidTOFMerge.cxx
Labels: common

#12057 [PWGCF] Add cascades v24 with eta gap
  PWGCF/Flow/Tasks/flowGfwOmegaXi.cxx
Labels: pwgcf

#12056 [DPG] Update aQCMFTTracks.cxx
  DPG/Tasks/MFT/aQCMFTTracks.cxx
Labels: dpg

#12066 [PWGCF] Add flag for mult. weighting on flow obs. Add additional cent/mult QA
  PWGCF/GenericFramework/Tasks/flowGfwLightIons.cxx
Labels: pwgcf

#12061 [PWGLF] histogram correction
  PWGLF/Tasks/Nuspex/nucleitpcpbpb.cxx
Labels: pwglf

#12069 [PWGLF] added configurable histogram axes
  PWGLF/Tasks/Resonances/phiOO.cxx
Labels: pwglf

#12079 [PWGLF] Add new code to investigate He3Lambda
  PWGLF/TableProducer/Nuspex/CMakeLists.txt
  PWGLF/TableProducer/Nuspex/he3LambdaAnalysis.cxx
Labels: pwglf

#12086 [PWGLF] Fix indexing and add invariant mass plot
  PWGLF/TableProducer/Nuspex/he3LambdaAnalysis.cxx
Labels: pwglf

#12067 [PWGLF] NucleiTask - Add deuteron ITS cuts
  PWGLF/DataModel/LFNucleiTables.h
  PWGLF/TableProducer/Nuspex/LFTreeCreatorNuclei.cxx
  PWGLF/Tasks/Nuspex/LFNucleiBATask.cxx
Labels: pwglf, datamodel

#12092 [ALICE3] A3: Add trk performance
  ALICE3/Tasks/CMakeLists.txt
  ALICE3/Tasks/alice3TrackingPerformance.cxx
Labels: alice3

#12093 [PWGLF] Differentiate online correction for pid on pions with and without TOF
  PWGLF/Tasks/Strangeness/phik0shortanalysis.cxx
Labels: pwglf

#12065 [PWGLF] add pi-He3 MC process
  PWGLF/DataModel/LFhe3HadronTables.h
  PWGLF/TableProducer/Nuspex/he3HadronFemto.cxx
Labels: pwglf, datamodel

#12090 [PWGCF] FemtoUniverse: Adding pair-seperation for pair-cuts
  PWGCF/FemtoUniverse/Core/FemtoUniverseDetaDphiStar.h
Labels: pwgcf

#12076 [PWGEM,PWGEM-36] skimmerGammaCalo: Add `needEMCTrigger` configurable
  PWGEM/PhotonMeson/TableProducer/skimmerGammaCalo.cxx
Labels: pwgem, photon

#12097 [PWGLF] Add weight for mixing
  PWGLF/Tasks/Strangeness/lambdaspincorrderived.cxx
Labels: pwglf

#12077 [Common] multiplicity: dependency capture for INEL>0 conditional embedding
  Common/Tools/MultModule.h
Labels: common

#12083 [DPG] more QA for occup studies in data vs MC + small cut adjustments
  DPG/Tasks/AOTEvent/detectorOccupancyQa.cxx
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Labels: dpg

#12068 [PWGHF/HFL] Z task: Add charge in histograms
  PWGHF/HFL/Tasks/taskElectronWeakBoson.cxx
Labels: pwghf

#12088 [Common] Fix Z=2 PID response for dynamic columns
  Common/DataModel/PIDResponseITS.h
Labels: common, datamodel

#12070 [PWGLF] Add Xi resonance mass
  PWGLF/DataModel/LFLambda1405Table.h
  PWGLF/Tasks/Resonances/lambda1405analysis.cxx
Labels: pwglf, datamodel

#12073 [PWGEM/Dilepton] remove unnecessary Preslice
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/TableProducer/filterEoI.cxx
  PWGEM/Dilepton/TableProducer/skimmerPrimaryMuon.cxx
Labels: pwgem, datamodel

#12110 [Common] Revert "[Common] Improve verbose message in TableHelper"
  Common/Core/TableHelper.h
Labels: common

#12072 [PWGCF] Adding process function to filter Phi and V0s simultaneously
  PWGCF/TableProducer/filter2Prong.cxx
Labels: pwgcf

#12098 [DPG] Making configurable pt-sampling parameters usable for partitioning tr…
  DPG/Tasks/ITS/filterTracks.cxx
Labels: dpg

#12108 [PWGCF] FemtoUniverse: Adding function to calculate fraction of bad TPC cluster points for closed-pairs
  PWGCF/FemtoUniverse/Core/FemtoUniverseDetaDphiStar.h
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackSpherHarMultKtExtended.cxx
Labels: pwgcf

#12109 [PWGEM/Dilepton] update treeCreatorElectronMLDDA.cxx
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
  PWGEM/Dilepton/Tasks/taggingHFE.cxx
Labels: pwgem

#12119 [PWGHF] Fix signal selection in Ds tree creator
  PWGHF/TableProducer/treeCreatorDsToKKPi.cxx
Labels: pwghf
