Repository AliceO2Group/O2Physics, pull requests merged in 2025-01, with the labels that each got.

#9170 [PWGLF] corrected the histograms being overwritten in subsequent iterations
  PWGLF/TableProducer/Common/spvector.cxx
Labels: pwglf

#9169 [PWGLF] Switch strangeness builders to use proper timestamps for matLUT
  PWGLF/TableProducer/Strangeness/cascadebuilder.cxx
  PWGLF/TableProducer/Strangeness/lambdakzerobuilder.cxx
Labels: pwglf

#9174 [PWGHF] Add one bin to count the reflected D0
  PWGHF/D2H/Tasks/taskDirectedFlowCharmHadrons.cxx
Labels: pwghf

#9176 [Common] Minor fixes to qa task
  Common/LegacyDataQA/tpcpidqa.cxx
Labels: common

#9177 [PWGLF] Add hypertriton to deuterons map
  PWGLF/Tasks/Nuspex/CMakeLists.txt
  PWGLF/Tasks/Nuspex/nucleiFromHypertritonMap.cxx
Labels: pwglf

#9178 [PWGCF] FemtoUniverse: Quick fix for centrality bining in storing CFs
  PWGCF/FemtoUniverse/Core/FemtoUniversePairSHCentMultKt.h
  PWGCF/FemtoUniverse/Core/FemtoUniversePairWithCentMultKt.h
Labels: pwgcf

#9179 [PWGLF] Fix CCDB calls in the non-promt cascade code
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf

#9181 [PWGLF] Add k* and costheta* information in THnSparse output
  PWGLF/Tasks/Resonances/doublephimeson.cxx
Labels: pwglf

#9182 [PWGLF] Updates for faster 3-body decay analysis
  PWGLF/TableProducer/Nuspex/hypKfRecoTask.cxx
  PWGLF/TableProducer/Nuspex/hypKfTreeCreator.cxx
Labels: pwglf

#9184 [PWGCF] FemtoUniverse: Adding centrality and event histograms to track-cascade task
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackCascadeExtended.cxx
Labels: pwgcf

#9139 [PWGCF] add ITSnSigmaCut
  PWGCF/Flow/Tasks/pidcme.cxx
Labels: pwgcf

#9185 [PWGUD] Fix global forward tracks selection and store tan lambda information
  PWGUD/TableProducer/UPCCandidateProducer.cxx
Labels: pwgud

#9187 [PWGEM/Dilepton] update smearing task
  PWGEM/Dilepton/Tasks/createResolutionMap.cxx
  PWGEM/Dilepton/Utils/MomentumSmearer.h
Labels: pwgem

#9119 [PWGHF/D2H] Adding ML application in MC processes for analysis on Multiplicity Dependent D* Production Cross Section
  PWGHF/D2H/Tasks/taskDstarToD0Pi.cxx
Labels: pwghf

#9142 [PWGHF] Added info for efficiency computation in PbPb for D+
  PWGHF/D2H/Tasks/taskDplus.cxx
Labels: pwghf

#9189 [PWGEM/Dilepton] remove unnecessary filter
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
Labels: pwgem

#9190 [PWGCF] Fixed typo
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

#9175 [PWGHF,Trigger] Build V0s and cascades in HF triggers
  EventFiltering/PWGHF/HFFilter.cxx
  EventFiltering/PWGHF/HFFilterHelpers.h
Labels: pwghf, trigger

#9192 [PWGDQ] Fix histogram bug in asymmetric pairs and triplets
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#9082 [PWGCF] Update analysis structure and add centrality dependence
  PWGCF/TwoParticleCorrelations/Tasks/CMakeLists.txt
  PWGCF/TwoParticleCorrelations/Tasks/neutronProtonCorrZdc.cxx
Labels: pwgcf

#9173 [PWGCF] Lambda R2 Correlation Update
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#9145 [PWGHF/HFC] D*-H correlation: Correcting the filling of D* and hadron table
  PWGHF/HFC/DataModel/CorrelationTables.h
  PWGHF/HFC/TableProducer/correlatorDstarHadrons.cxx
Labels: pwghf

#9198 [PWGLF] Extract collision id for ST from TracksIU
  PWGLF/TableProducer/Strangeness/stCollIds.cxx
Labels: pwglf

#9200 [PWGLF] Update PWGLF/Tasks/Nuspex/spectraTOF.cxx
  PWGLF/Tasks/Nuspex/spectraTOF.cxx
Labels: pwglf

#9196 [PWGJE] fix bugs for MCD level in jetSpectraCharged task
  PWGJE/Tasks/CMakeLists.txt
  PWGJE/Tasks/jetSpectraCharged.cxx
Labels: pwgje

#9202 [PWGHF] Fixing bug in label name for B+ selector
  PWGHF/Core/HfHelper.h
Labels: pwghf

#9203 [PWGCF] DptDpt -- Fix for wrong ME collect engine configuration
  PWGCF/Tasks/dptdptcorrelations.cxx
Labels: pwgcf

#9206 [PWGLF] add the mass difference between mother and daughter particle in output
  PWGLF/Tasks/Resonances/doublephimeson.cxx
Labels: pwglf

#9207 [PWGLF] Remove legacy code for getting the B field
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf

#9204 [PWGEM/Dilepton] add a task to associate mc col to rec col
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/Tasks/CMakeLists.txt
  PWGEM/Dilepton/Tasks/associateMCcollision.cxx
  PWGEM/Dilepton/Tasks/smearing.cxx
Labels: pwgem

#9208 [PWGLF] Study nuclei matching wrt EP
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf

#9210 [PWGLF] added scalar product method
  PWGLF/Tasks/Resonances/kstarpbpb.cxx
Labels: pwglf

#9199 [PWGCF] Fixed merge and streamer bugs in FlowPtContainer
  PWGCF/Flow/Tasks/flowAnalysisGF.cxx
  PWGCF/GenericFramework/Core/FlowPtContainer.cxx
  PWGCF/GenericFramework/Core/FlowPtContainer.h
  PWGCF/GenericFramework/Tasks/flowGenericFramework.cxx
Labels: pwgcf

#9188 [PWGHF] Add several variables to the DCAfitter process functions in the candidate creator and tree creator
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/candidateCreatorXicToXiPiPi.cxx
  PWGHF/TableProducer/treeCreatorXicToXiPiPi.cxx
Labels: pwghf, datamodel

#9073 [PWGLF] PWGMM: Lumi
  PWGMM/Lumi/Tasks/lumiStability.cxx
Labels: pwglf

#9193 [PWGDQ] Add test cuts for e-mu trigger
  PWGDQ/Core/CutsLibrary.cxx
Labels: pwgdq

#9214 [PWGLF] Change in derivedcascadeanalysis.cxx
  PWGLF/Tasks/Strangeness/derivedcascadeanalysis.cxx
Labels: pwglf

#9205 [Common] Introducing a configurable cut on ZN TDCs to select more clean samples
  Common/DataModel/ZDCInterCalib.h
  Common/TableProducer/zdc-task-intercalib.cxx
Labels: common, datamodel

#9194 [PWGHF] Add mc collision counter vs centrality
  PWGHF/TableProducer/candidateCreator2Prong.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorCascade.cxx
  PWGHF/TableProducer/candidateCreatorDstar.cxx
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
  PWGHF/Tasks/taskMcValidation.cxx
  PWGHF/Utils/utilsEvSelHf.h
Labels: pwghf

#9215 [PWGHF,Trigger] Fix namespace name
  EventFiltering/PWGHF/HFFilter.cxx
  EventFiltering/PWGHF/HFFilterHelpers.h
Labels: pwghf, trigger

#9226 Please consider the following formatting changes to #9225
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf

#9221 [PWGEM/Dilepton] add ITS PID
  PWGEM/Dilepton/Tasks/eventQC.cxx
Labels: pwgem

#9222 [PWGHF] Fixing indexing on derived collision tables
  PWGHF/DataModel/DerivedTables.h
Labels: pwghf, datamodel

#9225 [PWGLF] Add matching study for all tracks
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf

#9219 [PWGCF] Lambda R2 Correlation Update
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#9228 [PWGLF] Update Tasks/Nuspex/spectraTOF.cxx
  PWGLF/Tasks/Nuspex/spectraTOF.cxx
Labels: pwglf

#9229 [PWGEM/Dilepton] update eventQC
  PWGEM/Dilepton/Tasks/eventQC.cxx
Labels: pwgem

#9224 [PWGJE] Fix some bugs and name convention
  PWGJE/Tasks/recoilJets.cxx
Labels: pwgje

#9230 [PWGLF] Set the _as type in the ST-collision association
  PWGLF/TableProducer/Strangeness/stCollIds.cxx
Labels: pwglf

#9233 [PWGCF] PID flow for reconstructed particles
  PWGCF/Flow/Tasks/flowPbpbPikp.cxx
Labels: pwgcf

#9236 [PWGLF] Add pion pid hypothesis for kaon daughter
  PWGLF/DataModel/ReducedF1ProtonTables.h
  PWGLF/TableProducer/Resonances/f1protonreducedtable.cxx
  PWGLF/Tasks/Resonances/f1protoncorrelation.cxx
Labels: pwglf, datamodel

#9220 [PWGLF] changed misidentification condition of particles with antiparticles
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#9234 [PWGLF] Add kink decay builder + sigmaminus example task
  PWGLF/DataModel/LFKinkDecayTables.h
  PWGLF/TableProducer/Common/CMakeLists.txt
  PWGLF/TableProducer/Common/kinkBuilder.cxx
  PWGLF/TableProducer/Nuspex/CMakeLists.txt
  PWGLF/TableProducer/Nuspex/hyperKinkRecoTask.cxx
  PWGLF/Tasks/Strangeness/CMakeLists.txt
  PWGLF/Tasks/Strangeness/kinkAnalysis.cxx
  PWGLF/Tasks/Strangeness/sigmaminustask.cxx
  PWGLF/Utils/svPoolCreator.h
Labels: pwglf, datamodel

#9216 [PWGHF] Ds-h correlation, adding ME derived precess in task
  PWGHF/HFC/Tasks/taskCorrelationDsHadrons.cxx
Labels: pwghf

#9239 [DPG] AOTTrack, adding cluster size histogram
  DPG/Tasks/AOTTrack/qaImpPar.cxx
Labels: dpg

#9218 [PWGLF] change in derived cascade analysis
  PWGLF/Tasks/Strangeness/derivedcascadeanalysis.cxx
Labels: pwglf

#9238 [PWGJE] Removing single track jets
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#9242 [PWGCF] DptDpt -- ITS dead maps selection
  PWGCF/TableProducer/dptdptfilter.cxx
  PWGCF/TableProducer/dptdptfilter.h
Labels: pwgcf

#9245 [PWGCF] FemtoUniverse: Fixing issues with covariance matrix
  PWGCF/FemtoUniverse/Core/FemtoUniversePairSHCentMultKt.h
Labels: pwgcf

#9243 [PWGDQ] Add cuts and histograms for kaon selection and single-gap analysis
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
Labels: pwgdq

#9244 [PWGEM,PWGEM-36] Add EMCal calib to flow task
  PWGEM/PhotonMeson/TableProducer/createEMEventPhoton.cxx
  PWGEM/PhotonMeson/Tasks/taskPi0FlowEMC.cxx
Labels: pwgem

#9241 [PWGCF] Changed the track PID to use TOF only and added a rudimentary pT-based PID filter
  PWGCF/MultiparticleCorrelations/Tasks/ThreeParticleCorrelations.cxx
Labels: pwgcf

#9248 [PWGDQ] Changed table subscription for BarrelMixing process function; Other s…
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#9250 [PWGLF] add configurable to skip triggered samples
  PWGLF/TableProducer/Nuspex/ebyeMaker.cxx
Labels: pwglf

#9251 [PWGLF] DeDx analysys
  PWGMM/UE/Tasks/CMakeLists.txt
  PWGMM/UE/Tasks/dedx_analysys.cxx
Labels: pwglf

#9231 [PWGLF] Update NucleiHistTask.cxx
  PWGLF/Tasks/Nuspex/NucleiHistTask.cxx
Labels: pwglf

#9256 [PWGLF] NucleiTask - ITS cut for helium
  PWGLF/Tasks/Nuspex/LFNucleiBATask.cxx
Labels: pwglf

#9257 [PWGEM/Dilepton] add ITS PID in data table
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/TableProducer/filterDielectronEvent.cxx
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
  PWGEM/Dilepton/TableProducer/skimmerSecondaryElectron.cxx
  PWGEM/Dilepton/Tasks/Converters/CMakeLists.txt
  PWGEM/Dilepton/Tasks/Converters/electronConverter2.cxx
  PWGEM/Dilepton/Tasks/eventQC.cxx
Labels: pwgem

#9260 [PWGLF] Removed specific phi decay channel for assoc efficiency
  PWGLF/Tasks/Strangeness/phik0shortanalysis.cxx
Labels: pwglf

#9253 [PWGEM] phosElId chi_c logic added
  PWGEM/Tasks/phosElId.cxx
Labels: pwgem

#9043 [ALICE3] OTF tracker - bump version of TracksExtra to 002
  ALICE3/TableProducer/OTF/onTheFlyTracker.cxx
Labels: alice3

#9263 [PWGDQ] [PWGDQ-120] MC signals added for correlated background of B+ decay (MCSignalLibrary.cxx) + deltaMass in B meson table (tableReader + dqEfficiency)
  PWGDQ/Core/MCSignalLibrary.cxx
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#9264 [PWGDQ] Fixing issue with MCH and MFT track Ids
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
Labels: pwgdq

#9267 [PWGCF] Added minus for QxA instead of QxC
  PWGCF/Flow/TableProducer/zdcQVectors.cxx
Labels: pwgcf

#9277 [PWGEM/Dilepton] add ITS n sigma Ka, Pr exclusion
  PWGEM/Dilepton/Core/DielectronCut.cxx
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/DataModel/dileptonTables.h
Labels: pwgem

#9153 [PWGHF] Extend information of sparses for efficiency evaluation. Refactor analysis utilities.
  PWGHF/Core/CentralityEstimation.h
  PWGHF/D2H/Tasks/taskDplus.cxx
  PWGHF/D2H/Tasks/taskDs.cxx
  PWGHF/D2H/Tasks/taskFlowCharmHadrons.cxx
  PWGHF/TableProducer/candidateCreator2Prong.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/Tasks/taskMcValidation.cxx
  PWGHF/Utils/utilsAnalysis.h
  PWGHF/Utils/utilsEvSelHf.h
Labels: pwghf

#9280 [PWGCF] Add centrality and mT distributions for source determination
  PWGCF/FemtoDream/Core/femtoDreamContainerThreeBody.h
  PWGCF/FemtoDream/Tasks/femtoDreamTripletTaskTrackTrackTrack.cxx
  PWGCF/FemtoDream/Tasks/femtoDreamTripletTaskTrackTrackV0.cxx
Labels: pwgcf

#9283 [PWGCF] DptDpt -- Tracking the ITS malfunctioning
  PWGCF/TableProducer/dptdptfilter.h
Labels: pwgcf

#9313 [PWGLF] Step by step evaluation of Zorro
  PWGLF/TableProducer/Nuspex/hyperRecoTask.cxx
Labels: pwglf

#9312 [PWGHF] Converting the B+ derived data to always consider D0s with an ML score
  PWGHF/TableProducer/derivedDataCreatorBplusToD0Pi.cxx
Labels: pwghf

#9306 [PWGCF] FemtoUniverse -- Track-nucleus combinations correction.
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackNucleus.cxx
Labels: pwgcf

#9314 [PWGCF] flow task: add kIsGoodITSLayersAll event selection
  PWGCF/Flow/Tasks/flowTask.cxx
  PWGCF/GenericFramework/Core/GFWWeightsList.cxx
Labels: pwgcf

#9282 [PWGCF/FemtoUniverse] Initial implementation of `EfficiencyCalculator`
  PWGCF/FemtoUniverse/Core/FemtoUniverseEfficiencyCalculator.h
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackExtended.cxx
Labels: pwgcf

#9285 [PWGLF] store wd mother pdg info in mask
  PWGLF/TableProducer/Nuspex/ebyeMaker.cxx
Labels: pwglf

#9286 [PWGCF] DptDpt -- Fix for wrong behavior excluding good ITS
  PWGCF/TableProducer/dptdptfilter.h
Labels: pwgcf

#9301 [PWGCF] Jcorran mass dependence
  PWGCF/JCorran/Core/JFFlucAnalysis.cxx
  PWGCF/JCorran/Core/JFFlucAnalysis.h
  PWGCF/JCorran/Core/JFFlucAnalysisO2Hist.cxx
  PWGCF/JCorran/Core/JFFlucAnalysisO2Hist.h
  PWGCF/JCorran/Core/JQVectors.h
  PWGCF/JCorran/Tasks/jflucAnalysisTask.cxx
Labels: pwgcf

#9288 [PWGCF] update on pidcme
  PWGCF/Flow/Tasks/pidcme.cxx
Labels: pwgcf

#9296 [PWGLF] Fix dau track extras converter
  PWGLF/TableProducer/Strangeness/Converters/stradautracksextraconverter2.cxx
Labels: pwglf

#9287 [PWGLF] Code Optimization of hStrangeness correlation
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Labels: pwglf

#9294 [PWGHF] Add the axes of centrality and occupancy in thnsparse in taskD0
  PWGHF/D2H/Tasks/taskD0.cxx
Labels: pwghf

#9316 [PWGDQ] Corrected histogram filling logic for cumulants analysis
  PWGDQ/Tasks/tableReader.cxx
Labels: pwgdq

#9304 [PWGDQ] Adding histograms for Upsilon analysis
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#9299 [PWGLF] V0dev: pt bins configurable
  PWGLF/Tasks/Strangeness/v0ptinvmassplots.cxx
  PWGLF/Tasks/Strangeness/v0topologicalcuts.cxx
Labels: pwglf

#9315 [PWGLF] Fix amplitudes in flow tables
  PWGLF/DataModel/LFSlimNucleiTables.h
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf, datamodel

#9303 [PWGLF] added secondary lambdas
  PWGLF/Tasks/Nuspex/nuclei_in_jets.cxx
Labels: pwglf

#9311 [PWGEM,PWGEM-36] Add clusterdefinition to the emcal cuts
  PWGEM/PhotonMeson/Tasks/taskPi0FlowEMC.cxx
Labels: pwgem, emcal

#9317 [PWGCF,PWGHF] Add ITS PID to femtodream
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/Core/femtoDreamParticleHisto.h
  PWGCF/FemtoDream/Core/femtoDreamTrackSelection.h
  PWGCF/FemtoDream/Core/femtoDreamUtils.h
  PWGCF/FemtoDream/Core/femtoDreamV0Selection.h
  PWGCF/FemtoDream/TableProducer/femtoDreamProducerReducedTask.cxx
  PWGCF/FemtoDream/TableProducer/femtoDreamProducerTask.cxx
  PWGCF/FemtoDream/Tasks/femtoDreamDebugTrack.cxx
  PWGCF/FemtoDream/Tasks/femtoDreamDebugV0.cxx
  PWGCF/FemtoDream/Utils/femtoDreamCutCulator.h
  PWGHF/HFC/TableProducer/femtoDreamProducer.cxx
Labels: pwghf, pwgcf, datamodel

#9323 [PWGEM] phosElId.cxx chic histograms
  PWGEM/Tasks/phosElId.cxx
Labels: pwgem

#9302 [PWGHF] Add CPA D meson to BpLite table
  PWGHF/D2H/Tasks/taskBplusReduced.cxx
Labels: pwghf

#9289 [PWGLF] Update On PID and Histogram Type
  PWGLF/Tasks/Resonances/lambda1520analysis.cxx
Labels: pwglf

#9330 [PWGJE] Adding trigger spectra
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#9332 [PWGLF] NucleiTask - Add triton plots
  PWGLF/Tasks/Nuspex/LFNucleiBATask.cxx
Labels: pwglf

#9217 [PWGHF/HFL] W/Z: Add isolation cut based on track and apply the cuts on E/p
  PWGHF/HFL/Tasks/taskElectronWeakBoson.cxx
Labels: pwghf

#9324 [PWGUD] Update MC workflow in fwdMuonsUPC.cxx
  PWGUD/Tasks/CMakeLists.txt
  PWGUD/Tasks/FwdMuonsUPC.cxx
Labels: pwgud

#9338 [PWGHF] added basic hfl electron derived data task
  PWGHF/HFL/TableProducer/CMakeLists.txt
  PWGHF/HFL/TableProducer/treeCreatorElectronDCA.cxx
Labels: pwghf

#9333 [PWGHF] Apply event selection before filling the hGenCollisionCent histo
  PWGHF/Utils/utilsEvSelHf.h
Labels: pwghf

#9352 [PWGCF] FemtoUniverse -- Mixing correction.
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackNucleus.cxx
Labels: pwgcf

#9348 [PWGEM/Dilepton] add event selection based on good ITS layers
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/EMEventCut.cxx
  PWGEM/Dilepton/Core/EMEventCut.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/Tasks/eventQC.cxx
  PWGEM/Dilepton/Utils/EventHistograms.h
Labels: pwgem

#9339 [PWGLF] Update NucleiHistTask.cxx
  PWGLF/Tasks/Nuspex/NucleiHistTask.cxx
Labels: pwglf

#9336 [PWGHF] Fix a potential bug for filling the ThnSparse of MC Generated
  PWGHF/D2H/Tasks/taskLc.cxx
Labels: pwghf

#9331 [PWGHF] Add triplet origin for Lc bkg. studies.
  PWGHF/D2H/Tasks/taskCharmPolarisation.cxx
Labels: pwghf

#9328 [PWGCF] Changes were made to the file to be in line with the recommendations set by the O2 linter
  PWGCF/MultiparticleCorrelations/Tasks/CMakeLists.txt
  PWGCF/MultiparticleCorrelations/Tasks/ThreeParticleCorrelations.cxx
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf

#9300 [PWGLF] Remove Filter for collisions
  PWGMM/Mult/Tasks/dndeta-mft-pbpb.cxx
Labels: pwglf

#9295 [PWGHF] Ds-h correlation analysis, load efficiencies from ccdb
  PWGHF/HFC/TableProducer/correlatorDsHadrons.cxx
  PWGHF/HFC/Tasks/taskCorrelationDsHadrons.cxx
Labels: pwghf

#8589 [Common] Occupancy Funcionality addition to O2Physics
  Common/DataModel/OccupancyTables.h
  Common/TableProducer/CMakeLists.txt
  Common/TableProducer/occupancyTableProducer.cxx
Labels: common, datamodel

#9274 [PWGCF] adjusted O2 linter and added 2D histograms
  PWGCF/Flow/Tasks/FlowZDCtask.cxx
Labels: pwgcf

#9293 [Common] updates to ese tables
  Common/Core/FFitWeights.cxx
  Common/Core/FFitWeights.h
  Common/DataModel/EseTable.h
  Common/TableProducer/eseTableProducer.cxx
Labels: common, datamodel

#9351 [PWGJE] Adding MCP level collision output table to substructure task
  PWGJE/Tasks/jetSubstructureHFOutput.cxx
  PWGJE/Tasks/jetSubstructureOutput.cxx
Labels: pwgje

#9349 [Common] Add synthetic flow MC QC task
  Common/Tasks/CMakeLists.txt
  Common/Tasks/flowTest.cxx
Labels: common

#9353 [PWGCF] FemtoUniverse -- adding corrected efficiency to pPhi
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackPhi.cxx
Labels: pwgcf

#9350 [PWGLF] Improved associated particles selection in phik0shortanalysis.cxx
  PWGLF/Tasks/Strangeness/phik0shortanalysis.cxx
Labels: pwglf

#9354 [PWGDQ] Adding BC tolerance for zorro and new Ev. sel.
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/TableProducer/tableMaker.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
Labels: pwgdq

#9355 [PWGJE] trackJetQA.cxx - adding a new filter and additional ITS pattern
  PWGJE/Tasks/trackJetQA.cxx
Labels: pwgje

#9309 [PWGJE] Add bkg subtraction for MCP and matched jets
  PWGJE/Tasks/jetSpectraCharged.cxx
Labels: pwgje

#9360 [PWGEM/Dilepton] update eventQC task
  PWGEM/Dilepton/Tasks/eventQC.cxx
Labels: pwgem

#9356 [PWGLF] Add v1 calculation and spectator plane information in the cascadeflow task
  PWGLF/DataModel/cascqaanalysis.h
  PWGLF/TableProducer/Strangeness/cascadeflow.cxx
Labels: pwglf, datamodel

#9310 [PWGJE] charged jet v2 code
  PWGJE/Tasks/jetChargedV2.cxx
Labels: pwgje

#9292 [ALICE3] Add ms & eloss to fasttracker
  ALICE3/Core/FastTracker.cxx
  ALICE3/Core/FastTracker.h
  ALICE3/TableProducer/OTF/onTheFlyTracker.cxx
Labels: alice3

#9362 [PWGDQ] Added a few PID cuts to the cuts library
  PWGDQ/Core/CutsLibrary.cxx
Labels: pwgdq

#9359 [PWGCF] Add differentiation between secondary V0s based on their mothers
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/Core/femtoDreamParticleHisto.h
  PWGCF/FemtoDream/Core/femtoDreamUtils.h
  PWGCF/FemtoDream/TableProducer/femtoDreamProducerTask.cxx
Labels: pwgcf, datamodel

#9364 [PWGCF] FemtoUniverse -- Fix of the delta phi wrapping
  PWGCF/FemtoUniverse/Core/FemtoUniverseContainer.h
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackPhi.cxx
Labels: pwgcf

#9367 [PWGCF] Fix MC processing in FemtoDream
  PWGCF/FemtoDream/TableProducer/femtoDreamProducerTask.cxx
Labels: pwgcf

#9308 [PWGLF] Improvements in sigma0 tasks
  PWGLF/DataModel/LFSigmaTables.h
  PWGLF/TableProducer/Strangeness/sigma0builder.cxx
  PWGLF/Tasks/Strangeness/sigmaanalysis.cxx
Labels: pwglf, datamodel

#9358 [PWGLF] Included all resonances for generated and rec MC
  PWGLF/Tasks/Resonances/higherMassResonances.cxx
Labels: pwglf

#9370 [PWGLF] Add non-recoed collisions in histograms
  PWGLF/Tasks/Strangeness/derivedlambdakzeroanalysis.cxx
Labels: pwglf

#9368 [PWGLF] Update KFParticle 3-body hypertriton reconstruction in decay3bodybuilder
  PWGLF/DataModel/Vtx3BodyTables.h
  PWGLF/TableProducer/Nuspex/CMakeLists.txt
  PWGLF/TableProducer/Nuspex/decay3bodybuilder.cxx
  PWGLF/TableProducer/Nuspex/threebodyKFTask.cxx
Labels: pwglf, datamodel

#9347 [PWGCF] Add dead ITS staves cut
  PWGCF/Flow/Tasks/flowGFWOmegaXi.cxx
Labels: pwgcf

#9322 [PWGCF] additional pcs and ecs + support for vs Vz
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-DataMembers.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-Enums.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
  PWGCF/MultiparticleCorrelations/Tasks/multiparticle-correlations-ab.cxx
Labels: pwgcf

#9373 [PWGCF] adjusted ft0 histograms and created new configurable axes
  PWGCF/Flow/Tasks/FlowZDCtask.cxx
Labels: pwgcf

#9334 [Common] ITS PID: Use truncated mean to suppress dedx tails
  Common/DataModel/PIDResponseITS.h
  Common/TableProducer/PID/pidITS.cxx
Labels: common, datamodel

#9375 [PWGLF] Fix issues in double-strange hypernuclei reconstruction
  PWGLF/TableProducer/Nuspex/hypKfRecoTask.cxx
  PWGLF/TableProducer/Nuspex/hypKfTreeCreator.cxx
Labels: pwglf

#9363 [Common,PWGEM] ClusterProducer: Final non-linearity added; SW trigger selection added
  Common/TableProducer/caloClusterProducer.cxx
  PWGEM/Tasks/CMakeLists.txt
  PWGEM/Tasks/phosNonlin.cxx
  PWGEM/Tasks/phosPi0.cxx
Labels: common, pwgem

#9211 [PWGHF] KFParticle reconstruction of 3-prong decay
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateSelectorLc.cxx
  PWGHF/TableProducer/treeCreatorLcToPKPi.cxx
  Tools/KFparticle/KFUtilities.h
Labels: pwghf, datamodel

#9407 [PWGCF] RBR weight fix
  PWGCF/GenericFramework/Core/FlowPtContainer.cxx
  PWGCF/GenericFramework/Core/FlowPtContainer.h
  PWGCF/GenericFramework/Tasks/flowGenericFramework.cxx
Labels: pwgcf

#9417 [PWGLF] Update QAHistTask
  PWGLF/Tasks/Nuspex/QAHistTask.cxx
Labels: pwglf

#9415 [PWGDQ] Add X(3872) MC Signal
  PWGDQ/Core/MCSignalLibrary.cxx
Labels: pwgdq

#9413 [PWGHF] Add histo with Reco MC collision centrality
  PWGHF/TableProducer/candidateCreator2Prong.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorCascade.cxx
  PWGHF/TableProducer/candidateCreatorDstar.cxx
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
  PWGHF/Utils/utilsEvSelHf.h
Labels: pwghf

#9411 [PWGLF] Strangeness in jets: Fix isPhysicalPrimary flag
  PWGLF/Tasks/Strangeness/strangeness_in_jets.cxx
Labels: pwglf

#9410 [PWGLF] Add new ITS based event selection for resonance flow analysis and add globaltrack selection criteria for f1 reconstruction
  PWGLF/TableProducer/Resonances/f1protonreducedtable.cxx
  PWGLF/Tasks/Resonances/highmasslambda.cxx
  PWGLF/Tasks/Resonances/phipbpb.cxx
Labels: pwglf

#9419 [PWGDQ] vertexing histograms added (HistogramLibrary.cxx)
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq
