Repository AliceO2Group/O2Physics, pull requests merged in 2025-05, with the labels that each got.

#11039 [PWGJE] fullJetTriggerQA light memory mode
  PWGJE/Tasks/fullJetTriggerQATask.cxx
Labels: pwgje

#10973 [PWGCF] Add class members back into ROOT streamer
  PWGCF/GenericFramework/Core/FlowPtContainer.h
  PWGCF/GenericFramework/Tasks/flowGenericFramework.cxx
Labels: pwgcf

#11017 [PWGCF] Implementing additional event selection criteria
  PWGCF/TwoParticleCorrelations/Tasks/neutronProtonCorrZdc.cxx
Labels: pwgcf

#11032 [PWGCF] Addition of Pt dependent weights and more correlators
  PWGCF/Flow/Tasks/flowPbpbPikp.cxx
Labels: pwgcf

#11009 [PWGCF] Expanding FlowPtContainer Functionality
  PWGCF/GenericFramework/Core/FlowPtContainer.cxx
  PWGCF/GenericFramework/Core/FlowPtContainer.h
Labels: pwgcf

#11041 [ALICE3] Update OTF RICH PID
  ALICE3/TableProducer/OTF/onTheFlyRICHPID.cxx
Labels: alice3

#11033 [PWGDQ] Adding global clusters to MuonExtra table
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
Labels: pwgdq

#11034 [PWGLF] Remove obsolete tables from cascadeanalysisMC
  PWGLF/Tasks/Strangeness/cascadeanalysisMC.cxx
Labels: pwglf

#11049 [PWGLF] cascadecorrelations: add eta cut and 2D efficiency
  PWGLF/Tasks/Strangeness/cascadecorrelations.cxx
Labels: pwglf

#11026 [PWGLF] Fix V0/Casc MC mother table filling
  PWGLF/TableProducer/Strangeness/strangederivedbuilder.cxx
Labels: pwglf

#11051 [ALICE3] A3TOF: compute multiplicity in any case, add possibility to switch between p and pt
  ALICE3/TableProducer/OTF/onTheFlyTOFPID.cxx
Labels: alice3

#11011 [PWGHF] Add HF event selection and centrality process functions to Xic to Xi Pi Pi
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/TableProducer/candidateCreatorXicToXiPiPi.cxx
Labels: pwghf

#11046 [PWGLF] moved to similar frame as STAR and added MC information along with change of axes of histograms
  PWGLF/Tasks/Strangeness/taskLambdaSpinCorr.cxx
Labels: pwglf

#11053 [PWGLF,Trigger] Optimize Kaon PID to improve Phi meson Purity
  EventFiltering/PWGLF/filterdoublephi.cxx
  PWGLF/Tasks/Resonances/doublephimeson.cxx
Labels: pwglf, trigger

#11057 Please consider the following formatting changes to #11056
  ALICE3/TableProducer/OTF/onTheFlyTOFPID.cxx
Labels: alice3

#11058 Please consider the following formatting changes to #11056
  ALICE3/TableProducer/OTF/onTheFlyTOFPID.cxx
Labels: alice3

#10984 [PWGHF] store PID info in 3-prong candidate table and propagate it to analyses.
  PWGHF/Core/HfMlResponseDplusToPiKPi.h
  PWGHF/Core/HfMlResponseDsToKKPi.h
  PWGHF/Core/HfMlResponseDstarToD0Pi.h
  PWGHF/Core/HfMlResponseLcToPKPi.h
  PWGHF/Core/HfMlResponseXicToPKPi.h
  PWGHF/D2H/TableProducer/dataCreatorCharmHadPiReduced.cxx
  PWGHF/D2H/Tasks/taskXic.cxx
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/HFC/TableProducer/femtoDreamProducer.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorDstar.cxx
  PWGHF/TableProducer/candidateSelectorDplusToPiKPi.cxx
  PWGHF/TableProducer/candidateSelectorDsToKKPi.cxx
  PWGHF/TableProducer/candidateSelectorDstarToD0Pi.cxx
  PWGHF/TableProducer/candidateSelectorLc.cxx
  PWGHF/TableProducer/candidateSelectorLcPidMl.cxx
  PWGHF/TableProducer/candidateSelectorXicToPKPi.cxx
  PWGHF/TableProducer/derivedDataCreatorDplusToPiKPi.cxx
  PWGHF/TableProducer/derivedDataCreatorLcToPKPi.cxx
  PWGHF/TableProducer/treeCreatorDplusToPiKPi.cxx
  PWGHF/TableProducer/treeCreatorDsToKKPi.cxx
  PWGHF/TableProducer/treeCreatorDstarToD0Pi.cxx
  PWGHF/TableProducer/treeCreatorLbToLcPi.cxx
  PWGHF/TableProducer/treeCreatorLcToPKPi.cxx
  PWGHF/TableProducer/treeCreatorXicToPKPi.cxx
Labels: pwghf, datamodel

#11062 Please consider the following formatting changes to #11056
  ALICE3/TableProducer/OTF/onTheFlyTofPid.cxx
Labels: alice3

#11056 [ALICE3] A3TOF: fix linter
  ALICE3/TableProducer/OTF/CMakeLists.txt
  ALICE3/TableProducer/OTF/onTheFlyTofPid.cxx
Labels: alice3

#11043 [PWGJE] Organized histograms by switch
  PWGJE/Tasks/phiInJets.cxx
Labels: pwgje

#11054 [PWGLF] Add QA task for hyperhelium4sigma mc production
  PWGLF/Tasks/Nuspex/CMakeLists.txt
  PWGLF/Tasks/Nuspex/hyperhelium4sigmaAnalysis.cxx
Labels: pwglf

#11067 Please consider the following formatting changes to #11066
  Common/TableProducer/match-mft-mch-data-mc.cxx
Labels: common

#11068 Please consider the following formatting changes to #11066
  Common/TableProducer/match-mft-mch-data-mc.cxx
Labels: common

#11064 [ALICE3] A3TOF: Inherit LUTs from otf tracker
  ALICE3/TableProducer/OTF/onTheFlyTofPid.cxx
Labels: alice3

#10471 [Tutorial] Event Mixing: fixed tutorials for event mixing
  Tutorials/src/eventMixing.cxx
  Tutorials/src/eventMixingValidation.cxx
Labels: tutorial

#11044 [PWGHF] Add track sel. QA histogram and fix bug in applying track and event sels.
  PWGHF/Tasks/taskPidStudies.cxx
Labels: pwghf

#11069 [PWGLF] Add new thnsparse to fill frame dependent variable
  PWGLF/Tasks/Strangeness/taskLambdaSpinCorr.cxx
Labels: pwglf

#11063 [PWGLF] Applied track selection to MC closure
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#11073 [PWGLF] Update the nuclei task
  PWGLF/Tasks/Nuspex/NucleitpcPbPb.cxx
Labels: pwglf

#11048 [PWGLF] remove DCAfitter and fixed O2linter error
  PWGLF/TableProducer/Nuspex/he3HadronFemto.cxx
Labels: pwglf

#11075 [PWGEM/Dilepton] add a task to study tagging HFE in MC
  PWGEM/Dilepton/Tasks/CMakeLists.txt
  PWGEM/Dilepton/Tasks/taggingHFE.cxx
Labels: pwgem

#11055 [PWGCF] Update lambdaR2Correlation.cxx
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#11060 [PWGCF] added new process function
  PWGCF/Flow/Tasks/flowZdcTask.cxx
Labels: pwgcf

#11077 [PWGHF] fix a typo for the process function counts of Lcp femto producer
  PWGHF/HFC/TableProducer/femtoDreamProducer.cxx
Labels: pwghf

#11050 [Common] ITS PID: set MC parametrisations and fix resolution term for Z=2
  Common/DataModel/PIDResponseITS.h
  Common/TableProducer/PID/pidITS.cxx
Labels: common, datamodel

#10760 [Common] Add TrackQAConverter003
  Common/TableProducer/Converters/CMakeLists.txt
  Common/TableProducer/Converters/trackQA003Converter.cxx
Labels: stale, common

#11076 [PWGUD] Add some cuts
  PWGUD/Tasks/flowCorrelationsUpc.cxx
Labels: pwgud

#11086 [DPG] add vZ cut for occupancy histos
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Labels: dpg

#11080 [PWGJE] Reduced the process of calculation corresponding to the configuration in phiInJets.cxx
  PWGJE/Tasks/phiInJets.cxx
Labels: pwgje

#11087 [PWGLF] Add QC histogram for checking the filling and reading of boolean standard columns
  PWGLF/TableProducer/Strangeness/strangenessbuilder.cxx
  PWGLF/Tasks/Strangeness/derivedlambdakzeroanalysis.cxx
Labels: pwglf

#11082 [PWGLF] Fix table filling in the nonPromptCascade task
  PWGLF/DataModel/LFNonPromptCascadeTables.h
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf, datamodel

#11081 [PWGHF] Add particle/antiparticle info for SigmaC.
  PWGHF/D2H/Tasks/taskSigmac.cxx
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/candidateCreatorSigmac0plusplus.cxx
Labels: pwghf, datamodel

#11090 [PWGJE] removing circular depenency for background subtraction
  PWGJE/TableProducer/rhoEstimator.cxx
  PWGJE/Tasks/jetSubstructureHFOutput.cxx
  PWGJE/Tasks/jetSubstructureOutput.cxx
Labels: pwgje

#11091 [PWGEM/PhotonMeson] Changes to BC wise pi0 task
  PWGEM/PhotonMeson/DataModel/bcWiseTables.h
  PWGEM/PhotonMeson/TableProducer/bcWiseClusterSkimmer.cxx
  PWGEM/PhotonMeson/Tasks/emcalBcWisePi0.cxx
Labels: pwgem, datamodel

#11093 [PWGLF] Fix typo in mcV0info structure name
  PWGLF/TableProducer/Strangeness/strangenessbuilder.cxx
Labels: pwglf

#11094 [PWGCF] remove obsolete histogram
  PWGCF/Flow/Tasks/flowZdcTask.cxx
Labels: pwgcf

#11095 [PWGLF] Update on CCDB access
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#11083 [Infrastructure] Update LF codeowners
  CODEOWNERS
Labels: infrastructure

#11074 [PWGCF] TwoParticleCorrelations - Add dihadron correlations
  PWGCF/TwoParticleCorrelations/Tasks/CMakeLists.txt
  PWGCF/TwoParticleCorrelations/Tasks/diHadronCor.cxx
Labels: pwgcf

#11066 [Common] Remove PWGDQCore dependence in Common
  Common/TableProducer/CMakeLists.txt
  Common/TableProducer/match-mft-mch-data-mc.cxx
  Common/TableProducer/match-mft-mch-data.cxx
Labels: common

#11085 [DPG] Add downsampling and call getters only once for kinematic variables.
  DPG/Tasks/AOTTrack/qaImpPar.cxx
Labels: dpg

#11016 [PWGHF] Reduce code duplication in the treeCreatorLcToPKPi
  PWGHF/TableProducer/treeCreatorLcToPKPi.cxx
Labels: pwghf

#10933 [Infrastructure] Add Grazia Luparello in HF codeowners (new convener)
  CODEOWNERS
Labels: infrastructure

#11098 [PWGCF] FemtoUniverse: D0 task update
  PWGCF/FemtoUniverse/Core/FemtoUniverseAngularContainer.h
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackD0.cxx
Labels: pwgcf

#11096 [ALICE3] A3RICH: inherit LUTs from OTF tracker
  ALICE3/TableProducer/OTF/CMakeLists.txt
  ALICE3/TableProducer/OTF/onTheFlyRichPid.cxx
Labels: alice3

#11103 [DPG] add nTPConlyTracks vs occupancy histograms
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Labels: dpg

#11104 [PWGLF] switch TH1F to TH1D for high-count histograms
  PWGLF/TableProducer/Strangeness/cascqaanalysis.cxx
  PWGLF/Tasks/Strangeness/derivedupcanalysis.cxx
Labels: pwglf

#11105 [PWGLF] Extended the track selection settings
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#11101 [PWGCF] code improvements
  PWGCF/TwoParticleCorrelations/Tasks/corrSparse.cxx
Labels: pwgcf

#10957 [PWGDQ] Modification in dqEfficiency_withAsso task
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
Labels: pwgdq

#11107 [PWGLF] updated cuts to refine the analysis
  PWGLF/Tasks/Nuspex/CMakeLists.txt
  PWGLF/Tasks/Nuspex/NucleiTPCPbPb.cxx
Labels: pwglf

#10998 [Common] add setBcWindow in fwdtrackToCollisionAssociator.cxx
  Common/TableProducer/fwdtrackToCollisionAssociator.cxx
Labels: common

#11109 [PWGHF] Add Lc inv mass cut in the LcpK0s selector
  PWGHF/Core/SelectorCuts.h
  PWGHF/TableProducer/candidateSelectorLcToK0sP.cxx
Labels: pwghf

#11108 [PWGLF] change in PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
  PWGLF/TableProducer/Strangeness/hStrangeCorrelationFilter.cxx
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Labels: pwglf

#11110 [PWGEM] increase range of DCA QA histograms for singleTrackQCtask
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
Labels: pwgem

#11102 [PWGCF,PWGHF] added table for sys studies
  PWGCF/DataModel/FemtoDerived.h
  PWGHF/HFC/TableProducer/femtoDreamProducer.cxx
  PWGHF/HFC/Tasks/taskCharmHadronsFemtoDream.cxx
Labels: pwghf, pwgcf, datamodel

#11119 [PWGLF] Fix INEL>0 condition
  PWGLF/Tasks/GlobalEventProperties/heavyionMultiplicity.cxx
Labels: pwglf

#11120 [PWGLF,Trigger] Nuclei trigger: fix wrong nested loop and V0 CosPA calculation
  EventFiltering/PWGLF/nucleiFilter.cxx
Labels: pwglf, trigger

#11111 [PWGCF] Update lambdaR2Correlation.cxx
  PWGCF/TwoParticleCorrelations/Tasks/lambdaR2Correlation.cxx
Labels: pwgcf

#11124 [PWGLF] Fix collisions loop in MC closure
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#11126 [PWGLF] Add MC PV information
  PWGLF/DataModel/LFNonPromptCascadeTables.h
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf, datamodel

#11122 [PWGCF] PWGCF: FemtoUniverse cascade task -- implemented changes to produce both Xi and Omega simultaneously
  PWGCF/FemtoUniverse/Core/FemtoUniverseCascadeSelection.h
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
Labels: pwgcf

#11127 [Common] [Common]::CCDB:: add RCTSelectionFlags.h as header only library
  Common/CCDB/CMakeLists.txt
Labels: common

#10978 [PWGHF] Add Lb reduced workflow into the framework
  PWGHF/Core/HfHelper.h
  PWGHF/Core/HfMlResponseLbToLcPi.h
  PWGHF/D2H/DataModel/ReducedDataModel.h
  PWGHF/D2H/TableProducer/CMakeLists.txt
  PWGHF/D2H/TableProducer/candidateCreatorLbReduced.cxx
  PWGHF/D2H/TableProducer/candidateSelectorLbToLcPiReduced.cxx
  PWGHF/D2H/TableProducer/converterReducedHadronDausPid.cxx
  PWGHF/D2H/TableProducer/dataCreatorCharmHadPiReduced.cxx
  PWGHF/D2H/Tasks/CMakeLists.txt
  PWGHF/D2H/Tasks/taskLbReduced.cxx
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/DataModel/CandidateSelectionTables.h
Labels: pwghf, datamodel

#11130 [PWGEM/PhotonMeson] Add pile-up and centrality dependence to pi0 task
  PWGEM/PhotonMeson/DataModel/bcWiseTables.h
  PWGEM/PhotonMeson/TableProducer/CMakeLists.txt
  PWGEM/PhotonMeson/TableProducer/bcWiseClusterSkimmer.cxx
  PWGEM/PhotonMeson/Tasks/emcalBcWisePi0.cxx
Labels: pwgem, datamodel

#11132 [PWGLF] PWGLF/Tasks/Nuspex/spectraTOF.cxx
  PWGLF/Tasks/Nuspex/spectraTOF.cxx
Labels: pwglf

#11134 [PWGLF] adds flag to apply particle weights
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#11141 [PWGHF] Fill proton PID info only if necessary, to save memory.
  PWGHF/TableProducer/candidateCreator3Prong.cxx
Labels: pwghf

#11145 [PWGEM] Reject all quarkonia in the HF cocktail
  PWGEM/Dilepton/Tasks/lmeeHFCocktail.cxx
Labels: pwgem

#11136 [PWGCF] FemtoUniverse cascade task -- refined cascade pile up check
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackCascadeExtended.cxx
Labels: pwgcf

#11131 [PWGLF,Trigger] Fix selection on daughters' dca in 3body trigger
  EventFiltering/PWGLF/nucleiFilter.cxx
Labels: pwglf, trigger

#11135 [PWGCF] adjust zdc amp
  PWGCF/Flow/Tasks/flowZdcTask.cxx
Labels: pwgcf

#11137 [PWGCF] fixed typo and added TOF tables
  PWGCF/TableProducer/filter2Prong.cxx
Labels: pwgcf

#11144 [PWGCF] Added a switch for the radialDistanceFilter function
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf

#11140 [PWGLF] Lambda local polarization induced by jet in pp collision 13.6 TeV
  PWGLF/TableProducer/Strangeness/lambdaJetpolarizationbuilder.cxx
  PWGLF/Tasks/Strangeness/CMakeLists.txt
  PWGLF/Tasks/Strangeness/lambdaJetpolarization.cxx
Labels: pwglf

#11149 [PWGLF] added RCT flags
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Labels: pwglf

#11148 [PWGCF] Addition of extra event selections
  PWGCF/Flow/Tasks/flowPbpbPikp.cxx
Labels: pwgcf

#11150 [PWGLF] New control histograms for normalization in MFT analysis
  PWGLF/Tasks/GlobalEventProperties/dndeta-mft-pp.cxx
Labels: pwglf

#11123 [PWGDQ] Fix the QA histogram filling issue of muons in table-Maker-MC
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/TableProducer/tableMakerMC.cxx
Labels: pwgdq

#11065 [Common] Inherit directly configurables
  Common/Core/TableHelper.h
Labels: common

#11155 [PWGLF] [PWGLF]fix some errors in hStrangeCorrelation.cxx and hStrangeCorrelationFilter.cxx
  PWGLF/TableProducer/Strangeness/hStrangeCorrelationFilter.cxx
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Labels: pwglf

#11157 [PWGLF] Added process functions to compute dNdeta values in data and MC in events with phi + process functions to study phi-k0s signal without normalisation
  PWGLF/Tasks/Strangeness/phik0shortanalysis.cxx
Labels: pwglf

#11115 [PWGLF] Add a configuration flag and change configuration names
  PWGLF/Tasks/Resonances/f0980pbpbanalysis.cxx
Labels: pwglf

#11153 [DPG] Creating a process to store in addition the dEdx stored in the…
  DPG/Tasks/TPC/tpcSkimsTableCreator.cxx
  DPG/Tasks/TPC/tpcSkimsTableCreator.h
Labels: dpg

#11125 [PWGHF] Update MC matching in XicToXiPiPi workflow
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/candidateCreatorXicToXiPiPi.cxx
  PWGHF/TableProducer/treeCreatorXicToXiPiPi.cxx
Labels: pwghf, datamodel

#11159 [PWGLF] rigidity correction
  PWGLF/TableProducer/Nuspex/trHeAnalysis.cxx
Labels: pwglf

#11139 [PWGJE] Add event count histograms
  PWGJE/Tasks/dijetFinderQA.cxx
Labels: pwgje

#11160 [PWGCF] FemtoUniverse -- Adding DCA plots
  PWGCF/FemtoUniverse/Core/FemtoUniverseParticleHisto.h
  PWGCF/FemtoUniverse/DataModel/FemtoDerived.h
Labels: pwgcf, datamodel

#11146 [PWGHF] fix linter error and only apply ml when it needed in the Lcp femto producer
  PWGHF/HFC/TableProducer/femtoDreamProducer.cxx
Labels: pwghf

#11166 [PWGLF] Adds selection based on <Nch> and sigma
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#11170 [PWGDQ] Make histogram setup in dilepton-track compatible with asymmetric pairs
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#11171 [PWGHF/D2H] Fixing bug due wrong Track table type subscribed in process function
  PWGHF/TableProducer/candidateCreatorDstar.cxx
Labels: pwghf

#11172 [ALICE3] A3TOF: Fix outer time deltas
  ALICE3/TableProducer/OTF/onTheFlyTofPid.cxx
Labels: alice3

#11162 [PWGHF] Fix data type for D+ and Ds tables.
  PWGHF/D2H/TableProducer/converterReducedHadronDausPid.cxx
  PWGHF/D2H/TableProducer/dataCreatorCharmHadPiReduced.cxx
  PWGHF/D2H/Tasks/taskXic.cxx
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/HFC/TableProducer/femtoDreamProducer.cxx
  PWGHF/TableProducer/candidateSelectorDplusToPiKPi.cxx
  PWGHF/TableProducer/candidateSelectorDsToKKPi.cxx
  PWGHF/TableProducer/candidateSelectorLc.cxx
  PWGHF/TableProducer/candidateSelectorLcPidMl.cxx
  PWGHF/TableProducer/candidateSelectorXicToPKPi.cxx
  PWGHF/TableProducer/derivedDataCreatorDplusToPiKPi.cxx
  PWGHF/TableProducer/derivedDataCreatorLcToPKPi.cxx
  PWGHF/TableProducer/treeCreatorDplusToPiKPi.cxx
  PWGHF/TableProducer/treeCreatorDsToKKPi.cxx
  PWGHF/TableProducer/treeCreatorLbToLcPi.cxx
  PWGHF/TableProducer/treeCreatorLcToPKPi.cxx
  PWGHF/TableProducer/treeCreatorXicToPKPi.cxx
Labels: pwghf, datamodel

#11174 [PWGHF] Fix names of Omegac0 tree creator files
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/TableProducer/treeCreatorOmegac0ToOmegaKa.cxx
  PWGHF/TableProducer/treeCreatorOmegac0ToOmegaPi.cxx
Labels: pwghf

#11168 [PWGLF] conditionally store number of tracks in the event
  PWGLF/TableProducer/Nuspex/ebyeMaker.cxx
Labels: pwglf

#11176 [PWGEM/Dilepton] update matchingMFT.cxx
  PWGEM/Dilepton/Tasks/matchingMFT.cxx
Labels: pwgem

#11147 [PWGHF] Add derived-data creator for D* -> D0 pi
  PWGHF/DataModel/DerivedTables.h
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/TableProducer/derivedDataCreatorDstarToD0Pi.cxx
Labels: pwghf, datamodel

#11178 [PWGEM] LMee: lowB PID fix
  PWGEM/Dilepton/Core/DielectronCut.h
Labels: pwgem

#11173 [PWGCF] - support for extra MC info from table HepMCHeavyIons - only testing
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-DataMembers.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-Enums.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
  PWGCF/MultiparticleCorrelations/Tasks/multiparticle-correlations-ab.cxx
Labels: pwgcf

#11097 [PWGDQ] Adding cut for removable realigned muons
  PWGDQ/TableProducer/tableMaker.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
Labels: pwgdq

#11179 [PWGHF] Add B->DK decay channels in analysis workflows
  PWGHF/D2H/TableProducer/dataCreatorCharmHadPiReduced.cxx
  PWGHF/D2H/Tasks/taskB0Reduced.cxx
  PWGHF/D2H/Tasks/taskBplusReduced.cxx
  PWGHF/D2H/Tasks/taskBsReduced.cxx
  PWGHF/D2H/Tasks/taskLbReduced.cxx
  PWGHF/DataModel/CandidateReconstructionTables.h
Labels: pwghf, datamodel

#11182 [PWGJE] Adding a cut on IP for TreeCreator and SV reconstruction
  PWGJE/Core/JetTaggingUtilities.h
  PWGJE/Core/MlResponseHfTagging.h
  PWGJE/TableProducer/jetTaggerHF.cxx
  PWGJE/TableProducer/secondaryVertexReconstruction.cxx
  PWGJE/Tasks/bjetTaggingML.cxx
  PWGJE/Tasks/bjetTreeCreator.cxx
Labels: pwgje

#11188 [PWGJE] removing std::optional
  PWGJE/Core/JetFindingUtilities.h
  PWGJE/JetFinders/jetFinderHF.cxx
  PWGJE/JetFinders/jetFinderV0.cxx
  PWGJE/TableProducer/eventwiseConstituentSubtractor.cxx
  PWGJE/TableProducer/rhoEstimator.cxx
Labels: pwgje

#11151 [PWGCF] Add directory Femto and pi-d analysis workflow
  PWGCF/CMakeLists.txt
  PWGCF/Femto/CMakeLists.txt
  PWGCF/Femto/DataModel/PionDeuteronTables.h
  PWGCF/Femto/TableProducer/CMakeLists.txt
  PWGCF/Femto/TableProducer/PiDeuteronFemto.cxx
Labels: pwgcf, datamodel

#11186 [PWGLF] Reset to version from 20250507
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#11089 [PWGUD] Implement luminosity calculation in SG candidate producer
  PWGUD/TableProducer/SGCandProducer.cxx
Labels: pwgud

#11177 [PWGDQ] Change some names of subgroups to lower-case
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#11199 [PWGEM/Dilepton] update skimmerPrimaryElectron.cxx for eID in low B
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
Labels: pwgem

#11197 [PWGLF] Update the methods to get the ccdb objects
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#11200 [PWGLF] added antilambdalambdapairhistograms along with a switch for QA histograms and rejected misidentifications
  PWGLF/Tasks/Strangeness/taskLambdaSpinCorr.cxx
Labels: pwglf

#11158 [PWGHF/HFL] Add software trigger selection in the W/Z task
  PWGHF/HFL/Tasks/CMakeLists.txt
  PWGHF/HFL/Tasks/taskElectronWeakBoson.cxx
Labels: pwghf

#11201 [PWGLF] Add converters in strangeness data model for missing info/tables
  PWGLF/TableProducer/Strangeness/Converters/CMakeLists.txt
  PWGLF/TableProducer/Strangeness/Converters/straevselsconverter5.cxx
  PWGLF/TableProducer/Strangeness/Converters/zdcneutronsconverter.cxx
Labels: pwglf

#11180 [DPG] Add TF border cut.
  DPG/Tasks/AOTTrack/qaEfficiency.cxx
Labels: dpg

#11163 [PWGHF] Add B0 derived-data creator. Add ML in B0 selector
  PWGHF/Core/HfMlResponseB0ToDPi.h
  PWGHF/D2H/TableProducer/candidateSelectorB0ToDPiReduced.cxx
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/DataModel/DerivedTables.h
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/TableProducer/candidateSelectorB0ToDPi.cxx
  PWGHF/TableProducer/derivedDataCreatorB0ToDPi.cxx
Labels: pwghf, datamodel

#11181 [PWGLF] Add PV refit w/o ITS fake track
  PWGLF/Tasks/Strangeness/CMakeLists.txt
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf

#11204 [PWGHF] Rebin some KFParticle QA histograms and fix previously existing O2 linter errors
  PWGHF/TableProducer/candidateCreatorXic0Omegac0.cxx
Labels: pwghf

#11183 [ALICE3] A3PID: add parametric getters
  ALICE3/DataModel/OTFRICH.h
  ALICE3/DataModel/OTFTOF.h
  ALICE3/TableProducer/OTF/onTheFlyRichPid.cxx
  ALICE3/TableProducer/OTF/onTheFlyTofPid.cxx
Labels: alice3, datamodel

#11194 [PWGEM] phosElId TPC efficiency checker
  PWGEM/Tasks/phosElId.cxx
Labels: pwgem

#11206 Please consider the following formatting changes to #11205
  ALICE3/TableProducer/OTF/onTheFlyTofPid.cxx
Labels: alice3

#11195 [PWGDQ] Process using realigned muon track in table-maker-mc-with-assoc
  PWGDQ/TableProducer/tableMakerMC_withAssoc.cxx
Labels: pwgdq

#11187 [PWGHF] Unify PID method configuration in selectors
  PWGHF/D2H/TableProducer/candidateSelectorB0ToDPiReduced.cxx
  PWGHF/D2H/TableProducer/candidateSelectorBplusToD0PiReduced.cxx
  PWGHF/D2H/TableProducer/candidateSelectorBsToDsPiReduced.cxx
  PWGHF/D2H/TableProducer/candidateSelectorLbToLcPiReduced.cxx
  PWGHF/TableProducer/candidateSelectorB0ToDPi.cxx
  PWGHF/TableProducer/candidateSelectorBplusToD0Pi.cxx
  PWGHF/Utils/utilsPid.h
Labels: pwghf

#11207 [PWGHF] reshape the treeCreator of Tcc
  PWGHF/TableProducer/treeCreatorTccToD0D0Pi.cxx
Labels: pwghf

#11196 [PWGJE] debugged hadronic rate error when filling histograms
  PWGJE/Tasks/jetFinderQA.cxx
Labels: pwgje

#11203 [PWGCF] Add OTF process function
  PWGCF/GenericFramework/Tasks/flowGenericFramework.cxx
Labels: pwgcf

#11205 [ALICE3] A3TOF: update histograms, streamline
  ALICE3/TableProducer/OTF/onTheFlyTofPid.cxx
Labels: alice3

#11212 [PWGLF] Update ccdb object fetching
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#11215 [PWGLF] Fixed bug in track partitioning and bin number for phik0shortanalysis.cxx
  PWGLF/Tasks/Strangeness/phik0shortanalysis.cxx
Labels: pwglf

#11218 [PWGLF] Add processGen function to have MC gen level info
  PWGLF/Tasks/GlobalEventProperties/heavyionMultiplicity.cxx
Labels: pwglf

#11217 [PWGEM/PhotonMeson] Add task for on-the-fly MC generator studies
  PWGEM/PhotonMeson/Tasks/CMakeLists.txt
  PWGEM/PhotonMeson/Tasks/mcGeneratorStudies.cxx
Labels: pwgem

#11191 [PWGHF,PWGCF] Split same-event table and add the collision infos into lcp femto task
  PWGCF/DataModel/FemtoDerived.h
  PWGHF/HFC/TableProducer/femtoDreamProducer.cxx
  PWGHF/HFC/Tasks/taskCharmHadronsFemtoDream.cxx
Labels: pwghf, pwgcf, datamodel

#11161 [PWGDQ] Pjpsi femto - add Jpsi-hadron kstar variable
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
Labels: pwgdq

#11213 [PWGCF] Identified BF Filter, Overhauled N Sigma PID
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.cxx
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.h
Labels: pwgcf

#11222 [PWGLF] Add feed-down from beauty
  PWGLF/TableProducer/Nuspex/nucleiSpectra.cxx
Labels: pwglf

#11226 [PWGLF] Update on ccdb fetching
  PWGLF/Tasks/GlobalEventProperties/uccZdc.cxx
Labels: pwglf

#11223 [Common] Fix for unanchored Run 3 MC
  Common/TableProducer/eventSelection.cxx
Labels: common

#11227 [PWGEM/PhotonMeson] Add gen mult histogram for bc wise analysis
  PWGEM/PhotonMeson/TableProducer/bcWiseClusterSkimmer.cxx
  PWGEM/PhotonMeson/Tasks/mcGeneratorStudies.cxx
Labels: pwgem

#11225 [Infrastructure] Adding Maurice Coquet as code owner for PWG DQ
  CODEOWNERS
Labels: infrastructure

#11193 [PWGCF] New PID cuts added
  PWGCF/EbyEFluctuations/Tasks/nchCumulantsId.cxx
Labels: pwgcf

#11231 [PWGCF] Added various histograms for QA and MC Closure
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf
