Repository AliceO2Group/O2Physics, pull requests merged in 2025-09, with the labels that each got.

#12810 [PWGLF] Code optimisations
  PWGLF/Tasks/Resonances/kstarqa.cxx
Labels: pwglf

#12761 [PWGJE] correlation scaled FT0M vs ZNA vs ZNC
  PWGJE/Tasks/recoilJets.cxx
Labels: pwgje

#12762 [PWGJE] Adding Sumw2 option for filling with weights
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#12808 [Infrastructure] Codeowners update due 1st September
  CODEOWNERS
Labels: infrastructure

#12807 [PWGLF] Some small adjustments and tests for strangeness TOF PID
  PWGLF/TableProducer/Strangeness/strangenesstofpid.cxx
  PWGLF/Tasks/QC/strangepidqa.cxx
Labels: pwglf

#12765 [PWGDQ] add mixed event method for polarization
  PWGDQ/Core/VarManager.h
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#12814 [PWGCF] Added a switch for separating events by the magnetic field polarity
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf

#12823 [PWGDQ] Fixing minitree filling in dqEfficiencyWithAssoc
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
Labels: pwgdq

#12798 [PWGEM/Dilepton,Trigger] update trigger analysis in LMEE
  EventFiltering/Zorro.cxx
  EventFiltering/Zorro.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonHadronMPC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/DataModel/dileptonTables.h
  PWGEM/Dilepton/TableProducer/createEMEventDilepton.cxx
  PWGEM/Dilepton/TableProducer/skimmerOTS.cxx
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectron.cxx
  PWGEM/Dilepton/TableProducer/skimmerPrimaryElectronQC.cxx
  PWGEM/Dilepton/TableProducer/skimmerPrimaryMuon.cxx
  PWGEM/Dilepton/TableProducer/skimmerPrimaryTrack.cxx
  PWGEM/PhotonMeson/Core/DiphotonHadronMPC.h
  PWGEM/PhotonMeson/TableProducer/createEMEventPhoton.cxx
  PWGEM/PhotonMeson/TableProducer/photonconversionbuilder.cxx
  PWGEM/PhotonMeson/TableProducer/skimmerPrimaryElectronFromDalitzEE.cxx
Labels: pwgem, trigger, datamodel

#12822 [PWGCF] add configurable phimod cut function
  PWGCF/Flow/Tasks/flowTask.cxx
Labels: pwgcf

#12827 [Common] Sanitize power-law mapping in corner cases
  Common/Tools/Multiplicity/MultModule.h
Labels: common

#12832 [PWGEM/Dilepton] fix in DimuonCut.h
  PWGEM/Dilepton/Core/DimuonCut.h
Labels: pwgem

#12834 [PWGLF] Added rapidity cut for K0s daughters
  PWGLF/Tasks/Resonances/chk892Flow.cxx
Labels: pwglf

#12837 [PWGLF] Removed unused table from derived data in ME
  PWGLF/Tasks/Resonances/higherMassResonances.cxx
Labels: pwglf

#12785 [PWGLF] Allow FT0A and FT0C in MCCentrality
  PWGLF/DataModel/mcCentrality.h
  PWGLF/TableProducer/Common/mcCentrality.cxx
Labels: pwglf, datamodel

#12838 [PWGHF] Fix sign column in reduced workflow
  PWGHF/D2H/DataModel/ReducedDataModel.h
Labels: pwghf, datamodel

#12819 [PWGCF] Clean up directories and fix some histogram registry issues
  PWGCF/Flow/Tasks/flowSP.cxx
Labels: pwgcf

#12844 [PWGLF] Updated with propagateToDCAhelix method
  PWGMM/Mult/DataModel/bestCollisionTable.h
  PWGMM/Mult/TableProducer/CMakeLists.txt
  PWGMM/Mult/TableProducer/ambiguousTrackPropagation.cxx
Labels: pwglf, datamodel

#12843 [PWGCF] FemtoUniverse -- Add new MCTruth analysis to helicity study.
  PWGCF/FemtoUniverse/TableProducer/femtoUniverseProducerTask.cxx
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackV0Helicity.cxx
Labels: pwgcf

#12854 [PWGLF] Added more QA + finner eta bins
  PWGLF/Tasks/Nuspex/piKpRAA.cxx
Labels: pwglf

#12846 [PWGCF] DptDpt - Consistency between QC histo and exclusion formula
  PWGCF/TableProducer/dptDptFilter.cxx
Labels: pwgcf

#12848 [PWGJE] taskEmcExtensiveMcQa: Fix missing namespace prefix
  PWGJE/Tasks/taskEmcExtensiveMcQa.cxx
Labels: pwgje

#12801 [PWGDQ] Added a loop in processMCGen to fill generated pair histograms taking…
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
Labels: pwgdq

#12865 [PWGLF] double count fix II
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf

#12856 [PWGLF] Added new method for track reassociation
  PWGMM/Mult/Tasks/dndetaMFTPbPb.cxx
Labels: pwglf

#12861 [PWGCF] Fix angle calculation
  PWGCF/Flow/Tasks/flowEseTask.cxx
Labels: pwgcf

#12868 [PWGEM/Dilepton] update treeCreatorElectronMLDDA.cxx
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
Labels: pwgem

#12869 [DPG] Fix typo in decay length compression for D0 derived data for calibration
  DPG/Tasks/AOTTrack/D0CalibTables.h
Labels: dpg

#12876 [PWGLF] Add He3 fake cluster information
  PWGLF/DataModel/LFHypernucleiTables.h
  PWGLF/TableProducer/Nuspex/hyperRecoTask.cxx
Labels: pwglf, datamodel

#12872 [PWGLF] Fix bug in derived data and rotational background in task
  PWGLF/TableProducer/Resonances/f1protonreducedtable.cxx
  PWGLF/Tasks/Resonances/f1protoncorrelation.cxx
Labels: pwglf

#12852 [PWGDQ] Update to TH1 mass width in histogramLibrary
  PWGDQ/Core/HistogramsLibrary.cxx
Labels: pwgdq

#12882 [PWGEM/PhotonMeson] update TaggingPi0
  PWGEM/PhotonMeson/Core/TaggingPi0.h
  PWGEM/PhotonMeson/Core/TaggingPi0MC.h
Labels: pwgem

#12870 [PWGCF] updating PID sel for phi v2
  PWGCF/DataModel/CorrelationsDerived.h
  PWGCF/TableProducer/filter2Prong.cxx
  PWGCF/Tasks/correlations.cxx
Labels: pwgcf, datamodel

#12881 [PWGEM/Dilepton] add a histogram for PC in SingleTrackQCMC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
Labels: pwgem

#12885 [DPG] Add possibility to skip trackQA variables and reject with ML
  DPG/Tasks/AOTTrack/derivedDataCreatorD0Calibration.cxx
Labels: dpg

#12879 [PWGLF] Update nucleitpcpbpb.cxx with efficiency plots
  PWGLF/Tasks/Nuspex/nucleitpcpbpb.cxx
Labels: pwglf

#12887 [Common] Enable interdependency autoenable
  Common/Tools/TrackPropagationModule.h
Labels: common

#12891 [PWGCF] DptDpt - proper auto system type for track filtering
  PWGCF/TableProducer/dptDptFilter.cxx
Labels: pwgcf

#12886 [PWGUD] Constraining phi rane
  PWGUD/Tasks/upcPhotonuclearAnalysisJMG.cxx
Labels: pwgud

#12893 [PWGEM/Dilepton] update polarization frame
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Utils/PairUtilities.h
Labels: pwgem

#12855 [PWGDQ] Added posibility to define multiple histogram classes for JSON histograms
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#12624 [PWGHF] Adding Preslice to tracks and McParticles
  PWGHF/HFC/TableProducer/correlatorD0Hadrons.cxx
Labels: pwghf

#12866 [PWGHF] Add D0 into correlatorFlowCharmHadrons
  PWGHF/HFC/DataModel/DerivedDataCorrelationTables.h
  PWGHF/HFC/TableProducer/correlatorFlowCharmHadrons.cxx
Labels: pwghf, datamodel

#12871 [PWGCF] Effiency changed to float to match CCDB requirements
  PWGCF/Core/CorrelationContainer.cxx
Labels: pwgcf

#12900 [PWGEM] Fix include in EMCPhotonCut.h
  PWGEM/PhotonMeson/Core/EMCPhotonCut.h
Labels: pwgem

#12905 [PWGHF] Improve the mass window selection and v0 type matched for lambda
  PWGHF/D2H/TableProducer/candidateCreatorCharmResoReduced.cxx
Labels: pwghf

#12915 [PWGHF] derivedDataCreators: Fix type in candidate filter
  PWGHF/TableProducer/derivedDataCreatorB0ToDPi.cxx
  PWGHF/TableProducer/derivedDataCreatorBplusToD0Pi.cxx
  PWGHF/TableProducer/derivedDataCreatorD0ToKPi.cxx
  PWGHF/TableProducer/derivedDataCreatorDplusToPiKPi.cxx
  PWGHF/TableProducer/derivedDataCreatorDsToKKPi.cxx
  PWGHF/TableProducer/derivedDataCreatorXicToXiPiPi.cxx
Labels: pwghf

#12940 [PWGDQ] For ME correlations
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#12959 [PWGLF] The local polarization calculation
  PWGLF/Tasks/Strangeness/lambdaJetpolarization.cxx
Labels: pwglf

#12928 [PWGLF] NucleiTask - Add mothers for Deuteron
  PWGLF/Tasks/Nuspex/LFNucleiBATask.cxx
Labels: pwglf

#12954 [PWGCF] add TPC-FT0A/C dihadron correlations
  PWGCF/TwoParticleCorrelations/Tasks/CMakeLists.txt
  PWGCF/TwoParticleCorrelations/Tasks/longRangeDihadronCor.cxx
Labels: pwgcf

#12974 [PWGCF] Cleaning repo an adhering `linter` recomendations
  PWGCF/TwoParticleCorrelations/DataModel/IdentifiedBfFiltered.h
  PWGCF/TwoParticleCorrelations/TableProducer/CMakeLists.txt
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.cxx
  PWGCF/TwoParticleCorrelations/TableProducer/identifiedBfFilter.h
  PWGCF/TwoParticleCorrelations/Tasks/CMakeLists.txt
  PWGCF/TwoParticleCorrelations/Tasks/identifiedbf.cxx
  PWGCF/TwoParticleCorrelations/Tasks/identifiedbfqa.cxx
Labels: pwgcf, datamodel

#12972 [PWGCF] Added histograms to calculate error with subsample method
  PWGCF/EbyEFluctuations/Tasks/netchargeFluctuations.cxx
Labels: pwgcf

#12975 [PWGLF] Minor safety changes for strangenesstofpid task
  PWGLF/TableProducer/Strangeness/strangenesstofpid.cxx
Labels: pwglf

#12970 [PWGJE] Fixing runtime issues and other minor bugs
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#12964 [PWGJE] Jet Fragmentation & V0 QA
  PWGJE/Tasks/jetFragmentation.cxx
  PWGJE/Tasks/v0QA.cxx
Labels: pwgje

#12977 [PWGLF] add DCA fitter switch
  PWGLF/TableProducer/Nuspex/he3HadronFemto.cxx
Labels: pwglf

#12932 [PWGUD] Applying NUA correction and adding nMax option
  PWGUD/Tasks/upcPhotonuclearAnalysisJMG.cxx
Labels: pwgud

#12926 [PWGCF] add cascades' run by run NUA correction
  PWGCF/Flow/Tasks/flowGfwOmegaXi.cxx
Labels: pwgcf

#12914 [PWGDQ] Fixes to dilepton track mc
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
Labels: pwgdq

#12976 [PWGDQ] Edit to update ME histograms (Changes in the previous PR were testsed lcoally, was okay...., In HY, after the PR, in the .root the histogrom doesnot pass)!
  PWGDQ/Tasks/tableReader_withAssoc.cxx
Labels: pwgdq

#12937 [PWGLF] Added Collins Soper frame and renamed some configurables
  PWGLF/Tasks/Resonances/higherMassResonances.cxx
Labels: pwglf

#12794 [PWGCF] A correlation task for triplets (track-track-v0) in Pb–Pb collisions
  PWGCF/FemtoDream/Tasks/CMakeLists.txt
  PWGCF/FemtoDream/Tasks/femtoDreamCollisionMasker.cxx
  PWGCF/FemtoDream/Tasks/femtoDreamTripletTaskTrackTrackV0PbPb.cxx
Labels: pwgcf

#12769 [PWGDQ] Implementing usage of mft covariance matrices
  PWGDQ/Core/VarManager.h
  PWGDQ/TableProducer/tableMakerMC_withAssoc.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
Labels: pwgdq

#12984 [PWGLF] Remove lf-propagation-service
  PWGLF/TableProducer/Strangeness/CMakeLists.txt
  PWGLF/TableProducer/Strangeness/propagationService.cxx
Labels: pwglf

#12919 [PWGCF] Add plots with FT0C aplitude for UCC
  PWGCF/Flow/Tasks/flowGfwTask.cxx
Labels: pwgcf

#12987 [PWGJE] Adding process for running recoil jets with rho subtraction
  PWGJE/Tasks/jetHadronRecoil.cxx
Labels: pwgje

#12983 [PWGHF] Added additional parameters in Z->ee QA histograms
  PWGHF/HFL/Tasks/taskElectronWeakBoson.cxx
Labels: pwghf

#12998 [PWGHF] Improve skimming code
  PWGHF/TableProducer/trackIndexSkimCreator.cxx
Labels: pwghf

#13011 [PWGLF] NucleiTask - Change pdgMothers axis
  PWGLF/Tasks/Nuspex/LFNucleiBATask.cxx
Labels: pwglf

#13013 [PWGEM/Dilepton] update mlpid
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
Labels: pwgem

#13005 [PWGLF] Added Collins Soper frame and renamed some configurables
  PWGLF/Tasks/Resonances/higherMassResonances.cxx
Labels: pwglf

#13009 [PWGCF] Add gain eq to FIT for the long range correlations
  PWGCF/TwoParticleCorrelations/Tasks/longRangeDihadronCor.cxx
Labels: pwgcf

#13008 [PWGLF] extra QA plots for TOF PID
  PWGLF/TableProducer/Strangeness/strangenesstofpid.cxx
  PWGLF/Utils/strangenessBuilderModule.h
Labels: pwglf

#13017 [ALICE3] Linter fixes
  ALICE3/Core/DelphesO2TrackSmearer.cxx
Labels: alice3

#13023 [PWGCF] Add files for v2 check
  PWGCF/Flow/Tasks/flowEseTask.cxx
Labels: pwgcf

#12920 [PWGLF] Add track analysis function
  PWGMM/UE/Tasks/uecharged.cxx
Labels: pwglf

#13018 [PWGLF] Add new task for nuclei analysis in light ions.
  PWGLF/Tasks/Nuspex/CMakeLists.txt
  PWGLF/Tasks/Nuspex/antinucleiTask.cxx
Labels: pwglf

#13032 [PWGEM/Dilepton] remove acc axis in Gen
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/PhotonHBT.h
Labels: pwgem

#13035 [PWGLF] Multiplicity and QA plots are added
  PWGLF/Tasks/Nuspex/spectraKinkPiKa.cxx
Labels: pwglf

#13022 [PWGLF] Fixed and added some options about QA in KstarInOO.cxx
  PWGLF/Tasks/Resonances/kstarInOO.cxx
Labels: pwglf

#12738 [PWGCF] Implementation of Phi and K0Short
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/Core/femtoDreamObjectSelection.h
  PWGCF/FemtoDream/Core/femtoDreamResoSelection.h
  PWGCF/FemtoDream/Core/femtoDreamTrackSelection.h
  PWGCF/FemtoDream/Core/femtoDreamUtils.h
  PWGCF/FemtoDream/Core/femtoDreamV0SelectionK0Short.h
  PWGCF/FemtoDream/TableProducer/CMakeLists.txt
  PWGCF/FemtoDream/TableProducer/femtoDreamProducerTaskReso.cxx
Labels: pwgcf, datamodel

#13040 [PWGLF] optimized phi analysis task
  PWGLF/Tasks/Resonances/phianalysisrun3_PbPb.cxx
Labels: pwglf

#13054 [PWGCF] DptDpt - Consistent access to CCDB per period
  PWGCF/TableProducer/dptDptFilter.cxx
  PWGCF/TableProducer/dptDptFilter.h
  PWGCF/Tasks/dptDptCorrelations.cxx
Labels: pwgcf

#13046 [PWGLF] Missing has_collision check
  PWGLF/TableProducer/Strangeness/strangenesstofpid.cxx
Labels: pwglf

#13047 [PWGCF] Addition of Nch analysis
  PWGCF/Flow/Tasks/flowPbpbPikp.cxx
Labels: pwgcf

#13062 Please consider the following formatting changes to #13061
  PWGLF/Tasks/Strangeness/strangenessInJets.cxx
Labels: pwglf

#13061 [PWGLF] Re-add references
  PWGLF/Tasks/Strangeness/strangenessInJets.cxx
Labels: pwglf

#13050 [PWGCF] add Sigma particles to femto framework
  PWGCF/Femto/Core/dataTypes.h
  PWGCF/Femto/Core/kinkBuilder.h
  PWGCF/Femto/Core/kinkHistManager.h
  PWGCF/Femto/Core/modes.h
  PWGCF/Femto/Core/partitions.h
  PWGCF/Femto/Core/trackHistManager.h
  PWGCF/Femto/DataModel/FemtoTables.h
  PWGCF/Femto/TableProducer/femtoProducer.cxx
  PWGCF/Femto/Tasks/CMakeLists.txt
  PWGCF/Femto/Tasks/femtoKinkQa.cxx
Labels: pwgcf, datamodel

#13060 [PWGEM/Dilepton] update treeCreatorElectronMLDDA.cxx
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
Labels: pwgem

#13065 [PWGLF] Replace hardcoded masses with constants from o2
  PWGLF/Tasks/Strangeness/strangenessInJets.cxx
Labels: pwglf

#13068 [PWGLF] V0 analysis pp: add armenteros cut
  PWGLF/Tasks/Strangeness/v0postprocessing.cxx
Labels: pwglf

#13069 [PWGCF] Applied a correction factor to the spectra of charged tracks
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Labels: pwgcf

#13066 [PWGCF] DptDpt - Independent CCDB date for PID adjustments
  PWGCF/TableProducer/dptDptFilter.cxx
  PWGCF/TableProducer/dptDptFilter.h
  PWGCF/Tasks/dptDptCorrelations.cxx
Labels: pwgcf

#12955 [PWGHF] Add pT histogram in MC gen for efficiency calculation
  PWGHF/HFC/TableProducer/correlatorHfeHadrons.cxx
  PWGHF/HFL/TableProducer/electronSelectionWithTpcEmcal.cxx
Labels: pwghf

#12991 [PWGUD] New Task : Incoherent JPsi Polarization with Run 3 Dataset
  PWGUD/Tasks/CMakeLists.txt
  PWGUD/Tasks/upcPolarisationJpsiIncoh.cxx
Labels: pwgud

#13071 [PWGLF] Added QA plots for TPC,TOF n#Sigma before PID selection
  PWGLF/Tasks/Resonances/doublephimeson.cxx
Labels: pwglf

#13079 [ALICE3] Remove A3 TOF (legacy)
  ALICE3/TableProducer/CMakeLists.txt
  ALICE3/TableProducer/alice3-pidTOF.cxx
Labels: alice3

#13086 [ALICE3] Add possibility to use generic geometry
  ALICE3/Core/FastTracker.cxx
  ALICE3/Core/FastTracker.h
Labels: alice3

#13084 [DPG] flag for filling ITS dead zone histograms
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Labels: dpg

#13102 [PWGCF] CCDB access added properly for NUA and NUE corrections
  PWGCF/JCorran/Tasks/jflucWeightsLoader.cxx
Labels: pwgcf

#13092 [PWGCF] fix rigidity problem in getkstar()
  PWGCF/FemtoWorld/Core/FemtoWorldMath.h
Labels: pwgcf

#13077 [PWGLF] put QA after kstar cut
  PWGLF/TableProducer/Nuspex/he3HadronFemto.cxx
Labels: pwglf

#13099 [ALICE3] Let fasttracker use the generic geometry
  ALICE3/Core/FastTracker.cxx
  ALICE3/TableProducer/OTF/onTheFlyTracker.cxx
Labels: alice3

#13111 [PWGLF] Change in hStrangeCorrelation.cxx
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Labels: pwglf

#13114 [PWGCF] Add track-kink pair task
  PWGCF/Femto/Core/closePairRejection.h
  PWGCF/Femto/Core/femtoUtils.h
  PWGCF/Femto/Core/kinkHistManager.h
  PWGCF/Femto/Core/pairBuilder.h
  PWGCF/Femto/Core/pairCleaner.h
  PWGCF/Femto/Core/pairHistManager.h
  PWGCF/Femto/Tasks/CMakeLists.txt
  PWGCF/Femto/Tasks/femtoPairTrackKink.cxx
Labels: pwgcf

#13120 [DPG] added condition on ambi tracks loop to avoid crashes
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Labels: dpg

#13116 [PWGUD] Code optimized for memory issue
  PWGUD/Tasks/sginclusivePhiKstarSD.cxx
Labels: pwgud

#13122 [PWGLF] PWGLF change in hStrangeCorrelation.cxx
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Labels: pwglf

#13118 [PWGLF] increase number of bins in resolution plots
  PWGLF/TableProducer/Strangeness/cascadeflow.cxx
Labels: pwglf

#13139 Please consider the following formatting changes to #13119
  ALICE3/Core/DetLayer.cxx
Labels: alice3

#13121 [PWGLF] input particle charge in getkstar()
  PWGLF/TableProducer/Nuspex/he3HadronFemto.cxx
Labels: pwglf

#13129 [PWGLF] Omega: allowing split runs
  PWGLF/Tasks/Strangeness/nonPromptCascade.cxx
Labels: pwglf

#13135 [PWGLF] use cent instead of mult + bugfixes
  PWGLF/Tasks/Strangeness/cascadecorrelations.cxx
Labels: pwglf

#13136 [PWGLF] Add new definition of spin correlation same as STAR to compare
  PWGLF/Tasks/Strangeness/lambdaspincorrderived.cxx
Labels: pwglf

#13134 [PWGCF] added ZDC correlation histograms
  PWGCF/Flow/Tasks/flowZdcTask.cxx
Labels: pwgcf

#13119 [ALICE3] Add method to specify dead phi region in layer
  ALICE3/Core/DetLayer.cxx
  ALICE3/Core/DetLayer.h
  ALICE3/Core/FastTracker.cxx
  ALICE3/Core/FastTracker.h
  ALICE3/macros/testFastTracker.C
Labels: alice3

#13146 [PWGLF] NucleiTask - Fix efficiency and signal loss separation
  PWGLF/Tasks/Nuspex/LFNucleiBATask.cxx
Labels: pwglf

#13113 [ALICE3] Implementation of tracker PID with ToT
  ALICE3/Core/DelphesO2TrackSmearer.cxx
  ALICE3/Core/DelphesO2TrackSmearer.h
  ALICE3/DataModel/OTFPIDTrk.h
  ALICE3/TableProducer/OTF/onTheFlyTracker.cxx
  ALICE3/TableProducer/OTF/onTheFlyTrackerPid.cxx
Labels: alice3, datamodel

#13151 [PWGLF] Bugfix: missing std::fabs
  PWGLF/Tasks/QC/strangepidqa.cxx
Labels: pwglf

#13031 [PWGLF] Optimize de-duplication and DCAtoPV calculation
  PWGLF/Utils/strangenessBuilderHelper.h
  PWGLF/Utils/strangenessBuilderModule.h
Labels: pwglf

#13163 [PWGDQ] Adding some JPsi, Psi2S signals
  PWGDQ/Core/MCSignalLibrary.cxx
Labels: pwgdq

#13142 [PWGDQ] Fixing McDecision issue for two prong signal
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
Labels: pwgdq

#13156 [PWGLF] revert and add trackID in output table
  PWGLF/DataModel/LFhe3HadronTables.h
  PWGLF/TableProducer/Nuspex/he3HadronFemto.cxx
Labels: pwglf, datamodel

#12947 [PWGDQ,PWGLF,DPG] TPC PID: fill clean kaon sample from Omega decay
  DPG/Tasks/TPC/tpcSkimsTableCreator.cxx
  PWGDQ/DataModel/ReducedInfoTables.h
  PWGDQ/Tasks/v0selector.cxx
  PWGLF/DataModel/LFStrangenessTables.h
Labels: pwglf, dpg, pwgdq, datamodel

#13126 [PWGHF] Improvements to corr. bkg. matching and to D+ and D0 trees
  PWGHF/Core/DecayChannels.h
  PWGHF/TableProducer/treeCreatorD0ToKPi.cxx
  PWGHF/TableProducer/treeCreatorDplusToPiKPi.cxx
  PWGHF/Utils/utilsMcMatching.h
Labels: pwghf

#13166 [PWGEM/Dilepton] add possibility to select phiPosition
  PWGEM/Dilepton/Core/DielectronCut.cxx
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/Tasks/createResolutionMap.cxx
Labels: pwgem

#13153 [PWGHF] correctly define grandmother in MC Gen
  PWGHF/HFL/TableProducer/electronSelectionWithTpcEmcal.cxx
Labels: pwghf

#13125 [PWGHF] Added particle sepatartion ULS and LS in MC process
  PWGHF/HFC/TableProducer/correlatorDsHadrons.cxx
Labels: pwghf
