Repository AliceO2Group/O2Physics, pull requests merged in 2025-10, with the labels that each got.

#13188 [PWGHF] Minor Fix in the number of contributors
  PWGHF/D2H/Tasks/taskDplus.cxx
Labels: pwghf

#13184 [PWGLF] Add new weights for event mixing
  PWGLF/Tasks/Strangeness/lambdaspincorrderived.cxx
Labels: pwglf

#13190 [PWGEM/Dilepton] update MlResponse
  PWGEM/Dilepton/Utils/MlResponseDielectronSingleTrack.h
  PWGEM/Dilepton/Utils/MlResponseO2Track.h
Labels: pwgem

#13180 [PWGLF] Fine-tune the track selection criteria
  PWGLF/Tasks/Nuspex/spectraKinkPiKa.cxx
Labels: pwglf

#13189 [Infrastructure] Update CODEOWNERS
  CODEOWNERS
Labels: infrastructure

#13187 [ALICE3] Create a3geo.ini with ALICE3 geometry settings
  ALICE3/macros/a3geo.ini
Labels: alice3

#13170 [ALICE3,PWGEM] Use correct include for the HelixHelper.h
  ALICE3/TableProducer/OTF/onTheFlyRichPid.cxx
  ALICE3/TableProducer/OTF/onTheFlyTofPid.cxx
  ALICE3/TableProducer/OTF/onTheFlyTrackerPid.cxx
  PWGEM/PhotonMeson/TableProducer/skimmerGammaConversion.cxx
  PWGEM/PhotonMeson/Utils/PCMUtilities.h
Labels: pwgem, alice3

#13147 [PWGJE] JetMatchingUtilities: Simplify passing expressions as template arguments
  PWGJE/Core/JetMatchingUtilities.h
Labels: pwgje

#13196 [PWGLF] Enhance histogram registration for reconstructed particles
  PWGLF/Tasks/QC/systematicsMapping.cxx
Labels: pwglf

#13165 [PWGHF] Updated to Z->ee trig. study
  PWGHF/HFL/Tasks/taskElectronWeakBoson.cxx
Labels: pwghf

#13200 [PWGLF] nuclei-proton correlation: fix processGen and add antip-p correlation
  PWGLF/Tasks/Nuspex/hadronnucleicorrelation.cxx
Labels: pwglf

#13202 [PWGLF] Add new task for RAA analysis in light-ion collisions
  PWGLF/Tasks/Nuspex/CMakeLists.txt
  PWGLF/Tasks/Nuspex/chargedparticleRaa.cxx
Labels: pwglf

#13210 [PWGHF] fix a small bug of configuration match for charm femto task
  PWGHF/HFC/Tasks/taskCharmHadronsFemtoDream.cxx
Labels: pwghf

#13208 [PWGLF] Edited my task for light nuclei analysis
  PWGLF/Tasks/Nuspex/CMakeLists.txt
  PWGLF/Tasks/Nuspex/antiNucleiTask.cxx
Labels: pwglf

#13216 [PWGCF] Removal of outliers
  PWGCF/EbyEFluctuations/Tasks/netchargeFluctuations.cxx
Labels: pwgcf

#13211 [PWGDQ] Possibility to deactivate track propagation for MFT-Muon matching
  PWGDQ/Core/MuonMatchingMlResponse.h
  PWGDQ/TableProducer/tableMakerMC_withAssoc.cxx
  PWGDQ/TableProducer/tableMaker_withAssoc.cxx
Labels: pwgdq

#13219 [PWGCF] fix eta extraction for FT0 detectors
  PWGCF/TwoParticleCorrelations/Tasks/longRangeDihadronCor.cxx
Labels: pwgcf

#13229 [PWGEM/Dilepton] update eventQC.cxx
  PWGEM/Dilepton/Tasks/eventQC.cxx
Labels: pwgem

#13236 [PWGLF] Fix autodetection of old format in strangeness tof pid
  PWGLF/TableProducer/Strangeness/strangenesstofpid.cxx
Labels: pwglf

#13212 [PWGLF] added QC task for nuclei, moved nucleiUtils.h to the appropriate folder
  PWGLF/DataModel/LFSlimNucleiTables.h
  PWGLF/TableProducer/Nuspex/nucleiFlowTree.cxx
  PWGLF/TableProducer/Nuspex/nucleiUtils.h
  PWGLF/TableProducer/QC/CMakeLists.txt
  PWGLF/TableProducer/QC/nucleiQC.cxx
  PWGLF/Utils/nucleiUtils.h
Labels: pwglf, datamodel

#13222 [PWGLF] k892analysispbpb.cxx - bug fix
  PWGLF/Tasks/Resonances/k892analysispbpb.cxx
Labels: pwglf

#13150 [PWGLF] Nuspex: antineutron CEX table producer (clean PR)
  PWGLF/DataModel/LFAntinCexTables.h
  PWGLF/TableProducer/Nuspex/CMakeLists.txt
  PWGLF/TableProducer/Nuspex/nucleiAntineutronCex.cxx
Labels: pwglf, datamodel

#12967 [Common] EventPlane: adding shift correction
  Common/DataModel/Qvectors.h
  Common/TableProducer/qVectorsTable.cxx
  Common/Tasks/qVectorsCorrection.cxx
Labels: common, datamodel

#13231 [PWGCF] Add IR cut for flowGfwOmegaXi.cxx
  PWGCF/Flow/Tasks/CMakeLists.txt
  PWGCF/Flow/Tasks/flowGfwOmegaXi.cxx
Labels: pwgcf

#13250 [PWGLF] Fix issue with getting efficiency weight
  PWGLF/Tasks/Strangeness/lambdaspincorrderived.cxx
Labels: pwglf

#13252 [PWGEM/Dilepton] update treeCreatorElectronMLDDA.cxx to support Zorro
  PWGEM/Dilepton/TableProducer/CMakeLists.txt
  PWGEM/Dilepton/TableProducer/treeCreatorElectronMLDDA.cxx
Labels: pwgem

#13159 [PWGLF] Local polarization of Lambda induced by jets in Run3 pp collisions at 13.6 TeV
  PWGLF/Tasks/Strangeness/lambdaJetpolarization.cxx
Labels: pwglf

#13145 [PWGDQ] Add MC definition of Lambda0 and Sigma+
  PWGDQ/Core/MCSignalLibrary.cxx
Labels: pwgdq

#13267 [PWGDQ] Fixing the minitree for Rec tracks
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
Labels: pwgdq

#13246 [DPG] Refactor tpcSkimsTableCreator
  DPG/Tasks/TPC/tpcSkimsTableCreator.cxx
Labels: dpg

#13264 [PWGEM,PWGHF,Trigger] Fix O2linter warnings
  EventFiltering/PWGEM/HeavyNeutralMesonFilter.cxx
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGamma.h
  PWGEM/PhotonMeson/Core/Pi0EtaToGammaGammaMC.h
  PWGEM/PhotonMeson/DataModel/gammaTables.h
  PWGEM/PhotonMeson/TableProducer/photonconversionbuilder.cxx
  PWGEM/PhotonMeson/TableProducer/skimmerGammaCalo.cxx
  PWGEM/PhotonMeson/Tasks/CMakeLists.txt
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaEMCEMC.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaMCEMCEMC.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaMCPCMDalitzEE.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaMCPCMPCM.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaPCMDalitzEE.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaPCMPCM.cxx
  PWGEM/PhotonMeson/Tasks/calibTaskEmc.cxx
  PWGEM/PhotonMeson/Tasks/taskPi0FlowEMC.cxx
  PWGEM/PhotonMeson/Utils/ClusterHistograms.h
  PWGEM/PhotonMeson/Utils/EventHistograms.h
  PWGEM/PhotonMeson/Utils/HNMUtilities.h
  PWGEM/PhotonMeson/Utils/MCUtilities.h
  PWGEM/PhotonMeson/Utils/NMHistograms.h
  PWGEM/PhotonMeson/Utils/PCMUtilities.h
  PWGEM/PhotonMeson/Utils/TrackSelection.h
  PWGEM/PhotonMeson/Utils/emcalHistoDefinitions.h
  PWGEM/PhotonMeson/Utils/gammaConvDefinitions.h
  PWGHF/HFL/TableProducer/electronSelectionWithTpcEmcal.cxx
  PWGHF/HFL/Tasks/taskSingleElectron.cxx
Labels: pwghf, pwgem, trigger, datamodel

#13269 [PWGLF] Update correction on pT, with minor changes in configurables
  PWGLF/Tasks/Nuspex/nucleitpcpbpb.cxx
Labels: pwglf

#13235 [PWGHF] Add script to check injected signal in PbPb embedded MC
  PWGHF/Tasks/CMakeLists.txt
  PWGHF/Tasks/taskMcInjection.cxx
Labels: pwghf

#13260 [PWGJE] Add MC outlier QA task
  PWGJE/Tasks/CMakeLists.txt
  PWGJE/Tasks/jetOutlierQA.cxx
Labels: pwgje

#13276 [PWGLF] Add FT0M centrality estimator
  PWGLF/TableProducer/Strangeness/cascadeflow.cxx
Labels: pwglf
