Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk, @ekryshen, @victor-gonzalez, @njacazio, @hscheid, @chiarazampolli, @noferini, @strogolo, @mfaggin, @belikov, @afurs, @mpuccio, @fgrosa, @zhangbiao-phy, @pbuehler, @ercolessi, @ChiaraDeMartin95, @lauraser, @aortizve, @fkrizek, @nzardosh, @saganatt, @zchochul, @dsekihat, @feisenhu, @lucamicheletti93, @mikesas, @rbailhac, @ivorobye, @m-c-danisch, @novitzky, @mhemmer-cern, @vkucera, @fcolamar, @fcatalan92, @mmazzilli, @deepathoms, @NicoleBastid, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @skundu692, @aalkin, @lhavener, @maoyx, @mfasDa, @alcaliva, @lbariogl, @lbarnby, @iravasen

Please consider the following formatting changes
  PWGUD/Core/SGSelector.h
  PWGUD/TableProducer/SGCandProducer.cxx
Owners: @alibuild, @pbuehler

EventFilter LF: add dEdx hist for all charged particles (#4981)
  EventFiltering/PWGLF/nucleiFilter.cxx
Owners: @alibuild, @mpuccio, @ercolessi, @ChiaraDeMartin95, @strogolo

Adding template function for muons and electrons in table maker Jpsi-D0
  PWGDQ/TableProducer/tableMakerJpsiHf.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

Removing extra couts
  PWGDQ/TableProducer/tableMakerJpsiHf.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

Please consider the following formatting changes
  PWGDQ/TableProducer/tableMakerJpsiHf.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

Corrected inv. mass filling
  PWGEM/Tasks/phosPi0.cxx
Owners: @alibuild, @mikesas, @rbailhac, @feisenhu

Track propagarion improved (#4980)
  PWGEM/Tasks/phosAlign.cxx
Owners: @alibuild, @mikesas, @rbailhac, @feisenhu

multiplicity-pb-pb correcting mistakes
  PWGMM/Mult/Tasks/CMakeLists.txt
  PWGMM/Mult/Tasks/multiplicityPbPb.cxx
Owners: @alibuild, @aalkin, @aortizve, @ddobrigk

clang format
  PWGMM/Mult/Tasks/multiplicityPbPb.cxx
Owners: @alibuild, @aalkin, @aortizve, @ddobrigk

PWGCF: trigger update (#4982)
  EventFiltering/PWGCF/CFFilterAll.cxx
Owners: @alibuild, @lauraser, @mpuccio, @strogolo

PWGHF: add configurables to turn off/on creation of different 3-prong species
  PWGHF/TableProducer/candidateCreator3Prong.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @nzardosh, @NicoleBastid

Please consider the following formatting changes
  PWGHF/TableProducer/candidateCreator3Prong.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @nzardosh, @NicoleBastid

SG Cand Producer optimized memory usage (#4983)
  PWGUD/Core/SGSelector.h
  PWGUD/TableProducer/SGCandProducer.cxx
Owners: @alibuild, @pbuehler

correcting mistakes
  PWGMM/Mult/Tasks/multiplicityPbPb.cxx
Owners: @alibuild, @aalkin, @aortizve, @ddobrigk

Using template for Jpis-D0 table maker
  PWGDQ/TableProducer/tableMakerJpsiHf.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

Add mult correlation event sel. high pT TPC track for resolution
  PWGLF/TableProducer/epvector.cxx
  PWGLF/Tasks/Resonances/phipbpb.cxx
Owners: @alibuild, @ercolessi, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @ChiaraDeMartin95, @njacazio, @skundu692

Implement Mattia's and Vit's comments
  PWGHF/TableProducer/candidateCreator3Prong.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @nzardosh, @NicoleBastid

Please consider the following formatting changes
  PWGHF/TableProducer/candidateCreator3Prong.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @nzardosh, @NicoleBastid

Using template for Jpis-D0 table maker (#4989)
  PWGDQ/TableProducer/tableMakerJpsiHf.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

PWGMM: multiplicity-pb-pb charge filtering (#4990)
  PWGMM/Mult/Tasks/multiplicityPbPb.cxx
Owners: @alibuild, @aalkin, @aortizve, @ddobrigk

Add mult correlation event sel. high pT TPC track for resolution (#4991)
  PWGLF/TableProducer/epvector.cxx
  PWGLF/Tasks/Resonances/phipbpb.cxx
Owners: @alibuild, @ercolessi, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @ChiaraDeMartin95, @njacazio, @skundu692

PWGHF: add configurables to turn off/on creation of different 3-prong species (#4988)
  PWGHF/TableProducer/candidateCreator3Prong.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @nzardosh, @NicoleBastid

Split THnSparses of HF polarization task, one per cosThStar axis.
  PWGHF/D2H/Tasks/taskCharmPolarisation.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @nzardosh, @NicoleBastid

dev: ctpRate macro
  Common/CCDB/macros/ctpRateF.C
Owners: @alibuild, @jgrosseo, @iarsene, @ekryshen, @ddobrigk

added new cuts in the phi code
  PWGLF/Tasks/Resonances/CMakeLists.txt
  PWGLF/Tasks/Resonances/phianalysisrun3_PbPb.cxx
Owners: @alibuild, @ercolessi, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @ChiaraDeMartin95, @njacazio, @skundu692

added new cuts in the phi code
  PWGLF/Tasks/Resonances/phianalysisrun3_PbPb.cxx
Owners: @alibuild, @ercolessi, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @ChiaraDeMartin95, @njacazio, @skundu692

V0Perf: fix
  DPG/Tasks/AOTTrack/V0Cascades/perfK0sResolution.cxx
Owners: @alibuild, @mfaggin, @belikov, @njacazio

V0Perf: fix (#4994)
  DPG/Tasks/AOTTrack/V0Cascades/perfK0sResolution.cxx
Owners: @alibuild, @mfaggin, @belikov, @njacazio

Fix candidate filtering with skimming info.
  PWGHF/TableProducer/candidateCreator3Prong.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @nzardosh, @NicoleBastid

added new event selection cut for phi (#4993)
  PWGLF/Tasks/Resonances/CMakeLists.txt
  PWGLF/Tasks/Resonances/phianalysisrun3_PbPb.cxx
Owners: @alibuild, @ercolessi, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @ChiaraDeMartin95, @njacazio, @skundu692

PWGHF: Fix candidate filtering with skimming info. (#4995)
  PWGHF/TableProducer/candidateCreator3Prong.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @nzardosh, @NicoleBastid

Corrected inv. mass filling (#4987)
  PWGEM/Tasks/phosPi0.cxx
Owners: @alibuild, @mikesas, @rbailhac, @feisenhu

Commented out or deleted old debug lines to avoid oversized output log
  PWGLF/Tasks/Resonances/k892pmanalysis.cxx
Owners: @alibuild, @ercolessi, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @ChiaraDeMartin95, @njacazio, @skundu692

fix bug in pdgcode
  PWGLF/TableProducer/cascadeflow.cxx
Owners: @alibuild, @ercolessi, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @ChiaraDeMartin95, @njacazio, @skundu692

dev:adding ctprate fetcher macro
  Common/CCDB/macros/ctpRateF.C
Owners: @alibuild, @jgrosseo, @iarsene, @ekryshen, @ddobrigk

fix another bug in pdgcode
  PWGLF/TableProducer/cascadeflow.cxx
Owners: @alibuild, @ercolessi, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @ChiaraDeMartin95, @njacazio, @skundu692

PWGHF: Add Ds sign to output tree
  PWGHF/TableProducer/treeCreatorDsToKKPi.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @nzardosh, @NicoleBastid

Implementation of TF boundaries in the DQ filter task
  PWGDQ/Tasks/filterPPwithAssociation.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

Implementation of TF boundaries in the DQ filter task EDIT : use of an analysis cut instead of ahrd coding the selection
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Tasks/filterPPwithAssociation.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

Commented out or deleted old debug lines to avoid oversized output log (#4997)
  PWGLF/Tasks/Resonances/k892pmanalysis.cxx
Owners: @alibuild, @ercolessi, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @ChiaraDeMartin95, @njacazio, @skundu692

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else.

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf @ddobrigk
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen @ddobrigk
/Common/Tools/Multiplicity @alibuild @ddobrigk @victor-gonzalez
/ALICE3 @alibuild @njacazio @hscheid
/DPG @alibuild @chiarazampolli @noferini
/DPG/Tasks/AOTEvent @alibuild @ekryshen @strogolo
/DPG/Tasks/AOTTrack @alibuild @mfaggin @belikov @njacazio
/DPG/Tasks/TOF @alibuild @noferini @njacazio
/DPG/Tasks/FT0 @alibuild @afurs
/EventFiltering @alibuild @mpuccio @strogolo
/EventFiltering/PWGHF @alibuild @fgrosa @zhangbiao-phy @mpuccio @strogolo
/EventFiltering/PWGUD @alibuild @pbuehler @mpuccio @strogolo
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi @ChiaraDeMartin95 @strogolo
/EventFiltering/PWGCF @alibuild @lauraser @mpuccio @strogolo
/EventFiltering/PWGMM @alibuild @aortizve @mpuccio @strogolo
/EventFiltering/PWGJE @alibuild @fkrizek @nzardosh @mpuccio @strogolo
/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul
/PWGDQ @alibuild @iarsene @dsekihat @feisenhu @lucamicheletti93
/PWGEM @alibuild @mikesas @rbailhac @feisenhu
/PWGEM/Dilepton @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/PWGEM/PhotonMeson @alibuild @mikesas @rbailhac @m-c-danisch @novitzky @mhemmer-cern @dsekihat
/PWGHF @alibuild @vkucera @fcolamar @fgrosa @fcatalan92 @mfaggin @mmazzilli @deepathoms @nzardosh @NicoleBastid
/PWGLF @alibuild @ercolessi @fmazzasc @chiarapinto @BongHwi @smaff92 @mbombara @ChiaraDeMartin95 @njacazio @skundu692
/PWGMM @alibuild @aalkin
/PWGMM/Lumi @alibuild @aalkin
/PWGMM/Mult @alibuild @aalkin @aortizve @ddobrigk
/PWGMM/UE @alibuild @aalkin @aortizve
/PWGUD @alibuild @pbuehler
/PWGJE @alibuild @lhavener @maoyx @nzardosh @ddobrigk @mfasDa
/Tools/PIDML @alibuild @saganatt
/Tools/ML @alibuild @fcatalan92 @fmazzasc
/Tutorials/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul
/Tutorials/PWGDQ @alibuild @iarsene @dsekihat @feisenhu @lucamicheletti93
/Tutorials/PWGEM @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/Tutorials/PWGHF @alibuild @vkucera @fcolamar @fgrosa
/Tutorials/PWGJE @alibuild @lhavener @maoyx @nzardosh @ddobrigk @mfasDa
/Tutorials/PWGLF @alibuild @alcaliva @lbariogl @chiarapinto @BongHwi @lbarnby @mbombara @iravasen @njacazio @ChiaraDeMartin95 @skundu692
/Tutorials/PWGMM @alibuild @aalkin @ddobrigk
/Tutorials/PWGUD @alibuild @pbuehler
