Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ekryshen, @njacazio, @ginnocen, @vkucera, @mario-krueger, @mpuccio, @fgrosa, @pbuehler, @ercolessi, @lauraser, @aortizve, @fkrizek, @saganatt, @victor-gonzalez, @fcolamar, @aalkin

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf 
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen
/ALICE3 @alibuild @njacazio @ginnocen @vkucera 
/DPG @alibuild @mario-krueger
/EventFiltering @alibuild @mpuccio 
/EventFiltering/PWGHF @alibuild @fgrosa @vkucera
/EventFiltering/PWGUD @alibuild @pbuehler
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi
/EventFiltering/PWGCF @alibuild @lauraser
/EventFiltering/PWGMM @alibuild @aortizve
/EventFiltering/PWGJE @alibuild @fkrizek
/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez
/PWGDQ @alibuild @iarsene
/PWGHF @alibuild @ginnocen @vkucera @fcolamar
/PWGLF @alibuild @njacazio
/PWGMM @alibuild @aalkin
/Tools/PIDML @alibuild @saganatt

fix CMakeLists
  PWGHF/TableProducer/CMakeLists.txt
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Fix tree creator and add PID & granddaughter info
  PWGHF/TableProducer/HFTreeCreatorLbToLcPi.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Switched from startOrbit to orbitReset
  Common/TableProducer/timestamp.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Disabled rapidity cut in PID flow.
  Tutorials/OpenData/flowAnalysis.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Disabled rapidity cut in PID flow. (#663)
  Tutorials/OpenData/flowAnalysis.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Switched from startOrbit to orbitReset (#662)
  Common/TableProducer/timestamp.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Bypass ccdb access for unanchored Run3MC
  Common/TableProducer/timestamp.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

PWGEM: add skimmer, consumer, and mctruthonly tasks
  PWGEM/Tasks/CMakeLists.txt
  PWGEM/Tasks/gammaConversionsConsumermc.cxx
  PWGEM/Tasks/gammaConversionsMcTruthOnly.cxx
  PWGEM/Tasks/gammaConversionsSkimmermc.cxx
  PWGEM/Tasks/gammaConversionsmc.cxx
  PWGEM/Tasks/gammaTables.h
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Implemented comments by @njacazio: - Code readability - Removing duplications of code Also: - Changed track counter variables to unsigned long (might be necessary concerning Run 3 to avoid overflow)
  Common/TableProducer/PID/pidTPC.cxx
  Common/TableProducer/PID/pidTPCFull.cxx
  Common/TableProducer/PID/pidTPCML.h
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

PWGEM: add skimmer, consumer, and mctruthonly tasks (#657)
  PWGEM/Tasks/CMakeLists.txt
  PWGEM/Tasks/gammaConversionsConsumermc.cxx
  PWGEM/Tasks/gammaConversionsMcTruthOnly.cxx
  PWGEM/Tasks/gammaConversionsSkimmermc.cxx
  PWGEM/Tasks/gammaConversionsmc.cxx
  PWGEM/Tasks/gammaTables.h
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Remove TOF Signal from common user space
  ALICE3/TableProducer/alice3-pidTOF.cxx
  Common/Core/PID/PIDResponse.h
  Common/TableProducer/PID/CMakeLists.txt
  Common/TableProducer/PID/pidBayes.cxx
  Common/TableProducer/PID/pidTOF.cxx
  Common/TableProducer/PID/pidTOFBase.h
  Common/TableProducer/PID/pidTOFFull.cxx
  Common/TableProducer/PID/pidTOFbeta.cxx
  EventFiltering/PWGUD/diffractionFilter.cxx
  PWGCF/FemtoDream/femtoDreamProducerReducedTask.cxx
  PWGCF/FemtoDream/femtoDreamProducerTask.cxx
  PWGLF/Tasks/NucleiSpectraTask.cxx
  PWGLF/Tasks/spectraTOFtiny.cxx
  Tools/PIDML/pidML.h
  Tools/PIDML/pidMLProducer.cxx
  Tools/PIDML/pidOnnxModel.h
  Tools/PIDML/qaPidML.cxx
  Tools/PIDML/simpleApplyPidOnnxModel.cxx
Owners: @alibuild, @njacazio, @ginnocen, @vkucera, @AliceO2Group/core, @jgrosseo, @iarsene, @ktf, @pbuehler, @saganatt, @victor-gonzalez

PWGHF: Lc tree creator process switch for data and adjust range histos Lc task (#654)
  PWGHF/TableProducer/HFTreeCreatorLcToPKPi.cxx
  PWGHF/Tasks/taskLc.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

[EMCAL-670, EMCAL-734] Add option to select / reject multiple BCs
  PWGJE/Tasks/emccellmonitor.cxx
  PWGJE/Tasks/emcclustermonitor.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

(tmp) further devs.
  PWGHF/TableProducer/HFTrackIndexSkimsCreator.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Modifications for adding FDD as mult selection signal
  Common/DataModel/EventSelection.h
  Common/DataModel/Multiplicity.h
  Common/TableProducer/eventSelection.cxx
  Common/TableProducer/multiplicityTable.cxx
  Common/Tasks/multiplicityQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Neural network correction to the TPC PID Response (#651)
  Common/TableProducer/PID/CMakeLists.txt
  Common/TableProducer/PID/pidTPC.cxx
  Common/TableProducer/PID/pidTPCFull.cxx
  Common/TableProducer/PID/pidTPCML.h
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Bypass ccdb access for unanchored Run3MC (#664)
  Common/TableProducer/timestamp.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

[EMCAL-670, EMCAL-734] Add option to select / reject multiple BCs (#665)
  PWGJE/Tasks/emccellmonitor.cxx
  PWGJE/Tasks/emcclustermonitor.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Revert to daughter indices using explicitly offset
  Common/Core/RecoDecay.h
  EventFiltering/PWGHF/HFFilter.cxx
  PWGHF/TableProducer/HFCandidateCreator2Prong.cxx
  PWGHF/TableProducer/HFCandidateCreator3Prong.cxx
  PWGHF/TableProducer/HFCandidateCreatorCascade.cxx
  PWGHF/TableProducer/HFCandidateCreatorChic.cxx
  PWGHF/TableProducer/HFCandidateCreatorX.cxx
  PWGHF/Tasks/HFMCValidation.cxx
  PWGHF/Tasks/taskBPlus.cxx
  PWGHF/Tasks/taskChic.cxx
  PWGHF/Tasks/taskD0.cxx
  PWGHF/Tasks/taskDPlus.cxx
  PWGHF/Tasks/taskJpsi.cxx
  PWGHF/Tasks/taskLb.cxx
  PWGHF/Tasks/taskLc.cxx
  PWGHF/Tasks/taskLcCentrality.cxx
  PWGHF/Tasks/taskLcK0sP.cxx
  PWGHF/Tasks/taskX.cxx
  PWGHF/Tasks/taskXic.cxx
  PWGHF/Tasks/taskXicc.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @fgrosa, @vkucera, @ginnocen, @fcolamar

(PWGHF) first version of PV refit for HF track selection.
  PWGHF/TableProducer/HFTrackIndexSkimsCreator.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Solving FDD reference through index tables
  Common/Tasks/eventSelectionQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

and clang...
  Common/Tasks/eventSelectionQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

moved code to O2
  Common/Tasks/eventSelectionQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

fdd version 001
  Common/TableProducer/eventSelection.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Fix compilation with libfmt 8.1
  Tutorials/src/configurableObjects.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Fix compilation with libfmt 8.1 (#669)
  Tutorials/src/configurableObjects.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Revert to daughter indices using explicitly offset (#668)
  Common/Core/RecoDecay.h
  EventFiltering/PWGHF/HFFilter.cxx
  PWGHF/TableProducer/HFCandidateCreator2Prong.cxx
  PWGHF/TableProducer/HFCandidateCreator3Prong.cxx
  PWGHF/TableProducer/HFCandidateCreatorCascade.cxx
  PWGHF/TableProducer/HFCandidateCreatorChic.cxx
  PWGHF/TableProducer/HFCandidateCreatorX.cxx
  PWGHF/Tasks/HFMCValidation.cxx
  PWGHF/Tasks/taskBPlus.cxx
  PWGHF/Tasks/taskChic.cxx
  PWGHF/Tasks/taskD0.cxx
  PWGHF/Tasks/taskDPlus.cxx
  PWGHF/Tasks/taskJpsi.cxx
  PWGHF/Tasks/taskLb.cxx
  PWGHF/Tasks/taskLc.cxx
  PWGHF/Tasks/taskLcCentrality.cxx
  PWGHF/Tasks/taskLcK0sP.cxx
  PWGHF/Tasks/taskX.cxx
  PWGHF/Tasks/taskXic.cxx
  PWGHF/Tasks/taskXicc.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @fgrosa, @vkucera, @ginnocen, @fcolamar

When a tree was already merge, don't merge it again.
  Common/Core/aodMerger.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

(PWGHF) joining PVrefit table for single tracks in skimming.
  PWGHF/TableProducer/HFTrackIndexSkimsCreator.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Updating the dilepton-track function for MC
  PWGDQ/Core/HistogramsLibrary.h
  PWGDQ/Core/MCSignalLibrary.h
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/Tasks/dqEfficiency.cxx
Owners: @alibuild, @iarsene

Fixing clang format
  PWGDQ/Core/VarManager.h
  PWGDQ/Tasks/dqEfficiency.cxx
Owners: @alibuild, @iarsene

Small fix
  PWGDQ/Core/VarManager.h
Owners: @alibuild, @iarsene

Fixing clang format
  PWGDQ/Core/VarManager.h
Owners: @alibuild, @iarsene

Updating varManager secondary vertexing
  PWGDQ/Core/HistogramsLibrary.h
  PWGDQ/Core/VarManager.h
Owners: @alibuild, @iarsene

Adding a comment for the indexoffset
  PWGDQ/Tasks/dqEfficiency.cxx
Owners: @alibuild, @iarsene

Purging list of trees before merging
  Common/Core/aodMerger.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Implementing first set of comments
  PWGDQ/Core/VarManager.h
  PWGDQ/Tasks/dqEfficiency.cxx
Owners: @alibuild, @iarsene

Fix clang issue
  PWGDQ/Core/VarManager.h
Owners: @alibuild, @iarsene

Fix clang issue
  PWGDQ/Tasks/dqEfficiency.cxx
Owners: @alibuild, @iarsene

Create common utilities for femto
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/FemtoDreamParticleHisto.h
  PWGCF/FemtoDream/FemtoDreamV0Selection.h
  PWGCF/FemtoDream/FemtoUtils.h
  PWGCF/FemtoDream/femtoDreamDebugTrack.cxx
  PWGCF/FemtoDream/femtoDreamPairTaskTrackTrack.cxx
  PWGCF/FemtoDream/femtoDreamPairTaskTrackV0.cxx
  PWGCF/FemtoDream/femtoDreamProducerReducedTask.cxx
  PWGCF/FemtoDream/femtoDreamProducerTask.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez
