Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk, @ekryshen, @victor-gonzalez, @njacazio, @ginnocen, @vkucera, @chiarazampolli, @noferini, @strogolo, @mfaggin, @mpuccio, @fgrosa, @pbuehler, @ercolessi, @ChiaraDeMartin95, @lauraser, @aortizve, @fkrizek, @saganatt, @zchochul, @dsekihat, @feisenhu, @mikesas, @rbailhac, @ivorobye, @m-c-danisch, @novitzky, @fcolamar, @xinyepeng, @lvermunt, @mmazzilli, @nzardosh, @rvertesi, @NicoleBastid, @mvolkl, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @aalkin, @lhavener, @maoyx, @mfasDa

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else.

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf @ddobrigk
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen @ddobrigk
/Common/Tools/Multiplicity @alibuild @ddobrigk @victor-gonzalez
/ALICE3 @alibuild @njacazio @ginnocen @vkucera
/DPG @alibuild @chiarazampolli @noferini
/DPG/Tasks/AOTEvent @alibuild @ekryshen @strogolo
/DPG/Tasks/AOTTrack @alibuild @mfaggin @njacazio
/EventFiltering @alibuild @mpuccio @strogolo
/EventFiltering/PWGHF @alibuild @fgrosa @vkucera @mpuccio @strogolo
/EventFiltering/PWGUD @alibuild @pbuehler @mpuccio @strogolo
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi @ChiaraDeMartin95 @strogolo
/EventFiltering/PWGCF @alibuild @lauraser @mpuccio @strogolo
/EventFiltering/PWGMM @alibuild @aortizve @mpuccio @strogolo
/EventFiltering/PWGJE @alibuild @fkrizek @mpuccio @strogolo
/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul
/PWGDQ @alibuild @iarsene @dsekihat @feisenhu
/PWGEM @alibuild @mikesas @rbailhac @feisenhu
/PWGEM/Dilepton @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/PWGEM/PhotonMeson @alibuild @mikesas @rbailhac @m-c-danisch @novitzky
/PWGHF @alibuild @ginnocen @vkucera @fcolamar
/PWGHF/D2H @alibuild @ginnocen @vkucera @fcolamar @xinyepeng @lvermunt
/PWGHF/HFC @alibuild @ginnocen @vkucera @fcolamar @mmazzilli
/PWGHF/HFJ @alibuild @ginnocen @vkucera @fcolamar @nzardosh @rvertesi
/PWGHF/HFL @alibuild @ginnocen @vkucera @fcolamar @NicoleBastid @mvolkl
/PWGLF @alibuild @lramona @alcaliva @lbariogl @chiarapinto @BongHwi @lbarnby @mbombara @iravasen @njacazio
/PWGMM @alibuild @aalkin
/PWGMM/Lumi @alibuild @aalkin
/PWGMM/Mult @alibuild @aalkin @aortizve @ddobrigk
/PWGMM/UE @alibuild @aalkin @aortizve
/PWGUD @alibuild @pbuehler
/PWGJE @alibuild @lhavener @maoyx @nzardosh @ddobrigk @mfasDa
/Tools/PIDML @alibuild @saganatt

Fix histogram index calculation
  DPG/Tasks/AOTTrack/qaEfficiency.cxx
Owners: @alibuild, @mfaggin, @njacazio

Fix for index in particleSelection histogram
  DPG/Tasks/AOTTrack/qaEfficiency.cxx
Owners: @alibuild, @mfaggin, @njacazio

speed up through table reserving
  Common/TableProducer/eventSelection.cxx
  Common/TableProducer/trackPropagation.cxx
  Common/TableProducer/trackselection.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

Adapt tasks to updated jet tables
  PWGJE/DataModel/JetSubstructure.h
  PWGJE/TableProducer/jetfinderhf.cxx
  PWGJE/TableProducer/jetmatchinghf.cxx
  PWGJE/Tasks/jetmatchinghfqa.cxx
  PWGJE/Tasks/jetsubstructurehf.cxx
  PWGJE/Tasks/jetsubstructurehfoutput.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @ddobrigk, @mfasDa

Change to more sensible defaults
  PWGLF/TableProducer/lambdakzerobuilder.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

Update cascadebuilder.cxx
  PWGLF/TableProducer/cascadebuilder.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

Change to more sensible defaults (#2278)
  PWGLF/TableProducer/lambdakzerobuilder.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

Update cascadebuilder.cxx (#2279)
  PWGLF/TableProducer/cascadebuilder.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

update qaEventTrack.cxx
  DPG/Tasks/AOTTrack/qaEventTrack.cxx
Owners: @alibuild, @mfaggin, @njacazio

update qaPIDTOFMC.cxx; fix grouping bug
  DPG/Tasks/AOTTrack/PID/qaPIDTOFMC.cxx
Owners: @alibuild, @mfaggin, @njacazio

update pidTPCBase.cxx
  Common/TableProducer/PID/pidTPCBase.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

update eventSelection.cxx
  Common/TableProducer/eventSelection.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

update multiplicityTable.cxx
  Common/TableProducer/multiplicityTable.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

update qaPIDTPCMC.cxx; fix grouping bug
  DPG/Tasks/AOTTrack/PID/qaPIDTPCMC.cxx
Owners: @alibuild, @mfaggin, @njacazio

update femtoDreamDebugTrack.cxx
  PWGCF/FemtoDream/femtoDreamDebugTrack.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

update CFFilterTwoN.cxx
  EventFiltering/PWGCF/CFFilterTwoN.cxx
Owners: @alibuild, @lauraser, @mpuccio, @strogolo

update CFFilter.cxx
  EventFiltering/PWGCF/CFFilter.cxx
Owners: @alibuild, @lauraser, @mpuccio, @strogolo

update femtoDreamDebugV0.cxx
  PWGCF/FemtoDream/femtoDreamDebugV0.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

update femtoWorldPairTaskTrackPhi.cxx
  PWGCF/FemtoWorld/Tasks/femtoWorldPairTaskTrackPhi.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

update femtoWorldDebugTrack.cxx
  PWGCF/FemtoWorld/Tasks/femtoWorldDebugTrack.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

update femtoDreamPairTaskTrackTrack.cxx
  PWGCF/FemtoDream/femtoDreamPairTaskTrackTrack.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

update femtoWorldDebugV0.cxx
  PWGCF/FemtoWorld/Tasks/femtoWorldDebugV0.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

update femtoWorldPairTaskTrackTrack.cxx
  PWGCF/FemtoWorld/Tasks/femtoWorldPairTaskTrackTrack.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

update femtoDreamPairTaskTrackV0.cxx
  PWGCF/FemtoDream/femtoDreamPairTaskTrackV0.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

update femtoWorldPairTaskTrackV0.cxx
  PWGCF/FemtoWorld/Tasks/femtoWorldPairTaskTrackV0.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

update femtoWorldPionAllPairTask.cxx
  PWGCF/FemtoWorld/Tasks/femtoWorldPionAllPairTask.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

update femtoWorldPionPairTaskTrackTrack.cxx
  PWGCF/FemtoWorld/Tasks/femtoWorldPionPairTaskTrackTrack.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

update CFTutorialTask3.cxx
  PWGCF/Tutorial/CFTutorialTask3.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

update CFTutorialTask4.cxx
  PWGCF/Tutorial/CFTutorialTask4.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

update CFTutorialTask5.cxx
  PWGCF/Tutorial/CFTutorialTask5.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

update tableReader.cxx
  PWGDQ/Tasks/tableReader.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

update v0gammaQA.cxx
  PWGEM/Dilepton/Tasks/v0gammaQA.cxx
Owners: @alibuild, @mikesas, @rbailhac, @dsekihat, @ivorobye, @feisenhu

update createPCM.cxx
  PWGEM/PhotonMeson/TableProducer/createPCM.cxx
Owners: @alibuild, @mikesas, @rbailhac, @m-c-danisch, @novitzky

update correlatorDsHadrons.cxx
  PWGHF/HFC/TableProducer/correlatorDsHadrons.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar, @mmazzilli

update correlatorD0D0bar.cxx
  PWGHF/HFC/TableProducer/correlatorD0D0bar.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar, @mmazzilli

update correlatorD0D0barBarrelFullPid.cxx
  PWGHF/HFC/TableProducer/correlatorD0D0barBarrelFullPid.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar, @mmazzilli

update correlatorD0Hadrons.cxx
  PWGHF/HFC/TableProducer/correlatorD0Hadrons.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar, @mmazzilli

update correlatorDplusDminus.cxx
  PWGHF/HFC/TableProducer/correlatorDplusDminus.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar, @mmazzilli

update correlatorDplusHadrons.cxx
  PWGHF/HFC/TableProducer/correlatorDplusHadrons.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar, @mmazzilli

Repropagate 3prong daughters to this collision if needed + Apply fixes
  PWGHF/TableProducer/candidateCreatorB0.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar
