Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ekryshen, @njacazio, @ginnocen, @vkucera, @mario-krueger, @mpuccio, @fgrosa, @pbuehler, @ercolessi, @lauraser, @aortizve, @fkrizek, @saganatt, @victor-gonzalez, @fcolamar, @aalkin

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf 
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen
/ALICE3 @alibuild @njacazio @ginnocen @vkucera 
/DPG @alibuild @mario-krueger
/EventFiltering @alibuild @mpuccio 
/EventFiltering/PWGHF @alibuild @fgrosa @vkucera
/EventFiltering/PWGUD @alibuild @pbuehler
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi
/EventFiltering/PWGCF @alibuild @lauraser
/EventFiltering/PWGMM @alibuild @aortizve
/EventFiltering/PWGJE @alibuild @fkrizek
/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez
/PWGDQ @alibuild @iarsene
/PWGHF @alibuild @ginnocen @vkucera @fcolamar
/PWGLF @alibuild @njacazio
/PWGMM @alibuild @aalkin
/Tools/PIDML @alibuild @saganatt

Move untrusted PR branch name into env var
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

add flag to disable phi cut
  PWGMM/Tasks/dndeta.cxx
Owners: @alibuild, @aalkin

(PWGHF) PV refit excluding candidate daughters (no table yet)
  PWGHF/TableProducer/HFTrackIndexSkimsCreator.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

(PWGHF) fix PV coordinates for cases w/o refit.
  PWGHF/TableProducer/HFTrackIndexSkimsCreator.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Create common utilities for femto (#672)
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/FemtoDreamParticleHisto.h
  PWGCF/FemtoDream/FemtoDreamV0Selection.h
  PWGCF/FemtoDream/FemtoUtils.h
  PWGCF/FemtoDream/femtoDreamDebugTrack.cxx
  PWGCF/FemtoDream/femtoDreamPairTaskTrackTrack.cxx
  PWGCF/FemtoDream/femtoDreamPairTaskTrackV0.cxx
  PWGCF/FemtoDream/femtoDreamProducerReducedTask.cxx
  PWGCF/FemtoDream/femtoDreamProducerTask.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez

add flag to disable phi cut (#674)
  PWGMM/Tasks/dndeta.cxx
Owners: @alibuild, @aalkin

add dynamic column T0 resolution
  Common/DataModel/FT0Corrected.h
  Common/Tasks/ft0Qa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

fix
  Common/Core/aodMerger.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

clang
  Common/Core/aodMerger.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Replace remaining tab
  Common/Core/aodMerger.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

[O2-2896] When a tree was already merge, don't merge it again. (#670)
  Common/Core/aodMerger.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Add whitespace formatting check
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Mark incorrect copyright notices in GitHub UI
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

PWGEM: remove leftover line from former version in mcTruthOnly task
  PWGEM/Tasks/gammaConversionsMcTruthOnly.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

PWGEM: remove leftover line from former version in mcTruthOnly task
  PWGEM/Tasks/gammaConversionsMcTruthOnly.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Move untrusted PR branch name into env var (#673)
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

(PWGHF) PV refit also to 2prong and 3prong with not all prongs as contributors
  PWGHF/TableProducer/HFTrackIndexSkimsCreator.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

(PWGHF) LOG(info) only in debug and apply Clang format
  PWGHF/TableProducer/HFTrackIndexSkimsCreator.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

(PWGHF) cov. matrix for PV refit.
  PWGHF/DataModel/HFSecondaryVertex.h
  PWGHF/TableProducer/HFTrackIndexSkimsCreator.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

(PWGHF) PV refit used in HFCandidateCreator2Prong.
  PWGHF/TableProducer/HFCandidateCreator2Prong.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Improve code formatting checks (#676)
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

explit float
  Common/DataModel/FT0Corrected.h
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

add dynamic column T0 resolution (#675)
  Common/DataModel/FT0Corrected.h
  Common/Tasks/ft0Qa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

implementation of rho
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

PWGEM: remove leftover line from former version in mcTruthOnly task (#678)
  PWGEM/Tasks/gammaConversionsMcTruthOnly.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

(PWGHF) add PV refit for 3 prong creation and DCA plots.
  PWGHF/TableProducer/HFCandidateCreator2Prong.cxx
  PWGHF/TableProducer/HFCandidateCreator3Prong.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

adding rho
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

adding rho
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

adding rho
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

adding rho
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

adding rho
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

adding rho
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

adding rho
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

adding rho
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

fixing issue with code formatting
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

fixing issue with code formatting
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

fixing issue with code formatting
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

fixxing issue with formatting
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

Fix formatting of code formatting action
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Update actions/checkout
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf
