Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk, @ekryshen, @victor-gonzalez, @njacazio, @hscheid, @chiarazampolli, @alcaliva, @catalinristea, @strogolo, @altsybee, @mfaggin, @iouribelikov, @noferini, @afurs, @mpuccio, @lietava, @fgrosa, @zhangbiao-phy, @pbuehler, @ercolessi, @ChiaraDeMartin95, @lauraser, @aortizve, @fkrizek, @nzardosh, @saganatt, @zchochul, @lgraczykCern, @prchakra, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye, @dsekihat, @feisenhu, @lucamicheletti93, @mikesas, @rbailhac, @ivorobye, @m-c-danisch, @novitzky, @mhemmer-cern, @vkucera, @fcolamar, @fcatalan92, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano, @skundu692, @gbencedi, @omvazque, @fmazzasc, @chiarapinto, @maciacco, @BongHwi, @smaff92, @aalkin, @abylinkin, @rolavick, @lhavener, @maoyx, @fjonasALICE, @mfasDa, @lbariogl, @lbarnby, @mbombara, @iravasen

More linter fixes
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

Add info about number of tracks decayed to muons for D* spin alignment
  PWGHF/D2H/Tasks/taskCharmPolarisation.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

Update ccdb configuration as in central TOF task
  PWGHF/TableProducer/mcPidTof.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

[DPG] Added monitoring of ITS dead map vs time (#8749)
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

[PWGHF] Update ccdb configuration as in central TOF task (#8751)
  PWGHF/TableProducer/mcPidTof.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

Update NucleiHistTask.cxx
  PWGLF/Tasks/Nuspex/NucleiHistTask.cxx
Owners: @alibuild, @njacazio, @skundu692, @fmazzasc, @chiarapinto, @maciacco

Please consider the following formatting changes
  PWGLF/Tasks/Nuspex/NucleiHistTask.cxx
Owners: @alibuild, @njacazio, @skundu692, @fmazzasc, @chiarapinto, @maciacco

[TOF] fix parameters for negative tracks
  Common/TableProducer/PID/pidTOFMerge.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

Update pidTOFMerge.cxx
  Common/TableProducer/PID/pidTOFMerge.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

[PWGCF] DptDpt - Getting rid of using TDatabasePDG
  PWGCF/TableProducer/dptdptfilter.cxx
  PWGCF/TableProducer/dptdptfilter.h
  PWGCF/Tasks/match-reco-gen.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

[PWGCF] DptDpt - Splitting the PID QC information
  PWGCF/TwoParticleCorrelations/Tasks/efficiencyAndQc.cxx
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

Added counter of inactive chips per layer vs time
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

[PWGCF] DptDpt - Splitting the PID QC information (#8754)
  PWGCF/TableProducer/dptdptfilter.cxx
  PWGCF/TableProducer/dptdptfilter.h
  PWGCF/Tasks/match-reco-gen.cxx
  PWGCF/TwoParticleCorrelations/Tasks/efficiencyAndQc.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

Common: latest centrality study additions
  Common/Tasks/centralityStudy.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

Please consider the following formatting changes (#361)
  Common/Tasks/centralityStudy.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

[DPG] Added counter of inactive chips per layer vs time (#8755)
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

[Common] latest centrality study additions (#8756)
  Common/Tasks/centralityStudy.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

Added check for lastRun in processRun2
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

[PWGCF] minor additions and fixes (#8746)
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-DataMembers.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-Enums.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
  PWGCF/MultiparticleCorrelations/Tasks/multiparticle-correlations-ab.cxx
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

[PWGCF] Task for flow analysis relative to Spectator Plane (#8739)
  PWGCF/Flow/Tasks/CMakeLists.txt
  PWGCF/Flow/Tasks/flowSP.cxx
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

[DPG] Added check for lastRun in processRun2 (#8757)
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

[PWGCF] DptDpt - NUA&NUE corrections with configurable dimensions
  PWGCF/Tasks/dptdptcorrelations.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

[PWGCF] DptDpt - NUA&NUE corrections with configurable dimensions (#8758)
  PWGCF/Tasks/dptdptcorrelations.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

Add calculation of muon pair production rate asymmetry
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

Update qaEfficiency.cxx
  DPG/Tasks/AOTTrack/qaEfficiency.cxx
Owners: @alibuild, @mfaggin, @iouribelikov, @njacazio

Removed the trailing spaces at the end of the line
  PWGDQ/Core/VarManager.h
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

Update HistogramsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

Renaming Histo
  DPG/Tasks/AOTTrack/qaEfficiency.cxx
Owners: @alibuild, @mfaggin, @iouribelikov, @njacazio

Update qaEfficiency.cxx
  DPG/Tasks/AOTTrack/qaEfficiency.cxx
Owners: @alibuild, @mfaggin, @iouribelikov, @njacazio

Update qaEfficiency.cxx
  DPG/Tasks/AOTTrack/qaEfficiency.cxx
Owners: @alibuild, @mfaggin, @iouribelikov, @njacazio

[PWGLF] change in hStrangeCorrelation (#8745)
  PWGLF/DataModel/LFHStrangeCorrelationTables.h
  PWGLF/TableProducer/Strangeness/hStrangeCorrelationFilter.cxx
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Owners: @alibuild, @njacazio, @skundu692, @ercolessi, @ChiaraDeMartin95

[Common] [TOF] fix parameters for negative tracks (#8753)
  Common/TableProducer/PID/pidTOFMerge.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

Save table for gen MC
  PWGUD/Tasks/fwdMuonsUPC.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

Add mass to saved var in reco MC
  PWGUD/Tasks/fwdMuonsUPC.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

Please consider the following formatting changes
  PWGUD/Tasks/fwdMuonsUPC.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

Change MC tables name
  PWGUD/Tasks/fwdMuonsUPC.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

Fix types
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

Fix wrong type for receiving container (#8762)
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

Drop unneeded semicolon
  Common/TableProducer/multiplicityTable.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

Drop unneeded semicolon (#8763)
  Common/TableProducer/multiplicityTable.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else.

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf @ddobrigk
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen @ddobrigk
/Common/Tools/Multiplicity @alibuild @ddobrigk @victor-gonzalez
/ALICE3 @alibuild @njacazio @hscheid
/DPG @alibuild @chiarazampolli @alcaliva @catalinristea
/DPG/Tasks/AOTEvent @alibuild @ekryshen @strogolo @altsybee
/DPG/Tasks/AOTTrack @alibuild @mfaggin @iouribelikov @njacazio
/DPG/Tasks/TOF @alibuild @noferini @njacazio
/DPG/Tasks/FT0 @alibuild @afurs
/EventFiltering @alibuild @mpuccio @lietava
/EventFiltering/PWGHF @alibuild @fgrosa @zhangbiao-phy @mpuccio @lietava
/EventFiltering/PWGUD @alibuild @pbuehler @mpuccio @lietava
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi @ChiaraDeMartin95 @lietava
/EventFiltering/PWGCF @alibuild @lauraser @mpuccio @lietava
/EventFiltering/PWGMM @alibuild @aortizve @mpuccio @lietava
/EventFiltering/PWGJE @alibuild @fkrizek @nzardosh @mpuccio @lietava
/PWGCF               @alibuild @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGCF/Core          @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGCF/DataModel     @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGCF/TableProducer @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGCF/Tasks         @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGDQ @alibuild @iarsene @dsekihat @feisenhu @lucamicheletti93
/PWGEM @alibuild @mikesas @rbailhac @feisenhu
/PWGEM/Dilepton @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/PWGEM/PhotonMeson @alibuild @mikesas @rbailhac @m-c-danisch @novitzky @mhemmer-cern @dsekihat
/PWGHF @alibuild @vkucera @fcolamar @fgrosa @fcatalan92 @mfaggin @mmazzilli @deepathoms @NicoleBastid @hahassan7 @jpxrk @apalasciano
# PWG-LF
/PWGLF @alibuild @njacazio @skundu692
/PWGLF/Tasks/GlobalEventProperties         @alibuild @njacazio @skundu692 @gbencedi @omvazque
/PWGLF/TableProducer/GlobalEventProperties @alibuild @njacazio @skundu692 @gbencedi @omvazque
/PWGLF/Tasks/Nuspex         @alibuild @njacazio @skundu692 @fmazzasc @chiarapinto @maciacco
/PWGLF/TableProducer/Nuspex @alibuild @njacazio @skundu692 @fmazzasc @chiarapinto @maciacco
/PWGLF/Tasks/Resonances         @alibuild @njacazio @skundu692 @BongHwi @smaff92
/PWGLF/TableProducer/Resonances @alibuild @njacazio @skundu692 @BongHwi @smaff92
/PWGLF/Tasks/Strangeness         @alibuild @njacazio @skundu692 @ercolessi @ChiaraDeMartin95
/PWGLF/TableProducer/Strangeness @alibuild @njacazio @skundu692 @ercolessi @ChiaraDeMartin95

# PWG-MM
/PWGMM      @alibuild @njacazio @skundu692 @aalkin
/PWGMM/Mult @alibuild @njacazio @skundu692 @aalkin @aortizve @ddobrigk
/PWGMM/Lumi @alibuild @aalkin
/PWGMM/UE   @alibuild @aalkin @aortizve

/PWGUD @alibuild @pbuehler @abylinkin @rolavick
/PWGJE @alibuild @lhavener @maoyx @nzardosh @fjonasALICE @mfasDa @mhemmer-cern
/Tools/PIDML @alibuild @saganatt
/Tools/ML @alibuild @fcatalan92 @fmazzasc
/Tutorials/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul
/Tutorials/PWGDQ @alibuild @iarsene @dsekihat @feisenhu @lucamicheletti93
/Tutorials/PWGEM @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/Tutorials/PWGHF @alibuild @vkucera @fcolamar @fgrosa
/Tutorials/PWGJE @alibuild @lhavener @maoyx @nzardosh @mfasDa @fjonasALICE
/Tutorials/PWGLF @alibuild @alcaliva @lbariogl @chiarapinto @BongHwi @lbarnby @mbombara @iravasen @njacazio @ChiaraDeMartin95 @skundu692
/Tutorials/PWGMM @alibuild @aalkin @ddobrigk
/Tutorials/PWGUD @alibuild @pbuehler
