Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @njacazio, @ginnocen, @vkucera, @mario-krueger, @mpuccio, @fgrosa, @pbuehler, @ercolessi, @lauraser, @aortizve, @fkrizek, @saganatt, @victor-gonzalez, @fcolamar, @aalkin

[Event filters] Add B0 -> D*pi -> D0pipi channel for polarization studies (#446)
  EventFiltering/PWGHF/HFFilter.cxx
Owners: @alibuild, @fgrosa, @vkucera, @mpuccio

Add Run3 option + reduced producer (#441)
  PWGCF/FemtoDream/CMakeLists.txt
  PWGCF/FemtoDream/FemtoDreamCollisionSelection.h
  PWGCF/FemtoDream/femtoDreamPairTaskTrackTrack.cxx
  PWGCF/FemtoDream/femtoDreamProducerReducedTask.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez

Adaptation of the FilterPP code to PROCESS_SWITCH functions (#447)
  PWGDQ/Tasks/filterPP.cxx
Owners: @alibuild, @iarsene

Update HFTreeCreatorLbToLcPi.cxx
  PWGHF/TableProducer/HFTreeCreatorLbToLcPi.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Tracking the collision mutltiplicity
  PWGCF/TableProducer/dptdptfilter.cxx
  PWGCF/TableProducer/dptdptfilter.h
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez

Tracking the collision mutltiplicity (#453)
  PWGCF/TableProducer/dptdptfilter.cxx
  PWGCF/TableProducer/dptdptfilter.h
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez

Fix syntax and names. Removed Sumw()
  DPG/Tasks/qaPid.cxx
Owners: @alibuild, @mario-krueger

Fix syntax and names. Removed Sumw() (#454)
  DPG/Tasks/qaPid.cxx
Owners: @alibuild, @mario-krueger

Move qaPid to dedicated PIDML directory
  DPG/Tasks/CMakeLists.txt
  Tools/PIDML/CMakeLists.txt
  Tools/PIDML/qaPid.cxx
Owners: @alibuild, @mario-krueger, @saganatt

Move qaPid to dedicated PIDML directory (#455)
  DPG/Tasks/CMakeLists.txt
  Tools/PIDML/CMakeLists.txt
  Tools/PIDML/qaPid.cxx
Owners: @alibuild, @mario-krueger, @saganatt

CMakeLists.txt with correct spaces
  PWGMM/Tasks/CMakeLists.txt
Owners: @alibuild, @aalkin

Added histograms to analyse-mft-tracks.cxx
  PWGMM/Tasks/analyse-mft-tracks.cxx
Owners: @alibuild, @aalkin

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf 
/ALICE3 @alibuild @njacazio @ginnocen @vkucera 
/DPG @alibuild @mario-krueger
/EventFiltering @alibuild @mpuccio 
/EventFiltering/PWGHF @alibuild @fgrosa @vkucera @mpuccio
/EventFiltering/PWGUD @alibuild @pbuehler @mpuccio
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi @mpuccio
/EventFiltering/PWGCF @alibuild @lauraser @mpuccio
/EventFiltering/PWGMM @alibuild @aortizve @mpuccio
/EventFiltering/PWGJE @alibuild @fkrizek @mpuccio
/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez
/PWGDQ @alibuild @iarsene
/PWGHF @alibuild @ginnocen @vkucera @fcolamar
/PWGLF @alibuild @njacazio
/PWGMM @alibuild @aalkin
/Tools/PIDML @alibuild @saganatt
