Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk, @ekryshen, @victor-gonzalez, @njacazio, @hscheid, @chiarazampolli, @alcaliva, @catalinristea, @strogolo, @altsybee, @mfaggin, @iouribelikov, @noferini, @afurs, @mpuccio, @lietava, @fgrosa, @zhangbiao-phy, @pbuehler, @ercolessi, @ChiaraDeMartin95, @lauraser, @aortizve, @fkrizek, @nzardosh, @saganatt, @zchochul, @lgraczykCern, @prchakra, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye, @dsekihat, @feisenhu, @lucamicheletti93, @mikesas, @rbailhac, @ivorobye, @m-c-danisch, @novitzky, @mhemmer-cern, @vkucera, @fcolamar, @fcatalan92, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano, @skundu692, @gbencedi, @omvazque, @fmazzasc, @chiarapinto, @maciacco, @BongHwi, @smaff92, @aalkin, @abylinkin, @rolavick, @lhavener, @maoyx, @fjonasALICE, @mfasDa, @lbariogl, @lbarnby, @mbombara, @iravasen

[TOF] add plots for delta
  DPG/Tasks/AOTTrack/PID/TOF/qaPIDTOFMC.cxx
Owners: @alibuild, @mfaggin, @iouribelikov, @njacazio

Update
  DPG/Tasks/AOTTrack/PID/TOF/qaPIDTOFMC.cxx
Owners: @alibuild, @mfaggin, @iouribelikov, @njacazio

U
  DPG/Tasks/AOTTrack/PID/TOF/qaPIDTOFMC.cxx
Owners: @alibuild, @mfaggin, @iouribelikov, @njacazio

Fix
  DPG/Tasks/AOTTrack/PID/TOF/qaPIDTOFMC.cxx
Owners: @alibuild, @mfaggin, @iouribelikov, @njacazio

Update qaPIDTOFMC.cxx
  DPG/Tasks/AOTTrack/PID/TOF/qaPIDTOFMC.cxx
Owners: @alibuild, @mfaggin, @iouribelikov, @njacazio

Fix some O2 linter warnings
  PWGUD/Tasks/fwdMuonsUPC.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

Update NucleiHistTask.cxx
  PWGLF/Tasks/Nuspex/NucleiHistTask.cxx
Owners: @alibuild, @njacazio, @skundu692, @fmazzasc, @chiarapinto, @maciacco

ZDC can't be const
  PWGUD/Tasks/fwdMuonsUPC.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

Dummy change to retrigger tests
  PWGHF/D2H/Tasks/taskCharmPolarisation.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

TrackQA: Add converter for _000 to _001
  Common/TableProducer/Converters/CMakeLists.txt
  Common/TableProducer/Converters/trackQAConverter.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

Fix some other O2 linter warnings
  PWGUD/Tasks/fwdMuonsUPC.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

fix git mess
  PWGJE/Tasks/jetSpectraEseTask.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @fjonasALICE, @mfasDa, @mhemmer-cern

linter err
  PWGJE/Tasks/jetSpectraEseTask.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @fjonasALICE, @mfasDa, @mhemmer-cern

Fix O2 linter warnings on PGD objects
  PWGUD/Tasks/fwdMuonsUPC.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

Please consider the following formatting changes
  PWGUD/Tasks/fwdMuonsUPC.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

Delete useless comments
  PWGUD/Tasks/fwdMuonsUPC.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

Update qaPIDTOFMC.cxx
  DPG/Tasks/AOTTrack/PID/TOF/qaPIDTOFMC.cxx
Owners: @alibuild, @mfaggin, @iouribelikov, @njacazio

Add track-nucleus analysis
  PWGCF/FemtoUniverse/Tasks/CMakeLists.txt
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackNucleus.cxx
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

loc linter err fix
  PWGJE/Tasks/jetSpectraEseTask.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @fjonasALICE, @mfasDa, @mhemmer-cern

Add track-nucleus analysis
  PWGCF/FemtoUniverse/Tasks/CMakeLists.txt
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackNucleus.cxx
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

Add track-nucleus analysis
  PWGCF/FemtoUniverse/Tasks/CMakeLists.txt
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

Add track-nucleus analysis
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackMultKtExtended.cxx
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

sequence err
  PWGJE/Tasks/jetSpectraEseTask.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @fjonasALICE, @mfasDa, @mhemmer-cern

clangf
  PWGJE/Tasks/jetSpectraEseTask.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @fjonasALICE, @mfasDa, @mhemmer-cern

Fix O2 linter warnings on ZDC object
  PWGUD/Tasks/fwdMuonsUPC.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

Fix O2 linter warnings on constansts name
  PWGUD/Tasks/fwdMuonsUPC.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

New truth histos
  PWGUD/Core/UPCTauCentralBarrelHelperRL.h
  PWGUD/Tasks/upcTauCentralBarrelRL.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

minor fixes
  PWGUD/Tasks/upcTauCentralBarrelRL.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

Please consider the following formatting changes
  PWGUD/Tasks/upcTauCentralBarrelRL.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

Correct typo
  PWGUD/Tasks/fwdMuonsUPC.cxx
Owners: @alibuild, @pbuehler, @abylinkin, @rolavick

[PWGJE] Add an extra table and vertexClustering function for GNN b-jet tagging (#8597)
  PWGJE/Core/JetTaggingUtilities.h
  PWGJE/Tasks/bjetTreeCreator.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @fjonasALICE, @mfasDa, @mhemmer-cern

[PWGJE]Add separat HG/LG cell time QC histos for time calib
  PWGJE/TableProducer/emcalCorrectionTask.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @fjonasALICE, @mfasDa, @mhemmer-cern

Updated CorrSparse with added histograms and a changed dPhi definition
  PWGCF/TwoParticleCorrelations/Tasks/CorrSparse.cxx
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

Make MegaLinter happy
  PWGJE/TableProducer/emcalCorrectionTask.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @fjonasALICE, @mfasDa, @mhemmer-cern

Update CorrSparse.cxx
  PWGCF/TwoParticleCorrelations/Tasks/CorrSparse.cxx
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

Please consider the following formatting changes
  PWGCF/TwoParticleCorrelations/Tasks/CorrSparse.cxx
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

Correcting the way multiplicities are obtained
  PWGHF/HFC/Tasks/taskFlow.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

Add THnsparseF for track and jet observables
  PWGJE/Tasks/jetSpectraCharged.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @fjonasALICE, @mfasDa, @mhemmer-cern

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else.

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf @ddobrigk
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen @ddobrigk
/Common/Tools/Multiplicity @alibuild @ddobrigk @victor-gonzalez
/ALICE3 @alibuild @njacazio @hscheid
/DPG @alibuild @chiarazampolli @alcaliva @catalinristea
/DPG/Tasks/AOTEvent @alibuild @ekryshen @strogolo @altsybee
/DPG/Tasks/AOTTrack @alibuild @mfaggin @iouribelikov @njacazio
/DPG/Tasks/TOF @alibuild @noferini @njacazio
/DPG/Tasks/FT0 @alibuild @afurs
/EventFiltering @alibuild @mpuccio @lietava
/EventFiltering/PWGHF @alibuild @fgrosa @zhangbiao-phy @mpuccio @lietava
/EventFiltering/PWGUD @alibuild @pbuehler @mpuccio @lietava
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi @ChiaraDeMartin95 @lietava
/EventFiltering/PWGCF @alibuild @lauraser @mpuccio @lietava
/EventFiltering/PWGMM @alibuild @aortizve @mpuccio @lietava
/EventFiltering/PWGJE @alibuild @fkrizek @nzardosh @mpuccio @lietava
/PWGCF               @alibuild @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGCF/Core          @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGCF/DataModel     @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGCF/TableProducer @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGCF/Tasks         @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGDQ @alibuild @iarsene @dsekihat @feisenhu @lucamicheletti93
/PWGEM @alibuild @mikesas @rbailhac @feisenhu
/PWGEM/Dilepton @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/PWGEM/PhotonMeson @alibuild @mikesas @rbailhac @m-c-danisch @novitzky @mhemmer-cern @dsekihat
/PWGHF @alibuild @vkucera @fcolamar @fgrosa @fcatalan92 @mfaggin @mmazzilli @deepathoms @NicoleBastid @hahassan7 @jpxrk @apalasciano
# PWG-LF
/PWGLF @alibuild @njacazio @skundu692
/PWGLF/Tasks/GlobalEventProperties         @alibuild @njacazio @skundu692 @gbencedi @omvazque
/PWGLF/TableProducer/GlobalEventProperties @alibuild @njacazio @skundu692 @gbencedi @omvazque
/PWGLF/Tasks/Nuspex         @alibuild @njacazio @skundu692 @fmazzasc @chiarapinto @maciacco
/PWGLF/TableProducer/Nuspex @alibuild @njacazio @skundu692 @fmazzasc @chiarapinto @maciacco
/PWGLF/Tasks/Resonances         @alibuild @njacazio @skundu692 @BongHwi @smaff92
/PWGLF/TableProducer/Resonances @alibuild @njacazio @skundu692 @BongHwi @smaff92
/PWGLF/Tasks/Strangeness         @alibuild @njacazio @skundu692 @ercolessi @ChiaraDeMartin95
/PWGLF/TableProducer/Strangeness @alibuild @njacazio @skundu692 @ercolessi @ChiaraDeMartin95

# PWG-MM
/PWGMM      @alibuild @njacazio @skundu692 @aalkin
/PWGMM/Mult @alibuild @njacazio @skundu692 @aalkin @aortizve @ddobrigk
/PWGMM/Lumi @alibuild @aalkin
/PWGMM/UE   @alibuild @aalkin @aortizve

/PWGUD @alibuild @pbuehler @abylinkin @rolavick
/PWGJE @alibuild @lhavener @maoyx @nzardosh @fjonasALICE @mfasDa @mhemmer-cern
/Tools/PIDML @alibuild @saganatt
/Tools/ML @alibuild @fcatalan92 @fmazzasc
/Tutorials/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul
/Tutorials/PWGDQ @alibuild @iarsene @dsekihat @feisenhu @lucamicheletti93
/Tutorials/PWGEM @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/Tutorials/PWGHF @alibuild @vkucera @fcolamar @fgrosa
/Tutorials/PWGJE @alibuild @lhavener @maoyx @nzardosh @mfasDa @fjonasALICE
/Tutorials/PWGLF @alibuild @alcaliva @lbariogl @chiarapinto @BongHwi @lbarnby @mbombara @iravasen @njacazio @ChiaraDeMartin95 @skundu692
/Tutorials/PWGMM @alibuild @aalkin @ddobrigk
/Tutorials/PWGUD @alibuild @pbuehler
