Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk, @ekryshen, @victor-gonzalez, @njacazio, @hscheid, @chiarazampolli, @alcaliva, @catalinristea, @strogolo, @altsybee, @mfaggin, @iouribelikov, @lbariogl, @f3sch, @noferini, @jotwinow, @sahilupadhyaya92, @andreasmolander, @afurs, @mpuccio, @lietava, @fgrosa, @zhangbiao-phy, @pbuehler, @ercolessi, @ChiaraDeMartin95, @lauraser, @aortizve, @fkrizek, @nzardosh, @saganatt, @zchochul, @lgraczykCern, @prchakra, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye, @glromane, @mcoquet642, @lucamicheletti93, @feisenhu, @dsekihat, @ivorobye, @mikesas, @rbailhac, @m-c-danisch, @novitzky, @mhemmer-cern, @vkucera, @fcolamar, @fcatalan92, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano, @gluparel, @sustripathy, @skundu692, @gbencedi, @abmodak, @fmazzasc, @maciacco, @dmallick2, @smaff92, @romainschotter, @omvazque, @aalkin, @jgcn, @abylinkin, @rolavick, @lhavener, @maoyx, @fjonasALICE, @mfasDa, @mcoquet, @chiarapinto, @BongHwi, @lbarnby, @iravasen

PWGHF: added processes to filter Sc collisions
  PWGHF/HFC/TableProducer/correlatorLcScHadrons.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano, @zhangbiao-phy, @gluparel

PWGHF: added processes to filter Sc collisions
  PWGHF/HFC/Utils/utilsCorrelations.h
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano, @zhangbiao-phy, @gluparel

PWGHF: Added processes to filter Sc collisions
  PWGHF/HFC/Utils/utilsCorrelations.h
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano, @zhangbiao-phy, @gluparel

[PWGCF] updates on ESETask (#11675)
  PWGCF/Flow/Tasks/flowEsePHe3.cxx
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye, @glromane

Please consider the following formatting changes
  PWGHF/HFC/TableProducer/correlatorLcScHadrons.cxx
  PWGHF/HFC/Utils/utilsCorrelations.h
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano, @zhangbiao-phy, @gluparel

MeanpTFluct
  PWGCF/EbyEFluctuations/Tasks/CMakeLists.txt
  PWGCF/EbyEFluctuations/Tasks/IdentifiedMeanPtFluctuations.cxx
  PWGCF/EbyEFluctuations/Tasks/eventMeanPtId.cxx
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye, @glromane

[PWGCF] Added V0 cuts and changed the RD method & V0 MC efficiency (#11677)
  PWGCF/MultiparticleCorrelations/Tasks/threeParticleCorrelations.cxx
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye, @glromane

[Common] Enclose Metadata and CollisionType Helper in o2 namespace (#11657)
  Common/Core/CollisionTypeHelper.cxx
  Common/Core/CollisionTypeHelper.h
  Common/Core/MetadataHelper.cxx
  Common/Core/MetadataHelper.h
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

Include What You Use
  Tools/KFparticle/KFUtilities.h
  Tools/ML/MlResponse.h
  Tools/ML/model.cxx
  Tools/ML/model.h
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk, @fcatalan92, @fmazzasc

[PWGLF] Derived data producer for lambda spin correlation study (#11676)
  PWGLF/DataModel/LFSpincorrelationTables.h
  PWGLF/TableProducer/Strangeness/CMakeLists.txt
  PWGLF/TableProducer/Strangeness/lambdaspincorrelation.cxx
Owners: @alibuild, @sustripathy, @skundu692, @gbencedi, @abmodak, @fmazzasc, @maciacco, @dmallick2, @smaff92, @ercolessi, @romainschotter

[PWGHF: Added processes to select Sc collisions
  PWGHF/HFC/Utils/utilsCorrelations.h
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano, @zhangbiao-phy, @gluparel

PWGHF: Added processes to select Sc collisions
  PWGHF/HFC/TableProducer/correlatorLcScHadrons.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano, @zhangbiao-phy, @gluparel

Please consider the following formatting changes
  PWGHF/HFC/TableProducer/correlatorLcScHadrons.cxx
  PWGHF/HFC/Utils/utilsCorrelations.h
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano, @zhangbiao-phy, @gluparel

[PWGHF] Implement gen and reco MC matching for correlated bkg decays (#11418)
  PWGHF/Core/DecayChannels.h
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/TableProducer/candidateCreator2Prong.cxx
  PWGHF/TableProducer/candidateCreator3Prong.cxx
  PWGHF/TableProducer/candidateCreatorMcGen.cxx
  PWGHF/TableProducer/treeCreatorD0ToKPi.cxx
  PWGHF/TableProducer/treeCreatorDplusToPiKPi.cxx
  PWGHF/Utils/utilsMcGen.h
  PWGHF/Utils/utilsMcMatching.h
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano, @zhangbiao-phy, @gluparel

Xic0XicpToHadronic : Xic0 workflow fully implemented
  PWGHF/Core/SelectorCuts.h
  PWGHF/DataModel/CandidateReconstructionTables.h
  PWGHF/DataModel/CandidateSelectionTables.h
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/TableProducer/candidateCreatorXic0XicpToHadronic.cxx
  PWGHF/TableProducer/candidateSelectorXic0XicpToHadronic.cxx
  PWGHF/TableProducer/treeCreatorXic0XicpToHadronic.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano, @zhangbiao-phy, @gluparel

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else.

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf @ddobrigk
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen @ddobrigk
/Common/Tools/Multiplicity @alibuild @ddobrigk @victor-gonzalez
/ALICE3 @alibuild @njacazio @hscheid
/DPG @alibuild @chiarazampolli @alcaliva @catalinristea
/DPG/Tasks/AOTEvent @alibuild @ekryshen @strogolo @altsybee
/DPG/Tasks/AOTTrack @alibuild @mfaggin @iouribelikov @njacazio @lbariogl @f3sch
/DPG/Tasks/TOF @alibuild @noferini @njacazio
/DPG/Tasks/FT0 @alibuild @jotwinow @sahilupadhyaya92 @andreasmolander @afurs
/DPG/Tasks/FV0 @alibuild @jotwinow @sahilupadhyaya92 @andreasmolander @afurs
/DPG/Tasks/FDD @alibuild @jotwinow @sahilupadhyaya92 @andreasmolander @afurs
/EventFiltering @alibuild @mpuccio @lietava
/EventFiltering/PWGHF @alibuild @fgrosa @zhangbiao-phy @mpuccio @lietava
/EventFiltering/PWGUD @alibuild @pbuehler @mpuccio @lietava
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi @ChiaraDeMartin95 @lietava
/EventFiltering/PWGCF @alibuild @lauraser @mpuccio @lietava
/EventFiltering/PWGMM @alibuild @aortizve @mpuccio @lietava
/EventFiltering/PWGJE @alibuild @fkrizek @nzardosh @mpuccio @lietava
/PWGCF               @alibuild @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye @glromane
/PWGCF/Core          @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye @glromane
/PWGCF/DataModel     @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye @glromane
/PWGCF/TableProducer @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye @glromane
/PWGCF/Tasks         @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye @glromane
/PWGDQ @alibuild @iarsene @mcoquet642 @lucamicheletti93
/PWGEM @alibuild @feisenhu @dsekihat @ivorobye
/PWGEM/Dilepton @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/PWGEM/PhotonMeson @alibuild @mikesas @rbailhac @m-c-danisch @novitzky @mhemmer-cern @dsekihat
/PWGHF @alibuild @vkucera @fcolamar @fgrosa @fcatalan92 @mfaggin @mmazzilli @deepathoms @NicoleBastid @hahassan7 @jpxrk @apalasciano @zhangbiao-phy @gluparel
# PWG-LF
/PWGLF @alibuild @sustripathy @skundu692
/PWGLF/DataModel @alibuild @sustripathy @skundu692 @gbencedi @abmodak @fmazzasc @maciacco @dmallick2 @smaff92 @ercolessi @romainschotter
/PWGLF/Tasks/GlobalEventProperties @alibuild @sustripathy @skundu692 @gbencedi @abmodak @omvazque
/PWGLF/TableProducer/GlobalEventProperties @alibuild @sustripathy @skundu692 @gbencedi @abmodak @omvazque
/PWGLF/Tasks/Nuspex @alibuild @sustripathy @skundu692 @fmazzasc @maciacco
/PWGLF/TableProducer/Nuspex @alibuild @sustripathy @skundu692 @fmazzasc @maciacco
/PWGLF/Tasks/Resonances @alibuild @sustripathy @skundu692 @dmallick2 @smaff92
/PWGLF/TableProducer/Resonances @alibuild @sustripathy @skundu692 @dmallick2 @smaff92
/PWGLF/Tasks/Strangeness @alibuild @sustripathy @skundu692 @ercolessi @romainschotter
/PWGLF/TableProducer/Strangeness @alibuild @sustripathy @skundu692 @ercolessi @romainschotter

# PWG-MM
/PWGMM      @alibuild @sustripathy @skundu692 @aalkin @jgcn
/PWGMM/Mult @alibuild @sustripathy @skundu692 @aalkin @aortizve @ddobrigk @gbencedi @jgcn
/PWGMM/Lumi @alibuild @aalkin @jgcn
/PWGMM/UE   @alibuild @aalkin @aortizve @jgcn

/PWGUD @alibuild @pbuehler @abylinkin @rolavick
/PWGJE @alibuild @lhavener @maoyx @nzardosh @fjonasALICE @mfasDa @mhemmer-cern
/Tools/PIDML @alibuild @saganatt
/Tools/ML @alibuild @fcatalan92 @fmazzasc
/Tutorials/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul
/Tutorials/PWGDQ @alibuild @iarsene @mcoquet @lucamicheletti93
/Tutorials/PWGEM @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/Tutorials/PWGHF @alibuild @vkucera @fcolamar @fgrosa @gluparel
/Tutorials/PWGJE @alibuild @lhavener @maoyx @nzardosh @mfasDa @fjonasALICE
/Tutorials/PWGLF @alibuild @alcaliva @lbariogl @chiarapinto @BongHwi @lbarnby @ercolessi @iravasen @njacazio @romainschotter @skundu692
/Tutorials/PWGMM @alibuild @aalkin @ddobrigk
/Tutorials/PWGUD @alibuild @pbuehler
