Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk, @ekryshen, @victor-gonzalez, @njacazio, @ginnocen, @vkucera, @chiarazampolli, @noferini, @strogolo, @mfaggin, @mpuccio, @fgrosa, @pbuehler, @ercolessi, @ChiaraDeMartin95, @lauraser, @aortizve, @fkrizek, @saganatt, @zchochul, @dsekihat, @feisenhu, @mikesas, @rbailhac, @ivorobye, @m-c-danisch, @novitzky, @fcolamar, @xinyepeng, @lvermunt, @mmazzilli, @nzardosh, @rvertesi, @NicoleBastid, @mvolkl, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @aalkin, @lhavener, @maoyx, @mfasDa

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else.

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf @ddobrigk
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen @ddobrigk
/Common/Tools/Multiplicity @alibuild @ddobrigk @victor-gonzalez
/ALICE3 @alibuild @njacazio @ginnocen @vkucera
/DPG @alibuild @chiarazampolli @noferini
/DPG/Tasks/AOTEvent @alibuild @ekryshen @strogolo
/DPG/Tasks/AOTTrack @alibuild @mfaggin @njacazio
/EventFiltering @alibuild @mpuccio @strogolo
/EventFiltering/PWGHF @alibuild @fgrosa @vkucera @mpuccio @strogolo
/EventFiltering/PWGUD @alibuild @pbuehler @mpuccio @strogolo
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi @ChiaraDeMartin95 @strogolo
/EventFiltering/PWGCF @alibuild @lauraser @mpuccio @strogolo
/EventFiltering/PWGMM @alibuild @aortizve @mpuccio @strogolo
/EventFiltering/PWGJE @alibuild @fkrizek @mpuccio @strogolo
/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul
/PWGDQ @alibuild @iarsene @dsekihat @feisenhu
/PWGEM @alibuild @mikesas @rbailhac @feisenhu
/PWGEM/Dilepton @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/PWGEM/PhotonMeson @alibuild @mikesas @rbailhac @m-c-danisch @novitzky
/PWGHF @alibuild @ginnocen @vkucera @fcolamar
/PWGHF/D2H @alibuild @ginnocen @vkucera @fcolamar @xinyepeng @lvermunt
/PWGHF/HFC @alibuild @ginnocen @vkucera @fcolamar @mmazzilli
/PWGHF/HFJ @alibuild @ginnocen @vkucera @fcolamar @nzardosh @rvertesi
/PWGHF/HFL @alibuild @ginnocen @vkucera @fcolamar @NicoleBastid @mvolkl
/PWGLF @alibuild @lramona @alcaliva @lbariogl @chiarapinto @BongHwi @lbarnby @mbombara @iravasen @njacazio
/PWGMM @alibuild @aalkin
/PWGMM/Lumi @alibuild @aalkin
/PWGMM/Mult @alibuild @aalkin @aortizve @ddobrigk
/PWGMM/UE @alibuild @aalkin @aortizve
/PWGUD @alibuild @pbuehler
/PWGJE @alibuild @lhavener @maoyx @nzardosh @ddobrigk @mfasDa
/Tools/PIDML @alibuild @saganatt

fix DQFitter.py
  PWGDQ/Macros/DQFitter.py
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix DQFitter.py
  PWGDQ/Macros/DQFitter.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix DQFitter.py
  PWGDQ/Macros/plot_library.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix DQFitter.py
  PWGDQ/Macros/plot_library.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

add pt of daughter tracks
  PWGLF/Tasks/cascqaanalysis.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

fix DQFitter.py
  PWGDQ/Macros/DQFitter.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix DQFitter.py
  PWGDQ/Macros/DQFitter.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix DQFitter.py
  PWGDQ/Macros/DQFitter.py
  PWGDQ/Macros/plot_library.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix DQFitter.py
  PWGDQ/Macros/DQFitter.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix DQFitter.py
  PWGDQ/Macros/DQFitter.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix DQFitter.py
  PWGDQ/Macros/DQFitter.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix configFit.json
  PWGDQ/Macros/configFit.json
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

[DPG]: add monitoring ITS cluster map match. eff.
  DPG/Tasks/AOTTrack/qaMatchEff.cxx
Owners: @alibuild, @mfaggin, @njacazio

fix configFit.json
  PWGDQ/Macros/configFit.json
  PWGDQ/Macros/plot_library.py
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

Fix case of 0 selected BCs (#2285)
  EventFiltering/selectBCRange.cxx
Owners: @alibuild, @mpuccio, @strogolo

fix configFit.json
  PWGDQ/Macros/plot_library.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix configFit.json
  PWGDQ/Macros/DQFitter.py
  PWGDQ/Macros/plot_library.py
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix configFit.json
  PWGDQ/Macros/DQFitter.py
  PWGDQ/Macros/plot_library.py
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix configFit.json
  PWGDQ/Macros/DQFitter.py
  PWGDQ/Macros/plot_library.py
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

Add multiplicity and Z value of collision
  PWGLF/Tasks/cascqaanalysis.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

Update NucleiHistTask.cxx
  PWGLF/Tasks/NucleiHistTask.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

Please consider the following formatting changes
  PWGLF/Tasks/NucleiHistTask.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

[DPG]: add monitoring ITS cluster map match. eff. (#2286)
  DPG/Tasks/AOTTrack/qaMatchEff.cxx
Owners: @alibuild, @mfaggin, @njacazio

Feature; match offline processing version. (#2287)
  PWGLF/Tasks/NucleiHistTask.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

PWGEM/PhotonMeson: implement MC analysis
  PWGEM/PhotonMeson/DataModel/gammaTables.h
  PWGEM/PhotonMeson/TableProducer/CMakeLists.txt
  PWGEM/PhotonMeson/TableProducer/createEMReducedEvent.cxx
  PWGEM/PhotonMeson/TableProducer/createEMReducedMCEvent.cxx
  PWGEM/PhotonMeson/TableProducer/skimmerGammaConversions.cxx
  PWGEM/PhotonMeson/Tasks/CMakeLists.txt
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGamma.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaMC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
Owners: @alibuild, @mikesas, @rbailhac, @m-c-danisch, @novitzky

PWGEM//PhotonMeson: implement MC analysis (#2288)
  PWGEM/PhotonMeson/DataModel/gammaTables.h
  PWGEM/PhotonMeson/TableProducer/CMakeLists.txt
  PWGEM/PhotonMeson/TableProducer/createEMReducedEvent.cxx
  PWGEM/PhotonMeson/TableProducer/createEMReducedMCEvent.cxx
  PWGEM/PhotonMeson/TableProducer/createPCM.cxx
  PWGEM/PhotonMeson/TableProducer/skimmerGammaConversions.cxx
  PWGEM/PhotonMeson/Tasks/CMakeLists.txt
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGamma.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaMC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
Owners: @alibuild, @mikesas, @rbailhac, @m-c-danisch, @novitzky

update v0gammaQA.cxx
  PWGEM/Dilepton/Tasks/v0gammaQA.cxx
Owners: @alibuild, @mikesas, @rbailhac, @dsekihat, @ivorobye, @feisenhu

update correlations.cxx
  PWGCF/Tasks/correlations.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

fixup! update correlations.cxx
  PWGCF/Tasks/correlations.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

fixup! update taskFlow.cxx
  PWGHF/HFC/Tasks/taskFlow.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar, @mmazzilli

update resonanceqa.cxx
  PWGLF/Tasks/QC/resonanceqa.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

fixup! update phianalysis.cxx
  PWGLF/Tasks/phianalysis.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

fixup! update k892analysis.cxx
  PWGLF/Tasks/k892analysis.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

fixup! update lambda1520analysis.cxx
  PWGLF/Tasks/lambda1520analysis.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

PR comments
  PWGHF/TableProducer/candidateCreatorB0.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

update eventMixingValidation.cxx
  Tutorials/src/eventMixingValidation.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

fixup! update eventMixing.cxx
  Tutorials/src/eventMixing.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

fixup! update CFTutorialTask5.cxx
  PWGCF/Tutorial/CFTutorialTask5.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

Modify initialization of dca for D daughters
  PWGHF/TableProducer/candidateCreatorB0.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Get bz from CCDB
  PWGHF/TableProducer/candidateCreatorB0.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar
