Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ekryshen, @njacazio, @ginnocen, @vkucera, @mario-krueger, @mpuccio, @fgrosa, @pbuehler, @ercolessi, @lauraser, @aortizve, @fkrizek, @saganatt, @victor-gonzalez, @fcolamar, @aalkin

Added INT7 selection, magnetic field phi correction and dpi QA histograms for pi and p.
  Tutorials/OpenData/flowAnalysis.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

DPG: add protection for fake collisions
  DPG/Tasks/qaEventTrack.cxx
Owners: @alibuild, @mario-krueger

Formatting workflow: fix issues with opening PRs
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Added INT7 selection, magnetic field phi correction and dpi QA histograms for pi and p. (#689)
  Tutorials/OpenData/flowAnalysis.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

DPG: add protection for fake collisions (#680)
  DPG/Tasks/qaEventTrack.cxx
Owners: @alibuild, @mario-krueger

(PWGHF) adjusting names and clang format.
  PWGHF/DataModel/HFSecondaryVertex.h
  PWGHF/TableProducer/HFCandidateCreator2Prong.cxx
  PWGHF/TableProducer/HFCandidateCreator3Prong.cxx
  PWGHF/TableProducer/HFTrackIndexSkimsCreator.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Fixing issue related with formatting (#688)
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

PWGDQ: Adding dilepton-track process function for dqEfficiency (#671)
  PWGDQ/Core/HistogramsLibrary.h
  PWGDQ/Core/MCSignalLibrary.h
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/Tasks/dqEfficiency.cxx
Owners: @alibuild, @iarsene

Changes to Mult QA task for centrality calib
  Common/TableProducer/multiplicityTable.cxx
  Common/Tasks/multiplicityQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Changes to multQA task
  Common/Tasks/multiplicityQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Modifications for adding FDD as mult selection signal
  Common/DataModel/EventSelection.h
  Common/DataModel/Multiplicity.h
  Common/TableProducer/eventSelection.cxx
  Common/TableProducer/multiplicityTable.cxx
  Common/Tasks/multiplicityQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

fddConverter from table 000 to 001 (#623)
  Common/TableProducer/CMakeLists.txt
  Common/TableProducer/eventSelection.cxx
  Common/TableProducer/fddConverter.cxx
  Common/Tasks/eventSelectionQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

fddConverter from table 000 to 001 (#623)
  Common/TableProducer/CMakeLists.txt
  Common/TableProducer/eventSelection.cxx
  Common/TableProducer/fddConverter.cxx
  Common/Tasks/eventSelectionQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

changes BCR to IFRAMES
  EventFiltering/selectBCRange.cxx
Owners: @alibuild, @mpuccio

Latest updates
  EventFiltering/CMakeLists.txt
  EventFiltering/PWGUD/cutHolder.cxx
  EventFiltering/PWGUD/cutHolder.h
  EventFiltering/PWGUD/diffractionFilter.cxx
  EventFiltering/PWGUD/diffractionSelectors.h
  EventFiltering/filterTables.h
  EventFiltering/selectBCRange.cxx
Owners: @alibuild, @mpuccio, @pbuehler

Added configurable nTimeRes. nTimeRes specifies the number of vertex time resolutions to be used for the search of compatible BCs.
  EventFiltering/selectBCRange.cxx
Owners: @alibuild, @mpuccio

Changes
  Common/Tasks/multiplicityQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Changes for centrality development
  Common/DataModel/Multiplicity.h
  Common/TableProducer/multiplicityTable.cxx
  Common/Tasks/multiplicityQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Minor fixes
  Common/Tasks/multiplicityQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

V0 workflows - fix dca to pv asym hist
  PWGLF/Tasks/cascadeanalysis.cxx
  PWGLF/Tasks/lambdakzeroanalysis.cxx
Owners: @alibuild, @njacazio

Added GFW symmetric cumulants
  PWGCF/Tasks/flowGenericFramework.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez

updated clang-format
  PWGCF/Tasks/flowGenericFramework.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez

Revert AliceO2Group/O2Physics#668
  Common/Core/RecoDecay.h
  EventFiltering/PWGHF/HFFilter.cxx
  PWGHF/TableProducer/HFCandidateCreator2Prong.cxx
  PWGHF/TableProducer/HFCandidateCreator3Prong.cxx
  PWGHF/TableProducer/HFCandidateCreatorCascade.cxx
  PWGHF/TableProducer/HFCandidateCreatorChic.cxx
  PWGHF/TableProducer/HFCandidateCreatorX.cxx
  PWGHF/Tasks/HFMCValidation.cxx
  PWGHF/Tasks/taskBPlus.cxx
  PWGHF/Tasks/taskChic.cxx
  PWGHF/Tasks/taskD0.cxx
  PWGHF/Tasks/taskDPlus.cxx
  PWGHF/Tasks/taskJpsi.cxx
  PWGHF/Tasks/taskLb.cxx
  PWGHF/Tasks/taskLc.cxx
  PWGHF/Tasks/taskLcCentrality.cxx
  PWGHF/Tasks/taskLcK0sP.cxx
  PWGHF/Tasks/taskX.cxx
  PWGHF/Tasks/taskXic.cxx
  PWGHF/Tasks/taskXicc.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @fgrosa, @vkucera, @ginnocen, @fcolamar

Added GFW symmetric cumulants (#694)
  PWGCF/Tasks/flowGenericFramework.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez

FDD version 1 is now default
  Common/TableProducer/eventSelection.cxx
  Common/Tasks/eventSelectionQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

FDD version 1 is now default (#696)
  Common/TableProducer/eventSelection.cxx
  Common/Tasks/eventSelectionQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Intermediate tests
  Common/DataModel/Multiplicity.h
  Common/TableProducer/multiplicityTable.cxx
  Common/Tasks/multiplicityQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Change in the track selection task so that the Selection flag table has always the same size as the track table
  PWGDQ/Tasks/filterPP.cxx
Owners: @alibuild, @iarsene

Everything working
  Common/TableProducer/multiplicityTable.cxx
  Common/Tasks/multiplicityQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

more remnants of fdd transition
  Common/Tasks/eventSelectionQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

more remnants of fdd transition (#698)
  Common/Tasks/eventSelectionQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Modification to include event information in the track selection
  PWGDQ/Tasks/filterPP.cxx
Owners: @alibuild, @iarsene

Fix histogram naming
  PWGCF/FemtoDream/FemtoDreamV0Selection.h
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez

Fix histogram naming (#699)
  PWGCF/FemtoDream/FemtoDreamV0Selection.h
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez

Include Event Information in Track Selection process
  PWGDQ/Tasks/filterPP.cxx
Owners: @alibuild, @iarsene

Some simplifications
  PWGDQ/Tasks/filterPP.cxx
Owners: @alibuild, @iarsene

Clang formating
  PWGDQ/Tasks/filterPP.cxx
Owners: @alibuild, @iarsene

Output table of CEFP (first implementation)
  EventFiltering/cefpTask.cxx
  EventFiltering/filterTables.h
Owners: @alibuild, @mpuccio

Fix clang format
  EventFiltering/cefpTask.cxx
  EventFiltering/filterTables.h
Owners: @alibuild, @mpuccio

clean the code, comments, and formating
  PWGMM/Tasks/vertexing-fwd.cxx
Owners: @alibuild, @aalkin

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf 
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen
/ALICE3 @alibuild @njacazio @ginnocen @vkucera 
/DPG @alibuild @mario-krueger
/EventFiltering @alibuild @mpuccio 
/EventFiltering/PWGHF @alibuild @fgrosa @vkucera
/EventFiltering/PWGUD @alibuild @pbuehler
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi
/EventFiltering/PWGCF @alibuild @lauraser
/EventFiltering/PWGMM @alibuild @aortizve
/EventFiltering/PWGJE @alibuild @fkrizek
/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez
/PWGDQ @alibuild @iarsene
/PWGHF @alibuild @ginnocen @vkucera @fcolamar
/PWGLF @alibuild @njacazio
/PWGMM @alibuild @aalkin
/Tools/PIDML @alibuild @saganatt
