Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf, @njacazio, @ginnocen, @vkucera, @mpuccio, @aalkin

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core @jgrosseo @iarsene @ktf
/ALICE3  @njacazio @ginnocen @vkucera
/PWGHF  @ginnocen @vkucera
/EventFiltering @mpuccio
/PWGMM @aalkin

RecoDecay: Add support for custom particle masses
  Common/Core/RecoDecay.h
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Temporarilly adding a copy of the filter-PP task to study the impact of the low resolution PID tables on the DQ pp triggers (#115)
  PWGDQ/TableProducer/CMakeLists.txt
  PWGDQ/Tasks/CMakeLists.txt
  PWGDQ/Tasks/filterPP.cxx
  PWGDQ/Tasks/filterPPTiny.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

RecoDecay: Add support for custom particle masses (#117)
  Common/Core/RecoDecay.h
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Update StrangenessTables.h
  Common/DataModel/StrangenessTables.h
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Selection cuts into the reco <-> gen mapping check task
  PWGCF/Tasks/dptdptcorrelations-simchl.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Moving X functions from hf_cand_prong3 to hf_cand_x
  PWGHF/DataModel/HFSecondaryVertex.h
  PWGHF/TableProducer/HFTreeCreatorXToJpsiPiPi.cxx
  PWGHF/Tasks/taskX.cxx
Owners: @ginnocen, @vkucera

Selection cuts into the reco <-> gen mapping check task (#119)
  PWGCF/Tasks/dptdptcorrelations-simchl.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Extend caching and improve performance of timestamp task
  Common/TableProducer/timestamp.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Small fix
  PWGHF/TableProducer/HFCandidateCreatorX.cxx
  PWGHF/TableProducer/HFXToJpsiPiPiCandidateSelector.cxx
Owners: @ginnocen, @vkucera

Fix selector
  PWGHF/TableProducer/HFXToJpsiPiPiCandidateSelector.cxx
Owners: @ginnocen, @vkucera

Extend caching and improve performance of timestamp task (#121)
  Common/TableProducer/timestamp.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

PWGHF: Add dimuon channel to X task (#78)
  PWGHF/DataModel/HFCandidateSelectionTables.h
  PWGHF/DataModel/HFSecondaryVertex.h
  PWGHF/TableProducer/HFCandidateCreatorX.cxx
  PWGHF/TableProducer/HFTreeCreatorXToJpsiPiPi.cxx
  PWGHF/TableProducer/HFXToJpsiPiPiCandidateSelector.cxx
  PWGHF/Tasks/taskX.cxx
Owners: @ginnocen, @vkucera

Extend A3 c-deuteron, RICH analyses, ECAL model
  ALICE3/DataModel/ECAL.h
  ALICE3/TableProducer/alice3-pidTOF.cxx
  ALICE3/Tasks/ECALqa.cxx
  ALICE3/Tasks/alice3-cdeuteron.cxx
  ALICE3/Tasks/pidRICHqa.cxx
Owners: @njacazio, @ginnocen, @vkucera

Extend A3 c-deuteron, RICH analyses, ECAL model (#120)
  ALICE3/DataModel/ECAL.h
  ALICE3/TableProducer/alice3-pidTOF.cxx
  ALICE3/Tasks/ECALqa.cxx
  ALICE3/Tasks/alice3-cdeuteron.cxx
  ALICE3/Tasks/pidRICHqa.cxx
Owners: @njacazio, @ginnocen, @vkucera

Added a producer task for PID ML data. To be used on Hyperloop.
  Common/Core/CMakeLists.txt
  Common/Core/PIDML/CMakeLists.txt
  Common/Core/PIDML/pidProducer.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

avoid grouping where not needed
  Common/TableProducer/eventSelection.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

set switches to true by default
  PWGMM/Tasks/dndeta.h
Owners: @aalkin

Changed directories. Reverted leftover CMake change.
  Common/Core/CMakeLists.txt
  PWGPP/CMakeLists.txt
  PWGPP/TableProducer/CMakeLists.txt
  PWGPP/TableProducer/pidMLProducer.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

ThreeBody Trigger
  EventFiltering/CMakeLists.txt
  EventFiltering/PWGCF/CFFilter.cxx
  EventFiltering/filterTables.h
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/FemtoDreamMath.h
  PWGCF/FemtoDream/FemtoDreamPairCleaner.h
  PWGCF/FemtoDream/femtoDreamProducerTask.cxx
Owners: @mpuccio, @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

fixed Clang formatting
  EventFiltering/PWGCF/CFFilter.cxx
  EventFiltering/filterTables.h
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/FemtoDreamMath.h
  PWGCF/FemtoDream/FemtoDreamPairCleaner.h
  PWGCF/FemtoDream/femtoDreamProducerTask.cxx
Owners: @mpuccio, @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Small fix in the CosTheta range
  PWGDQ/Core/HistogramsLibrary.h
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Added a producer task for PID ML data. To be used on Hyperloop. (#124)
  PWGPP/TableProducer/CMakeLists.txt
  PWGPP/TableProducer/pidMLProducer.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

set switches to true by default (#125)
  PWGMM/Tasks/dndeta.h
Owners: @aalkin

avoid grouping where not needed (#123)
  Common/TableProducer/eventSelection.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Add DCA cut
  ALICE3/Tasks/alice3-qa-multiplicity.cxx
Owners: @njacazio, @ginnocen, @vkucera

remove unnecessary header
  ALICE3/Tasks/alice3-qa-multiplicity.cxx
Owners: @njacazio, @ginnocen, @vkucera

Add DCA cut (#128)
  ALICE3/Tasks/alice3-qa-multiplicity.cxx
Owners: @njacazio, @ginnocen, @vkucera

Adding code to read CCDB
  PWGDQ/Tasks/tableReader.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf
