Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk, @ekryshen, @victor-gonzalez, @njacazio, @hscheid, @chiarazampolli, @alcaliva, @catalinristea, @strogolo, @altsybee, @mfaggin, @iouribelikov, @noferini, @afurs, @mpuccio, @lietava, @fgrosa, @zhangbiao-phy, @pbuehler, @ercolessi, @ChiaraDeMartin95, @lauraser, @aortizve, @fkrizek, @nzardosh, @saganatt, @zchochul, @lgraczykCern, @prchakra, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye, @dsekihat, @feisenhu, @lucamicheletti93, @mikesas, @rbailhac, @ivorobye, @m-c-danisch, @novitzky, @mhemmer-cern, @vkucera, @fcolamar, @fcatalan92, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano, @skundu692, @gbencedi, @omvazque, @fmazzasc, @chiarapinto, @maciacco, @BongHwi, @smaff92, @aalkin, @abylinkin, @rolavick, @lhavener, @maoyx, @fjonasALICE, @mfasDa, @lbariogl, @lbarnby, @mbombara, @iravasen

[DPG] Using AggregatedRunInfo in eventSelectionQA (#8735)
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

Directed flow for Dstar
  PWGHF/D2H/Tasks/CMakeLists.txt
  PWGHF/D2H/Tasks/taskDirectedFlowDstar.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

[PWGLF] Adding event mixing for hypertriton 3-body KF reconstruction (#8698)
  PWGLF/TableProducer/Nuspex/decay3bodybuilder.cxx
Owners: @alibuild, @njacazio, @skundu692, @fmazzasc, @chiarapinto, @maciacco

Plots for efficiency and mismatch studies vs contributors
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

Please consider the following formatting changes
  PWGHF/HFC/TableProducer/correlatorD0Hadrons.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

Add requireGlobalTrackWoDCAInFilter() to trackFilter
  PWGHF/HFC/TableProducer/correlatorD0Hadrons.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

Megalinter fixes
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

Implement ML models in data
  PWGHF/HFC/DataModel/CorrelationTables.h
  PWGHF/HFC/TableProducer/correlatorD0Hadrons.cxx
  PWGHF/HFC/Tasks/taskCorrelationD0Hadrons.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

Updated table entries
  PWGHF/TableProducer/treeCreatorLbToLcPi.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

[PWGCF] FemtoUniverse: Fixing filtering with conf. from two tables (#8736)
  PWGCF/FemtoUniverse/Tasks/femtoUniversePairTaskTrackTrackSpherHarMultKtExtended.cxx
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

[DPG] Plots for efficiency and mismatch studies vs contributors (#8741)
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

removed superfluous whitespaces
  PWGHF/TableProducer/treeCreatorLbToLcPi.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

[Infrastructure] Add O2 linter (#7066)
  .github/workflows/o2-linter.yml
  Scripts/o2_linter.py
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

updated intendation
  PWGHF/TableProducer/treeCreatorLbToLcPi.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

Implement possibility to specify exclusive decay channels via MCSignal
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/MCSignal.cxx
  PWGDQ/Core/MCSignal.h
  PWGDQ/Core/MCSignalLibrary.cxx
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

clang fixes
  PWGDQ/Core/MCSignal.h
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

updated variable names
  PWGHF/TableProducer/treeCreatorLbToLcPi.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

MegaLinter fixes
  PWGDQ/Core/MCSignal.cxx
  PWGDQ/Core/MCSignal.h
  PWGDQ/Core/MCSignalLibrary.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

clang fixes
  PWGDQ/Core/MCSignal.cxx
  PWGDQ/Core/MCSignal.h
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

MegaLinter fixes
  PWGDQ/Core/MCSignalLibrary.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

changed short to int16_t
  PWGHF/TableProducer/treeCreatorLbToLcPi.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

Please consider the following formatting changes
  PWGDQ/Core/MCSignal.h
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

[PWGDQ] Implement possibility to specify exclusive decay channels via MCSignal (#8744)
  PWGDQ/Core/HistogramsLibrary.cxx
  PWGDQ/Core/MCSignal.cxx
  PWGDQ/Core/MCSignal.h
  PWGDQ/Core/MCSignalLibrary.cxx
  PWGDQ/Tasks/dqEfficiency_withAssoc.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

Formatting fix
  PWGLF/Tasks/Strangeness/hStrangeCorrelation.cxx
Owners: @alibuild, @njacazio, @skundu692, @ercolessi, @ChiaraDeMartin95

Update utilsEvSelHf.h
  PWGHF/Utils/utilsEvSelHf.h
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

minor additions and fixes
  PWGCF/MultiparticleCorrelations/Core/MuPa-Configurables.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-DataMembers.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-Enums.h
  PWGCF/MultiparticleCorrelations/Core/MuPa-MemberFunctions.h
  PWGCF/MultiparticleCorrelations/Tasks/multiparticle-correlations-ab.cxx
Owners: @alibuild, @saganatt, @victor-gonzalez, @zchochul, @lgraczykCern, @prchakra, @lauraser, @ariedel-cern, @EmilGorm, @otonvd, @shouqiye

updated triggerevent criteria
  PWGHF/D2H/Tasks/taskDirectedFlowCharmHadrons.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

added flag to use rapidity
  PWGHF/D2H/Tasks/taskDirectedFlowCharmHadrons.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

corrected trigger condition
  PWGHF/D2H/Tasks/taskDirectedFlowCharmHadrons.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

PWGEM/Dilepton: update prefiter task and phiv sorted by pT
  PWGEM/Dilepton/Core/DielectronCut.cxx
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/EMEventCut.cxx
  PWGEM/Dilepton/Core/EMEventCut.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/Tasks/prefilterDielectron.cxx
  PWGEM/Dilepton/Tasks/vpPairQC.cxx
  PWGEM/Dilepton/Tasks/vpPairQCMC.cxx
  PWGEM/Dilepton/Utils/PairUtilities.h
Owners: @alibuild, @mikesas, @rbailhac, @dsekihat, @ivorobye, @feisenhu

updated variable name
  PWGHF/TableProducer/treeCreatorLbToLcPi.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

[PWGEM/Dilepton] update prefiter task and phiv sorted by pT (#8748)
  PWGEM/Dilepton/Core/DielectronCut.cxx
  PWGEM/Dilepton/Core/DielectronCut.h
  PWGEM/Dilepton/Core/Dilepton.h
  PWGEM/Dilepton/Core/DileptonMC.h
  PWGEM/Dilepton/Core/EMEventCut.cxx
  PWGEM/Dilepton/Core/EMEventCut.h
  PWGEM/Dilepton/Core/PhotonHBT.h
  PWGEM/Dilepton/Core/SingleTrackQC.h
  PWGEM/Dilepton/Core/SingleTrackQCMC.h
  PWGEM/Dilepton/Tasks/prefilterDielectron.cxx
  PWGEM/Dilepton/Tasks/vpPairQC.cxx
  PWGEM/Dilepton/Tasks/vpPairQCMC.cxx
  PWGEM/Dilepton/Utils/PairUtilities.h
Owners: @alibuild, @mikesas, @rbailhac, @dsekihat, @ivorobye, @feisenhu

[PWGHF] Add PV contributors in D0 sparse for MC and remove unnecessary axes (#8717)
  PWGHF/D2H/Tasks/taskD0.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

[PWGHF] Updated LambdaB tree creator task (#8743)
  PWGHF/TableProducer/treeCreatorLbToLcPi.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

[PWGHF] added rapidity flag and corrected trigger condition (#8747)
  PWGHF/D2H/Tasks/taskDirectedFlowCharmHadrons.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @NicoleBastid, @hahassan7, @jpxrk, @apalasciano

Added monitoring of ITS dead map vs time
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

Clean up
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

Linter fixes
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

[PWGLF] updated code for flow of positive and negative charged hadrons (#8723)
  PWGLF/Tasks/Strangeness/lambdapolsp.cxx
Owners: @alibuild, @njacazio, @skundu692, @ercolessi, @ChiaraDeMartin95

More linter fixes
  DPG/Tasks/AOTEvent/eventSelectionQa.cxx
Owners: @alibuild, @ekryshen, @strogolo, @altsybee

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else.

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf @ddobrigk
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen @ddobrigk
/Common/Tools/Multiplicity @alibuild @ddobrigk @victor-gonzalez
/ALICE3 @alibuild @njacazio @hscheid
/DPG @alibuild @chiarazampolli @alcaliva @catalinristea
/DPG/Tasks/AOTEvent @alibuild @ekryshen @strogolo @altsybee
/DPG/Tasks/AOTTrack @alibuild @mfaggin @iouribelikov @njacazio
/DPG/Tasks/TOF @alibuild @noferini @njacazio
/DPG/Tasks/FT0 @alibuild @afurs
/EventFiltering @alibuild @mpuccio @lietava
/EventFiltering/PWGHF @alibuild @fgrosa @zhangbiao-phy @mpuccio @lietava
/EventFiltering/PWGUD @alibuild @pbuehler @mpuccio @lietava
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi @ChiaraDeMartin95 @lietava
/EventFiltering/PWGCF @alibuild @lauraser @mpuccio @lietava
/EventFiltering/PWGMM @alibuild @aortizve @mpuccio @lietava
/EventFiltering/PWGJE @alibuild @fkrizek @nzardosh @mpuccio @lietava
/PWGCF               @alibuild @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGCF/Core          @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGCF/DataModel     @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGCF/TableProducer @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGCF/Tasks         @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul @lgraczykCern @prchakra @lauraser @ariedel-cern @EmilGorm @otonvd @shouqiye
/PWGDQ @alibuild @iarsene @dsekihat @feisenhu @lucamicheletti93
/PWGEM @alibuild @mikesas @rbailhac @feisenhu
/PWGEM/Dilepton @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/PWGEM/PhotonMeson @alibuild @mikesas @rbailhac @m-c-danisch @novitzky @mhemmer-cern @dsekihat
/PWGHF @alibuild @vkucera @fcolamar @fgrosa @fcatalan92 @mfaggin @mmazzilli @deepathoms @NicoleBastid @hahassan7 @jpxrk @apalasciano
# PWG-LF
/PWGLF @alibuild @njacazio @skundu692
/PWGLF/Tasks/GlobalEventProperties         @alibuild @njacazio @skundu692 @gbencedi @omvazque
/PWGLF/TableProducer/GlobalEventProperties @alibuild @njacazio @skundu692 @gbencedi @omvazque
/PWGLF/Tasks/Nuspex         @alibuild @njacazio @skundu692 @fmazzasc @chiarapinto @maciacco
/PWGLF/TableProducer/Nuspex @alibuild @njacazio @skundu692 @fmazzasc @chiarapinto @maciacco
/PWGLF/Tasks/Resonances         @alibuild @njacazio @skundu692 @BongHwi @smaff92
/PWGLF/TableProducer/Resonances @alibuild @njacazio @skundu692 @BongHwi @smaff92
/PWGLF/Tasks/Strangeness         @alibuild @njacazio @skundu692 @ercolessi @ChiaraDeMartin95
/PWGLF/TableProducer/Strangeness @alibuild @njacazio @skundu692 @ercolessi @ChiaraDeMartin95

# PWG-MM
/PWGMM      @alibuild @njacazio @skundu692 @aalkin
/PWGMM/Mult @alibuild @njacazio @skundu692 @aalkin @aortizve @ddobrigk
/PWGMM/Lumi @alibuild @aalkin
/PWGMM/UE   @alibuild @aalkin @aortizve

/PWGUD @alibuild @pbuehler @abylinkin @rolavick
/PWGJE @alibuild @lhavener @maoyx @nzardosh @fjonasALICE @mfasDa @mhemmer-cern
/Tools/PIDML @alibuild @saganatt
/Tools/ML @alibuild @fcatalan92 @fmazzasc
/Tutorials/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul
/Tutorials/PWGDQ @alibuild @iarsene @dsekihat @feisenhu @lucamicheletti93
/Tutorials/PWGEM @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/Tutorials/PWGHF @alibuild @vkucera @fcolamar @fgrosa
/Tutorials/PWGJE @alibuild @lhavener @maoyx @nzardosh @mfasDa @fjonasALICE
/Tutorials/PWGLF @alibuild @alcaliva @lbariogl @chiarapinto @BongHwi @lbarnby @mbombara @iravasen @njacazio @ChiaraDeMartin95 @skundu692
/Tutorials/PWGMM @alibuild @aalkin @ddobrigk
/Tutorials/PWGUD @alibuild @pbuehler
