Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf, @ginnocen, @vkucera, @mpuccio

PWGHF: Speedup 3 prong combinatorics (#39)
  Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
Owners: @ginnocen, @vkucera

D0 analysi task for RICH PID implementation
  Tasks/PWGHF/HFD0CandidateSelectorALICE3.cxx
  Tasks/PWGHF/taskD0ALICE3.cxx
Owners: @ginnocen, @vkucera

RICH PID implementation for D0 for ALICE3
  Core/include/AnalysisCore/TrackSelectorPID.h
  DataModel/include/AnalysisDataModel/HFCandidateSelectionTables.h
  Tasks/PWGHF/CMakeLists.txt
  Tasks/PWGHF/HFD0CandidateSelectorALICE3.cxx
  Tasks/PWGHF/taskD0ALICE3.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf, @ginnocen, @vkucera

RICH PID implementation for D0, clang formating
  Core/include/AnalysisCore/TrackSelectorPID.h
  DataModel/include/AnalysisDataModel/HFCandidateSelectionTables.h
  Tasks/PWGHF/HFD0CandidateSelectorALICE3.cxx
  Tasks/PWGHF/taskD0ALICE3.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf, @ginnocen, @vkucera

clang formating
  Tasks/PWGHF/HFD0CandidateSelectorALICE3.cxx
  Tasks/PWGHF/taskD0ALICE3.cxx
Owners: @ginnocen, @vkucera

Remove unused spaces and commented lines
  Tasks/PWGHF/HFD0CandidateSelectorALICE3.cxx
  Tasks/PWGHF/taskD0ALICE3.cxx
Owners: @ginnocen, @vkucera

Fixing issue with Jpsi Task
  Tasks/PWGHF/taskJpsi.cxx
Owners: @ginnocen, @vkucera

Fixing issue with Jpsi Task (#46)
  Tasks/PWGHF/taskJpsi.cxx
Owners: @ginnocen, @vkucera

Tree creator for X(3872)
  Tasks/PWGHF/CMakeLists.txt
  Tasks/PWGHF/HFTreeCreatorXToJpsiPiPi.cxx
Owners: @ginnocen, @vkucera

Cache lookups in Array2D
  Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
Owners: @ginnocen, @vkucera

Cache lookups in Array2D (#47)
  Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
Owners: @ginnocen, @vkucera

DDbar correlations: doubling the dPhi binning and fixing the S_reg and SB ranges
  Tasks/PWGHF/taskCorrelationDDbar.cxx
Owners: @ginnocen, @vkucera

PWGHF: Adding the information about the prong ordering (Lc -> p K pi or Lc -> pi K p) in the MC-matching
  DataModel/include/AnalysisDataModel/HFSecondaryVertex.h
  Tasks/PWGHF/HFCandidateCreator3Prong.cxx
  Tasks/PWGHF/HFTreeCreatorLcToPKPi.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf, @ginnocen, @vkucera

Add Vertex efficiency histogram
  Tasks/PWGPP/qaEventTrack.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Speedup loops and preselections
  Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
Owners: @ginnocen, @vkucera

Fix format
  Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
Owners: @ginnocen, @vkucera

PWGHF: avoid square root in comparison
  Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
Owners: @ginnocen, @vkucera

Add Vertex efficiency histogram (#49)
  Tasks/PWGPP/qaEventTrack.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

DDbar correlations: doubling the dPhi binning and fixing the S_reg and SB ranges (#50)
  Tasks/PWGHF/taskCorrelationDDbar.cxx
Owners: @ginnocen, @vkucera

Fix documentation and avoid roots in mass selection
  Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
Owners: @ginnocen, @vkucera

PWGHF: avoid square root in comparison (#52)
  Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
Owners: @ginnocen, @vkucera

PWGHF: Speedup loops and preselections (#51)
  Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
Owners: @ginnocen, @vkucera

Implementing comments
  Tasks/PWGHF/HFTreeCreatorXToJpsiPiPi.cxx
Owners: @ginnocen, @vkucera

Fix of the struct name
  Tasks/PWGHF/HFTreeCreatorXToJpsiPiPi.cxx
Owners: @ginnocen, @vkucera

Minor changes in variable names
  Tasks/PWGHF/HFBPlusToD0PiCandidateSelector.cxx
  Tasks/PWGHF/HFCandidateCreatorBPlus.cxx
  Tasks/PWGHF/taskBPlus.cxx
Owners: @ginnocen, @vkucera

Fixing issues with the struct name
  Tasks/PWGHF/HFTreeCreatorXToJpsiPiPi.cxx
Owners: @ginnocen, @vkucera

PWGHF: Adding the information about the prong ordering (Lc -> p K pi or Lc -> pi K p) in the MC-matching (#45)
  DataModel/include/AnalysisDataModel/HFSecondaryVertex.h
  Tasks/PWGHF/HFCandidateCreator3Prong.cxx
  Tasks/PWGHF/HFTreeCreatorLcToPKPi.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf, @ginnocen, @vkucera

PWGHF: X tree creator task (#48)
  Tasks/PWGHF/CMakeLists.txt
  Tasks/PWGHF/HFTreeCreatorXToJpsiPiPi.cxx
Owners: @ginnocen, @vkucera

Update cdeuteron task
  ALICE3/src/alice3-cdeuteron.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Update cdeuteron task (#53)
  ALICE3/src/alice3-cdeuteron.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

PWGHF: Add BPlus task with candidate creator and selector (#41)
  Core/include/AnalysisCore/HFSelectorCuts.h
  DataModel/include/AnalysisDataModel/HFCandidateSelectionTables.h
  DataModel/include/AnalysisDataModel/HFSecondaryVertex.h
  Tasks/PWGHF/CMakeLists.txt
  Tasks/PWGHF/HFBPlusToD0PiCandidateSelector.cxx
  Tasks/PWGHF/HFCandidateCreatorBPlus.cxx
  Tasks/PWGHF/taskBPlus.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf, @ginnocen, @vkucera

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core @jgrosseo @iarsene @ktf
/Tasks/ALICE3  @ginnocen @vkucera
/Tasks/PWGHF  @ginnocen @vkucera
/EventFiltering @mpuccio
