Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk, @ekryshen, @victor-gonzalez, @njacazio, @ginnocen, @vkucera, @chiarazampolli, @noferini, @strogolo, @mfaggin, @mpuccio, @fgrosa, @pbuehler, @ercolessi, @ChiaraDeMartin95, @lauraser, @aortizve, @fkrizek, @saganatt, @zchochul, @dsekihat, @feisenhu, @mikesas, @rbailhac, @ivorobye, @m-c-danisch, @novitzky, @fcolamar, @xinyepeng, @lvermunt, @mmazzilli, @nzardosh, @rvertesi, @NicoleBastid, @mvolkl, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @aalkin, @lhavener, @maoyx, @mfasDa

Change structure: loop over aod::Collisions, over D candidates attached to this collision and over tracks attached to this collision
  PWGHF/TableProducer/candidateCreatorB0.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

update KaonPidTask.cxx
  Tools/PIDML/KaonPidTask.cxx
Owners: @alibuild, @saganatt

update dndeta.cxx
  PWGMM/Mult/Tasks/dndeta.cxx
Owners: @alibuild, @aalkin, @aortizve, @ddobrigk

update taskFlow.cxx
  PWGHF/HFC/Tasks/taskFlow.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar, @mmazzilli

update eventMixing.cxx
  Tutorials/src/eventMixing.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

update run2dndeta.cxx
  PWGMM/Mult/Tasks/run2dndeta.cxx
Owners: @alibuild, @aalkin, @aortizve, @ddobrigk

update UDHelpers.h, diffMCQA.cxx, diffQA.cxx
  PWGUD/Core/UDHelpers.h
  PWGUD/Tasks/diffMCQA.cxx
  PWGUD/Tasks/diffQA.cxx
Owners: @alibuild, @pbuehler

update dndeta-hi.cxx
  PWGMM/Mult/Tasks/dndeta-hi.cxx
Owners: @alibuild, @aalkin, @aortizve, @ddobrigk

update lambda1520analysis.cxx
  PWGLF/Tasks/lambda1520analysis.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

update effpt-mft.cxx
  PWGMM/Mult/Tasks/effpt-mft.cxx
Owners: @alibuild, @aalkin, @aortizve, @ddobrigk

update k892analysis.cxx
  PWGLF/Tasks/k892analysis.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

update trackIndexSkimCreator.cxx
  PWGHF/TableProducer/trackIndexSkimCreator.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

update phianalysis.cxx
  PWGLF/Tasks/phianalysis.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

update taskMcValidation.cxx
  PWGHF/Tasks/taskMcValidation.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Fix missing headers
  PWGUD/Tasks/DGCandAnalyzer.cxx
  Tools/PIDML/pidOnnxInterface.h
Owners: @alibuild, @pbuehler, @saganatt

Fix missing headers (#2282)
  PWGUD/Tasks/DGCandAnalyzer.cxx
  Tools/PIDML/pidOnnxInterface.h
Owners: @alibuild, @pbuehler, @saganatt

Back to old "charge"
  DPG/Tasks/AOTTrack/qaEfficiency.cxx
Owners: @alibuild, @mfaggin, @njacazio

[EMCAL-904] emccorrection task: Add option to disable NonLin - Add bool config when set to true it will disable the NonLin correction
  PWGJE/TableProducer/emcalCorrectionTask.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @ddobrigk, @mfasDa

speed up through table reserving (#2277)
  Common/TableProducer/eventSelection.cxx
  Common/TableProducer/trackPropagation.cxx
  Common/TableProducer/trackselection.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

Updating the DQ fit library
  PWGDQ/Macros/DQFitter.py
  PWGDQ/Macros/configFit.json
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

Adding plot library
  PWGDQ/Macros/plot_library.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

clang format
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

clang fix
  PWGDQ/Macros/DQFitter.py
  PWGDQ/Macros/plot_library.py
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

Fix clang
  PWGDQ/Macros/DQFitter.py
  PWGDQ/Macros/plot_library.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix clang
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix clang
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix clang
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix clang
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix clang
  PWGDQ/Macros/DQFitter.py
  PWGDQ/Macros/plot_library.py
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

Fix case of 0 selected BCs
  EventFiltering/selectBCRange.cxx
Owners: @alibuild, @mpuccio, @strogolo

fix clang
  PWGDQ/Macros/configFit.json
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

add eta of cascades and simplify ctau
  PWGLF/Tasks/cascqaanalysis.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

fix tutorial.py
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix tutorial.py
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix tutorial.py
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

fix tutorial.py
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

[EMCAL-904] emccorrection task: Add option to disable NonLin (#2283)
  PWGJE/TableProducer/emcalCorrectionTask.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @ddobrigk, @mfasDa

fix tutorial.py
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

Rename
  DPG/Tasks/AOTTrack/qaEfficiency.cxx
Owners: @alibuild, @mfaggin, @njacazio

fix DQFitter.py
  PWGDQ/Macros/DQFitter.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else.

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf @ddobrigk
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen @ddobrigk
/Common/Tools/Multiplicity @alibuild @ddobrigk @victor-gonzalez
/ALICE3 @alibuild @njacazio @ginnocen @vkucera
/DPG @alibuild @chiarazampolli @noferini
/DPG/Tasks/AOTEvent @alibuild @ekryshen @strogolo
/DPG/Tasks/AOTTrack @alibuild @mfaggin @njacazio
/EventFiltering @alibuild @mpuccio @strogolo
/EventFiltering/PWGHF @alibuild @fgrosa @vkucera @mpuccio @strogolo
/EventFiltering/PWGUD @alibuild @pbuehler @mpuccio @strogolo
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi @ChiaraDeMartin95 @strogolo
/EventFiltering/PWGCF @alibuild @lauraser @mpuccio @strogolo
/EventFiltering/PWGMM @alibuild @aortizve @mpuccio @strogolo
/EventFiltering/PWGJE @alibuild @fkrizek @mpuccio @strogolo
/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul
/PWGDQ @alibuild @iarsene @dsekihat @feisenhu
/PWGEM @alibuild @mikesas @rbailhac @feisenhu
/PWGEM/Dilepton @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/PWGEM/PhotonMeson @alibuild @mikesas @rbailhac @m-c-danisch @novitzky
/PWGHF @alibuild @ginnocen @vkucera @fcolamar
/PWGHF/D2H @alibuild @ginnocen @vkucera @fcolamar @xinyepeng @lvermunt
/PWGHF/HFC @alibuild @ginnocen @vkucera @fcolamar @mmazzilli
/PWGHF/HFJ @alibuild @ginnocen @vkucera @fcolamar @nzardosh @rvertesi
/PWGHF/HFL @alibuild @ginnocen @vkucera @fcolamar @NicoleBastid @mvolkl
/PWGLF @alibuild @lramona @alcaliva @lbariogl @chiarapinto @BongHwi @lbarnby @mbombara @iravasen @njacazio
/PWGMM @alibuild @aalkin
/PWGMM/Lumi @alibuild @aalkin
/PWGMM/Mult @alibuild @aalkin @aortizve @ddobrigk
/PWGMM/UE @alibuild @aalkin @aortizve
/PWGUD @alibuild @pbuehler
/PWGJE @alibuild @lhavener @maoyx @nzardosh @ddobrigk @mfasDa
/Tools/PIDML @alibuild @saganatt
