Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ekryshen, @njacazio, @ginnocen, @vkucera, @mario-krueger, @mpuccio, @fgrosa, @pbuehler, @ercolessi, @lauraser, @aortizve, @fkrizek, @saganatt, @victor-gonzalez, @fcolamar, @aalkin

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf 
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen
/ALICE3 @alibuild @njacazio @ginnocen @vkucera 
/DPG @alibuild @mario-krueger
/EventFiltering @alibuild @mpuccio 
/EventFiltering/PWGHF @alibuild @fgrosa @vkucera
/EventFiltering/PWGUD @alibuild @pbuehler
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi
/EventFiltering/PWGCF @alibuild @lauraser
/EventFiltering/PWGMM @alibuild @aortizve
/EventFiltering/PWGJE @alibuild @fkrizek
/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez
/PWGDQ @alibuild @iarsene
/PWGHF @alibuild @ginnocen @vkucera @fcolamar
/PWGLF @alibuild @njacazio
/PWGMM @alibuild @aalkin
/Tools/PIDML @alibuild @saganatt

Formatting action: handle empty variable better
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Improve formatting checker
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Only create cleanup commit in AliceO2Group
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Formatting action: fix reading filenames
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Formatting action: fix
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Formatting action: improve output
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Formatting: apt update before apt install
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Formatting action: fix error message
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Formatting action: fix copyright error message
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Formatting action: find binary files using `file` for speed
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

DO NOT MERGE - Testing formatting checker
  Common/Core/aodMerger.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

PWGEM/Tasks skimmer task for mc truth only
  PWGEM/Tasks/CMakeLists.txt
  PWGEM/Tasks/gammaConversions.cxx
  PWGEM/Tasks/gammaConversionsMc.cxx
  PWGEM/Tasks/gammaConversionsMcTruthOnly.cxx
  PWGEM/Tasks/gammaConversionsTruthOnlyMc.cxx
  PWGEM/Tasks/gammaTables.h
  PWGEM/Tasks/skimmerGammaConversionsMc.cxx
  PWGEM/Tasks/skimmerGammaConversionsTruthOnlyMc.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Fix formatting
  Common/Core/aodMerger.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Fix clang-format
  Common/Core/aodMerger.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Fix indentation
  Common/Core/aodMerger.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Track propagation task and tutorial/QA for Run 3 data
  Common/TableProducer/trackPropagation.cxx
  Tutorials/src/propagatedTracks.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

typo
  Common/TableProducer/trackPropagation.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

remove unneeded include
  Common/DataModel/TrackPropagation.h
  Tutorials/src/propagatedTracks.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

streamlining
  Common/TableProducer/trackPropagation.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Add more track filters and small fixes
  PWGLF/TableProducer/LFTreeCreatorNuclei.cxx
Owners: @alibuild, @njacazio

Naming changes, preparation for centrality framework changes (#700)
  ALICE3/TableProducer/alice3-centrality.cxx
  Common/DataModel/Centrality.h
  Common/DataModel/EventSelection.h
  Common/DataModel/Multiplicity.h
  Common/TableProducer/centralityTable.cxx
  Common/TableProducer/eventSelection.cxx
  Common/TableProducer/multiplicityTable.cxx
  Common/Tasks/centralityQa.cxx
  Common/Tasks/ft0Qa.cxx
  Common/Tasks/multiplicityQa.cxx
  Common/Tools/aodDataModelGraph.cxx
  EventFiltering/PWGLF/strangenessFilter.cxx
  PWGCF/DataModel/CorrelationsDerived.h
  PWGCF/FemtoDream/FemtoDreamCollisionSelection.h
  PWGCF/FemtoDream/femtoDreamProducerReducedTask.cxx
  PWGCF/FemtoDream/femtoDreamProducerTask.cxx
  PWGCF/TableProducer/dptdptfilter.cxx
  PWGCF/TableProducer/dptdptfilter.h
  PWGCF/TableProducer/filterCorrelations.cxx
  PWGCF/Tasks/correlations.cxx
  PWGCF/Tasks/flowGenericFramework.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/DataModel/ReducedInfoTables.h
  PWGDQ/TableProducer/tableMaker.cxx
  PWGDQ/TableProducer/tableMakerMC.cxx
  PWGHF/Tasks/taskBPlus.cxx
  PWGHF/Tasks/taskLb.cxx
  PWGHF/Tasks/taskLcCentrality.cxx
  PWGLF/TableProducer/cascadefinder.cxx
  PWGLF/TableProducer/lambdakzerofinder.cxx
  PWGLF/Tasks/cascadeanalysis.cxx
  PWGLF/Tasks/identifiedraa.cxx
  PWGLF/Tasks/lambdakzeroanalysis.cxx
  PWGLF/Tasks/lambdakzeroanalysisMC.cxx
  PWGMM/Tasks/run2dndeta.cxx
  Tools/PIDML/pidML.h
  Tools/PIDML/pidMLProducer.cxx
  Tutorials/OpenData/flowAnalysis.cxx
  Tutorials/src/tracksCombinations.cxx
Owners: @alibuild, @njacazio, @ginnocen, @vkucera, @AliceO2Group/core, @jgrosseo, @iarsene, @ktf, @mpuccio, @ercolessi, @saganatt, @victor-gonzalez, @fcolamar, @aalkin

Format
  PWGLF/TableProducer/LFTreeCreatorNuclei.cxx
Owners: @alibuild, @njacazio

PWGHF: Add dummy D* candidate creator
  PWGHF/DataModel/HFSecondaryVertex.h
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/TableProducer/candidateCreatorDstar.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Add pT histograms
  PWGHF/TableProducer/candidateCreatorDstar.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Please consider the following formatting changes
  PWGHF/TableProducer/candidateCreatorDstar.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Included filter decision table (CefpDecisions) in selectBCRanges. Enforce minimum number for LHCBunchSpacingNS for compatible BC range search
  EventFiltering/PWGUD/diffractionSelectors.h
  EventFiltering/selectBCRange.cxx
Owners: @alibuild, @pbuehler, @mpuccio

.
  EventFiltering/PWGUD/diffractionSelectors.h
Owners: @alibuild, @pbuehler

clang-format
  EventFiltering/selectBCRange.cxx
Owners: @alibuild, @mpuccio

clang-format
  EventFiltering/PWGUD/diffractionSelectors.h
Owners: @alibuild, @pbuehler

PWG-LF Add DCA branches to nuclei table producer (#707)
  PWGLF/TableProducer/LFTreeCreatorNuclei.cxx
Owners: @alibuild, @njacazio

Update on ppL trigger and FemtoDream for Lambdas
  EventFiltering/PWGCF/CFFilter.cxx
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/CMakeLists.txt
  PWGCF/FemtoDream/FemtoDreamV0Selection.h
  PWGCF/FemtoDream/femtoDreamProducerReducedTask.cxx
  PWGCF/FemtoDream/femtoDreamProducerTask.cxx
Owners: @alibuild, @lauraser, @jgrosseo, @saganatt, @victor-gonzalez

add sign
  Tutorials/src/propagatedTracks.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Update trackPropagation.cxx
  Common/TableProducer/trackPropagation.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Update on ppL trigger and FemtoDream for Lambdas (#709)
  EventFiltering/PWGCF/CFFilter.cxx
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/CMakeLists.txt
  PWGCF/FemtoDream/FemtoDreamV0Selection.h
  PWGCF/FemtoDream/femtoDreamProducerReducedTask.cxx
  PWGCF/FemtoDream/femtoDreamProducerTask.cxx
Owners: @alibuild, @lauraser, @jgrosseo, @saganatt, @victor-gonzalez

Track propagation for Run 3 (#708)
  Common/DataModel/TrackPropagation.h
  Common/TableProducer/trackPropagation.cxx
  Tutorials/src/propagatedTracks.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

PID: use analysis object as output
  Common/TableProducer/PID/pidBayes.cxx
  Common/TableProducer/PID/pidTOF.cxx
  Common/TableProducer/PID/pidTOFFull.cxx
  Common/TableProducer/PID/pidTOFbeta.cxx
  Common/TableProducer/PID/pidTPC.cxx
  Common/TableProducer/PID/pidTPCFull.cxx
  Common/TableProducer/PID/qaHMPID.cxx
  Common/TableProducer/PID/qaTOFMC.cxx
  Common/TableProducer/PID/qaTPCMC.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

PWGEM introduce keywords MCRec MCTrue etc
  PWGEM/Tasks/gammaConversionsMc.cxx
  PWGEM/Tasks/gammaConversionsTruthOnlyMc.cxx
  PWGEM/Tasks/gammaTables.h
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf
