Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf, @njacazio, @ginnocen, @vkucera, @mpuccio, @aalkin

PID: Add default case to fix compiler warning
  Common/Core/PID/PIDResponse.h
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

PID: Add default case to fix compiler warning (#104)
  Common/Core/PID/PIDResponse.h
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

CMake: Adding PWG name to executable name
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/Tasks/CMakeLists.txt
  Tutorials/Skimming/CMakeLists.txt
  cmake/O2PhysicsAddExecutable.cmake
  cmake/O2PhysicsNameTarget.cmake
Owners: @ginnocen, @vkucera, @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

remove printout
  cmake/O2PhysicsAddExecutable.cmake
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

fix up
  cmake/O2PhysicsAddExecutable.cmake
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

O2:DQ:LMee:Update 5: reworked FillPair function to include the pairtype in the template, added DCA variables to the varmanager
  PWGDQ/Core/CutsLibrary.h
  PWGDQ/Core/HistogramsLibrary.h
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/Tasks/dileptonEE.cxx
  PWGDQ/Tasks/dileptonMuMu.cxx
  PWGDQ/Tasks/dqEfficiency.cxx
  PWGDQ/Tasks/filterPP.cxx
  PWGDQ/Tasks/tableReader.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Add Lifetime Cut to lambdakzeroanalysis - Add DistOverTotMom to StrangenessTables.h
  Common/DataModel/StrangenessTables.h
  PWGLF/Tasks/lambdakzeroanalysis.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Add Lifetime Cut to lambdakzeroanalysis - Add DistOverTotMom to StrangenessTables.h
  Common/DataModel/StrangenessTables.h
  PWGLF/Tasks/lambdakzeroanalysis.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Add Lifetime Cut to lambdakzeroanalysis - Add DistOverTotMom to StrangenessTables.h
  Common/DataModel/StrangenessTables.h
  PWGLF/Tasks/lambdakzeroanalysis.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

CMake: Adding PWG name to executable name (#105)
  PWGHF/TableProducer/CMakeLists.txt
  PWGHF/Tasks/CMakeLists.txt
  Tutorials/Skimming/CMakeLists.txt
  cmake/O2PhysicsAddExecutable.cmake
  cmake/O2PhysicsNameTarget.cmake
Owners: @ginnocen, @vkucera, @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Add Lifetime Cut to lambdakzeroanalysis - Add DistOverTotMom to StrangenessTables.h
  Common/DataModel/StrangenessTables.h
  PWGLF/Tasks/lambdakzeroanalysis.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Add Lifetime Cut to lambdakzeroanalysis - Add DistOverTotMom to StrangenessTables.h (#110)
  Common/DataModel/StrangenessTables.h
  PWGLF/Tasks/lambdakzeroanalysis.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

HF Femto Trigger
  EventFiltering/PWGHF/HFFilter.cxx
Owners: @mpuccio

HF Femto trigger fix clang format
  EventFiltering/PWGHF/HFFilter.cxx
Owners: @mpuccio

Update spectra tasks
  ALICE3/TableProducer/alice3-pidTOF.cxx
  ALICE3/Tasks/pidRICHqa.cxx
  Common/TableProducer/PID/pidTOF.cxx
  Common/TableProducer/PID/pidTOFFull.cxx
  Common/TableProducer/PID/pidTOFbeta.cxx
  Common/TableProducer/PID/pidTPC.cxx
  Common/TableProducer/PID/pidTPCFull.cxx
  PWGLF/Tasks/spectraTOF.cxx
  PWGLF/Tasks/spectraTOFtiny.cxx
  PWGLF/Tasks/spectraTPC.cxx
  PWGLF/Tasks/spectraTPCtiny.cxx
Owners: @njacazio, @ginnocen, @vkucera, @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Unifying correlation and correlationfiltered task Renaming filter
  PWGCF/TableProducer/CMakeLists.txt
  PWGCF/TableProducer/filterCorrelations.cxx
  PWGCF/Tasks/CMakeLists.txt
  PWGCF/Tasks/correlations.cxx
  PWGCF/Tasks/correlationsFiltered.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

PWGHF: Modify rapidity range in histogram and minimum decaylength cut
  PWGHF/Core/HFSelectorCuts.h
  PWGHF/TableProducer/HFD0CandidateSelector.cxx
  PWGHF/Tasks/taskD0.cxx
Owners: @ginnocen, @vkucera

Update EventFiltering/PWGHF/HFFilter.cxx
  EventFiltering/PWGHF/HFFilter.cxx
Owners: @mpuccio

Update EventFiltering/PWGHF/HFFilter.cxx
  EventFiltering/PWGHF/HFFilter.cxx
Owners: @mpuccio

Update EventFiltering/PWGHF/HFFilter.cxx
  EventFiltering/PWGHF/HFFilter.cxx
Owners: @mpuccio

Update EventFiltering/PWGHF/HFFilter.cxx
  EventFiltering/PWGHF/HFFilter.cxx
Owners: @mpuccio

Update EventFiltering/PWGHF/HFFilter.cxx
  EventFiltering/PWGHF/HFFilter.cxx
Owners: @mpuccio

Update EventFiltering/PWGHF/HFFilter.cxx
  EventFiltering/PWGHF/HFFilter.cxx
Owners: @mpuccio

Unifying correlation and correlationfiltered task (#113)
  PWGCF/TableProducer/CMakeLists.txt
  PWGCF/TableProducer/filterCorrelations.cxx
  PWGCF/Tasks/CMakeLists.txt
  PWGCF/Tasks/correlations.cxx
  PWGCF/Tasks/correlationsFiltered.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

HF Femto Trigger (#111)
  EventFiltering/PWGHF/HFFilter.cxx
Owners: @mpuccio

PWGHF: Modify rapidity range in D0 histogram and minimum decaylength cut (#106)
  PWGHF/Core/HFSelectorCuts.h
  PWGHF/TableProducer/HFD0CandidateSelector.cxx
  PWGHF/Tasks/taskD0.cxx
Owners: @ginnocen, @vkucera

O2:DQ:LMee:Update 5: reworked FillPair function to include the pairtype in the template, added DCA variables to the varmanager (#87)
  PWGDQ/Core/CutsLibrary.h
  PWGDQ/Core/HistogramsLibrary.h
  PWGDQ/Core/VarManager.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/Tasks/dileptonEE.cxx
  PWGDQ/Tasks/dileptonMuMu.cxx
  PWGDQ/Tasks/dqEfficiency.cxx
  PWGDQ/Tasks/filterPP.cxx
  PWGDQ/Tasks/tableReader.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Update spectra tasks (#112)
  ALICE3/TableProducer/alice3-pidTOF.cxx
  ALICE3/Tasks/pidRICHqa.cxx
  Common/TableProducer/PID/pidTOF.cxx
  Common/TableProducer/PID/pidTOFFull.cxx
  Common/TableProducer/PID/pidTOFbeta.cxx
  Common/TableProducer/PID/pidTPC.cxx
  Common/TableProducer/PID/pidTPCFull.cxx
  PWGLF/Tasks/spectraTOF.cxx
  PWGLF/Tasks/spectraTOFtiny.cxx
  PWGLF/Tasks/spectraTPC.cxx
  PWGLF/Tasks/spectraTPCtiny.cxx
Owners: @njacazio, @ginnocen, @vkucera, @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

small fix for the pairs histograms
  PWGDQ/Tasks/filterPP.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

clang fix
  PWGDQ/Tasks/filterPPTiny.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Add minimum d0 cut on daughters of Xicc
  PWGHF/Core/HFSelectorCuts.h
  PWGHF/TableProducer/HFXiccToPKPiPiCandidateSelector.cxx
Owners: @ginnocen, @vkucera

removing empty line
  PWGDQ/TableProducer/CMakeLists.txt
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

Fix comments
  PWGHF/TableProducer/HFXiccToPKPiPiCandidateSelector.cxx
Owners: @ginnocen, @vkucera

Put minimum before maximum
  PWGHF/TableProducer/HFXiccToPKPiPiCandidateSelector.cxx
Owners: @ginnocen, @vkucera

change tof + rich pid strategy
  Common/Core/TrackSelectorPID.h
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

- Fix bug in Daughters selection V0 (delete const static in isSelectedMinimal of Track (#66)
  PWGCF/FemtoDream/FemtoDreamTrackSelection.h
  PWGCF/FemtoDream/FemtoDreamV0Selection.h
  PWGCF/FemtoDream/femtoDreamProducerTask.cxx
Owners: @AliceO2Group/core, @jgrosseo, @iarsene, @ktf

PWGHF: Add minimum d0 cut on daughters of Ξcc (#114)
  PWGHF/Core/HFSelectorCuts.h
  PWGHF/TableProducer/HFXiccToPKPiPiCandidateSelector.cxx
Owners: @ginnocen, @vkucera

Checking the Jpsi is in the decay chain
  PWGHF/TableProducer/HFCandidateCreatorX.cxx
Owners: @ginnocen, @vkucera

Checking the Jpsi is in the decay chain
  PWGHF/TableProducer/HFCandidateCreatorX.cxx
Owners: @ginnocen, @vkucera

Small fix
  PWGHF/TableProducer/HFCandidateCreatorX.cxx
Owners: @ginnocen, @vkucera

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core @jgrosseo @iarsene @ktf
/ALICE3  @njacazio @ginnocen @vkucera
/PWGHF  @ginnocen @vkucera
/EventFiltering @mpuccio
/PWGMM @aalkin
