Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk, @ekryshen, @victor-gonzalez, @njacazio, @hscheid, @chiarazampolli, @noferini, @strogolo, @mfaggin, @belikov, @afurs, @mpuccio, @fgrosa, @zhangbiao-phy, @pbuehler, @ercolessi, @ChiaraDeMartin95, @lauraser, @aortizve, @fkrizek, @nzardosh, @saganatt, @zchochul, @dsekihat, @feisenhu, @lucamicheletti93, @mikesas, @rbailhac, @ivorobye, @m-c-danisch, @novitzky, @mhemmer-cern, @vkucera, @fcolamar, @fcatalan92, @mmazzilli, @deepathoms, @NicoleBastid, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @skundu692, @aalkin, @lhavener, @maoyx, @mfasDa, @alcaliva, @lbariogl, @lbarnby, @iravasen

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else.

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf @ddobrigk
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen @ddobrigk
/Common/Tools/Multiplicity @alibuild @ddobrigk @victor-gonzalez
/ALICE3 @alibuild @njacazio @hscheid
/DPG @alibuild @chiarazampolli @noferini
/DPG/Tasks/AOTEvent @alibuild @ekryshen @strogolo
/DPG/Tasks/AOTTrack @alibuild @mfaggin @belikov @njacazio
/DPG/Tasks/TOF @alibuild @noferini @njacazio
/DPG/Tasks/FT0 @alibuild @afurs
/EventFiltering @alibuild @mpuccio @strogolo
/EventFiltering/PWGHF @alibuild @fgrosa @zhangbiao-phy @mpuccio @strogolo
/EventFiltering/PWGUD @alibuild @pbuehler @mpuccio @strogolo
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi @ChiaraDeMartin95 @strogolo
/EventFiltering/PWGCF @alibuild @lauraser @mpuccio @strogolo
/EventFiltering/PWGMM @alibuild @aortizve @mpuccio @strogolo
/EventFiltering/PWGJE @alibuild @fkrizek @nzardosh @mpuccio @strogolo
/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul
/PWGDQ @alibuild @iarsene @dsekihat @feisenhu @lucamicheletti93
/PWGEM @alibuild @mikesas @rbailhac @feisenhu
/PWGEM/Dilepton @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/PWGEM/PhotonMeson @alibuild @mikesas @rbailhac @m-c-danisch @novitzky @mhemmer-cern @dsekihat
/PWGHF @alibuild @vkucera @fcolamar @fgrosa @fcatalan92 @mfaggin @mmazzilli @deepathoms @nzardosh @NicoleBastid
/PWGLF @alibuild @ercolessi @fmazzasc @chiarapinto @BongHwi @smaff92 @mbombara @ChiaraDeMartin95 @njacazio @skundu692
/PWGMM @alibuild @aalkin
/PWGMM/Lumi @alibuild @aalkin
/PWGMM/Mult @alibuild @aalkin @aortizve @ddobrigk
/PWGMM/UE @alibuild @aalkin @aortizve
/PWGUD @alibuild @pbuehler
/PWGJE @alibuild @lhavener @maoyx @nzardosh @ddobrigk @mfasDa
/Tools/PIDML @alibuild @saganatt
/Tools/ML @alibuild @fcatalan92 @fmazzasc
/Tutorials/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul
/Tutorials/PWGDQ @alibuild @iarsene @dsekihat @feisenhu @lucamicheletti93
/Tutorials/PWGEM @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/Tutorials/PWGHF @alibuild @vkucera @fcolamar @fgrosa
/Tutorials/PWGJE @alibuild @lhavener @maoyx @nzardosh @ddobrigk @mfasDa
/Tutorials/PWGLF @alibuild @alcaliva @lbariogl @chiarapinto @BongHwi @lbarnby @mbombara @iravasen @njacazio @ChiaraDeMartin95 @skundu692
/Tutorials/PWGMM @alibuild @aalkin @ddobrigk
/Tutorials/PWGUD @alibuild @pbuehler

More differential PID studies if poassible (#4966)
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

Add TPC QA plots for positive/negative V0 daughters (#4967)
  PWGLF/Tasks/Strangeness/derivedlambdakzeroanalysis.cxx
Owners: @alibuild, @ercolessi, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @ChiaraDeMartin95, @njacazio, @skundu692

PWGEM/PhotonMeson: add EMEventCut and rename namespace
  PWGEM/PhotonMeson/Core/CMakeLists.txt
  PWGEM/PhotonMeson/Core/CutsLibrary.cxx
  PWGEM/PhotonMeson/Core/CutsLibrary.h
  PWGEM/PhotonMeson/Core/EMEventCut.cxx
  PWGEM/PhotonMeson/Core/EMEventCut.h
  PWGEM/PhotonMeson/Core/HistogramsLibrary.cxx
  PWGEM/PhotonMeson/Core/HistogramsLibrary.h
  PWGEM/PhotonMeson/Core/PWGEMPhotonMesonCoreLinkDef.h
  PWGEM/PhotonMeson/Tasks/CheckMCV0.cxx
  PWGEM/PhotonMeson/Tasks/MaterialBudget.cxx
  PWGEM/PhotonMeson/Tasks/MaterialBudgetMC.cxx
  PWGEM/PhotonMeson/Tasks/PhotonHBT.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGamma.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaMC.cxx
  PWGEM/PhotonMeson/Tasks/SinglePhoton.cxx
  PWGEM/PhotonMeson/Tasks/SinglePhotonMC.cxx
  PWGEM/PhotonMeson/Tasks/TagAndProbe.cxx
  PWGEM/PhotonMeson/Tasks/TaggingPi0.cxx
  PWGEM/PhotonMeson/Tasks/TaggingPi0MC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQCMC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzMuMuQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzMuMuQCMC.cxx
  PWGEM/PhotonMeson/Tasks/emcalQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
  PWGEM/PhotonMeson/Tasks/phosQC.cxx
Owners: @alibuild, @mikesas, @rbailhac, @m-c-danisch, @novitzky, @mhemmer-cern, @dsekihat

PWGEM/PhotonMeson: add EMEventCut and rename namespace (#4968)
  PWGEM/PhotonMeson/Core/CMakeLists.txt
  PWGEM/PhotonMeson/Core/CutsLibrary.cxx
  PWGEM/PhotonMeson/Core/CutsLibrary.h
  PWGEM/PhotonMeson/Core/EMEventCut.cxx
  PWGEM/PhotonMeson/Core/EMEventCut.h
  PWGEM/PhotonMeson/Core/HistogramsLibrary.cxx
  PWGEM/PhotonMeson/Core/HistogramsLibrary.h
  PWGEM/PhotonMeson/Core/PWGEMPhotonMesonCoreLinkDef.h
  PWGEM/PhotonMeson/Tasks/CheckMCV0.cxx
  PWGEM/PhotonMeson/Tasks/MaterialBudget.cxx
  PWGEM/PhotonMeson/Tasks/MaterialBudgetMC.cxx
  PWGEM/PhotonMeson/Tasks/PhotonHBT.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGamma.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaMC.cxx
  PWGEM/PhotonMeson/Tasks/SinglePhoton.cxx
  PWGEM/PhotonMeson/Tasks/SinglePhotonMC.cxx
  PWGEM/PhotonMeson/Tasks/TagAndProbe.cxx
  PWGEM/PhotonMeson/Tasks/TaggingPi0.cxx
  PWGEM/PhotonMeson/Tasks/TaggingPi0MC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQCMC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzMuMuQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzMuMuQCMC.cxx
  PWGEM/PhotonMeson/Tasks/emcalQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
  PWGEM/PhotonMeson/Tasks/phosQC.cxx
Owners: @alibuild, @mikesas, @rbailhac, @m-c-danisch, @novitzky, @mhemmer-cern, @dsekihat

filtering only charged mc generated particles
  PWGMM/Mult/Tasks/multiplicityPbPb.cxx
Owners: @alibuild, @aalkin, @aortizve, @ddobrigk

multiplicity-Pb-Pb clang changes
  PWGMM/Mult/Tasks/multiplicityPbPb.cxx
Owners: @alibuild, @aalkin, @aortizve, @ddobrigk

PWGEM/PhotonMeson: change filling event histograms
  PWGEM/PhotonMeson/Core/EMEventCut.h
  PWGEM/PhotonMeson/Tasks/MaterialBudget.cxx
  PWGEM/PhotonMeson/Tasks/MaterialBudgetMC.cxx
  PWGEM/PhotonMeson/Tasks/PhotonHBT.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGamma.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaMC.cxx
  PWGEM/PhotonMeson/Tasks/SinglePhoton.cxx
  PWGEM/PhotonMeson/Tasks/SinglePhotonMC.cxx
  PWGEM/PhotonMeson/Tasks/TagAndProbe.cxx
  PWGEM/PhotonMeson/Tasks/TaggingPi0.cxx
  PWGEM/PhotonMeson/Tasks/TaggingPi0MC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQCMC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzMuMuQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzMuMuQCMC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
Owners: @alibuild, @mikesas, @rbailhac, @m-c-danisch, @novitzky, @mhemmer-cern, @dsekihat

PWGEM/PhotonMeson: change filling event histograms (#4970)
  PWGEM/PhotonMeson/Core/EMEventCut.h
  PWGEM/PhotonMeson/Tasks/MaterialBudget.cxx
  PWGEM/PhotonMeson/Tasks/MaterialBudgetMC.cxx
  PWGEM/PhotonMeson/Tasks/PhotonHBT.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGamma.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaMC.cxx
  PWGEM/PhotonMeson/Tasks/SinglePhoton.cxx
  PWGEM/PhotonMeson/Tasks/SinglePhotonMC.cxx
  PWGEM/PhotonMeson/Tasks/TagAndProbe.cxx
  PWGEM/PhotonMeson/Tasks/TaggingPi0.cxx
  PWGEM/PhotonMeson/Tasks/TaggingPi0MC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQCMC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzMuMuQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzMuMuQCMC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
Owners: @alibuild, @mikesas, @rbailhac, @m-c-danisch, @novitzky, @mhemmer-cern, @dsekihat

change SA definition
  PWGLF/Tasks/Resonances/phipbpb.cxx
Owners: @alibuild, @ercolessi, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @ChiaraDeMartin95, @njacazio, @skundu692

change SA definition (#4971)
  PWGLF/Tasks/Resonances/phipbpb.cxx
Owners: @alibuild, @ercolessi, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @ChiaraDeMartin95, @njacazio, @skundu692

PWGJE : fixing unbound indices in substructure output task
  PWGJE/Core/JetFindingUtilities.h
  PWGJE/DataModel/JetSubstructure.h
  PWGJE/Tasks/jetsubstructureoutput.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @ddobrigk, @mfasDa

PWGJE : fixing unbound indices in substructure output task (#4972)
  PWGJE/Core/JetFindingUtilities.h
  PWGJE/DataModel/JetSubstructure.h
  PWGJE/Tasks/jetsubstructureoutput.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @ddobrigk, @mfasDa

PWGJE: Add rapidity cut for generator studies
  PWGJE/Tasks/mcgeneratorstudies.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @ddobrigk, @mfasDa

PWGHF: add possibility to apply time-frame border cut in skim creator (#4936)
  PWGHF/TableProducer/trackIndexSkimCreator.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @nzardosh, @NicoleBastid

PWGEM/PhotonMeson: change how to fill collision counter
  PWGEM/PhotonMeson/Core/HistogramsLibrary.cxx
  PWGEM/PhotonMeson/Core/HistogramsLibrary.h
  PWGEM/PhotonMeson/TableProducer/photonconversionbuilder.cxx
  PWGEM/PhotonMeson/Tasks/MaterialBudget.cxx
  PWGEM/PhotonMeson/Tasks/MaterialBudgetMC.cxx
  PWGEM/PhotonMeson/Tasks/PhotonHBT.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGamma.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaMC.cxx
  PWGEM/PhotonMeson/Tasks/SinglePhoton.cxx
  PWGEM/PhotonMeson/Tasks/SinglePhotonMC.cxx
  PWGEM/PhotonMeson/Tasks/TagAndProbe.cxx
  PWGEM/PhotonMeson/Tasks/TaggingPi0.cxx
  PWGEM/PhotonMeson/Tasks/TaggingPi0MC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQCMC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzMuMuQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzMuMuQCMC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
Owners: @alibuild, @mikesas, @rbailhac, @m-c-danisch, @novitzky, @mhemmer-cern, @dsekihat

PWGEM/PhotonMeson: change how to fill collision counter (#4974)
  PWGEM/PhotonMeson/Core/HistogramsLibrary.cxx
  PWGEM/PhotonMeson/Core/HistogramsLibrary.h
  PWGEM/PhotonMeson/TableProducer/photonconversionbuilder.cxx
  PWGEM/PhotonMeson/Tasks/MaterialBudget.cxx
  PWGEM/PhotonMeson/Tasks/MaterialBudgetMC.cxx
  PWGEM/PhotonMeson/Tasks/PhotonHBT.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGamma.cxx
  PWGEM/PhotonMeson/Tasks/Pi0EtaToGammaGammaMC.cxx
  PWGEM/PhotonMeson/Tasks/SinglePhoton.cxx
  PWGEM/PhotonMeson/Tasks/SinglePhotonMC.cxx
  PWGEM/PhotonMeson/Tasks/TagAndProbe.cxx
  PWGEM/PhotonMeson/Tasks/TaggingPi0.cxx
  PWGEM/PhotonMeson/Tasks/TaggingPi0MC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzEEQCMC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzMuMuQC.cxx
  PWGEM/PhotonMeson/Tasks/dalitzMuMuQCMC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
Owners: @alibuild, @mikesas, @rbailhac, @m-c-danisch, @novitzky, @mhemmer-cern, @dsekihat

correct description
  PWGLF/TableProducer/LFResonanceInitializer.cxx
Owners: @alibuild, @ercolessi, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @ChiaraDeMartin95, @njacazio, @skundu692

Update r2p2-4-id.cxx
  PWGCF/TwoParticleCorrelations/Tasks/r2p2-4-id.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

correct description (#4975)
  PWGLF/TableProducer/LFResonanceInitializer.cxx
Owners: @alibuild, @ercolessi, @fmazzasc, @chiarapinto, @BongHwi, @smaff92, @mbombara, @ChiaraDeMartin95, @njacazio, @skundu692

Reduce size of histo
  PWGDQ/Core/HistogramsLibrary.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

PWGJE: Swapping axis on dphi plots
  PWGJE/Tasks/jetHadronRecoil.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @ddobrigk, @mfasDa

Add event cut on TF Border
  PWGDQ/Core/CutsLibrary.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

PWGHF: Add chi2PCA cut to Ds selector (#4961)
  PWGHF/Core/SelectorCuts.h
  PWGHF/TableProducer/candidateSelectorDsToKKPi.cxx
Owners: @alibuild, @vkucera, @fcolamar, @fgrosa, @fcatalan92, @mfaggin, @mmazzilli, @deepathoms, @nzardosh, @NicoleBastid

CMakeLists.txt correction
  PWGCF/FemtoWorld/Tasks/CMakeLists.txt
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

Comments removed
  PWGCF/FemtoWorld/Tasks/femtoWorldEfficiencyTaskDe.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

add TPC cluster cut and TF border rejection
  PWGCF/Flow/Tasks/FlowPbPbTask.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

PWGJE: Swapping axis on dphi plots (#4978)
  PWGJE/Tasks/jetHadronRecoil.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @ddobrigk, @mfasDa

Track propagarion improved
  PWGEM/Tasks/phosAlign.cxx
Owners: @alibuild, @mikesas, @rbailhac, @feisenhu

EventFilter LF: add dEdx hist for all charged particles
  EventFiltering/PWGLF/nucleiFilter.cxx
Owners: @alibuild, @mpuccio, @ercolessi, @ChiaraDeMartin95, @strogolo

Reduce size of histo (#4977)
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/HistogramsLibrary.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu, @lucamicheletti93

PWGJE: Add rapidity cut for generator studies (#4973)
  PWGJE/Tasks/mcgeneratorstudies.cxx
Owners: @alibuild, @lhavener, @maoyx, @nzardosh, @ddobrigk, @mfasDa

PWGCF: FemtoWorld -- add efficiency task for De (#4952)
  PWGCF/FemtoWorld/Tasks/CMakeLists.txt
  PWGCF/FemtoWorld/Tasks/femtoWorldEfficiencyTaskDe.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

Update r2p2-4-id.cxx (#4976)
  PWGCF/TwoParticleCorrelations/Tasks/r2p2-4-id.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez, @zchochul

Feat: add timeframe border cut
  EventFiltering/PWGCF/CFFilterAll.cxx
Owners: @alibuild, @lauraser, @mpuccio, @strogolo

Fix: fix formatting
  EventFiltering/PWGCF/CFFilterAll.cxx
Owners: @alibuild, @lauraser, @mpuccio, @strogolo

Add files via upload
  PWGUD/Core/SGSelector.h
Owners: @alibuild, @pbuehler

Add files via upload
  PWGUD/TableProducer/SGCandProducer.cxx
Owners: @alibuild, @pbuehler

Update SGSelector.h
  PWGUD/Core/SGSelector.h
Owners: @alibuild, @pbuehler

Feat: make cut optional for test
  EventFiltering/PWGCF/CFFilterAll.cxx
Owners: @alibuild, @lauraser, @mpuccio, @strogolo

Update SGCandProducer.cxx
  PWGUD/TableProducer/SGCandProducer.cxx
Owners: @alibuild, @pbuehler
