Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ekryshen, @njacazio, @ginnocen, @vkucera, @mario-krueger, @mpuccio, @fgrosa, @pbuehler, @ercolessi, @lauraser, @aortizve, @fkrizek, @saganatt, @victor-gonzalez, @fcolamar, @aalkin

add fwd vertexing task and compute dca of ambiguous tracks
  PWGMM/Tasks/CMakeLists.txt
  PWGMM/Tasks/vertexing-fwd.cxx
Owners: @alibuild, @aalkin

fix some includes
  PWGMM/Tasks/CMakeLists.txt
  PWGMM/Tasks/vertexing-fwd.cxx
Owners: @alibuild, @aalkin

fix some includes
  PWGMM/Tasks/vertexing-fwd.cxx
Owners: @alibuild, @aalkin

Fix column names + removing collision filters
  EventFiltering/PWGLF/nucleiFilter.cxx
  EventFiltering/cefpTask.cxx
Owners: @alibuild, @mpuccio, @ercolessi

Naming changes
  ALICE3/TableProducer/alice3-centrality.cxx
  Common/DataModel/Centrality.h
  Common/DataModel/Multiplicity.h
  Common/TableProducer/centralityTable.cxx
  Common/TableProducer/eventSelection.cxx
  Common/TableProducer/multiplicityTable.cxx
  Common/Tasks/centralityQa.cxx
  Common/Tasks/ft0Qa.cxx
  Common/Tasks/multiplicityQa.cxx
  Common/Tools/aodDataModelGraph.cxx
  EventFiltering/PWGLF/strangenessFilter.cxx
  PWGCF/DataModel/CorrelationsDerived.h
  PWGCF/FemtoDream/FemtoDreamCollisionSelection.h
  PWGCF/FemtoDream/femtoDreamProducerReducedTask.cxx
  PWGCF/FemtoDream/femtoDreamProducerTask.cxx
  PWGCF/TableProducer/dptdptfilter.cxx
  PWGCF/TableProducer/dptdptfilter.h
  PWGCF/TableProducer/filterCorrelations.cxx
  PWGCF/Tasks/correlations.cxx
  PWGCF/Tasks/flowGenericFramework.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/DataModel/ReducedInfoTables.h
  PWGDQ/TableProducer/tableMaker.cxx
  PWGDQ/TableProducer/tableMakerMC.cxx
  PWGHF/Tasks/taskBPlus.cxx
  PWGHF/Tasks/taskLb.cxx
  PWGHF/Tasks/taskLcCentrality.cxx
  PWGLF/TableProducer/cascadefinder.cxx
  PWGLF/TableProducer/lambdakzerofinder.cxx
  PWGLF/Tasks/cascadeanalysis.cxx
  PWGLF/Tasks/identifiedraa.cxx
  PWGLF/Tasks/lambdakzeroanalysis.cxx
  PWGLF/Tasks/lambdakzeroanalysisMC.cxx
  PWGMM/Tasks/run2dndeta.cxx
  Tools/PIDML/pidML.h
  Tools/PIDML/pidMLProducer.cxx
  Tutorials/OpenData/flowAnalysis.cxx
  Tutorials/src/tracksCombinations.cxx
Owners: @alibuild, @njacazio, @ginnocen, @vkucera, @AliceO2Group/core, @jgrosseo, @iarsene, @ktf, @mpuccio, @ercolessi, @saganatt, @victor-gonzalez, @fcolamar, @aalkin

Fix signed/unsigned comparison
  EventFiltering/cefpTask.cxx
Owners: @alibuild, @mpuccio

Output table of CEFP (first implementation) (#692)
  EventFiltering/PWGLF/nucleiFilter.cxx
  EventFiltering/cefpTask.cxx
  EventFiltering/filterTables.h
Owners: @alibuild, @mpuccio, @ercolessi

Small fix in trigger task (#697)
  PWGDQ/Tasks/filterPP.cxx
Owners: @alibuild, @iarsene

V0 workflows - fix dca to pv asym hist (#693)
  PWGLF/Tasks/cascadeanalysis.cxx
  PWGLF/Tasks/lambdakzeroanalysis.cxx
Owners: @alibuild, @njacazio

FDD fix, MultZeq table def
  Common/DataModel/Multiplicity.h
  Common/TableProducer/multiplicityTable.cxx
  Common/Tasks/multiplicityQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

bugfix in track counter + dont pop multzeq in run2
  Common/TableProducer/multiplicityTable.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Forgotten clang fixes
  Common/DataModel/Multiplicity.h
  Common/TableProducer/multiplicityTable.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Bugfix in A/C
  Common/TableProducer/multiplicityTable.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

removing redundant filters, removing event filtering
  EventFiltering/PWGMM/multFilter.cxx
  EventFiltering/filterTables.h
Owners: @alibuild, @aortizve, @mpuccio

Change process Run3 MC to Run3 data/MC
  EventFiltering/PWGLF/strangenessFilter.cxx
Owners: @alibuild, @mpuccio, @ercolessi

Reinclude access to cascade daughters
  EventFiltering/PWGLF/strangenessFilter.cxx
Owners: @alibuild, @mpuccio, @ercolessi

Fix trigger selections kint7 sel7 sel8
  EventFiltering/PWGLF/strangenessFilter.cxx
Owners: @alibuild, @mpuccio, @ercolessi

Add config bool for Global Track condition (trigger particle)
  EventFiltering/PWGLF/strangenessFilter.cxx
Owners: @alibuild, @mpuccio, @ercolessi

Remove filter for collisions
  EventFiltering/PWGLF/strangenessFilter.cxx
Owners: @alibuild, @mpuccio, @ercolessi

fix access to amitrack mc labels and clean code
  PWGMM/Tasks/vertexing-fwd.cxx
Owners: @alibuild, @aalkin

Add debug for femto V0
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/CMakeLists.txt
  PWGCF/FemtoDream/FemtoDreamTrackSelection.h
  PWGCF/FemtoDream/FemtoDreamV0Selection.h
  PWGCF/FemtoDream/FemtoUtils.h
  PWGCF/FemtoDream/femtoDreamDebugTrack.cxx
  PWGCF/FemtoDream/femtoDreamDebugV0.cxx
  PWGCF/FemtoDream/femtoDreamProducerReducedTask.cxx
  PWGCF/FemtoDream/femtoDreamProducerTask.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez

multiplicityTable runNumber-based query
  Common/TableProducer/multiplicityTable.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Revert AliceO2Group/O2Physics#668 (#695)
  Common/Core/RecoDecay.h
  EventFiltering/PWGHF/HFFilter.cxx
  PWGHF/TableProducer/HFCandidateCreator2Prong.cxx
  PWGHF/TableProducer/HFCandidateCreator3Prong.cxx
  PWGHF/TableProducer/HFCandidateCreatorCascade.cxx
  PWGHF/TableProducer/HFCandidateCreatorChic.cxx
  PWGHF/TableProducer/HFCandidateCreatorX.cxx
  PWGHF/Tasks/HFMCValidation.cxx
  PWGHF/Tasks/taskBPlus.cxx
  PWGHF/Tasks/taskChic.cxx
  PWGHF/Tasks/taskD0.cxx
  PWGHF/Tasks/taskDPlus.cxx
  PWGHF/Tasks/taskJpsi.cxx
  PWGHF/Tasks/taskLb.cxx
  PWGHF/Tasks/taskLc.cxx
  PWGHF/Tasks/taskLcCentrality.cxx
  PWGHF/Tasks/taskLcK0sP.cxx
  PWGHF/Tasks/taskX.cxx
  PWGHF/Tasks/taskXic.cxx
  PWGHF/Tasks/taskXicc.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @fgrosa, @vkucera, @ginnocen, @fcolamar

Capture ccdb loading error if needed
  Common/TableProducer/multiplicityTable.cxx
  Common/Tasks/multiplicityQa.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Event Filtering: LF filter fix access to casc daughters (#703)
  EventFiltering/PWGLF/strangenessFilter.cxx
Owners: @alibuild, @mpuccio, @ercolessi

removing redundant filters, removing event filtering (#702)
  EventFiltering/PWGMM/multFilter.cxx
  EventFiltering/filterTables.h
Owners: @alibuild, @aortizve, @mpuccio

(PWGHF) fix default values and ConfigAxis PVrefit.
  PWGHF/TableProducer/HFTrackIndexSkimsCreator.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

(PWGHF) adjusting Clang format.
  PWGHF/TableProducer/HFTrackIndexSkimsCreator.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

clang-format
  EventFiltering/PWGUD/diffractionFilter.cxx
Owners: @alibuild, @pbuehler

clang-format
  EventFiltering/selectBCRange.cxx
Owners: @alibuild, @mpuccio

Add debug for femto V0 (#704)
  PWGCF/DataModel/FemtoDerived.h
  PWGCF/FemtoDream/CMakeLists.txt
  PWGCF/FemtoDream/FemtoDreamTrackSelection.h
  PWGCF/FemtoDream/FemtoDreamV0Selection.h
  PWGCF/FemtoDream/FemtoUtils.h
  PWGCF/FemtoDream/femtoDreamDebugTrack.cxx
  PWGCF/FemtoDream/femtoDreamDebugV0.cxx
  PWGCF/FemtoDream/femtoDreamProducerReducedTask.cxx
  PWGCF/FemtoDream/femtoDreamProducerTask.cxx
Owners: @alibuild, @jgrosseo, @saganatt, @victor-gonzalez

fixing an issue with eta binning in FV0
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

fixing an issue with eta binning in FV0 (#706)
  EventFiltering/PWGMM/multFilter.cxx
Owners: @alibuild, @aortizve

Added DCA and rapidity branches
  PWGLF/TableProducer/LFTreeCreatorNuclei.cxx
Owners: @alibuild, @njacazio

Formatting: use own fork of pull-request action
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

[EMCAL-734] fixed merge conflicts
  PWGJE/Tasks/emcclustermonitor.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

[EMCAL-734] split cluster table and added cluster definition class
  PWGJE/DataModel/EMCALClusterDefinition.h
  PWGJE/DataModel/EMCALClusters.h
  PWGJE/TableProducer/emcalCorrectionTask.cxx
  PWGJE/Tasks/emcclustermonitor.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Copyright checker: guard against ill-formatted filenames
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Fix whitespace checker
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

Formatting action: improve YAML formatting
  .github/workflows/code-formatting.yml
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf 
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen
/ALICE3 @alibuild @njacazio @ginnocen @vkucera 
/DPG @alibuild @mario-krueger
/EventFiltering @alibuild @mpuccio 
/EventFiltering/PWGHF @alibuild @fgrosa @vkucera
/EventFiltering/PWGUD @alibuild @pbuehler
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi
/EventFiltering/PWGCF @alibuild @lauraser
/EventFiltering/PWGMM @alibuild @aortizve
/EventFiltering/PWGJE @alibuild @fkrizek
/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez
/PWGDQ @alibuild @iarsene
/PWGHF @alibuild @ginnocen @vkucera @fcolamar
/PWGLF @alibuild @njacazio
/PWGMM @alibuild @aalkin
/Tools/PIDML @alibuild @saganatt
