Repository AliceO2Group/O2Physics, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk, @ekryshen, @victor-gonzalez, @njacazio, @ginnocen, @vkucera, @chiarazampolli, @noferini, @strogolo, @mfaggin, @mpuccio, @fgrosa, @pbuehler, @ercolessi, @ChiaraDeMartin95, @lauraser, @aortizve, @fkrizek, @saganatt, @zchochul, @dsekihat, @feisenhu, @mikesas, @rbailhac, @ivorobye, @m-c-danisch, @novitzky, @fcolamar, @xinyepeng, @lvermunt, @mmazzilli, @nzardosh, @rvertesi, @NicoleBastid, @mvolkl, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @aalkin, @lhavener, @maoyx, @mfasDa

new process for reduce dependences and only use tablemaker to produce maps
  PWGDQ/Core/VarManager.h
  PWGDQ/TableProducer/tableMaker.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

add cuts for test
  PWGDQ/Core/CutsLibrary.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

First step towards MC processing
  PWGLF/Tasks/NucleiSpectraTask.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

new process for reduce dependences and only use tablemaker to produce maps
  PWGDQ/Core/VarManager.h
  PWGDQ/TableProducer/tableMaker.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

add cuts for test
  PWGDQ/Core/CutsLibrary.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

new process for reduce dependences and only use tablemaker to produce maps
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/TableProducer/tableMaker.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

Full MC functionality
  PWGLF/Tasks/NucleiSpectraTask.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

Counters should use double (#2270)
  Common/TableProducer/eventSelection.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

Updating DQ fit library
  PWGDQ/Macros/DQFitter.py
  PWGDQ/Macros/configFit.json
  PWGDQ/Macros/plot_library.py
  PWGDQ/Macros/tutorial.py
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

Add MC functionality to antinuclei task (#2292)
  PWGLF/Tasks/NucleiSpectraTask.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

new process for reduce dependences and only use tablemaker to produce maps (#2291)
  PWGDQ/Core/CutsLibrary.cxx
  PWGDQ/Core/VarManager.h
  PWGDQ/TableProducer/tableMaker.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

PWGDQ: remove TOF from Join
  PWGDQ/Tasks/v0selector.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

PWGEM/PhotonMeson: quick fix to wrong return in pcm QC
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
Owners: @alibuild, @mikesas, @rbailhac, @m-c-danisch, @novitzky

PWGDQ: remove TOF from Join (#2295)
  PWGDQ/Tasks/v0selector.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

cleanup
  CMakeLists.txt
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

cleanup
  CMakeLists.txt
  PWGLF/Tasks/CMakeLists.txt
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

Add files via upload
  PWGLF/Tasks/hv0corelation.cxx
Owners: @alibuild, @lramona, @alcaliva, @lbariogl, @chiarapinto, @BongHwi, @lbarnby, @mbombara, @iravasen, @njacazio

PWGEM/PhotonMeson: quick fix to wrong return in pcm QC (#2296)
  PWGEM/PhotonMeson/Tasks/pcmQC.cxx
  PWGEM/PhotonMeson/Tasks/pcmQCMC.cxx
Owners: @alibuild, @mikesas, @rbailhac, @m-c-danisch, @novitzky

PWGHF: Handle ambiguous tracks in B0 candidate creator and get bz from CCDB (#2280)
  PWGHF/TableProducer/candidateCreatorB0.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Add QA histograms in Dplus and B0 selectors
  PWGHF/TableProducer/candidateSelectorB0ToDPi.cxx
  PWGHF/TableProducer/candidateSelectorDplusToPiKPi.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Fix bug
  PWGHF/TableProducer/candidateSelectorB0ToDPi.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Add histograms when B0 daughters in acceptance
  PWGHF/D2H/Tasks/taskB0.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar, @xinyepeng, @lvermunt

Clang-format
  PWGHF/TableProducer/candidateSelectorB0ToDPi.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Follow issue #2257
  PWGHF/TableProducer/candidateSelectorB0ToDPi.cxx
  PWGHF/TableProducer/candidateSelectorDplusToPiKPi.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar

Clang-format
  PWGHF/D2H/Tasks/taskB0.cxx
  PWGHF/TableProducer/candidateSelectorB0ToDPi.cxx
  PWGHF/TableProducer/candidateSelectorDplusToPiKPi.cxx
Owners: @alibuild, @ginnocen, @vkucera, @fcolamar, @xinyepeng, @lvermunt

Removing reassocation process from tableMaker
  PWGDQ/TableProducer/tableMaker.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

debug print outs for aod-merger
  Common/Core/aodMerger.cxx
Owners: @AliceO2Group/core, @alibuild, @jgrosseo, @iarsene, @ktf, @ddobrigk

remove option
  PWGDQ/TableProducer/tableMaker.cxx
Owners: @alibuild, @iarsene, @dsekihat, @feisenhu

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else.

# @alibuild has to be in each line to allow self approval of PRs

* @AliceO2Group/core @alibuild @jgrosseo @iarsene @ktf @ddobrigk
/Common/CCDB @alibuild @jgrosseo @iarsene @ekryshen @ddobrigk
/Common/Tools/Multiplicity @alibuild @ddobrigk @victor-gonzalez
/ALICE3 @alibuild @njacazio @ginnocen @vkucera
/DPG @alibuild @chiarazampolli @noferini
/DPG/Tasks/AOTEvent @alibuild @ekryshen @strogolo
/DPG/Tasks/AOTTrack @alibuild @mfaggin @njacazio
/EventFiltering @alibuild @mpuccio @strogolo
/EventFiltering/PWGHF @alibuild @fgrosa @vkucera @mpuccio @strogolo
/EventFiltering/PWGUD @alibuild @pbuehler @mpuccio @strogolo
/EventFiltering/PWGLF @alibuild @mpuccio @ercolessi @ChiaraDeMartin95 @strogolo
/EventFiltering/PWGCF @alibuild @lauraser @mpuccio @strogolo
/EventFiltering/PWGMM @alibuild @aortizve @mpuccio @strogolo
/EventFiltering/PWGJE @alibuild @fkrizek @mpuccio @strogolo
/PWGCF @alibuild @jgrosseo @saganatt @victor-gonzalez @zchochul
/PWGDQ @alibuild @iarsene @dsekihat @feisenhu
/PWGEM @alibuild @mikesas @rbailhac @feisenhu
/PWGEM/Dilepton @alibuild @mikesas @rbailhac @dsekihat @ivorobye @feisenhu
/PWGEM/PhotonMeson @alibuild @mikesas @rbailhac @m-c-danisch @novitzky
/PWGHF @alibuild @ginnocen @vkucera @fcolamar
/PWGHF/D2H @alibuild @ginnocen @vkucera @fcolamar @xinyepeng @lvermunt
/PWGHF/HFC @alibuild @ginnocen @vkucera @fcolamar @mmazzilli
/PWGHF/HFJ @alibuild @ginnocen @vkucera @fcolamar @nzardosh @rvertesi
/PWGHF/HFL @alibuild @ginnocen @vkucera @fcolamar @NicoleBastid @mvolkl
/PWGLF @alibuild @lramona @alcaliva @lbariogl @chiarapinto @BongHwi @lbarnby @mbombara @iravasen @njacazio
/PWGMM @alibuild @aalkin
/PWGMM/Lumi @alibuild @aalkin
/PWGMM/Mult @alibuild @aalkin @aortizve @ddobrigk
/PWGMM/UE @alibuild @aalkin @aortizve
/PWGUD @alibuild @pbuehler
/PWGJE @alibuild @lhavener @maoyx @nzardosh @ddobrigk @mfasDa
/Tools/PIDML @alibuild @saganatt
